.detail-container {
  display: flex;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.detail-container__data {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.detail-container__image {
  width: 25px;
  height: 25px;
  font-size: 30px;
  align-self: flex-start;
}

.detail-container__title {
  font-size: 20px;
  font-weight: 550;
}

.detail-container__value {
  font-size: 15px;
  text-align: justify;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.container__description1 {
  font-size: 20px;
  font-weight: 350;

}

.container__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-self: center;
  object-fit: cover;
}

.line {
  border-top: 1px solid var(--black);
  margin-top: 15px;
}

.container__info {
  display: flex;
  flex-direction: column;
}

.container__detalle {
  display: flex;
  gap: 5px;
}

.container__title {
  margin-left: 17px;
}

.mycontainer {
  display: flex;
  flex-direction: column;
}
/* estilo card negocio */
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 30px;
}

@media screen and (max-width: 775px) {
  .container-ajuste {
    justify-content: center;
    flex-direction: column-reverse !important;
  }

  .container {
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    margin-top: 20px !important;
  }

  .container__image {
    width: 100px;
    height: 100px;
  }

  .mycontainer_info {
    padding-top: 0;
  }

}

