/* estilo card negocio */
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 30px;
}
.card__description-title {
  color: var(--gris-oscuro);
  font-size: 16px;
}

.link {
  color: var(--azul1) !important;
  font-weight: initial;
}
@media screen and (max-width: 775px) {
  .container-ajuste {
    justify-content: center;
    flex-direction: column-reverse !important;
  }

  .container {
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    margin-top: 20px !important;
  }

  .container__image {
    width: 100px;
    height: 100px;
  }

  .mycontainer_info {
    padding-top: 0;
  }

}

@import "../../../components/styles/detalles-usurios/detalles-usurio-uno/detalles-user.scss"
