<div class="container mycontainer">
  <div class="mycontainer_info">
    <div class="container  container-ajuste">
      <div class="container__info">
        <div class="container__detalle">
          <span>
            <h4 class="detail-container__title">Comerciante: </h4>
          </span>
          <span>
            <h4 class="container__description1">{{comerciante?.nombre_completo}}</h4>
          </span>
        </div>
        <div class="container__detalle">
          <span>
            <h4 class="detail-container__title">Municipio: </h4>
          </span>
          <span>
            <h4 class="container__description1">{{comerciante?.municipio}}-{{comerciante?.departamento}}</h4>
          </span>
        </div>
        <div class="container__detalle">
          <span class="card__description-title link" (click)="sendMessage()" *ngIf="authUserId">
            <i class="bi bi-chat-left-text-fill"></i>
            Enviar un mensaje
          </span>
        </div>
      </div>
      <img class="container__image" src="{{comerciante?.foto ? comerciante.foto : 'assets/images/avatar-person.svg'}}">
    </div>
    <div class="line"></div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/phone_msg_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Celular</h4>
        <span class="detail-container__value">{{comerciante?.celular? comerciante?.celular : 'Contacto sin definir'}}
        </span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/contact_mail_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Correo electrónico</h4>
        <span class="detail-container__value">{{comerciante?.email}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/person_pin_circle_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Dirección</h4>
        <span *ngIf="comerciante?.direccion" class="detail-container__value">{{comerciante?.direccion? 'Dir.' : ''}}
          {{comerciante?.direccion}} </span>
        <span *ngIf="!comerciante?.direccion" class="detail-container__value">Dirección indefinida</span>
      </div>
    </div>
    <div class="detail-container mt-4" *ngIf="comerciante?.informacion_adicional_direccion">
      <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Información adicional de la dirección</h4>
        <span class="detail-container__value">
          {{comerciante?.informacion_adicional_direccion}}</span>
      </div>
    </div>
    <div class="detail-container">
      <img class="detail-container__image" src="assets/icons/asociacion_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Número de negocios en su portafolio </h4>
        <span class="detail-container__value"
          *ngIf="negociosUser?.length== 0 || showErrorDataUser || showNotFoundDataUser">0
          negocios en
          total</span>
        <span class="detail-container__value" *ngIf="negociosUser?.length == 1">{{negociosUser?.length}} negocio en
          total</span>
        <span class="detail-container__value" *ngIf="negociosUser?.length > 1">{{negociosUser?.length}} negocios en
          total</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="negociosUser?.length != 0 && !showErrorDataUser && !showNotFoundDataUser ">
    <h3  class="mt-5">Negocios</h3>
    <div class="container-card">
      <app-card-negocio [datos]="negocio" [indiceDatos]="i" *ngFor="let negocio of negociosUser; let i=index;"
        (onDetalle)="goDetail(negocio.id_negocio)">
      </app-card-negocio>
    </div>
  </ng-container>
</div>
