<div class="container-list-chat" #chaRef [ngClass]="{'dplay-none': !chatOpen}">
  <!-- Lista de usurios -->
  <div class="container__list" [ngClass]="{'dplay-none': !Onlist}">
    <div class="container__list-search">
      <div class="input-wrapper">
        <div class="bi bi-search"></div>
        <input type="text" placeholder="Buscar" [(ngModel)]="textSearch" (ngModelChange)="onSearch()"
          (keyup)="onKey($event)" />
        <i class="img-x" (click)="borrarBusqueda()" [ngClass]="{'dplay-none': !borrarseart && !loadingseart}"></i>
      </div>
      <div style="position: relative;" [ngClass]="{'dplay-none': showUnreads}">
        <i class="bi bi-envelope-check myChat-text tooltip-trigger" (click)="unreadFilter()">
        </i>
        <div class="tooltip-one">
          No leídos
        </div>
        <small class="no-read" [ngClass]="{'dplay-none': totalUnreads < 1}">{{totalUnreads > 5 ? '5+' :
          totalUnreads}}</small>
      </div>
      <div style="position: relative;" [ngClass]="{'dplay-none': !showUnreads}">
        <i class="bi bi-envelope myChat-text tooltip-trigger" (click)="cancelUnreadFilter()"></i>
        <div class="tooltip-one">
          Mensajes
        </div>
      </div>

      <button type="button" class="btn-close button_close" (click)="closeChat()"> </button>
    </div>
    <div class="user-list-card">
      <div class="user-card" *ngFor="let user of filteredUserList; index as i" (click)="selectUserHandler(user?.id,i)"
        [id]="toString(user?.id)">
        <div class="user--imagen">
          <img [src]="user?.image ? user?.image : 'assets/images/avatar-person.svg'" class="avatar" />
          <div [ngClass]="{'user--activo':user?.status}"></div>
        </div>
        <div class="d-flex flex-column user-card__container">
          <p class="username">{{user?.name}}</p>
          <span class="user-card__label1">{{user.last_message}}</span>
          <span class="user-card__label2">{{user.last_message ? dateFromX(user.created_at) : ''}}</span>
          <span class="user-card__label1"></span>
        </div>
        <span class="user-card__badge translate-middle badge rounded-pill rounded-pill--border"
          [ngClass]="{'dplay-none': !user?.unreadsCount}">
          {{user?.unreadsCount > 99 ? '99+' : user?.unreadsCount}}
        </span>
      </div>
    </div>
    <div class="espaceBottom"></div>
  </div>
  <!-- Chat de usurio -->
  <div class="container__chats" [ngClass]="{'dplay-none': Onlist}">
    <div class="chat-container">
      <ng-container [ngClass]="{'dplay-none': !selectedUser}">
        <div class="chat-header">
          <div class="chat-header-name-avatar">
            <div class="arrow-left" (click)="back()">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor"
                class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
              </svg>
            </div>
            <img [src]="selectedUser?.image ? selectedUser?.image : 'assets/images/avatar-person.svg'"
              [alt]="selectedUser?.name" class="avatar" />
            <p class="username">{{selectedUser?.name}}</p>
          </div>
          <button type="button" class="btn-close button_close" (click)="closeChat()"></button>
        </div>
        <div id="chatBodyContainer" class="chat-body scrollhide">
          <div class="chat-body-container" *ngFor="let item of messageArray"
            [ngClass]="{ 'same-user':item?.fromUserId === currentUser?.sub}">
            <!-- <span class="_1kh65" *ngIf="item?.fromUserId === currentUser?.sub">
            </span>
            <span class="_1kh654" *ngIf="item?.fromUserId !== currentUser?.sub">
            </span> -->
            <p class="message-container" [ngClass]="{ 'border-left':item?.fromUserId !== currentUser?.sub}">
              {{item?.message}}</p>
          </div>
          <div class="chat-footer-container">
            <input type="text" placeholder="Escribe un mensaje aquí" class="input" [(ngModel)]="messageText"
              (keyup)="$event.keyCode === 13 && sendMessage()" />
            <button class="send-btn" (click)="sendMessage()">
              <img class="send-btn__img" src="assets/images/send.svg">
            </button>
          </div>
        </div>
      </ng-container>
    </div>

  </div>

</div>

<a #buttonChaRef class="floating-btn scroll-to-top" (click)="openChat()" [ngClass]="{'dplay-none': chatOpen}">
  <div class=" flecha">
    <svg class="svgpath" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#26a5b8"
      class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
      <path
        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
    </svg>
  </div>
  <span class="translate-middle badge rounded-pill rounded-pill--border"
    [ngClass]="{'dplay-none':!totalUnreads,'floating-btn__badge1' : totalUnreads < 10, 'floating-btn__badge2' : totalUnreads > 9, 'floating-btn__badge3' : totalUnreads > 99}">
    {{totalUnreads > 99 ? '99+' : totalUnreads}}
  </span>
</a>
