<app-notification-bar></app-notification-bar>
<app-search-bar></app-search-bar>
<app-navbar></app-navbar>
<div class="data-container">
    <div class="container">
        <img class="container__icon" src="assets/icons/build.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue">Municipio</h3>
            <span class="container__description">{{municipio}}</span>
        </div>
    </div>

    <div class="container">
        <img class="container__icon" src="assets/icons/group-circle-solid.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-morado">Población</h3>
            <span class="container__description">{{poblacion | number:'':'es'}}</span>
        </div>
    </div>

    <div class="container">
        <img class="container__icon" src="assets/icons/fish.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue-2"># pescadores</h3>
            <span class="container__description">{{pescadores.length}}</span>
        </div>
    </div>
</div>

<div class="search-container" *ngIf="showNotFound">
  <div class="search-container__box">
    <img class="search-container__image" src="assets/images/searching.svg">
    <h3>No se han encontrado resultados</h3>
    <p>No encontramos pescadores en este municipio </p>
  </div>
</div>
<div class="buscador-container"  *ngIf="!showNotFound">
  <app-search
  [buscadorpersonalizado]="true"
  [placeholderbuscador]="'Buscar pescador...'"
  [dataarrayabuscar]="pescadoresarray"
  [buscarpor]="buscardatospor"
    (keyEnterPressData)="buscarData($event)"
    [fitroactivo]="false">
  </app-search>
</div>
<div class="container-map-car">
  <div class="row-map-cart">
    <div *ngIf="pescadores.length >= 1">
    <app-card-pescador *ngFor="let pescador of pescadores; let i =index " [pescador]="pescador" (onDetalle)="goPescadorDetail($event)"
              (onMouseOutCard)="eliminInfoWindow()" (onMouseInsideCard)=" onMouseCard($event, i)">
    </app-card-pescador>
    </div>
  </div>
  <div class="mYstiledivmap">
    <div class="sticky-top">
      <div class="mapgoogle" *ngIf="pescadores.length > 0 && (apiLoaded | async)">
        <google-map
         height="650px"
         width="785px"
         [options]="options"
         (tilesloaded)="mapainiciado()">
          <map-marker #marker="mapMarker" *ngFor="let markerInfo of markersInfo; index as i"
            [position]="markerInfo.markerPosition" [options]="markerOptions"
            icon="{{ i == indexSelected ? 'assets/icons/person_pin_circle_red_24dp.svg' : 'assets/icons/person_pin_circle_blue_24dp.svg' }}"
            (mapMouseover)="openInfoWindow(marker,i)"
            (mapMouseout)="eliminInfoWindow()"
            >
          </map-marker>
          <map-polyline [path]="vertices" [options]="optionPoli"></map-polyline>
          <map-info-window [position]="markerPosition">
            <div class="myestilo-map-info-window">
              <div class="myestilo-map-info-window-container">
                <div class="myestilo-map-info-window-container-informa">
                  <img class="card__icon_info_windows" src="../../../../assets/icons/person_black.svg">
                  <span>{{selectedPescador.nombre | titlecase }}</span>
                </div>
                <div class="myestilo-map-info-window-container-informa">
                  <img class="card__icon_info_windows" src="assets/icons/phone_msg_black_24dp.svg">
                  <span> {{selectedPescador.celular? selectedPescador.celular : 'Contacto sin definir'}}</span>
                </div>
                <div class="myestilo-map-info-window-container-informa">
                  <img class="card__icon_info_windows" src="assets/icons/person_pin_circle_black_24dp.svg">
                  <span *ngIf="!selectedPescador.dirrecion">Dirección indefinida</span>
                  <span *ngIf="selectedPescador.dirrecion"> {{selectedPescador.dirrecion}}</span>
                </div>
              </div>
            </div>
          </map-info-window>
        </google-map>
      </div>
    </div>
  </div>
</div>
<app-floating-btn-auto-up></app-floating-btn-auto-up>
