/*  */
.data-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.data-container__div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: center;
  width: max-content;
  margin-left: 0;
  margin-right: 0;
}

.container__icon {
  width: 40px;
  height: 40px;
}

.container__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.container__title {
  font-size: 20px;
}

.container__description {
  align-self: flex-start;
}

.container__title--color-morado {
  color: var(--morado)
}

.container__title--color-blue {
  color: var(--azul1)
}

.container__title--color-blue-2 {
  color: var(--azul2)
}

.filters-container {
  margin-bottom: 90px;
}

.filters-container__button {
  margin-right: 10px;
}

.card__icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.card__icon_info_windows {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.container__app-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
/* mi estilo targeta nuevo map */
.container-map-car {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.row-map-cart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
    padding-left: 20px;
  width: 100%;
}

.row-map-cart>div {
  width: 100%;
}

div.container-map-car>div>div:nth-child(1) {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .mYstiledivmap {
  display: none;
} */

.sticky-top {
  z-index: 1;
  height: auto;
  padding-top: 80px;
}

.mapgoogle {
  /* border: 2px solid #6c6c6c; */
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  width: 300px;
  background-color: gainsboro;
  border: 2px solid rgb(0 0 0 / 51%);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);

}

/* estilo infomap */
.myestilo-map-info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon_info_windows {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}


@keyframes pulsate {

  0%,
  to {
    transform: scale(1)
  }

  50% {
    transform: scale(.9)
  }
}

.buscadoryfiltro {
  display: flex;
  flex-direction: column;
  margin-top: 21px;

  .buscador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
  }

  .alert-mi-estilo-filtro {
    margin-bottom: 0;
    width: 79%;
    background-color: var(--azul4);
    color: black;
  }

  .alert-mi-estilo {
    margin-bottom: 0;
    width: 100%;
    background-color: var(--azul4);
    color: black;
  }
}

.buscador-container__search {
  width: 100%
}

.container_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.mapaMunicipios {
  width: 300px;
  height: 600px;
}

@media screen and (min-width: 1100px) {
  .mYstiledivmap {
    margin-left: 30px;
    display: block
  }

  .container-map-car {
    margin-left: 10px;
    margin-right: 65px;
    justify-content: space-around;
    align-items: normal;
    flex-direction: row;
  }

  .photo--verMapa {
    display: none;
  }

  .mapgoogle {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40vw !important;
    width: 50vw !important;
  }

  .row-map-cart {
    margin-right: 0;
    padding-right: 0px;
      padding-left: 0px;
  }

  div.container-map-car>div>div:nth-child(1) {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 770px) {
  .buscador-container {
    flex-direction: row !important;
  }

  .buscador-container__search {
    width: auto
  }
}

@media screen and (min-width: 580px) {
  .data-container__div {
    flex-direction: row;
    width: 100%;
    gap: 0
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .container__description {
    align-self: center
  }
}

@media screen and (min-width: 400px) {
  .mapgoogle {
    height: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 500px) {
  .mapgoogle {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 350px) {
  .mapgoogle {
    height: 85vw;
    width: 80vw;
  }
}
