<app-notification-bar></app-notification-bar>
<app-search-bar></app-search-bar>
<app-navbar></app-navbar>
<div class="data-container" *ngIf="pescadores.length > 0">
    <div class="container">
        <img class="container__icon" src="assets/icons/build.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue">Municipio</h3>
            <span class="container__description">{{pescadores[0].municipio}}</span>    
        </div>
    </div>
    
    <div class="container">
        <img class="container__icon" src="assets/icons/group-circle-solid.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-morado">Población</h3>
            <span class="container__description">33.688</span>    
        </div>
    </div>
    
    <div class="container">
        <img class="container__icon" src="assets/icons/fish.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue-2"># pescadores</h3>
            <span class="container__description">{{pescadores.length}}</span>    
        </div>
    </div>    
</div>

<div class="pescadores-container">
        <div class="cards-container overflow-auto">
            <div class="card" *ngFor="let pescador of pescadores; index as i" (mouseover)="onMouseCard(i)">
                <img class="card__image" src="/assets/images/avatar-person-square.png" routerLink="/granjas/municipio/detalle">
                <div class="card-box">
                    <h3 class="card__title">{{pescador.nombres}}</h3>
                    <span class="card__title2">{{pescador.nombre}}</span>
                    <div>
                        <img class="card__icon" src="assets/icons/whatsapp.svg">
                        <span class="card__phone">{{pescador.celular}}</span>
                    </div>            
                    <span class="card__description1">{{pescador.direccion}}</span>
                    <span class="card__description2">{{pescador.municipio}}</span>
                </div>
            </div>
        </div>
        <div class="pescadores-container__map" *ngIf="apiLoaded | async">
            <google-map [options]="options" width="800px" height="600px">
                <map-marker *ngFor="let markerInfo of markersInfo; index as i" [position]="markerInfo.markerPosition" [options]="markerOptions"  [title]="markerInfo.title" icon="{{ i == indexSelected ? 'assets/icons/person-solid-red.svg' : 'assets/icons/person-outline.svg' }}"></map-marker>
            </google-map>
        </div>
</div>
<app-footer></app-footer>