<h2>POLÍTICA DE PRIVACIDAD WEB</h2>

<div>
    <h4>DORY-PLATAFORMA WEB PISCÍCOLA</h4>
    <p>Mensaje de prevista. (Aviso opcional)
    En Dory, sabemos lo importante que es la privacidad para nuestros usuarios. Por
    ende, hemos creado este aviso de privacidad para asegurarnos de que entiendan
    como recopilamos y utilizamos su información personal.
    La política de privacidad también se aplica al uso que usted realiza en Dory. Nuestra
    política de privacidad contiene más información sobre cómo y con qué fin
    utilizamos sus datos. También incluye información sobre sus derechos y cómo
    comunicarse con nosotros. Lea nuestra política de privacidad, además de este
    aviso de privacidad. Sin embargo, este aviso de privacidad siempre prevalecerá
    sobre la política de privacidad en relación con el uso que hacemos de su
    información para Dory.</p>

    <p>Actualizado el 2022-08-05
    Dory-Plataforma web Piscícola (“nosotros”, “nuestro” o “nosotros”) se compromete a
    proteger su privacidad. Esta Política de privacidad explica cómo Dory-Plataforma
    Piscícola recopila, utiliza y divulga su información personal.
    Esta Política de privacidad se aplica a nuestro sitio web y sus subdominios asociados
    (colectivamente, nuestro &quot;Servicio&quot;) junto con nuestra aplicación, Dory-Plataforma web
    Piscícola. Al acceder o utilizar nuestro Servicio, significa que ha leído, entendido y acepta
    nuestra recopilación, almacenamiento, uso y divulgación de su información personal como
    se describe en esta Política de privacidad y nuestros Términos de servicio.</p>

    <h4>DEFINICIONES Y TÉRMINOS CLAVE</h4>
    <p> ayudar a explicar las cosas con la mayor claridad posible en esta Política de
    privacidad, cada vez que se hace referencia a cualquiera de estos términos, se definen
    estrictamente como:
    • Cookie: pequeña cantidad de datos generados por un sitio web y guardados por su
    navegador web. Se utiliza para identificar su navegador, proporcionar análisis, recordar
    información sobre usted, como su preferencia de idioma o información de inicio de sesión.
    • Empresa: cuando esta política menciona &quot;Empresa&quot;, &quot;nosotros&quot;, &quot;nosotros&quot; o &quot;nuestro&quot;,
    se refiere a Dory-Plataforma Piscícola, es decir responsable de su información bajo esta
    Política de Privacidad.
    • País: donde tiene su sede Dory-Plataforma web Piscícola o los dueños/fundadores de
    Dory-Plataforma Piscícola, en este caso es Colombia.</p>

    <h4>POLÍTICA DE PRIVACIDAD 2</h4>
    <p>• Cliente: se refiere a la empresa, organización o persona que se registra para utilizar el
    Servicio Dory-Plataforma Piscícola para gestionar las relaciones con sus consumidores o
    usuarios del servicio.
    • Dispositivo: cualquier dispositivo conectado a Internet, como un teléfono, una tableta,
    una computadora o cualquier otro dispositivo que se pueda usar para visitar Dory-
    Plataforma web Piscícola y utilizar los servicios.
    • Dirección IP: a cada dispositivo conectado a Internet se le asigna un número conocido
    como dirección de protocolo de Internet (IP). Estos números suelen asignarse en bloques
    geográficos. Una dirección IP a menudo se puede usar para identificar la ubicación desde
    la cual un dispositivo se conecta a Internet.
    • Personal: se refiere a aquellos individuos que son empleados de Dory-Plataforma web
    Piscícola o están bajo contrato para realizar un servicio en nombre de una de las partes.
    • Datos personales: cualquier información que directa, indirectamente o en conexión con
    otra información, incluido un número de identificación personal, permita la identificación o
    identificabilidad de una persona física.
    • Servicio: se refiere al servicio prestado por Dory-Plataforma Piscícola como se describe
    en los términos relativos (si están disponibles) y en esta plataforma web.
    • Servicio de terceros: hace referencia a anunciantes, patrocinadores de concursos,
    socios promocionales y de marketing, y otros que brindan nuestro contenido o cuyos
    productos o servicios creemos que pueden interesarle.
    • Usted: una persona o entidad que está registrada en Dory-Plataforma web Piscícola
    para usar los Servicios</p>

    <h4>¿QUÉ INFORMACIÓN RECOPILAMOS?</h4>
    <p>Cuando se crea Dory, con nosotros, pedimos información para ayudarle en la
    configuración, como para los datos básicos, entre ellos su nombre, cédula, dirección de
    correo electrónico, como también los datos de ubicación, como el departamento,
    municipio, corregimiento u otra información adicional.
    Además, cuando se comuniquen con el servicio de atención al cliente sobre nuestros
    servicios, se recopilarán sus comunicaciones, incluida cualquier información que
    proporcione con respecto a su identidad y al producto o servicio por el que se está
    comunicando con nosotros.
    Una vez que configure Dory e inicie sesión, puede usar varias funciones convenientes en
    sus dispositivos, como los servicios mencionados anteriormente, también puede ver las
    funciones disponibles para usted.</p>

    <h4>¿CÓMO USAMOS LA INFORMACIÓN QUE RECOPILAMOS?</h4>

    <h4>POLÍTICA DE PRIVACIDAD 3</h4>
    <p>Cualquiera de la información que recopilamos de usted puede usarse de una de las
    siguientes maneras:
    • Para personalizar su experiencia (su información nos ayuda a responder mejor a sus
    necesidades individuales)
    • Para mejorar nuestra aplicación (nos esforzamos continuamente por mejorar nuestras
    ofertas de aplicaciones en función de la información y los comentarios que recibimos.
    • Para mejorar el servicio al cliente (su información nos ayuda a responder de manera
    más efectiva a sus solicitudes de servicio al cliente y necesidades de soporte).
    • Para procesar transacciones.
    • Para administrar un concurso, promoción, encuesta u otra característica del sitio.
    • Para enviar correos electrónicos periódicos.</p>

    <h4>¿CUÁNDO UTILIZA DORY-PLATAFORMA PISCÍCOLA LA INFORMACIÓN DE LOS
    USUARIOS FINALES DE TERCEROS?</h4>
    <p>Dory-Plataforma web Piscícola recopilará los Datos del usuario final necesarios para
    proporcionar los servicios de Dory-Plataforma web Piscícola a nuestros clientes.
    Los usuarios finales pueden proporcionarnos voluntariamente la información que han
    puesto a disposición en los sitios web de las redes sociales. Si nos proporciona dicha
    información, podemos recopilar información disponible públicamente de los sitios web de
    redes sociales que haya indicado. Puede controlar la cantidad de su información que los
    sitios web de redes sociales hacen públicos visitando estos sitios web y cambiando su
    configuración de privacidad.</p>

    <h4>¿CUÁNDO DORY-PLATAFORMA PISCÍCOLA UTILIZA INFORMACIÓN DE CLIENTES
    DE TERCEROS?</h4>
    <p>Recibimos cierta información de terceros cuando se comunica con nosotros. Por ejemplo,
    cuando nos envía su dirección de correo electrónico para mostrar interés en convertirse
    en cliente de Dory-Plataforma web Piscícola, recibimos información de un tercero que
    brinda servicios automatizados de detección de fraude a Dory-Plataforma web Piscícola.
    Ocasionalmente, también recopilamos información que se pone a disposición del público
    en sitios web de redes sociales. Puede controlar la cantidad de su información que los
    sitios web de redes sociales hacen públicos visitando estos sitios web y cambiando su
    configuración de privacidad.</p>

    <h4>¿DÓNDE Y CUÁNDO SE RECOPILA LA INFORMACIÓN DE CLIENTES Y USUARIOS
    FINALES?</h4>

    <h4>POLÍTICA DE PRIVACIDAD 4</h4>
    <p>Dory-Plataforma web Piscícola recopilará la información personal que nos envíe. También
    podemos recibir información personal sobre usted de terceros, como se describe
    anteriormente.</p>

    <h4>¿CÓMO USAMOS SU DIRECCIÓN DE CORREO ELECTRÓNICO?</h4>
    <p>Al enviar su dirección de correo electrónico en esta aplicación, acepta recibir nuestros
    correos electrónicos. Puede cancelar su participación en cualquiera de estas listas de
    correo electrónico en cualquier momento haciendo clic en el enlace de exclusión u otra
    opción de cancelación de suscripción que se incluye en el correo electrónico respectivo.
    Solo enviamos correos electrónicos a las personas que nos han autorizado a contactarlos,
    ya sea directamente o a través de un tercero. No enviamos correos electrónicos
    comerciales no solicitados, porque odiamos el spam tanto como usted. Al enviar su
    dirección de correo electrónico, también acepta permitirnos usar su dirección de correo
    electrónico para la audiencia de clientes en sitios como Facebook, donde mostramos
    publicidad personalizada a personas específicas que han optado por recibir nuestras
    comunicaciones. Las direcciones de correo electrónico enviadas solo a través de la
    página de procesamiento de pedidos se utilizarán con el único propósito de enviarle
    información y actualizaciones relacionadas con su pedido. Sin embargo, si nos ha
    proporcionado el mismo correo electrónico a través de otro método, podemos usarlo para
    cualquiera de los fines establecidos en esta Política.
    Nota: Si en algún momento desea darse de baja de recibir futuros correos electrónicos,
    incluimos instrucciones detalladas para darse de baja en la parte inferior de cada correo
    electrónico.</p>

    <h4>¿CUÁNTO TIEMPO CONSERVAMOS SU INFORMACIÓN?</h4>
    <p>Mantenemos su información solo mientras la necesitemos para proporcionarle Dory-
    Plataforma Piscícola y cumplir con los propósitos descritos en esta política. Este también
    es el caso de cualquier persona con la que compartimos su información y que realiza
    servicios en nuestro nombre. Cuando ya no necesitemos usar su información y no sea
    necesario que la conservemos para cumplir con nuestras obligaciones legales o
    reglamentarias, la eliminaremos de nuestros sistemas o la despersonalizaremos para que
    no podamos identificarlo.</p>

    <h4>¿CÓMO PROTEGEMOS TU INFORMACIÓN?</h4>
    <p>Implementamos una variedad de medidas de seguridad para mantener la seguridad de su
    información personal cuando realiza un pedido o ingresa, envía o accede a su información
    personal. Ofrecemos el uso de un servidor seguro. Toda la información
    confidencial/crediticia suministrada se transmite a través de la tecnología Secure Socket
    Layer (SSL) y luego se cifra en nuestra base de datos de proveedores de pasarela de
    pago para que solo puedan acceder aquellos autorizados con derechos especiales de
    acceso a dichos sistemas, y se les exige que mantengan la información confidencial.</p>

    <h4>POLÍTICA DE PRIVACIDAD 5</h4>
    <p>Después de una transacción, su información privada (tarjetas de crédito, números de
    seguro social, finanzas, etc.) nunca se guarda en un archivo. Sin embargo, no podemos
    asegurar o garantizar la seguridad absoluta de cualquier información que transmita a
    Dory-Plataforma Piscícola o garantizar que su información en el Servicio no pueda ser
    accedida, divulgada, alterada o destruida por una violación de cualquiera de nuestros
    derechos físicos, técnicos. o salvaguardias gerenciales.</p>

    <h4>¿MI INFORMACIÓN PODRÍA SER TRANSFERIDA A OTROS PAÍSES?</h4>
    <p>Se incorpora Dory-Plataforma Piscícola en Colombia. La información recopilada a través
    de nuestro sitio web, a través de interacciones directas con usted o del uso de nuestros
    servicios de ayuda puede transferirse de vez en cuando a nuestras oficinas o personal, o
    a terceros, ubicados en todo el mundo, y puede verse y alojarse en cualquier lugar en el
    mundo, incluidos los países que pueden no tener leyes de aplicación general que regulen
    el uso y la transferencia de dichos datos. En la máxima medida permitida por la ley
    aplicable, al usar cualquiera de los anteriores, usted voluntariamente acepta la
    transferencia transfronteriza y el alojamiento de dicha información.</p>

    <h4>¿LA INFORMACIÓN RECOPILADA A TRAVÉS DEL SERVICIO DORY-PLATAFORMA
    WEB PISCÍCOLA ES SEGURA?</h4>
    <p>Tomamos precauciones para proteger la seguridad de su información. Contamos con
    procedimientos físicos, electrónicos y administrativos para ayudar a salvaguardar, evitar el
    acceso no autorizado, mantener la seguridad de los datos y usar correctamente su
    información. Sin embargo, ni las personas ni los sistemas de seguridad son infalibles,
    incluidos los sistemas de encriptación. Además, las personas pueden cometer delitos
    intencionales, cometer errores o no seguir las políticas. Por lo tanto, aunque hacemos
    esfuerzos razonables para proteger su información personal, no podemos garantizar su
    seguridad absoluta. Si la ley aplicable impone algún deber no renunciable de proteger su
    información personal, usted acepta que la mala conducta intencional será el estándar
    utilizado para medir nuestro cumplimiento de ese deber.</p>

    <h4>¿PUEDO ACTUALIZAR O CORREGIR MI INFORMACIÓN?</h4>
    <p>Los derechos que tiene para solicitar actualizaciones o correcciones a la información que
    recopila Dory-Plataforma Piscícola dependen de su relación con Dory-Plataforma
    Piscícola. El personal puede actualizar o corregir su información según se detalla en
    nuestras políticas internas de empleo de la empresa.
    Los clientes tienen derecho a solicitar la restricción de ciertos usos y divulgaciones de
    información de identificación personal de la siguiente manera. Puede comunicarse con
    nosotros para (1) actualizar o corregir su información de identificación personal, (2)
    cambiar sus preferencias con respecto a las comunicaciones y otra información que
    recibe de nosotros, o (3) eliminar la información de identificación personal mantenida
    sobre usted en nuestro sistema (sujeto al párrafo siguiente), cancelando su cuenta.</p>

    <h4>POLÍTICA DE PRIVACIDAD 6</h4>
    <p>Dichas actualizaciones, correcciones, cambios y eliminaciones no tendrán efecto en otra
    información que mantenemos, o información que hayamos proporcionado a terceros de
    acuerdo con esta Política de privacidad antes de dicha actualización, corrección, cambio o
    eliminación. Para proteger su privacidad y seguridad, podemos tomar medidas razonables
    (como solicitar una contraseña única) para verificar su identidad antes de otorgarle acceso
    a su perfil o realizar correcciones. Usted es responsable de mantener en secreto su
    contraseña única y la información de su cuenta en todo momento.
    Debe tener en cuenta que no es tecnológicamente posible eliminar todos y cada uno de
    los registros de la información que nos ha proporcionado de nuestro sistema. La
    necesidad de hacer una copia de seguridad de nuestros sistemas para proteger la
    información de pérdidas inadvertidas significa que puede existir una copia de su
    información en un formato que no se puede borrar y que será difícil o imposible de
    localizar para nosotros. Inmediatamente después de recibir su solicitud, toda la
    información personal almacenada en las bases de datos que usamos activamente y otros
    medios de fácil búsqueda se actualizarán, corregirán, cambiarán o eliminarán, según
    corresponda, tan pronto como sea razonable y técnicamente posible.
    Si es un usuario final y desea actualizar, eliminar o recibir cualquier información que
    tengamos sobre usted, puede hacerlo poniéndose en contacto con la organización de la
    que es cliente.</p>

    <h4>VENTA DE NEGOCIOS</h4>
    <p>Nos reservamos el derecho de transferir información a un tercero en el caso de una venta,
    fusión u otra transferencia de todos o sustancialmente todos los activos de Dory-
    Plataforma Piscícola o cualquiera de sus Afiliados Corporativos (como se define aquí), o
    esa parte de Dory-Plataforma Piscícola o cualquiera de sus Filiales Corporativas a las que
    se relaciona el Servicio, o en el caso de que descontinuemos nuestro negocio o
    presentemos una petición o hayamos presentado en nuestra contra una petición de
    quiebra, reorganización o procedimiento similar, siempre que el tercero acepta adherirse a
    los términos de esta Política de Privacidad.</p>

    <h4>AFILIADOS</h4>
    <p>Podemos divulgar información (incluida la información personal) sobre usted a nuestros
    afiliados corporativos. A los fines de esta Política de Privacidad, &quot;Afiliado Corporativo&quot;
    significa cualquier persona o entidad que directa o indirectamente controle, sea controlada
    o esté bajo el control
    común de Dory-Plataforma Piscícola, ya sea por propiedad o de otra manera. Cualquier
    información relacionada con usted que proporcionemos a nuestros Afiliados Corporativos
    será tratada por dichos Afiliados Corporativos de acuerdo con los términos de esta
    Política de Privacidad.</p>

    <h4>LEY QUE RIGE</h4>

    <h4>POLÍTICA DE PRIVACIDAD 7</h4>
    <p>Esta Política de privacidad se rige por las leyes de Colombia sin tener en cuenta su
    conflicto de disposiciones legales. Usted acepta la jurisdicción exclusiva de los tribunales
    en relación con cualquier acción o disputa que surja entre las partes en virtud o en
    relación con esta Política de privacidad, excepto aquellas personas que puedan tener
    derechos para presentar reclamos bajo el Escudo de privacidad o el marco suizo-
    estadounidense.
    Las leyes de Colombia, excluyendo sus conflictos de leyes, regirán este Acuerdo y su uso
    de la aplicación. Su uso de la aplicación también puede estar sujeto a otras leyes locales,
    estatales, nacionales o internacionales.
    Al utilizar Dory-Plataforma Piscícola o al contactarnos directamente, significa que acepta
    esta Política de privacidad. Si no está de acuerdo con esta Política de privacidad, no debe
    interactuar con nuestro sitio web ni utilizar nuestros servicios. El uso continuo del sitio
    web, el compromiso directo con nosotros o la publicación de cambios a esta Política de
    privacidad que no afecten significativamente el uso o la divulgación de su información
    personal significará que acepta esos cambios.</p>

    <h4>TU CONSENTIMIENTO</h4>
    <p>Hemos actualizado nuestra Política de privacidad para brindarle total transparencia sobre
    lo que se configura cuando visita nuestro sitio y cómo se usa. Al usar nuestra aplicación,
    registrar una cuenta o realizar una compra, usted acepta nuestra Política de privacidad y
    acepta sus términos.</p>

    <h4>ENLACES A OTROS SITIOS WEB</h4>
    <p>Esta Política de privacidad se aplica solo a los Servicios. Los Servicios pueden contener
    enlaces a otros sitios web no operados o controlados por Dory-Plataforma web Piscícola.
    No somos responsables del contenido, la precisión o las opiniones expresadas en dichos
    sitios web, y dichos sitios web no son investigados, monitoreados o verificados por
    nuestra precisión o integridad. Recuerde que cuando utilice un enlace para ir de los
    Servicios a otro sitio web, nuestra Política de privacidad ya no estará en vigor. Su
    navegación e interacción en cualquier otro sitio web, incluidos aquellos que tienen un
    enlace en nuestra plataforma, están sujetos a las reglas y políticas propias de ese sitio
    web. Dichos terceros pueden usar sus propias cookies u otros métodos para recopilar
    información sobre usted.</p>

    <h4>COOKIES</h4>
    <p>Dory-Plataforma web Piscícola utiliza &quot;Cookies&quot; para identificar las áreas de nuestro sitio
    web que ha visitado. Una cookie es una pequeña porción de datos almacenada en su
    computadora o dispositivo móvil por su navegador web. Usamos cookies para mejorar el
    rendimiento y la funcionalidad de nuestra aplicación, pero no son esenciales para su uso.
    Sin embargo, sin estas cookies, ciertas funciones, como los videos, pueden no estar
    disponibles o se le solicitará que ingrese sus datos de inicio de sesión cada vez que visite</p>

    <h4>POLÍTICA DE PRIVACIDAD 8</h4>
    <p>la aplicación, ya que no podríamos recordar que había iniciado sesión anteriormente. La
    mayoría de los navegadores web se pueden configurar para deshabilitar el uso de
    cookies. Sin embargo, si deshabilita las cookies, es posible que no pueda acceder a la
    funcionalidad de nuestro sitio web correctamente o en absoluto. Nunca colocamos
    información de identificación personal en las cookies.</p>

    <h4>BLOQUEO Y DESHABILITACIÓN DE COOKIES Y TECNOLOGÍAS SIMILARES</h4>
    <p>Dondequiera que se encuentre, también puede configurar su navegador para bloquear las
    cookies y tecnologías similares, pero esta acción puede bloquear nuestras cookies
    esenciales y evitar que nuestro sitio web funcione correctamente, y es posible que no
    pueda utilizar todas sus funciones y servicios. También debe tener en cuenta que también
    puede perder parte de la información guardada (por ejemplo, detalles de inicio de sesión
    guardados, preferencias del sitio) si bloquea las cookies en su navegador. Los diferentes
    navegadores ponen a su disposición diferentes controles. Deshabilitar una cookie o
    categoría de cookie no elimina la cookie de su navegador, deberá hacerlo usted mismo
    desde su navegador, debe visitar el menú de ayuda de su navegador para obtener más
    información.</p>

    <h4>CONTÁCTENOS</h4>
    <p>No dude en ponerse en contacto con nosotros si tiene alguna pregunta.
    Por correo electrónico: ginelect@gmail.com</p>
</div>
