<!-- Disponible solo cuando checkboxfiltro=false  -->
<div *ngIf="!checkboxfiltro" class="dropdown buscador-container__filter">
  <div class="btn dropdown-toggle buscador-container-option-div" type="button" data-bs-toggle="dropdown"
    aria-expanded="false" [id]="filtro[0].nameButton">
    <span>
      <span>
      <i class="bi bi-funnel"></i>
      </span>
    </span>
    {{filtro[0].nameButton}}
  </div>
  <!-- lista expandible -->
  <ul class="dropdown-menu" [attr.aria-labelledby]="filtro[0].nameButton">
    <li>
      <div *ngFor="let filtroSelecData of filtro[0].data; let i =index" class="dropdown-menu-div-li">
        <!-- Verificaobcion  filtro selecionado -->
        <a class="dropdown-item" (click)="filterSeleccionado(filtroSelecData)">
          {{filtroSelecData.nombrefiltro}}
        </a>
        <img src="assets/icons/check_black_24dp.svg" *ngIf="filtroSelecData.id === filtroSeleccionado?.id">
      </div>
    </li>
  </ul>
</div>

<!-- Disponible solo cuando checkboxfiltro=true  -->
<button class="btn-filter" *ngIf="checkboxfiltro" type="button" (click)="ClicFiltroButton()"><i class="bi bi-funnel"></i> Filtros </button>

