/* PROPIOS */
.borderless {
    outline: none;
  }
  .container-map{
    height: 50vw;
    width: 50vw;
  }
    @media screen and (max-width: 820px) {
     .container-map{
      height: 130vw;
      width: 130vw;
     }
    }
  @keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 31.109482869200132px;
      stroke-dasharray: 31.109482869200132px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 31.109482869200132px;
    }
  }

  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(245, 56, 56);
    }
  }
  .regionhover:hover .svg-elem-3 {
    animation: animate-svg-stroke-3 0s ease-out 0.24s infinite alternate both,
      animate-svg-fill-3 0.2s linear 0.4s infinite alternate both;
  }

