.container__btn{
    width: 200px;
    height: 38px;
    margin-left: 10px;
    margin-top: 0;
  }

  .container__btn--azul{
    background-color: var(azul1);
  }

  .container__spinner{
    width: 20px;
    height: 20px;
    color: var(--white);
}
.btn-gris{
      background-color: var(--gris5);
        border: 1px solid var(--gris5);
        color: var(--white);

}
.download-cam{
    margin-bottom: 15px;
    margin-top: 15px;
}

.btn-show{
  margin-right: 10px;
}

.btn-add{
  margin-right: 15px;
}
.justify-content-between{
  align-items: center;
}
.btn-mi-estilo{
  width: 174.13px;
}
.modal-footer{
  justify-content:flex-end ;
}
.input-wrapper{
  width: 100%;
}
@media screen and (max-width: 640px) {
.justify-content-between {
    flex-direction: column !important;
    gap: 10px;
  }
  .modal-footer{
    justify-content: center !important;
  }
}
@media screen and (max-width: 500px) {
.d-flex-button-footer{
  flex-direction: column;
  gap: 10px;
}
.modal-footer{
  align-items: center;
}
}
@media screen and (max-width: 400px) {
  .d-flex-button{
    flex-direction: column-reverse !important;
    gap: 10px;
    align-items: center;
  }
  .btn-show{
    margin-right: 0;
  }
}
