

    <div class="buscadoryfiltro">
      <div class="buscador-container">
        <app-search [placeholderbuscador]="'Buscar...'" (textSearch)="onBuscarPalabra($event)" [activeClasetwo]="true"></app-search>
        <button class="btn-filter"
        *ngIf="userService.isAuthenticated()"
        type="button"
        (click)="onFiltroChange()">
        <img class="novedad__like-icon novedad__like-icon--fill filtroStilo"
          src="assets/icons/happy-face-white.svg" >
      </button>
      </div>
      <div class="chip" *ngIf="userService.isAuthenticated()">
        <app-chip-con-boton-close
        *ngIf="filtroseleccionado"
         [iconoChip]="true"
          [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
           [contenidoChip]="filtroseleccionado.nombrefiltro"
          (onCloseClip)="delateFilter()">
        </app-chip-con-boton-close>
      </div>
    </div>
<div  *ngIf="novedades.length > 0 && novedadesFiltered.length > 0 "class="container">
  <div class="card" *ngFor="let novedad of novedades; let i=index;">
    <div class="card__autor-photo">
      <div class="card__autor-data">
        <div class="foto-autor-container">
          <img class="foto-autor" [src]='novedad.url_foto_autor' *ngIf="novedad.url_foto_autor" />
          <img class="foto-autor" src='assets/images/avatar-person.svg' *ngIf="!novedad.url_foto_autor" />
        </div>
        <div class="title-autor-container shorterTextOverflowHidden">
          <h4 class="nombre-autor shorterTextAuto">{{novedad?.autor}}</h4>
        </div>
      </div>
      <div class="img" (click)="onView(novedad.id_novedad, i,novedad.url_novedad)">
        <img class="novedad__foto"  [src]="novedad.url_foto_novedad ? novedad.url_foto_novedad: 'assets/images/no-image-photography.svg'" >
      </div>
    </div>
    <!--  -->
    <div class="container-data-like-shared">
      <div class="data-like-shared">
        <div class="top-text shorterTextOverflowHidden" (click)="onView(novedad.id_novedad, i,novedad.url_novedad)">
          <h2 class="novedad__titular shorterTextAuto">{{ novedad?.titulo }}</h2>
        </div>
        <div class="bottom-text">
          <div class="text" (click)="onView(novedad.id_novedad, i,novedad.url_novedad)">
            {{ novedad?.resumen | shorter:120 }}
          </div>
          <div class="novedad__container_stats">
            <div>
              <img class="novedad__like-icon" [ngClass]="novedad.me_gusta ? 'novedad__like-icon--fill' : ''"
                src="assets/icons/happy-face.svg" (click)="onLike(novedad, i)" *ngIf="!novedad.me_gusta">
              <img class="novedad__like-icon" [ngClass]="novedad.me_gusta ? 'novedad__like-icon--fill' : ''"
                src="assets/icons/happy-face-white.svg" (click)="onLike(novedad, i)" *ngIf="novedad.me_gusta">
              <span class="novedad__like-count">{{novedad?.likes}}</span>
            </div>
            <div>
              <span class="novedad__visitas">{{novedad?.cant_visitas}} visitas</span>
              <span class="novedad__fecha"></span>
            </div>
          </div>
        </div>
        <div>
          <share-buttons class="pt-2 mb-2" theme="circles-dark" [showIcon]="true" [showText]="true"
            url={{novedad.url_novedad}} description={{novedad.titulo}} twitterAccount="rodrigokamada">
          </share-buttons>
        </div>
      </div>
    </div>
  </div>
</div>
<app-not-found *ngIf="showNotFound" message="No encontramos novedades relacionadas con la búsqueda"></app-not-found>
<div class="container mt-5">
  <div class="spinner-border spinner" role="status" *ngIf="loading">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<app-footer></app-footer>
