<app-notification-bar></app-notification-bar>
<app-search-bar></app-search-bar>
<app-navbar></app-navbar>
<app-search></app-search>
<div class="container">
    <div *ngFor="let novedad of novedadesFiltered">
            <div class="novedad">
            <div class="novedad__header">
                <div class="row">
                    <div class="col-2">
                        <img class="novedad__foto-autor" [src]="novedad.url_foto_autor">
                    </div>
                    <div class="novedad__title-box col-10"><h4 class="novedad__nombre-autor">{{novedad.nombre_autor}}</h4></div>
                </div>
            </div>
            <div class="mb-4">
                <button class="novedad__share-button"><img class="novedad__button_icon" src="assets/icons/share.svg">Compartir</button>
            </div>
            <div>
                
            </div>
            <div>
                <span  class="novedad__categoria">PRODUCTORES</span>
                <span  class="novedad__categoria">PRODUCTORES</span>
            </div>
            <div></div>
            <div class="novedad__foto-container">
                <a href={{novedad.url}} target="_blank"><img class="novedad__foto" [src]="novedad.url_foto_novedad"></a>
            </div>
            <div class="novedad__titular-container">
                <a href={{novedad.url}} target="_blank"><h2 class="novedad__titular">{{ novedad.titulo | shorter:80 }}</h2></a>
            </div>
            <div class="novedad__cuerpo-container">
                <a href={{novedad.url}}><p class="novedad__cuerpo">{{ novedad.resumen | shorter:264 }}</p></a>
            </div>
            <div></div>
            <div class="novedad__container_stats">
                <div>
                    <img class="novedad__like-icon" src="assets/icons/happy-face.svg">
                    <span class="novedad__like-count">1k</span>
                </div>
                <div>
                    <span class="novedad__visitas">11k  vistas</span>
                    <span class="novedad__fecha"> - 6 meses</span>
                </div>
            </div>
        </div>
    </div>    
</div>
<app-footer></app-footer>