<div class="container">
<img class="container__image" src="https://i.pravatar.cc/300">
    <div class="container__info">
        <span class="container__title">Carlos Suarez (Pescador)</span>
        <span class="container_email">test@yopmail.com</span>
        <div>
            <span class="container_title">Fecha de nacimiento: </span>
            <span class="container_content">29 enero 1987</span>
        </div>
    </div>
</div>

<div class="container-detail">
    <div class="container-detail__box">
        <span>Cel: 3012311234</span>
        <span>Lorem ipsum....</span>
        <span>Lorem ipsum....</span>
        <span>Lorem ipsum....</span>
    </div>
    <div class="container-detail__box">
        <span>Lorem ipsum....</span>
        <span class="container_email">Dirección Cra 12A # 23 - 34 </span>
        <span>Lorem ipsum....</span>
        <span>Lorem ipsum....</span>
    </div>
</div>