<div class="container">
    
    <div class="container__box-row">
        <div class="container__box-image">    
            <img class="container__image" [src]="usuario?.foto ? usuario?.foto : 'assets/images/avatar-person.svg'">
            <img class="container__image2" src="assets/icons/camera.svg">
        </div>
        <div>
            <span class="container__title">{{nombres?.value ? nombres?.value : '____' }} {{apellidos?.value ? apellidos?.value : '____' }}</span>
            <span class="container__title">{{usuario?.tipo_usuario ? usuario?.tipo_usuario : '____'}}</span>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <span class="container__title">Area de experticia</span>
    <div class="container__box-row">
        <select class="container__input form-input-text-square" formControlName='id_area_experticia'>
            <optgroup label="Escoje un area">
                <option *ngFor="let area of areas" [ngValue]="area.id_area">{{area.nombre}}</option>
            </optgroup>
        </select>
    </div>
    <div class="container__box">
        <span class="container__label">Correo electrónico*</span>
        <div>
            <input class="container__input form-input-text-square"  type="text" formControlName='email'>
        </div>
    </div>
    
    <div class="container__box">
        <span class="container__title">Fecha de nacimiento: </span>
        <div>
            <input class="container__input form-input-text-square" type="date" formControlName='fecha_nacimiento'>
        </div>
    </div>

    <div class="container__box">
        <span class="container__title">Cel: </span>
        <div>
            <input class="container__input form-input-text-square" type="text" formControlName='celular'>
        </div>
    </div>
    
    <div class="container__box">
        <span class="container__title">Departamento</span>
        <div>
            <select class="container__input form-input-text-square" formControlName='id_departamento' (ngModelChange)='changeDpto()'>
                <optgroup label="Escoje un departamento">
                    <option *ngFor="let dpto of departamentos" [ngValue]="dpto.id_departamento">{{dpto.nombre_departamento}}</option>
                </optgroup>
            </select>
        </div>
    </div>
    
    <div class="container__box">
        <span class="container__title">Municipio</span>
        <div>
            <select class="container__input form-input-text-square" formControlName='id_municipio' (ngModelChange)='changeMunic()'>
                <optgroup label="Escoge un municipio">
                    <option *ngFor="let municipio of municipios" [ngValue]="municipio.id_municipio">{{municipio.nombre}}</option>
                </optgroup>
            </select>
        </div>
    </div>
    
    <div class="container__box">
        <span class="container__title">Selecciona un corregimiento</span>
        <div>
            <select class="container__input form-input-text-square" formControlName='id_corregimiento' (ngModelChange)="corregSelected()">
                <optgroup label="Escoje un corregimiento">
                    <option *ngFor="let corregimiento of corregimientos" [ngValue]="corregimiento.id_corregimiento">{{corregimiento.nombre}}</option>
                </optgroup>
            </select>
        </div>
    </div>
    
    <div>
        <span class="container__title">Ó escribe su nombre</span>
        <input class="container__input form-input-text-square" type="text" formControlName='nombre_corregimiento'>
    </div>
        
    <span class="container__title">Selecciona una vereda</span>
    <div class="container__box">
        <div>
            <select class="container__input form-input-text-square" formControlName='id_vereda' (ngModelChange)='veredaSelected()'>
                <optgroup label="Escoje una vereda">
                    <option *ngFor="let vereda of veredas" [ngValue]="vereda.id_vereda">{{vereda.nombre}}</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="container__box">
        <span class="container__title">Ó escribe su nombre</span>
        <div>
            <input class="container__input form-input-text-square"  type="text" formControlName='nombre_vereda'>
        </div>
    </div>
    
    <div class="container__box">
        <span class="container__title">Dirección: </span>
        <div>
            <input class="container__input form-input-text-square"  type="text" formControlName='direccion'>
        </div>
    </div>
    <span class="container__title">Ubicacion mapa: <span class="container_link">Ver mapa</span></span> 

    <button class="container__btn">
        <span *ngIf="!loading">Actualizar</span>
        <div class="container__spinner spinner-border text-danger" role="status" *ngIf="loading">
        </div>
    </button>
    
    </form>
</div>
<ngx-spinner type="square-jelly-box"></ngx-spinner>
    