.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container__box{
    display: flex;
    flex-direction: column;
}

.container__box-row{
    display: flex;
    flex-direction: row;
}
.container__box-image{
    width: 100px;
    height: 100px;
    position: relative;
}

.container__image{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: relative;
}

.container__image2{
    width: 30px;
    height: 30px;
    position:absolute;
    right: 3px;
    bottom: 7px;
}

.container__info{
    display: flex;
    flex-direction: column;
}

.container-detail{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.container-detail__box{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.container-detail__image{
    width: 20px;
    height: 20px;
}

.container__title{
    font-weight: 700;
    display: block;
}

.container__title2{
    
}

.form__box{
    display: flex;
    flex-direction: column;
}

.container__input{
    margin-bottom: 15px;
    margin-right: 5px;
}

.container_link{
    font-weight: 300;
    cursor:pointer;
    color:var(--azul1);
}

.container__btn{
    border-radius: 6px;
    height: 40px;
    width: 360px;
    background-color: white;
    border:0.5px solid var(--black);
    margin-top: 30px;
}

.container__spinner{
    width: 20px;
    height: 20px;
}