.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh
}
