

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


.sidebar {
  position: fixed;
    left: 0;
    z-index: 100;
    margin-top: 0 !important;
    padding: 12px;
    padding-top: 16px;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
    height: 100%;
    overflow-y: auto;
}

.sidebar .nav-link {

  font-weight: 500;
  color: var(--gris-oscuro);
  padding: 0;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: var(--azul1);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.container{
  display: flex;
}
.conatiner-sticky{
  padding: 10px
}
.menu{
  display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.menu__link{
  padding-left: 0;
  cursor: pointer;
}
/* estilos */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.nav-link {
  font-weight: 500;
  color: var(--gris-oscuro);
  padding: 0;
}
.nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
.nav-link.active {
  color: var(--azul1);
}
.nav-link:hover .feather,
.nav-link.active .feather {
  color: inherit;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.miclase {
  color: var(--azul1) !important;
}
.nav-offcanvas {
  width: 100%;
}
.offcanvas {
  width:250px !important;
  top: 95px
}
.offcanvas-header {
  justify-content: flex-end;
  padding: 15px
}
.offcanvas-start {
  width: max-content;
}
button:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}
.offcanvas-body {
  padding: 0 22px;
}
.buttonOpenOffCamvas {
  display: none;
}
@media screen and (max-width: 1000px) {
  .sidebar {
    display: none !important;
  }

  .miclassmain {
    margin: 0 !important;
    width: 100%;
  }

  .mirow {
    width: 100%;
    margin: 0;
  }

  .container-fluid {
    width: 100%;
  }

  .buttonOpenOffCamvas {
    display: block;
    margin-top: 10px;
  }

}
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
