.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container__image {
  padding: 10px;
  width: 80vw;
  max-width: 300px;
  max-height: 300px;
}

.container__box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 11px;
  width: 80vw;
  max-width: 400px;
}

.container__box-data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 11px;
}

.container__input {
  width: 100%;
}

.container__title {
  margin-bottom: 5px;
  font-weight: 500;
}
h4{
  padding: 10px;
  text-align: center;
}
.btn-submit{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/* boton salir */
.btn-salir{
      margin: 10px;
        display: flex;
        justify-content: flex-end;
      button {
          display: flex;
          height: 3em;
          width: 100px;
          align-items: center;
          justify-content: center;
          background-color: #eeeeee4b;
          border-radius: 3px;
          letter-spacing: 1px;
          transition: all 0.2s linear;
          cursor: pointer;
          border: none;
          background: #fff;
        }

        button>svg {
          margin-right: 5px;
          margin-left: 5px;
          font-size: 20px;
          transition: all 0.4s ease-in;
        }

        button:hover>svg {
          font-size: 1.2em;
          transform: translateX(-5px);
        }

        button:hover {
          box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
          transform: translateY(-2px);
        }
}
