<div class="btn-salir">
  <button (click)="btnSalir()">
    <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
      <path
        d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z">
      </path>
    </svg>
    <span>Salir</span>
  </button>
</div>
<div class="container">
  <h4>Hola {{nombres}} {{apellidos}}, ¡Bienvenido a Dory!</h4>
  <img class="container__image" src="assets/images/party.svg">
  <div class="container__box">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <!-- Rol -->
      <span class="container__title">Antes de seguir cuéntanos, ¿a qué te dedicas?*</span>
      <select class="container-form__input form-input-text-square container__input" formControlName="id_tipo_usuario"
        (ngModelChange)="changeRol()">
        <optgroup label="Eres un">
          <option hidden="hidden" selected="selected"></option>
          <option *ngFor="let tipo of tipos" [ngValue]="tipo.id_tipo_usuario">{{tipo.nombre_tipo_usuario}}</option>
        </optgroup>
      </select>
      <div *ngIf="invalid('id_tipo_usuario')" class="container__alert-msg danger-message">
        <div *ngIf="id_tipo_usuario?.errors?.['required']">
          Escoge un tipo de usuario
        </div>
      </div>
      <!--Seleciona departamento -->
      <ng-container *ngIf="id_tipo_usuario?.value == 2">
        <span class="container__title">Selecciona tu departamento</span>
        <div>
          <select class="container-form__input form-input-text-square container__input"
            formControlName='id_departamento' (ngModelChange)='loadMuni() '>
            <optgroup label="Escoge un departamento">
              <option hidden="hidden" selected="selected"></option>
              <option *ngFor="let dpto of departamentos" [ngValue]="dpto.id_departamento">{{dpto.nombre_departamento}}
              </option>
            </optgroup>
          </select>
          <div *ngIf="invalid('id_departamento')" class="container__alert-msg danger-message">
            <div *ngIf="id_departamento?.errors?.['required']">
              Escoge un departamento
            </div>
          </div>
        </div>
      </ng-container>
      <!--Seleciona Municipio -->
        <span class="container__title">Selecciona el municipio de tu residencia</span>
        <div>
          <select class="container-form__input form-input-text-square container__input" formControlName="id_municipio">
            <optgroup label="Escoge un municipio">
              <option hidden="hidden" selected="selected"></option>
              <option *ngFor="let municipio of municipios" [ngValue]="municipio.id_municipio">{{municipio.nombre}}</option>
            </optgroup>
          </select>
          <div *ngIf="invalid('id_municipio')" class="container__alert-msg danger-message">
            <div *ngIf="id_municipio?.errors?.['required']">
              Escoge un municipio
            </div>
          </div>
        </div>
        <div *ngIf="error" class="container__alert-msg danger-message">
          {{error}}
        </div>
        <div class="btn-submit">
          <button class="btn-outline-blue"type="submit">Continuar</button>
        </div>
    </form>
  </div>
</div>
<ngx-spinner type="square-jelly-box"></ngx-spinner>
