<div class="modal-body">
        <button type="button" class="btn-close btn-close-modal" aria-label="Close" (click)="dismiss()"></button>
<!--   <p><strong class="textocolormodal">¿{{message}}<span class="text-primary colorresourceld">
        {{resourceId}}</span>?</strong></p> -->
          <p>{{message}} <strong>{{message2}}</strong></p>
 <!--  <p class="textocolormodal">Toda la información asociada será eliminada.
    <span class="text-danger textocolormodal">Esta operación no podrá deshacerse.</span>
  </p> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="decline()">{{btnCancelText}}</button>
  <button type="button" class="btn btn-danger coloraceptar" (click)="accept()">{{btnOkText}}</button>
</div>
