.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.container__menu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 20px;
    height:80vh;
    width: 200px;
    min-width: 200px;
    overflow-y: scroll;
    font-size: 20px;
}

.container__item{
    cursor:pointer;
    font-size: .813rem;
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 16px;
    transition: opacity .2s;
    color: #8190A3;
}

.container__content{
    width: calc(100vw - 200px);
    height:80vh;
    overflow-y: scroll;
}

.container__item-title{
    font-size:1.2rem;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: 16px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container__content::-webkit-scrollbar{
    width: 0px;
}