<div class="card container">
  <div class="front-botones">
    <div (click)="editCard()" *ngIf="editaAndEliminar">
      <i class="container__icon bi bi-pencil"></i>
    </div>
    <div (click)="deleteCard()" *ngIf="editaAndEliminar">
      <i class="container__icon bi bi-trash"></i>
    </div>
  </div>
  <div (click)="clisCard(data.url_descarga)" class="container-data">
    <h3 class="card-title">{{data.nombre | titlecase | shorter:23}}</h3>
    <p class="presaltoLinea">{{data.contenido | shorter:50 }}</p>
    <p class="sudtitle">Tipo: <small>{{data.tipo}}</small></p>
  </div>
</div>
