<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading">
        <span class="title">Consumo de peces en el departamento de Sucre</span>
        <span class="description">A continuación se muestra la cantidad de pescado que consumen algunos del los usuarios del la plataforma dory agrupados por cada municipio del departamento de Sucre. Los cantidad de pescado que consumen esta 
                expresado en Kilogramos por mes. Los municipios que no aparecen se debe a que por lo menos un habitante de este municipio no ha ingresado algún consumo. </span>
        <div class="container">
                <div *ngFor="let configChart of configChartArray">
                        <div class="container__chart" *ngIf="configChart?.consumoTotal > 0">
                                <span class="container__title">{{configChart?.municipio}}(Kg/Mes)</span>
                                <canvas baseChart
                                [labels]="configChart?.doughnutChartLabels"
                                [datasets]="configChart?.doughnutChartDatasets"
                                [options]="doughnutChartOptions"
                                [legend]="false"
                                [type]="'doughnut'">
                                </canvas>
                        </div>
                </div>        
        </div>
</div>
