<div class="card">
  <div class="card__img-box">
    <app-carrucel-img
    *ngIf="producto.fotos.length != 0"
    [imagenes]="producto.fotos"
    [indicatorsphoto]="true"
      [idtarge]="indiceProducto"
      [rounded]="false"
      [scale]=true
       [scaledown]="true">
    </app-carrucel-img>
    <img class="sin-img" src='https://admin.moodyyc.com/img/no-image.png' *ngIf="producto.fotos.length == 0">
  </div>
  <div class="card-body shorterTextOverflowHidden">
    <h5 class="card__title card-title">${{producto.precio | number:'':'es'}}</h5>
    <h5 class="card__sub-title card-title shorterTextAuto">{{producto.nombreProducto}}</h5>
    <p class="card__descripction card-text shorterTextAuto">{{producto.descripcion }} </p>
    <div>
      <div *ngIf="editaAndEliminar">
      <i class="container__icon bi bi-pencil text-success me-3 mitextcolorpencil" (click)="updateProducto()"></i>
      <i class="container__icon bi bi-trash text-danger mitextcolorpencil" (click)="deleteProducto()"></i>
      </div>
      <span class="link" (click)="goDetail()" *ngIf="!editaAndEliminar">Ver detalle</span>
    </div>
  </div>
</div>
