.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

}

.card__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
margin: 30px 15px 20px;
}
.container__title {
  font-size: 30px;
  margin: 0;
  overflow-wrap: break-word;
  color: var(--gris-oscuro);
}

.container__description {
  margin: 0;
  font-size: 16px;
  overflow-wrap: break-word;
  color: var(--gris-oscuro);
  text-align: justify;
}

.container-inform {
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 730px) {
  app-search {
    width: 100%;
  }

  .search {
    flex-direction: column;
    gap: 20px;
  }
}
