<div class="search mt-5">
    <app-search [placeholderbuscador]="'Buscar...'"
    (textSearch)="onBuscarPalabra($event)">
    </app-search>
    <app-filtro [checkbox]="checkbox" [checkboxfiltro]="true" [checkboxArray]="locations"
    (onArrayCheckboxSelec)="onFiltroChangeCheckbox($event)" [arrayCheckboxSelec]="filtroseleccionadoCheckbox">
    </app-filtro>
</div>
<div class="chip mb-4">
    <app-chip-con-boton-close
    *ngIf="filtroseleccionado"
    [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
    [contenidoChip]="filtroseleccionado.nombrefiltro"
    (onCloseClip)="deleteFilter()"
    >
    </app-chip-con-boton-close>
    <app-chip-con-boton-close
    *ngFor="let  nombre of filtroseleccionadoCheckbox; let i =index"
        [iconoChip]="true"
        [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
        [contenidoChip]="nombre"
        (onCloseClip)="deleteFilterCheckbox(i)"
        >
    </app-chip-con-boton-close>
</div>

<app-not-found *ngIf="showNotFound" [objectName]="userType"></app-not-found>
<div   *ngIf="!showNotFound"class="list overflow-auto d-flex flex-column">
<div class="card" *ngFor="let user of usersFiltered">
    <div class="card__user-info d-flex flex-row">
        <img class="card__image" src="{{user.foto ? user.foto : '/assets/images/avatar-person.svg'}}">
        <div class="container-nombre">
          <span class="card__title" (click)="datosContactoUser(user)">{{user.nombre || user.nombre_completo |
            shorter:shorterNumber}}
          </span>
          <small (click)="goDetail(user)">Detalles</small>
        </div>
        </div>
    </div>
</div>
