<div class="container mycontainer">
    <div class="mycontainer_info">
      <div class="container">
        <div class="container__info">
          <div class="container__detalle">
            <span>
              <h4 class="detail-container__title">Investigador: </h4>
            </span>
            <span>
              <h4 class="container__description1">{{investigador?.nombre_completo}}</h4>
            </span>
          </div>
          <div class="container__detalle">
            <span>
              <h4 class="detail-container__title">Municipio: </h4>
            </span>
            <span>
              <h4 class="container__description1">{{investigador?.municipio && investigador?.departamento ? investigador?.municipio +'-'+ investigador?.departamento:'Sin
              definir'}}
              </h4>
            </span>
          </div>
          <div class="container__detalle">
          <span class="card__description-title link" (click)="sendMessage()" *ngIf="authUserId">
            <i class="bi bi-chat-left-text-fill"></i>
            Enviar un mensaje
          </span>
          </div>
        </div>
        <img class="container__image"
          src="{{investigador?.foto ? investigador.foto : 'assets/images/avatar-person.svg'}}">
      </div>
      <div class="line"></div>
      <div class="detail-container mt-4">
        <img class="detail-container__image" src="assets/icons/phone_msg_black_24dp.svg">
        <div class="detail-container__data">
          <h4 class="detail-container__title">Celular</h4>
          <span class="detail-container__value">{{investigador?.celular? investigador?.celular : 'Contacto sin definir'}}
          </span>
        </div>
      </div>
      <div class="detail-container mt-4">
        <img class="detail-container__image" src="assets/icons/contact_mail_black_24dp.svg">
        <div class="detail-container__data">
          <h4 class="detail-container__title">Correo electrónico</h4>
          <span class="detail-container__value">{{investigador?.email}}</span>
        </div>
      </div>
      <div class="detail-container mt-4">
        <img class="detail-container__image" src="assets/icons/person_pin_circle_black_24dp.svg">
        <div class="detail-container__data">
          <h4 class="detail-container__title">Dirección</h4>
          <span  class="detail-container__value">{{investigador?.direccion ? 'Dir.' + investigador?.direccion : 'Dirección
            indefinida'}} </span>
        </div>
      </div>
      <div class="detail-container mt-4" *ngIf="investigador?.informacion_adicional_direccion">
            <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
                <div class="detail-container__data">
                  <h4 class="detail-container__title">Información adicional de la dirección</h4>
                  <span class="detail-container__value">
                    {{investigador?.informacion_adicional_direccion}}</span>
                </div>
              </div>
      <div class="detail-container mt-4">
        <i class="detail-container__image detail-container__image--2 bi bi-person-fill"></i>
        <div class="detail-container__data">
          <h4 class="detail-container__title">Area de experticia</h4>
          <span class="detail-container__value">{{investigador?.area_experticia ? investigador?.area_experticia : 'No especificada'}}</span>
        </div>
      </div>
    </div>
  </div>

