.container-normatividades{
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-evenly;
&__card{
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
  gap: 30px;
  height: 100%;
}
  .container {
      max-width: 400px;
      height: auto;
      margin: 0;
      padding: 0;
    }
    .container__title {
      text-align: center;
    }

    .container__description {
      text-align: start;
      font-size: 13px;
      line-height: 22px;
      text-align: justify;
      text-justify: inter-word;
    }

    .container__button {
      margin: 0 auto;
      display: inline;
      text-align: center;
      line-height: 34px;
      text-decoration: none;
    }
}

.filters-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    button {
      width: 133px;
    };
}

app-search {
  display: block;
  margin: 30px 15px;
}
app-not-found {
  display: block;
  margin-top: 20px;
}
.urlActiva{
  background-color: var(--azul4) !important;
}

/*  */
.btn-outline-black{
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  color: rgba(0, 0, 0, 0.55) !important;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 2px 2px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.btn-outline-black:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

@media screen and (max-width: 480px) {
.filters-container {
  flex-direction: column;
  align-items: center;
}
}





