<app-search [buscadorpersonalizado]="false" (textSearch)="onSearch($event)"></app-search>
<div class="filters-container">
    <button class="btn-outline-black" routerLink="/normatividad/leyes">Leyes</button>
    <button class="btn-outline-black ms-3" routerLink="/normatividad/decretos">Decretos</button>
    <button class="btn-outline-black ms-3" routerLink="/normatividad/resoluciones">Resoluciones</button>
</div>
<div class="container-normatividades">
    <div class="card container" *ngFor="let normatividad of normatividadesFiltered">
      <h3 class="card-title">{{normatividad.nombre}}</h3>
      <p>{{normatividad.contenido | shorter:164}}</p>
      <a  target="_blank"
           [href]="normatividad.url_descarga">Leer más...</a>
    </div>
</div>
<div class="search-container" *ngIf="normatividadesFiltered.length < 1">
    <div class="search-container__box">
        <img class="search-container__image" src="assets/images/searching.svg">
        <h3>No se han encontrado resultados</h3>
        <p>No encontramos normatividades relacionadas con la busqueda.</p>
    </div>
</div>
<app-footer></app-footer>
