.container-normatividades{
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-evenly;

  .container {
      max-width: 400px;
      height: auto;
      margin: 0;
      padding: 0;
    }
    .container__title {
      text-align: center;
    }

    .container__description {
      text-align: start;
      font-size: 13px;
      line-height: 22px;
      text-align: justify;
      text-justify: inter-word;
    }

    .container__button {
      margin: 0 auto;
      display: inline;
      text-align: center;
      line-height: 34px;
      text-decoration: none;
    }
}

.filters-container{
    display: flex;
    justify-content: center;
    button {
      width: 133px;
    };
}

app-search {
  display: block;
  margin: 30px 15px;
}
app-not-found {
  display: block;
  margin-top: 20px;
}
.urlActiva{
  background-color: var(--azul4);
}
.container-card {
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
  gap: 30px;
  height: 100%;

}
/*  */
.btn-outline-black{
  border-radius: 20px;
  border: 1px solid rgb(0 0 0 / 33%);
  padding: 5px 20px 5px 20px;
  color: rgba(0, 0, 0, 0.55) !important;
}
@media screen and (max-width: 480px) {
.filters-container {
  flex-direction: column;
  gap: 10px;
  align-items: center;
  button {
    width: 133px;
    margin: 0 !important;
  };
}
}





