<app-search class="buscador-container__search" [buscadorpersonalizado]="true"
  [placeholderbuscador]="'Buscar...'" (keyEnterPressData)=" onBuscarPalabra($event)">
</app-search>
<div class="filters-container">
  <button [ngClass]="{'urlActiva':_router.url.includes('/normatividad/leyes')}" class="btn-outline-black"
    [routerLink]="['/normatividad/leyes']">Leyes</button>
  <button class="btn-outline-black ms-3" [ngClass]="{'urlActiva':_router.url.includes('/normatividad/decretos')}"
    [routerLink]="['/normatividad/decretos']">Decretos</button>
  <button class="btn-outline-black ms-3" [ngClass]="{'urlActiva':_router.url.includes('/normatividad/resoluciones')}"
    [routerLink]="['/normatividad/resoluciones']">Resoluciones</button>
</div>
<div class="container-normatividades" *ngIf="normatividadesArray.length > 0">
  <div class="container-card">
    <app-card-normatividad [editaAndEliminar]="false" [data]="{
                    tipo:norma?.tipo,
                    nombre: norma?.nombre,
                    contenido:norma?.contenido,
                     url_descarga:norma.url_descarga
                      }" *ngFor="let norma of normatividadesArray; let i=index">
    </app-card-normatividad>
  </div>
</div>
<app-not-found class="app-not-found" *ngIf="normatividadesArray.length <=0 || showNotFound"
  [message]="'No hay normas asignados'"></app-not-found>
