<div class="container mycontainer">
  <div class="mycontainer_info">
    <div class="container  container-ajuste">
        <div class="container__info">
          <div class="container__detalle">
            <span>
              <h4 class="detail-container__title">Proveedor: </h4>
            </span>
            <span>
              <h4 class="container__description1">{{proveedor?.nombre_completo}}</h4>
            </span>
          </div>
          <div class="container__detalle">
            <span>
              <h4 class="detail-container__title">Municipio: </h4>
            </span>
            <span>
              <h4 class="container__description1">{{proveedor?.municipio}}-{{proveedor?.departamento}}</h4>
            </span>
          </div>
        </div>
      <img class="container__image" src="{{proveedor?.foto ? proveedor.foto : 'assets/images/avatar-person.svg'}}">
    </div>
    <div class="line"></div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/phone_msg_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Celular</h4>
        <span class="detail-container__value">{{proveedor?.celular? proveedor?.celular : 'Contacto sin definir'}}
        </span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/contact_mail_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Correo electrónico</h4>
        <span class="detail-container__value">{{proveedor?.email}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/person_pin_circle_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Dirección</h4>
        <span *ngIf="proveedor?.direccion" class="detail-container__value">{{proveedor?.direccion? 'Dir.' : ''}}
          {{proveedor?.direccion}} </span>
        <span *ngIf="!proveedor?.direccion" class="detail-container__value">Dirección indefinida</span>
      </div>
    </div>
    <div class="detail-container mt-4" *ngIf="proveedor?.informacion_adicional_direccion">
      <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Información adicional de la dirección</h4>
        <span class="detail-container__value">
          {{proveedor.informacion_adicional_direccion}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/elementos-list.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Número de productos en su portafolio </h4>
        <span class="detail-container__value" *ngIf="productosUser?.length== 0 || showErrorDataUser || showNotFoundDataUser">0 productos en
          total</span>
        <span class="detail-container__value" *ngIf="productosUser?.length == 1">{{productosUser?.length}} producto en
          total</span>
        <span class="detail-container__value" *ngIf="productosUser?.length > 1">{{productosUser?.length}} productos en
          total</span>
      </div>
    </div>
  </div>
    <h3 *ngIf="!showErrorDataUser && !showNotFoundDataUser" class="mt-5">Productos</h3>
    <div *ngIf="!showErrorDataUser && !showNotFoundDataUser" class="container-card">
        <div class="card" *ngFor="let producto of productosUser; let i = index">
          <div class="card__img-box">
            <app-carrucel-img *ngIf="producto.fotos.length != 0" [imagenes]="producto.fotos" [indicatorsphoto]="true"
              [idtarge]="i" [rounded]="false" [scale]=true [scaledown]="true">
            </app-carrucel-img>
            <img class="sin-img" src='https://admin.moodyyc.com/img/no-image.png' *ngIf="producto.fotos.length == 0">
          </div>
          <div class="card-body">
            <h5 class="card__title card-title">${{producto.precio | number}}</h5>
            <h5 class="card__sub-title card-title">{{producto.nombreProducto}}</h5>
            <p class="card__descripction card-text">{{producto.descripcion | shorter:20 }} </p>
            <div>
              <span class="link" (click)="goDetail(producto)">Ver detalle</span>
            </div>
          </div>
        </div>
    </div>
</div>
