<div class="container mycontainer">
  <div class="mycontainer_info">
    <div class="container  container-ajuste">
        <div class="container__info">
          <div class="container__detalle">
            <span>
              <h4 class="detail-container__title">Proveedor: </h4>
            </span>
            <span>
              <h4 class="container__description1">{{proveedor?.nombre_completo}}</h4>
            </span>
          </div>
          <div class="container__detalle">
            <span>
              <h4 class="detail-container__title">Municipio: </h4>
            </span>
            <span>
              <h4 class="container__description1">{{proveedor?.municipio}}-{{proveedor?.departamento}}</h4>
            </span>
          </div>
          <div class="container__detalle">
            <span class="card__description-title link" (click)="sendMessage()" *ngIf="authUserId">
              <i class="bi bi-chat-left-text-fill"></i>
              Enviar un mensaje
            </span>
          </div>
        </div>
      <img class="container__image" src="{{proveedor?.foto ? proveedor.foto : 'assets/images/avatar-person.svg'}}">
    </div>
    <div class="line"></div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/phone_msg_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Celular</h4>
        <span class="detail-container__value">{{proveedor?.celular? proveedor?.celular : 'Contacto sin definir'}}
        </span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/contact_mail_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Correo electrónico</h4>
        <span class="detail-container__value">{{proveedor?.email}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/person_pin_circle_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Dirección</h4>
        <span *ngIf="proveedor?.direccion" class="detail-container__value">{{proveedor?.direccion? 'Dir.' : ''}}
          {{proveedor?.direccion}} </span>
        <span *ngIf="!proveedor?.direccion" class="detail-container__value">Dirección indefinida</span>
      </div>
    </div>
    <div class="detail-container mt-4" *ngIf="proveedor?.informacion_adicional_direccion">
      <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Información adicional de la dirección</h4>
        <span class="detail-container__value">
          {{proveedor?.informacion_adicional_direccion}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/elementos-list.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Número de productos en su portafolio </h4>
        <span class="detail-container__value" *ngIf="productosUser?.length== 0 || showErrorDataUser || showNotFoundDataUser">0 productos en
          total</span>
        <span class="detail-container__value" *ngIf="productosUser?.length == 1">{{productosUser?.length}} producto en
          total</span>
        <span class="detail-container__value" *ngIf="productosUser?.length > 1">{{productosUser?.length}} productos en
          total</span>
      </div>
    </div>
  </div>

    <ng-container *ngIf="productosUser?.length > 0 && !showErrorDataUser && !showNotFoundDataUser">
        <h3  class=" mt-5">Productos</h3>
      <div class="container-card">
        <app-card-producto [producto]="producto" [indiceProducto]="i" (onDetalle)="goDetail(producto)"
          *ngFor="let producto of productosUser; let i = index">
        </app-card-producto>
      </div>
    </ng-container>
</div>
