<div class="container">
  <div class="search-container" *ngIf="showNotFound">
    <div class="search-container__box">
      <img class="search-container__image" src="assets/images/searching.svg">
      <h3>No se han encontrado resultados</h3>
      <p>Aun no has registrado los productos que vendes.</p>
    </div>
  </div>
  <div class="container-table-pagination" *ngIf="!showNotFound">
    <table class="table mt-40">
        <thead class="table-light micolortablelight">
          <tr>
            <th>Nombre de producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos |  paginate: { itemsPerPage: 3, currentPage: p }; let i=index">
            <td class="colortextoproducto">{{producto.nombreProducto | shorter:25}}</td>
            <td class="colortextoproducto">{{producto.descripcion | shorter:20}}</td>
            <td class="colortextoproducto">{{producto.precio}}</td>
            <td>
                <div class="container-row">
                    <i class="container__icon bi bi-pencil text-success me-3 mitextcolorpencil" (click)="updateProducto(producto)"></i>
                    <i class="container__icon bi bi-trash text-danger mitextcolortrash" (click)="deleteProducto(producto.codigo)"></i>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- https://www.npmjs.com/package/ngx-pagination -->
      <pagination-controls
                         *ngIf="!showNotFound"
                          class="my-paginationn"
                         (pageChange)="p = $event"
                          previousLabel="Anterior"
                          nextLabel="Siguiente"
      ></pagination-controls>
  </div>
  <button class="btn-outline-blue button" (click)="addProducto() ">Agregar nuevo producto</button>
</div>

