.container-row{
    display: flex;
    justify-content: stretch;
}

.container_img{
    width: 100px;
    height: 100px;
}

.button{
    width: 200px;
    align-self: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.container__icon{
    cursor: pointer;
}