
.container-card {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh
}
