<div class="container">
<table class="table mt-40">
    <thead class="table-light">
      <tr>
        <th>Imagen</th>
        <th>Nombre de producto</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td><img class="container_img" [src]="producto.imagen"></td>
        <td>{{producto.nombreProducto}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>
            <div class="container-row">
                <i class="container__icon bi bi-pencil text-success me-3"></i>
                <i class="container__icon bi bi-trash text-danger"></i>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn-outline-blue button">Agregar nuevo producto</button>
</div>