.container-row{
    display: flex;
    justify-content: stretch;
}
.modalmytitle{
 color: var(--gris-oscuro);
}
.container_img{
    width: 160px;
    height: 130px;
    object-fit: cover;
}
.table> :not(:first-child) {
  border-top: 2px solid var(--gris-oscuro);
}
.colortextoproducto{
  color: var(--gris6);
}
.imgproductotd{
  width: 150px;
  height: 150px;
}
.imgproductotd>img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.button{
    width: 200px;
    align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  overflow-x: scroll;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container__icon{
    cursor: pointer;
}
.btn-outline-dark {
color: var(--azul1);;
  border-color: var(--azul1);;
}

.mitexcolor{
color: var(--gris-oscuro) !important;
}
.mitextcolortrash{
  color: var(--azul1) !important;
}
.mitextcolorpencil{
  color: var(--azul1) !important;
}
.micolortablelight{
  color: var(--gris-oscuro) !important;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: var(--azul1);
  border-color: var(--azul1);
}
.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
  width: 80vw;
  max-height: 350px;
}

.modal__image{
    width: 160px;
    height: 130px;
    object-fit: cover;
    display: block;
}

.modal__box{
    display: flex;
    flex-direction: column;
}

.container__btn{
    width: 100px;
    height: 38px;
}

.container__spinner{
    width: 20px;
    height: 20px;
}
.container-table-pagination {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
button:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}
@media screen and (min-width: 1000px) {
  .container-table-pagination {
    width: 100% !important;
  }
}

