

  <div>
    <div class="d-flex flex-row justify-content-between mt-3 myAjusteModal">
    <div class="modal-body">
      <form [formGroup]="form" *ngIf="modalMode == 'update'" autocomplete="off">
        <div class="mb-3">
          <label for="dateOfBirth">Título</label>
          <div class="input-group">
            <input id="productName" class="form-control" placeholder="Título del resumen de los miembros" formControlName="titulo">
          </div>
          <div *ngIf="invalid('titulo')" class="container__alert-msg danger-message">
            <div *ngIf="titulo?.errors?.['required'] || titulo?.errors?.['whiteSpace']">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth">Descripción</label>
          <div class="input-group">
            <textarea id="productName" class="form-control" name="textarea" rows="5" cols="50"
              placeholder="Resumen de los miembros" formControlName="descripcion"></textarea>
          </div>
          <div *ngIf="invalid('descripcion')" class="container__alert-msg danger-message">
            <div *ngIf="descripcion?.errors?.['required'] || descripcion?.errors?.['whiteSpace']">
              Campo requerido
            </div>
          </div>
        </div>
      </form>
      <div class="paragraph" *ngIf="modalMode == 'visualice'" >
          <h3 class="title">{{datosConocenos?.titulo}}</h3>
          <span class="paragraph-containe presaltoLinear">{{datosConocenos?.descripcion}}</span>
          <button type="button" class="btn-rounded btn--blue container__btn" (click)="EditionParagraph()">
            <span>Editar</span>
          </button>
          </div>
          </div>
    <div class="modal-footer" *ngIf="modalMode == 'update'">
      <div class="d-flex flex-direction-row justify-content-center align-items-center d-flex-button-footer">
        <button [disabled]="loading || !form.valid" type="button" class="btn-rounded btn--grey container__btn container__btn--azul"
          (click)="updateData()" *ngIf="modalMode=='update'">
          <span *ngIf="!loading">Actualizar</span>
          <div class="container__spinner spinner-border" role="status" *ngIf="loading"></div>
        </button>
        <button type="button" class="btn-rounded btn--blue container__btn" (click)="cancelingEdition()">
          <span>Cancelar</span>
        </button>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="container-card" *ngIf="equipoTrabajo.length > 0 ">
      <app-card-general-tres-d
      [editaAndEliminar]="modalMode == 'visualice'"
      [dato]="{
        titulo:miembro?.nombres +' '+ miembro?.apellidos,
        subTitle:[
        {titulo:'Cargo: ',detail: miembro?.cargo},
        {titulo:'Nacido (a): ',detail: locationData(miembro)}
        ],
        descripcion:miembro?.descripcion,
        imagen:miembro?.imagen,
        arrayEnlaces:miembro.arrayEnlaces
      }"
      (onUpdateCard)="editarData(miembro.id)"
      (onDeleteCard)="deleteMiembro(miembro.id,miembro?.nombres,miembro.imagen,i )"
      *ngFor="let miembro of equipoTrabajo; let i=index">
      </app-card-general-tres-d>
    </div>
    <app-not-found class="app-not-found" *ngIf="showNotFound" [message]="'No hay miembros asignados'"></app-not-found>

<app-basic-floating-btn *ngIf="modalMode == 'visualice'"  [tooltip]="'Crear un miembro'" [agregar]="true" (click)="openFormCrear()">
</app-basic-floating-btn>


