.data-container {
  display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.data-container__div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: center;
  width: max-content;
  margin-left: 0;
  margin-right: 0;
}

.container__icon {
  width: 40px;
  height: 40px;
}

.container__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.container__title {
  font-size: 20px;
}

.container__description {
  align-self: flex-start;
}

.container__title--color-morado {
  color: var(--morado);
}

.container__title--color-blue {
  color: var(--azul1);
}

.container__title--color-blue-2 {
  color: var(--azul2);
}

.filters-container {
  margin-bottom: 90px;
}

.filters-container__button {
  margin-right: 10px;
}

.card__icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.card__icon_info_windows {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.container__app-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* mi estilo targeta nuevo map */
.container-map-car {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.row-map-cart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

.row-map-cart>div {
  width: 100%;
}

div.container-map-car>div>div:nth-child(1) {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sticky-top {
  z-index: 1;
  height: auto;
  padding-top: 80px;
}

.mapgoogle {
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  max-width: 400px;
  width: 80vw;
  background-color: gainsboro;
  border: 2px solid rgb(0 0 0 / 51%);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
}

/* estilo infomap */
.myestilo-map-info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon_info_windows {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

@keyframes pulsate {

  0%,
  to {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}

.buscadoryfiltro {
  display: flex;
    flex-direction: column;
    margin-top: 10px;

  .buscador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
  }

  .alert-mi-estilo-filtro {
    margin-bottom: 0;
    width: 79%;
    background-color: var(--azul4);
    color: black;
  }

  .alert-mi-estilo {
    margin-bottom: 0;
    width: 100%;
    background-color: var(--azul4);
    color: black;
  }
}

.buscador-container__search {
  width: 100%;
}
app-card-piscicultor {
  width: fit-content;
  display: block;
}
.details_info_windo {
  padding: 0;
  top: 0;
  list-style: none;
  bottom: 0;
  margin: auto;
  transition: left 0.2s;
  ;
  color: black;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
  cursor: pointer;
}

.detais {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1100px) {
  .mYstiledivmap {
display: block;
  width: 100%;
  }

  .container-map-car {
          padding: 30px;
            padding-top: 0 !important;
        justify-content: space-evenly;
        align-items: normal;
        flex-direction: row;
        width: 100%;
        gap: 38px;
  }

  .photo--verMapa {
    display: none;
  }

  .row-map-cart {
    margin-right: 0 !important;
      margin-left: 0 !important;
      padding-right: 0px;
      padding-left: 0px;
      justify-content: flex-start;
      width: 50%;
  }

  div.container-map-car>div>div:nth-child(1) {
    /* padding-top: 80px; */
      top: 80px;
      padding-bottom: 0;
      width: 100%;
      max-width: 100%;
  }

  .mapgoogle {
  width: 100%;
    max-width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 38vw !important;
  }
}

@media screen and (min-width: 770px) {
  .buscador-container {
    flex-direction: row !important;
  }
  .buscador-container__search {
    width: auto;
  }
}

@media screen and (min-width: 580px) {
  .data-container__div {
    flex-direction: row;
    width: 100%;
    gap: 0;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .container__description {
    align-self: center;
  }
}
@media screen and (min-width: 500px) {
  .mapgoogle {
    height: 400px;
    /* width: 400px; */
  }
}
@media screen and (min-width: 400px) {
  .mapgoogle {
    height: 350px;
    /* width: 350px; */
  }
}
@media screen and (max-width: 350px) {
  .mapgoogle {
    height: 85vw;
    /* width: 80vw; */
  }
}
