<div class="data-container" *ngIf="piscicultores.length > 0">
    <div class="container">
        <img class="container__icon" src="assets/icons/build.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue">Municipio</h3>
            <span class="container__description">{{piscicultores[0].municipio}}</span>    
        </div>
    </div>
    
    <div class="container">
        <img class="container__icon" src="assets/icons/group-circle-solid.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-morado">Población</h3>
            <span class="container__description">33.688</span>    
        </div>
    </div>
    
    <div class="container">
        <img class="container__icon" src="assets/icons/fish.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue-2"># piscicultores</h3>
            <span class="container__description">{{piscicultores.length}}</span>    
        </div>
    </div>    
</div>

<div class="piscicultores-container">
    <div class="cards-container overflow-auto">
        <div class="card" *ngFor="let piscicultor of piscicultores; index as i" (mouseover)="onMouseCard(i)">
            <img class="card__image" src="/assets/images/avatar-person-square.png" routerLink="/piscicultores/municipio/detalle">
            
            <div class="card-box">
                <h3 class="card__title">{{piscicultor.nombre}}</h3>
                <span class="card__title2">{{piscicultor.nombre_asociacion}}</span>
                <div>
                    <img class="card__icon" src="assets/icons/whatsapp.svg">
                    <span class="card__phone">{{piscicultor.celular}}</span>
                </div>            
                <span class="card__description1">{{piscicultor.direccion}}</span>
                <span class="card__description2">{{piscicultor.municipio}}</span>
            </div>
            
        </div>
    </div>

    <div *ngIf="apiLoaded | async">
        <google-map [options]="options" width="800px" height="600px">
            <map-marker *ngFor="let markerInfo of markersInfo; index as i" [position]="markerInfo.markerPosition" [options]="markerOptions"  [title]="markerInfo.title" icon="{{ i == indexSelected ? 'assets/icons/person-solid-red.svg' : 'assets/icons/person-outline.svg' }}"></map-marker>
        </google-map>
    </div>
</div>
