.data-container{
    display:flex;
    margin-top: 77px;
    justify-content: center;
}
.container{
    display:flex;
    justify-content: center;
}

.container__icon{
    width:40px;
    height:40px;
}

.container__info{
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.container__title{
    font-size: 20px;
}

.container__description{
    align-self: center;
}

.container__title--color-morado{
    color:var(--morado)
}

.container__title--color-blue{
    color:var(--azul1)
}

.container__title--color-blue-2{
    color:var(--azul2)
}

.filters-container{
    margin-bottom: 90px;
}

.filters-container__button{
    margin-right: 10px;
}

.card__icon{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.card__icon_info_windows{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}
.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.search-container__image {
  width: 1024px;
  height: 370px;
}
.search-container__box{
    text-align: center;
}
/* mi estilo targeta nuevo map */
.container-map-car {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.row-map-cart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.row-map-cart>div{
  width: 100%;
}
div.container-map-car>div>div:nth-child(1) {
  padding-top: 80px;
}
.mYstiledivmap {
  margin-left: 30px;
}
.sticky-top {
  z-index: 1;
  height: auto;
  padding-top: 80px;
}
.mapgoogle {
  /* border: 2px solid #6c6c6c; */
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 650px;
  width: 785px;
  background-color: gainsboro;
  border: 2px solid rgb(0 0 0 / 51%);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);

}

/* estilo infomap */
.myestilo-map-info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon_info_windows {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}


@keyframes pulsate {
  0%,
  to {
    transform: scale(1)
  }

  50% {
    transform: scale(.9)
  }
}


