<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-search (textSearch)="onSearch($event)"></app-search>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active"
        id="home-tab" data-bs-toggle="tab"
        data-bs-target="#home-tab-pane"
         type="button" role="tab"
         aria-controls="home-tab-pane"
         aria-selected="true"
         (click)="selectedTab = 'piscicultores'">Piscicultores</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile-tab-pane"
        type="button" role="tab"
        aria-controls="profile-tab-pane"
         aria-selected="false"
          (click)="selectedTab = 'pescadores'">Pescadores</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <div class="list overflow-auto d-flex flex-column">
              <div class="card" *ngFor="let piscicultor of piscicultoresFiltered">
                  <div class="card__user-info d-flex flex-row" (click)="navigateDetalle(piscicultor)">
                      <img class="card__image" src="{{piscicultor.foto ? piscicultor.foto : '/assets/images/avatar-person.svg'}}">
                      <span class="card__title">{{piscicultor.nombres}}</span>
                  </div>

                  <button class="card__button btn-square btn--grey" (click)="invitarAnular(piscicultor)" *ngIf="piscicultor.estado_solicitud == 'Enviada' && piscicultor.solicitud_enviada_por == 'asociacion'">Anular</button>
                  <button class="card__button btn-square btn--blue" (click)="invitarAnular(piscicultor)" *ngIf="piscicultor.estado_solicitud == 'Enviada' && piscicultor.solicitud_enviada_por == 'usuario'">Confirmar</button>
                  <button class="card__button btn-square  btn--blue" (click)="invitarAnular(piscicultor)" *ngIf="!piscicultor.estado_solicitud">Invitar</button>
                  <div class="btn-group" *ngIf="piscicultor.estado_solicitud == 'Aceptada'">
                    <button class="card__button btn-square btn--grey dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Miembro</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li (click)="invitarAnular(piscicultor)"><a class="dropdown-item"><i class="bi bi-trash3"></i> Eliminar</a></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <div class="list overflow-auto d-flex flex-column">
              <div class="card" *ngFor="let pescador of pescadoresFiltered">
                  <div class="card__user-info d-flex flex-row" (click)="navigateDetalle(pescador)">
                      <img class="card__image" src="{{pescador.foto ? pescador.foto : '/assets/images/avatar-person.svg'}}">
                      <span class="card__title">{{pescador.nombres}}</span>
                  </div>
                  <button class="card__button btn-square btn--grey" (click)="invitarAnular(pescador)" *ngIf="pescador.estado_solicitud == 'Enviada' && pescador.solicitud_enviada_por == 'asociacion'">Anular</button>
                  <button class="card__button btn-square btn--blue" (click)="invitarAnular(pescador)" *ngIf="pescador.estado_solicitud == 'Enviada' && pescador.solicitud_enviada_por == 'usuario'">Confirmar</button>
                  <button class="card__button btn-square btn--blue" (click)="invitarAnular(pescador)" *ngIf="!pescador.estado_solicitud">Invitar</button>
                  <div class="btn-group" *ngIf="pescador.estado_solicitud == 'Aceptada'">
                    <button class="card__button btn-square btn--grey dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Miembro</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li (click)="invitarAnular(pescador)"><a class="dropdown-item"><i class="bi bi-trash3"></i> Eliminar</a></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
  </div>
