<div class="search mt-5">
    <app-search [placeholderbuscador]="'Buscar granja...'"
    (textSearch)="onBuscarPalabra($event)">
    </app-search>
    <app-modal-multi-filters
    [radioFilter1]="orderFilters"
    [chipFilter1]="starsFilter"
     [checkboxOptions]="municipios"
    [checkArray]="filtroseleccionadoCheckbox"
     [deleteChipFilter1]="selectedOrderFilter"
     [deleteRadioFilter1]="selectedStarFilter "
     (filtersAplied)="onFiltersAplied($event)"></app-modal-multi-filters>
</div>
<div class="chip mb-4">
    <app-chip-con-boton-close class="chip__element"
    *ngIf="selectedOrderFilter"
    [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
    [contenidoChip]="selectedOrderFilter.nombrefiltro"
    (onCloseClip)="deleteOrderFilter()"
    >
    </app-chip-con-boton-close>
    <app-chip-con-boton-close class="chip__element"
    *ngIf="selectedStarFilter"
    [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
    [contenidoChip]="selectedStarFilter.nombrefiltro + ' ('+ granjasFiltered.length +')'"
    (onCloseClip)="deleteStarFilter()"
    >
    </app-chip-con-boton-close>
    <app-chip-con-boton-close class="chip__element"
    *ngFor="let  resultado of resultFiltroPorMunicipio; let i =index"
        [iconoChip]="true"
        [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
        [contenidoChip]="resultado.nombre +' '+ resultado.datos.length"
        (onCloseClip)="deleteFilterCheckbox(i)"
        >
    </app-chip-con-boton-close>
</div>
<app-not-found *ngIf="showNotFound" objectName="granjas"></app-not-found>
<div class="list overflow-auto d-flex flex-column" *ngIf="!showNotFound" >
<div class="card" *ngFor="let granja of granjasFiltered">
    <div class="card__row" >
        <div class="card__item">
            <img class="card__image" src="{{granja.imagen ? granja.imagen : '/assets/images/avatar-person.svg'}}">
                  <div class="container-nombre shorterTextOverflowHidden">
                    <span class="card__title shorterTextAuto" (click)="datosContactoUser(granja)">{{granja.nombre}}</span>
                    <small (click)="goDetail(granja)">{{granja?.municipio? granja?.municipio: 'Sin municipio'}}</small>
                  </div>
        </div>
    </div>
</div>
