<div class="search mt-5">
    <app-search [placeholderbuscador]="'Buscar granja...'"
    (textSearch)="onBuscarPalabra($event)">
    </app-search>
    <app-modal-multi-filters
    [radioFilter1]="orderFilters"
    [chipFilter1]="starsFilter"
     [checkboxOptions]="municipios"
    [checkArray]="filtroseleccionadoCheckbox"
     [deleteChipFilter1]="selectedOrderFilter"
     [deleteRadioFilter1]="selectedStarFilter "
     (filtersAplied)="onFiltersAplied($event)"></app-modal-multi-filters>
</div>
<div class="chip mb-4">
    <app-chip-con-boton-close class="chip__element"
    *ngIf="selectedOrderFilter"
    [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
    [contenidoChip]="selectedOrderFilter.nombrefiltro"
    (onCloseClip)="deleteOrderFilter()"
    >
    </app-chip-con-boton-close>
    <app-chip-con-boton-close class="chip__element"
    *ngIf="selectedStarFilter"
    [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
    [contenidoChip]="selectedStarFilter.nombrefiltro + ' ('+ granjasFiltered.length +')'"
    (onCloseClip)="deleteStarFilter()"
    >
    </app-chip-con-boton-close>
    <app-chip-con-boton-close class="chip__element"
    *ngFor="let  resultado of resultFiltroPorMunicipio; let i =index"
        [iconoChip]="true"
        [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
        [contenidoChip]="resultado.nombre +' '+ resultado.datos.length"
        (onCloseClip)="deleteFilterCheckbox(i)"
        >
    </app-chip-con-boton-close>
</div>
<app-not-found *ngIf="showNotFound" objectName="granjas"></app-not-found>
<div  class="container-card" *ngIf="!showNotFound">
  <app-card-granjas [granja]="granja"
    [favorita]="granja?.favorita"
    [botonFavorito]="botonFavori"
    [resena]="granja?.count_resenas"
    *ngFor="let granja of granjasFiltered; let i = index" [index]="i"
    (onDetalle)="goDetailFarm(granja)"
    (onChangeFavorite)="changeFavorite(i)"
    (onShowResenas)="showResenas(granja?.id_granja)"
     [botonMapaFijo]="false">
  </app-card-granjas>
</div>
<!-- <div class="list overflow-auto d-flex flex-column" *ngIf="!showNotFound" >
<div class="card" *ngFor="let granja of granjasFiltered">
    <div class="card__row" (click)="datosContactoUser(granja)">
        <div class="card__item">
            <img class="card__image" src="{{granja.imagen ? granja.imagen : '/assets/images/avatar-person.svg'}}">
                  <div class="container-nombre shorterTextOverflowHidden">
                    <span class="card__title shorterTextAuto" >{{granja.nombre}}</span>
                    <small>{{granja?.municipio? granja?.municipio: 'Sin municipio'}}</small>
                  </div>
        </div>
    </div>
</div>
</div> -->
