<div>
    <div class="d-flex flex-row justify-content-between">
      <h4 class="modal-title" id="modal-basic-title" *ngIf="formState=='enable'">{{modalMode == 'create' ? 'Nueva publicacion'
        : 'Actualizar publicación'}}</h4>
    </div>

    <div class="modal-body">
      <form [formGroup]="form" autocomplete="off">
          <div class="mb-3">
            <label for="dateOfBirth">Título</label>
            <div class="input-group">
              <input id="productName" class="form-control" placeholder="Título publicación" formControlName="titulo">
            </div>
            <div *ngIf="invalid('titulo')" class="container__alert-msg danger-message">
              <div *ngIf="titulo?.errors?.['required']">
                Campo requerido
              </div>
            </div>
          </div>
        <div class="mb-3">
            <span class="container__title">Especie</span>
            <div>
              <select class="form-control" formControlName='id_especie'>
                <optgroup label="Escoge una especie">
                  <option *ngFor="let especie of especies" [ngValue]="especie.id_especie">{{especie.nombre}}
                  </option>
                </optgroup>
              </select>
            </div>
            <div *ngIf="invalid('id_especie')" class="container__alert-msg danger-message">
              <div *ngIf="idEspecie?.errors?.['required']">
                Campo requerido
              </div>
            </div>
          </div>

        <div class="mb-3">
          <label for="dateOfBirth">Cantidad(Kg)</label>
          <div class="input-group">
            <input id="productName" type="number" min="0" class="form-control" placeholder="Cantidad disponible"
              formControlName="cantidad" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
          </div>
          <div *ngIf="invalid('cantidad')" class="container__alert-msg danger-message">
            <div *ngIf="cantidad?.errors?.['required']">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth">Precio(COP)</label>
          <div class="input-group">
            <input id="productName" type="number" min="0" class="form-control" placeholder="Precio por kilogramo"
              formControlName="preciokilogramo"
              onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
          </div>
          <div *ngIf="invalid('preciokilogramo')" class="container__alert-msg danger-message">
            <div *ngIf="precio?.errors?.['required']">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth">Descripción</label>
          <div class="input-group">
            <textarea id="productName" class="form-control" name="textarea" rows="5" cols="50" placeholder="Descripción publicación"
              formControlName="descripcion">Write something here</textarea>
          </div>
          <div *ngIf="invalid('descripcion')" class="container__alert-msg danger-message">
            <div *ngIf="descripcion?.errors?.['required']">
              Campo requerido
            </div>
          </div>
        </div>
        <div *ngIf="action_dos =='soloVer' && formState=='disable'">
          <div class="mb-3">
            <label for="dateOfBirth">Remitente</label>
            <div class="input-group">
              <input [disabled]="true"  type="text" class="form-control" [value]="remitente">
            </div>
          </div>
          <div class="mb-3">
            <label for="dateOfBirth">Municipio del remitente</label>
            <div class="input-group">
              <input [disabled]="true"  type="text" class="form-control" [value]="municipioRemitente ">
            </div>
          </div>
        </div>
        <!-- Fotos mini -->
        <app-fotos-mini-detalle-form (onDetalle)="openPhotosModal()" *ngIf="photosPublicacionArray && photosPublicacionArray.length > 0"
          [loadingphoto]="loadingphoto" [modalMode]="modalMode" [fotos]="photosPublicacionArray">
        </app-fotos-mini-detalle-form>
        <div class="clasfotoMiniyBoton" *ngIf="photosPublicacionArray.length <= 0 && formState=='enable'">
            <div type="button" class="btn btn-primary container__btn--azul1"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            (click)="openPhotosModal()" *ngIf="photosPublicacionArray.length == 0 ">
            <div>
                <img src="assets/icons/file_upload_black_24dp.svg">
                <span>
                Subir Fotos
                </span>
            </div>
            </div>
        </div>
        <span class="link" (click)="sendMessage()" *ngIf="authUser?.rol=='Comerciante'">Enviar mensaje</span>
    </form>
    </div>
    <div class="modal-footer">
      <div class="d-flex flex-direction-row justify-content-center align-items-center d-flex-button-footer">
        <button [disabled]="loading1" type="button"  class="btn-rounded btn--blue container__btn"
         (click)="addPublicacion()" *ngIf="modalMode=='create' && formState=='enable'">
          <span *ngIf="!loading1">Guardar</span>
          <div class="container__spinner spinner-border" role="status" *ngIf="loading1">
          </div>
        </button>
        <button [disabled]="loading1" type="button"  class="btn-rounded btn--blue container__btn"
          (click)="updatePublicacion()" *ngIf="modalMode=='update' && formState=='enable'">
          <span *ngIf="!loading1">Actualizar</span>
          <div class="container__spinner spinner-border" role="status" *ngIf="loading1">
          </div>
        </button>
        <button type="button"class="btn-rounded btn--grey container__btn container__btn--azul" (click)="goBack()">
          <span>Atrás</span>
        </button>
      </div>
    </div>
  </div>
