<div class="container">
    <div class="container-form">
        <img class="container__logo" src="assets/images/logo.svg">
        <span class="container__title">{{title}}</span>
        <p class="container__paragraph" *ngIf="message != ''">{{message}}</p>
        <span class="container__desc">{{callToAction}}</span>
        <div class="container-box">
                <button class="container-form__button btn-rounded-blue" type="submit" routerLink="/home">
                <span>{{btnName}}</span>
            </button>
        </div>        
</div>
</div>
    