 .footerheadermodal{
    padding: 10px;
  }
    .textocolormodal {
      color: var(--gris-oscuro) !important;
    }

    .colorresourceld {
      color: var(--azul1) !important;
    }

    .coloraceptar {
      border: var(--azul1) !important;
      ;
      background-color: var(--azul1) !important;
    }
