<div class="container-proyecto">
    <section>
        <div class="container-section">
            <div class="container-fluid container-fluid--edit">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="title">Dory web versión móvil</h3>
                        <p class="description mt-1">La Plataforma <b>Web DORY </b>, esta pensada y disefiada para
                            facilitar a los usuarios del
                            departamento de Sucre una
                            herramienta con items bien definidos de consulta e informacién suministrada acerca del
                            sector piscicola y de los
                            servicios que la misma ofrece. Por eso hoy, te invitamos descagar y disfruta de <b>Web DORY
                            </b> en tu
                            sistema operativo <b> Android</b>
                        </p>
                    </div>
                    <div class="col-xs-12 text-xs-center mb-3 mt-3 ">
                        <img class="img-fluid imgmovil" style="width:15%; margin-bottom: 27px;" src="assets/images/movil-dory-web.svg"
                            alt="Downloader">
                    </div>
                    <div class="col-xs-12 row__download">
                        <ng-container *ngTemplateOutlet="Buttondownload;context:datosboton[0]"></ng-container>
                    </div>
                    <div class="row__manuales">
                        <div class="row__manuales--install">
                            <div>
                                <h3 class="title" style="text-align: center;">Manual de instalación</h3>
                                <p class="description mt-1 mb-5">El presente manual te guiará durante todo el proceso de
                                    instalación del
                                    App DORY. Los indicativos aquí presentes
                                    son muy concisos, intuitiva y fácil de comprender. Antes de iniciar, verificar si tu
                                    computadora cumple
                                    con todo los
                                    requisitos del sistema.</p>
                            </div>
                            <ng-container *ngTemplateOutlet="Buttondownload;context:datosboton[1]"></ng-container>
                        </div>
                        <div class="row__manuales--uso">
                            <div>
                                <h3 class="title" style="text-align: center;">Manual de uso </h3>
                                <p class="description mt-1 mb-5">El presente manual será tú guía para obtener un
                                    correcto uso de las
                                    distintas herramientas y productos que ofrece la
                                    plataforma DORY. Los indicativos aquí presentes son muy concisos, intuitiva y fácil
                                    de comprender.</p>
                            </div>
                            <ng-container *ngTemplateOutlet="Buttondownload;context:datosboton[2]"></ng-container>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
<ng-template #Buttondownload let-title="title" let-icon="icon" let-url="url">
    <div class="caja-download">
        <a class="btn btn-primary btn-lg  mb-1 w-100" [href]="url" role="button" aria-disabled="true">
            <img [src]="icon" class="icon-download">
            <div class="text-xs-left"><span class="font-weight-bold">{{title}}</span>
            </div>
        </a>
    </div>
</ng-template>
