<div class="container mycontainer">
  <div class="mycontainer_info">
    <div class="container">
      <div class="container__info">
        <div class="container__detalle">
          <span>
            <h4 class="detail-container__title">Consumidor: </h4>
          </span>
          <span>
            <h4 class="container__description1">{{consumidor?.nombre_completo}}</h4>
          </span>
        </div>
        <div class="container__detalle">
          <span>
            <h4 class="detail-container__title">Municipio: </h4>
          </span>
          <span>
            <h4 class="container__description1">{{consumidor?.municipio && consumidor?.departamento ? consumidor?.municipio +'-'+ consumidor?.departamento:'Sin
            definir'}}</h4>
          </span>
        </div>
        <div class="container__detalle">
          <span class="card__description-title link" (click)="sendMessage()" *ngIf="authUserId">
            <i class="bi bi-chat-left-text-fill"></i>
            Enviar un mensaje
          </span>
        </div>
      </div>
      <img class="container__image"
        src="{{consumidor?.foto ? consumidor.foto : 'assets/images/avatar-person.svg'}}">
    </div>
    <div class="line"></div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/phone_msg_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Celular</h4>
        <span class="detail-container__value">{{consumidor?.celular? consumidor?.celular : 'Número no asignado'}}
        </span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/contact_mail_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Correo electrónico</h4>
        <span class="detail-container__value">{{consumidor?.email}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/person_pin_circle_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Dirección</h4>
        <span class="detail-container__value">{{consumidor?.direccion ? 'Dir.' + consumidor?.direccion : 'Dirección
          indefinida'}}</span>
      </div>
    </div>
    <div class="detail-container mt-4" >
      <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Información adicional de la dirección</h4>
        <span class="detail-container__value">
          {{consumidor?.informacion_adicional_direccion ? consumidor?.informacion_adicional_direccion : 'Información no espesificada'}}</span>
      </div>
    </div>
  </div>
</div>
