<div style="margin: 20px 0;">
  <div class="d-flex flex-row justify-content-between mt-3">
    <h4 class="modal-title" id="modal-basic-title">{{modalMode == 'create' ? 'Nuevo Producto' : 'Actualizar Producto'}}
    </h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off">
      <div class="mb-3">
        <label for="dateOfBirth">Nombre <span class="asterisk">*</span></label>
        <div class="input-group">
          <input id="productName" class="form-control" placeholder="Nombre" formControlName="nombreProducto">
        </div>
        <div *ngIf="invalid('nombreProducto')" class="container__alert-msg danger-message">
          <div *ngIf="nombreProducto?.errors?.['required'] || nombreProducto?.errors?.['whiteSpace']">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Descripción <span class="asterisk">*</span></label>
        <div class="input-group">
          <textarea id="productName" class="form-control" name="textarea" rows="5" cols="50" placeholder="Descripción"
            formControlName="descripcion">Write something here</textarea>
        </div>
        <div *ngIf="invalid('descripcion')" class="container__alert-msg danger-message">
          <div *ngIf="descripcion?.errors?.['required'] || descripcion?.errors?.['whiteSpace']">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Precio <span class="asterisk">*</span></label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input id="productName" type="number" min="0" class="form-control" placeholder="Ej. 50000"
            formControlName="precio"
            onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
        </div>
        <div *ngIf="invalid('precio')" class="container__alert-msg danger-message">
          <div *ngIf="precio?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>
      <!-- Fotos mini -->
        <app-fotos-mini-detalle-form (onDetalle)="openPhotosModal()" *ngIf="photosProducArray.length > 0"
          [loadingphoto]="loadingphoto" [modalMode]="modalMode" [fotos]="photosProducArray">
        </app-fotos-mini-detalle-form>
      <div class="mb-5 clasfotoMiniyBoton" *ngIf="photosProducArray.length <= 0">
        <button [disabled]="loading" type="button" class="btn btn-primary container__btn--azul1"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          (click)="openPhotosModal()" *ngIf="photosProducArray.length == 0 ">
          <div>
            <img src="assets/icons/file_upload_black_24dp.svg">
            <span>
              Subir Fotos
            </span>
          </div>
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-direction-row justify-content-center align-items-center d-flex-button-footer">
      <button [disabled]="loading || !form.valid" type="button" class="btn-rounded btn--blue container__btn"
        (click)="addProducto()" *ngIf="modalMode=='create'">
        <span *ngIf="!loading">Guardar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading">
        </div>
      </button>
      <button [disabled]="loading || !form.valid" type="button" class="btn-rounded btn--blue container__btn"
        (click)="updateProducto()" *ngIf="modalMode=='update'">
        <span *ngIf="!loading">Actualizar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading">
        </div>
      </button>
      <button type="button" class="btn-rounded btn--grey container__btn container__btn--azul" (click)="goBack()">
        <span>Atrás</span>
      </button>
    </div>
  </div>
</div>
