<div class="container mycontainer">
  <div class="mycontainer_info">
    <div class="piscicultor-container">
      <div class="piscicultor-container__info">
        <div class="piscicultor-container__detalle">
              <span>
                <h4 class="detail-container__title">Piscicultor: </h4>
              </span>
              <span>
               <!--  <img class="detail-container__image" src="assets/icons/person_black.svg"> -->
                <h4 class="piscicultor-container__title">{{piscicultor?.nombre_completo}}</h4>
              </span>
             <!--  <img class="detail-container__image" src="assets/icons/person_black.svg">
            <h3 class="piscicultor-container__title">Piscicultor - {{piscicultor?.nombre_completo}} </h3> -->
        </div>
        <div class="piscicultor-container__detalle">
          <span>
            <h4 class="detail-container__title">Municipio: </h4>
          </span>
          <span>
            <!--  <img class="detail-container__image" src="assets/icons/person_black.svg"> -->
            <h4 class="piscicultor-container__title">{{piscicultor?.municipio}}, {{piscicultor?.departamento}}</h4>
          </span>
        </div>
      </div>
      <img class="piscicultor-container__image"
        src="{{piscicultor?.foto ? piscicultor?.foto : 'assets/images/avatar-person.svg'}}">
    </div>
    <div class="line"></div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/phone_msg_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Celular</h4>
        <span class="detail-container__value">{{piscicultor?.celular? piscicultor?.celular : 'Contacto sin definir'}} </span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/contact_mail_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Correo electrónico</h4>
        <span class="detail-container__value">{{piscicultor?.email}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/person_pin_circle_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Dirección</h4>
        <span *ngIf="piscicultor?.direccion"class="detail-container__value">{{piscicultor?.direccion? 'Dir.' : ''}}
        {{piscicultor?.direccion}} </span>
        <span *ngIf="!piscicultor?.direccion" class="detail-container__value">Dirección indefinida</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/venus-mars-solid.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Sexo</h4>
        <span class="detail-container__value">{{piscicultor?.sexo ? piscicultor?.sexo : 'No especificado'}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/handshake-solid.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Población diferencial</h4>
        <span class="detail-container__value">{{piscicultor?.etnia ? piscicultor?.etnia : 'No especificado'}}</span>
      </div>
    </div>
        <div class="detail-container mt-4" *ngIf="piscicultor?.informacion_adicional_direccion">
          <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
          <div class="detail-container__data">
            <h4 class="detail-container__title">Información adicional de la dirección</h4>
            <span class="detail-container__value">
              {{piscicultor?.informacion_adicional_direccion}} </span>
          </div>
        </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/asociacion_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Asociación a la que pertenece </h4>
        <ul class="nav" id="myTab0" role="tablist" *ngIf="piscicultorasociaciones?.length>0">
          <li class="nav-item nav-item-asoc">
        <span
           (click)="openAsocia()"
            class="detail-container__value nav-link nav-link-asoc"
            [ngClass]="{active: activatelistasociacion }"
            id="home-tab0"
            data-bs-toggle="tab"
           data-bs-target="#home0"
            type="button"
           role="tab"
           aria-controls="home"
           aria-selected="true">{{activatelistasociacion ? 'Ocultar asociación':  'Ver asociación'}}</span>
           <!-- https://www.delftstack.com/howto/angular/if-else-statement-in-angular/ -->
            <div class="control_bar_90 " [ngClass]="{control_bar_180: activatelistasociacion}"  (click)="openAsocia()"></div>
              </li>
        </ul>
        <span class="detail-container__value" *ngIf="piscicultorasociaciones?.length<=0">No cuenta con
          asociaciones</span>
          <div class="tab-content" id="myTabContent0">
            <div class="tab-pane fade show" [ngClass]="{active: activatelistasociacion }" id="home0" role="tabpanel" aria-labelledby="home-tab0">
              <app-card-asociacion *ngFor="let asociacion of piscicultorasociaciones" [asociacion]="asociacion" [delatecard]="false"
                (onDetalle)="goAssociationDetail($event)" (onDetalleRepresentante)="goDetalleRepresentante($event)">
              </app-card-asociacion>
            </div>
          </div>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="../../../../assets/icons/set_meal_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Granjas</h4>
        <span class="detail-container__value" *ngIf="piscicultorgranjas?.length>1">{{piscicultorgranjas?.length}}
          granjas en total</span>
        <span class="detail-container__value" *ngIf="piscicultorgranjas?.length==1">{{piscicultorgranjas?.length}}
          granja en total</span>
        <span class="detail-container__value" *ngIf="piscicultorgranjas?.length<=0">No cuenta con granjas
          registradas</span>
      </div>
    </div>
  </div>
  <!-- granjas y asociaciones -->
  <div class="mynavtabs" *ngIf="piscicultorgranjas?.length>0">
    <ul class="nav nav-tabs">
      <li class="nav-item"  *ngIf="piscicultorgranjas?.length>0">
        <a class="nav-link nav-link--color active mynav-link"  aria-current="page">
          <span>
            <img class="detail-container__image" src="../../../../assets/icons/set_meal_black_24dp.svg">
          </span> Granjas
        </a>
      </li>
    </ul>
  </div>
  <div class="container_mytarget" *ngIf="piscicultorgranjas?.length>0">
    <div class="mytarget" >
      <div class="container-card"
        [ngClass]="{'mychangeitemheight':piscicultorDetalleGranjaschangeItem,'search-container--flex':piscicultorDetalleGranjasshowNotFound}" >
        <div *ngIf="piscicultorDetalleGranjaschangeItem" class="mychangeitem">
          <div>
           <img src="assets/icons/changeiconanimado.svg">
          </div>
        </div>
            <app-card-granjas
             [granja]="granja"
             [favorita]="granja?.esfavorita"
             [resena]="granja?.count_resenas"
              *ngFor="let granja of piscicultorgranjas; let i = index" [index]="i" (onDetalle)="goDetailFarm(granja.id_granja)"
              (onChangeFavorite)="changeFavorite(i)" (onShowResenas)="showResenas(granja?.id_granja)"
               [botonMapaFijo]="false">
            </app-card-granjas>
      </div>
    </div>
  </div>
</div>
