<div class="container mycontainer">
  <div class="mycontainer_info">
    <div class="piscicultor-container">
      <div class="piscicultor-container__info">
        <div class="piscicultor-container__detalle">
          <img class="detail-container__image" src="assets/icons/person_black.svg">
          <h3 class="piscicultor-container__title">Piscicultor - {{piscicultor?.nombre_completo}} </h3>
        </div>
        <div class="piscicultor-container__detalle">
          <img class="detail-container__image" src="assets/icons/travel_explore_black_24dp.svg">
          <span class="piscicultor-container__description1">
            {{piscicultor?.municipio}}-{{piscicultor?.departamento}}</span>
        </div>
      </div>
      <img class="piscicultor-container__image"
        src="{{piscicultor?.foto ? piscicultor?.foto : '/assets/images/avatar-person-square.png'}}">
    </div>
    <div class="line"></div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/phone_msg_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Celular</h4>
        <span class="detail-container__value">{{piscicultor?.celular? piscicultor?.celular : 'Contacto sin definir'}} </span>
      </div>
    </div>
    <div class="detail-container">
      <img class="detail-container__image" src="assets/icons/contact_mail_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Correo electrónico</h4>
        <span class="detail-container__value">{{piscicultor?.email}}</span>
      </div>
    </div>
    <div class="detail-container">
      <img class="detail-container__image" src="assets/icons/person_pin_circle_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Dirección</h4>
        <span *ngIf="piscicultor?.direccion"class="detail-container__value">{{piscicultor?.direccion? 'Dir.' : ''}}
        {{piscicultor?.direccion}}} </span>
        <span *ngIf="!piscicultor?.direccion" class="detail-container__value">Dirección indefinida</span>
      </div>
    </div>
        <div class="detail-container" *ngIf="piscicultor?.informacion_adicional_direccion">
          <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
          <div class="detail-container__data">
            <h4 class="detail-container__title">Información adicional de la dirección</h4>
            <span class="detail-container__value">
              {{piscicultor?.informacion_adicional_direccion}}</span>
          </div>
        </div>
    <div class="detail-container">
      <img class="detail-container__image" src="assets/icons/asociacion_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Sus asociaciones </h4>
        <span class="detail-container__value"
          *ngIf="piscicultorasociaciones?.length>1">{{piscicultorasociaciones?.length}} asociaciones en
          total</span>
        <span class="detail-container__value"
          *ngIf="piscicultorasociaciones?.length==1">{{piscicultorasociaciones?.length}} asociación en
          total</span>
        <span class="detail-container__value" *ngIf="piscicultorasociaciones?.length<=0">No cuenta con
          asociaciones</span>
      </div>
    </div>
    <div class="detail-container">
      <img class="detail-container__image" src="../../../../assets/icons/set_meal_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Sus granjas</h4>
        <span class="detail-container__value" *ngIf="piscicultorgranjas?.length>1">{{piscicultorgranjas?.length}}
          granjas en total</span>
        <span class="detail-container__value" *ngIf="piscicultorgranjas?.length==1">{{piscicultorgranjas?.length}}
          granja en total</span>
        <span class="detail-container__value" *ngIf="piscicultorgranjas?.length<=0">No cuenta con granjas
          registradas</span>
      </div>
    </div>
  </div>
  <!-- granjas y asociaciones -->
  <div class="mynavtabs" *ngIf="piscicultorgranjas?.length>0 || piscicultorasociaciones?.length>0">
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="activeTabClick(1)" *ngIf="piscicultorgranjas?.length>0">
        <a class="nav-link" [ngClass]="{'active mynav-link': activatelistgranja}" aria-current="page">
          <span>
            <img class="detail-container__image" src="../../../../assets/icons/set_meal_black_24dp.svg">
          </span> Granjas- {{piscicultor?.nombre_completo}}
        </a>
      </li>
      <li class="nav-item" (click)="activeTabClick(2)" *ngIf="piscicultorasociaciones?.length>0">
        <a class="nav-link" [ngClass]="{'active mynav-link': activatelistasociacion}">
          <span>
            <img class="detail-container__image" src="assets/icons/asociacion_black_24dp.svg">
          </span> Asociaciones</a>
      </li>
    </ul>
  </div>
  <div class="container_mytarget" *ngIf="piscicultorgranjas?.length>0 || piscicultorasociaciones?.length>0 ">
    <div class="mytarget" *ngIf="activatelistgranja">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4 row--mi-estilo"
        [ngClass]="{'mychangeitemheight':piscicultorDetalleGranjaschangeItem,'search-container--flex':piscicultorDetalleGranjasshowNotFound,'container--flex-center':piscicultorgranjas?.length==1}" >
        <div *ngIf="piscicultorDetalleGranjaschangeItem" class="mychangeitem">
          <div>
           <img src="assets/icons/changeiconanimado.svg">
          </div>
        </div>
          <app-card-granjas
             *ngFor="let granja of piscicultorgranjas "
             [granja]="granja"
             (onDetalle)="goDetailFarm($event)">
          </app-card-granjas>
      </div>
    </div>
    <div class="mytarget" *ngIf="activatelistasociacion">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4  row--mi-estilo"
        [ngClass]="{'mychangeitemheight':piscicultorDetalleAsociacioneschangeItem,'search-container--flex':piscicultorDetalleAsociacioneshowNotFound , 'container--flex-center':piscicultorasociaciones?.length==1 }">
        <div *ngIf="piscicultorDetalleAsociacioneschangeItem" class="mychangeitem">
          <div>
           <img src="assets/icons/changeiconanimado.svg">
          </div>
        </div>
     <!--    <div class="search-container" *ngIf="piscicultorDetalleAsociacioneshowNotFound ">
          <div class="search-container__box">
            <img class="search-container__image" src="assets/images/layer1sinfavoritos (1).svg" />
            <h3>
              Parece que este piscicultor no cuenta con asociaciones registradas
              <span>
                <img src="assets/icons/corazonanimado.svg">
              </span>
            </h3>
          </div>
        </div> -->
          <app-card-asociacion *ngFor="let asociacion of piscicultorasociaciones" [asociacion]="asociacion"
            [delatecard]="false"
             (onDetalle)="goAssociationDetail($event)"
             (onDetalleRepresentante)="goDetalleRepresentante($event)">
          </app-card-asociacion>
      </div>
    </div>
  </div>
</div>
