/* Estilos mapa search */
.modal-header {
  justify-content: center;
}

.footerheadermodal {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search {
  display: flex;
  align-items: center;
  background-color: var(--white);
  background-origin: padding-box;
  border-radius: 133px;
  width: 100%;
  height: 45px;
  border: 0.5px solid var(--gris4);
  -webkit-box-shadow: -1px 3px 8px 3px rgba(0, 0, 0, 0.14);
  box-shadow: -1px 3px 8px 3px rgba(0, 0, 0, 0.14);
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0.5rem 0.5rem 0.5rem 15px;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 60px;
  border: 3px solid var(--azul1);
}

input::placeholder {
  font-weight: bold;
  opacity: .5;
  font-size: 1.2rem;

}

.bi-search {
  color: rgb(158, 158, 167);
}

input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--white);
  color: #5a5656;
  ;
}

.img-x {
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.4;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='9e9ea7;'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  cursor: pointer;
  margin-right: 10px;
  font-size: 0.8rem;
}

::placeholder {
  color: #5a5656;
}

.button_close {
  margin-left: 10px;
  margin-right: 10px;
}

.button_close:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

.modal-body {
  width: 100%;
  height: 100%;
}

.ModalBody {
  min-height: 200px !important;
  max-height: 500px !important;
  overflow: hidden;
  background: #f5f6f7;
  border-radius: 6px;
  box-shadow: inset 1px 1px 0 0 #ffffff80,
    0 3px 8px 0 #555a64;
}

.modalconteni {
max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px;
}

.whiteColor {
  color: white !important;
}

.DocSearch-Hit a {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #d4d9e1;
  display: block;
  padding-left: 12px;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active:hover{
background: var(--azul1) !important;
.DocSearch-Hit-icon,.DocSearch-Hit-title,.DocSearch-Hit-path,.DocSearch-Hit-action{
color: white !important;
}
}
.DocSearch-Container a,
.appCard_nA_C:hover {
  text-decoration: none;
}

*,
.DocSearch-Container,
.DocSearch-Container * {
  box-sizing: border-box;
}

a {
  color: var(--azul1);
  text-decoration: none;
}

.DocSearch-Hit-Container {
  align-items: center;
  color: #444950;
  display: flex;
  flex-direction: row;
  height: 56px;
  padding: 0 12px 0 0;
}

.DocSearch-Hit-icon {
  height: 20px;
  width: 20px;
  color: #969faf;
  stroke-width: 1.4;
}

.DocSearch-Hit-content-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
  line-height: 1.2em;
  margin: 0 8px;
  overflow-x: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.DocSearch-Hit-title {
  font-size: .9em;
}

.DocSearch-Hit-path {
  color: #969faf;
  font-size: .75em;
}

.DocSearch-Hit-action {
  align-items: center;
  display: flex;
  height: 22px;
  width: 22px;
  color: #969faf;
  stroke-width: 1.4;
}

.DocSearch-Hit-action svg {
  display: block;
  height: 18px;
  width: 18px;
}

svg.DocSearch-Hit-Select-Icon {
  display: none;
}
