.data-container{
    display:flex;
    margin-top: 50px;
    justify-content: center;
}
.container{
    display:flex;
    justify-content: center;
}

.container__icon{
    width:40px;
    height:40px;
}

.container__info{
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.container__title{
    font-size: 20px;
}

.container__description{
    align-self: center;
}

.container__title--color-morado{
    color:var(--morado)
}

.container__title--color-blue{
    color:var(--azul1)
}

.container__title--color-blue-2{
    color:var(--azul2)
}

.filters-container{
    margin-left: 40px;
    margin-top: 50px;
    text-align: center;
}

.filters-container__button{
    margin-right: 10px;
}

.cards-container{
    width: fit-content;
    height: 600px;
}

.card{
    display:grid;
    grid-template-columns: [c-l-one] 260px [c-l-two] 293px [c-l-three] 35px [c-l-four];
    grid-template-rows: [r-l-one] 30px [r-l-two]120px [r-l-three] 50px [r-l-four];
    grid-template-areas:
        "image title favorite"
        "image description description"
        ". data data";
    column-gap:15px;
    margin-left: 25px;
    margin-bottom: 35px;
    margin-right: 8px;
    margin-top: 0px;
    border:0;
    background-color: var(--gris4);
    height: 221px;
    width: 630px;
    padding-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
}
.container-map-car{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.row-map-cart{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
}
/* .row-map-cart>div{
  padding-top: 80px;
} */
div.container-map-car>div>div:nth-child(1){
  padding-top: 80px;
}
.card__image{
    grid-area: image;
    width: 262px;
    height: 219px;
    border-radius: 10px 0px 0px 10px;
    margin-top: -9px;
    overflow: hidden;
    cursor:pointer;
}

.card__title{
    grid-area: title;
    font-size:24px;
    cursor: pointer;
}

.card__icon-favorite{
    grid-area: favorite;
    width: 24px;
    height: 24px;
    justify-self: end;
    align-self: end;
    cursor: pointer;
}

.card__description{
    grid-area: description;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
}
.mYstiledivmap{
  margin-left: 30px;
}
.card__rating-container{
display: flex;
flex-direction: column;
  /*   align-self:end; */
  align-items: flex-end;
    cursor:pointer;
}
.card__rating-container>div{
    display: flex;
      align-items: center;
      gap: 5px;
}
.data-ratinn-area{
  grid-area: data;
  display: flex;
    justify-content: space-between;
    align-items: center;

}

.card__icon-rating{
    height: 20px;
    width: 20px;
    /* margin-bottom: 10px;
    margin-right: 10px; */
}

.card__rating{
    font-size: 20px;
    font-weight: 700;
}

.card__rating__detail{

}

.card__data{
  /*   grid-area:data; */
   /*  justify-self: end;
    align-self: end; */
    font-size:22px;
    font-weight: 700;
    cursor: pointer;
}

.granjas-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 80px;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width:1024px;
    height: 628px;
}

.granjas-container__map{
    align-self: start;
    width:100%;
    margin-left:18px;
}

.mapgoogle {
/* border: 2px solid #6c6c6c; */
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 650px;
  width: 785px;
  background-color: gainsboro;
  border: 2px solid rgb(0 0 0 / 51%);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);

}
.sticky-top{
z-index: 1;
height: auto;
padding-top: 80px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box__button{
    margin-bottom: 35px;
}

/* prueba loader */
.container-loader {
  background-color: #f3f3f3;
  position: fixed;
  width: 83px;
  height: 83px;
  z-index: 9999;
  transition: all 1.5s;


}

.loader-icon,
.loader-icon::before,
.loader-icon::after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation: loader 1.5s infinite ease-in-out;
}

.loader-icon {
  color: black;
  font-size: 13px;
  position: relative;
  animation-delay: -0.16s;
}

.loader-icon::before,
.loader-icon::after {
  content: '';
  position: absolute;
  top: 0;
}

.loader-icon::before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader-icon::after {
  left: 3.5em;
}

@keyframes loader {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
