<app-navbar></app-navbar>
<div class="data-container">
    <div class="container">
        <img class="container__icon" src="assets/icons/build.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue">Municipio</h3>
            <span class="container__description">Sincelejo</span>    
        </div>
    </div>
    
    <div class="container">
        <img class="container__icon" src="assets/icons/group-circle-solid.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-morado">Población</h3>
            <span class="container__description">33.688</span>    
        </div>
    </div>
    
    <div class="container">
        <img class="container__icon" src="assets/icons/fish.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue-2"># granjas</h3>
            <span class="container__description">9</span>    
        </div>
    </div>    
</div>

<div class="filters-container">
    <button class="filters-container__button btn-outline-black">
        Mayor Area
    </button>
    <button class="filters-container__button  btn-outline-black">
        Menor Area
    </button>
    <button class="filters-container__button  btn-outline-black">
        Calificación
    </button>
    <button class="filters-container__button  btn-outline-black">
        Más filtros
    </button>
</div>

<div class="search-container" *ngIf="granjas.length < 1">
    <div class="search-container__box">
        <img class="search-container__image" src="assets/images/searching.svg">
        <h3>No se han encontrado resultados</h3>
        <p>No encontramos granjas en este municipio </p>
    </div>
    
</div>


<div class="granjas-container">
        <div class="cards-container overflow-auto" *ngIf="granjas.length >= 1">
            <div class="card" *ngFor="let granja of granjas; index as i" (mouseover)="onMouseCard(i)">
                <img class="card__image" src="{{ granja.imagen ? granja.imagen : 'https://admin.moodyyc.com/img/no-image.png'}}" routerLink="{{granjaDetailRoute}}">
                
                <h3 class="card__title" routerLink="/granjas/municipio/detalle">{{granja.nombre}}</h3>
                <p class="card__description" routerLink="/granjas/municipio/detalle">
                    {{granja.descripcion}}
                </p>
                
                <div class="card__rating-container">
                    <img class="card__icon-rating" src="assets/icons/star-filled.svg">
                    <span class="card__rating">{{granja.puntuacion ? granja.puntuacion : 'S/C'}}</span>
                    <span class="card__rating__detail">(34 reseñas)</span>
                </div>
                
                <img class="card__icon-favorite" src="assets/icons/heart-filled.svg" *ngIf="granja.esFavorita" (click)="changeFavorite()">
                <img class="card__icon-favorite" src="assets/icons/heart-outline.svg" *ngIf="!granja.esFavorita">
                <span class="card__data">{{granja.area | number:'':'es'}} m²</span>
            </div>
        </div>
            <div *ngIf="granjas.length > 1 && (apiLoaded | async)">
                <google-map height="600px"
                            width="600px" 
                            [options]="options">
                    <map-marker *ngFor="let markerInfo of markersInfo; index as i" [position]="markerInfo.markerPosition" [options]="markerOptions"  [title]="markerInfo.title" icon="{{ i == indexSelected ? 'assets/icons/fish-marker-red.svg' : 'assets/icons/fish-marker.svg' }}"></map-marker>
                </google-map>
            </div>
</div>
<app-footer></app-footer>