<app-notification-bar></app-notification-bar>
<app-search-bar></app-search-bar>
<app-navbar></app-navbar>
<div class="data-container">
    <div class="container">
        <img class="container__icon" src="assets/icons/build.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue">Municipio</h3>
            <span class="container__description">{{municipio}}</span>
        </div>
    </div>

    <div class="container">
        <img class="container__icon" src="assets/icons/group-circle-solid.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-morado">Población</h3>
            <span class="container__description">{{poblacion | number:'':'es'}}</span>
        </div>
    </div>

    <div class="container">
        <img class="container__icon" src="assets/icons/fish.svg">
        <div class="container__info">
            <h3 class="container__title container__title--color-blue-2"># granjas</h3>
            <span class="container__description">{{granjas.length}}</span>
        </div>
    </div>
</div>

<div class="filters-container">
    <button class="filters-container__button btn-outline-black">
        Mayor Area
    </button>
    <button class="filters-container__button  btn-outline-black">
        Menor Area
    </button>
    <button class="filters-container__button  btn-outline-black">
        Calificación
    </button>
    <button class="filters-container__button  btn-outline-black">
        Más filtros
    </button>
</div>

<div class="search-container" *ngIf="granjas.length < 1">
    <div class="search-container__box">
        <img class="search-container__image" src="assets/images/searching.svg">
        <h3>No se han encontrado resultados</h3>
        <p>No encontramos granjas en este municipio </p>
    </div>
</div>

<div class="granjas-container">
        <div class="cards-container overflow-auto" *ngIf="granjas.length >= 1">
          <div class="box" *ngFor="let granja of granjas; let i =index">
            <div class="card" (mouseover)="onMouseCard(i)" (mouseout)="eliminInfoWindow()">
                <img class="card__image" src="{{ granja.imagen ? granja.imagen : 'https://admin.moodyyc.com/img/no-image.png'}}"
                  (click)="navigate(granja.id_granja)">
    
                <h3 class="card__title" (click)="navigate(granja.id_granja)">{{granja.nombre | shorter:20}}</h3>
                <p class="card__description" (click)="navigate(granja.id_granja)">
                  {{granja.descripcion | shorter:200}}
                </p>
    
                <div class="card__rating-container">
                  <img class="card__icon-rating" src="assets/icons/star-filled.svg">
                  <span class="card__rating">{{granja.puntuacion ? (granja.puntuacion | number:'1.1-1') : 'S/C'}}</span>
                  <span class="card__rating__detail"> ({{granja.count_resenas}} reseñas)</span>
                </div>
    
                <img class="card__icon-favorite" src="assets/icons/heart-filled.svg" *ngIf="granja.favorita"
                  (click)="changeFavorite(i)">
                <img class="card__icon-favorite" src="assets/icons/heart-outline.svg" *ngIf="!granja.favorita" (click)="changeFavorite(i)">
                <span class="card__data" (click)="navigate(granja.id_granja)">{{granja.area | number:'':'es'}} m²</span>
    
              </div>    
             <!--  <button class="box__button btn-outline-blue" (click)="navigate(granja.id_granja)">Ver más</button> -->
          </div>
        </div>
        <div class="mapgoogle overflow-auto  " *ngIf="granjas.length > 0 && (apiLoaded | async)">
                <google-map  height="600px"
                            width="785px"
                            [options]="options">
                  <map-marker   #marker="mapMarker"
                            *ngFor="let markerInfo of markersInfo; index as i"
                            [position]="markerInfo.markerPosition"
                            [options]="markerOptions"
                            icon="{{ i == indexSelected ? 'assets/icons/fish-marker-red.svg' : 'assets/icons/fish-marker.svg' }}"
                            (mapMouseover)="openInfoWindow(marker,i)"
                            (mapMouseout)="eliminInfoWindow()">
                            </map-marker>
                   <map-info-window [position]="markerPosition" >
                      {{selectedGranja.nombre}}
                      <br>
                      {{selectedGranja.propietario.nombre}}
                    </map-info-window>
                </google-map>
         </div>
</div>
<!--<app-footer></app-footer>-->

