.data-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.data-container__div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: center;
  width: max-content;
  margin-left: 0;
  margin-right: 0;
}

.container__icon {
  width: 40px;
  height: 40px;
}

.container__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.container__title {
  font-size: 20px;
}

.container__description {
  align-self: flex-start;
}

.container__title--color-morado {
  color: var(--morado)
}

.container__title--color-blue {
  color: var(--azul1)
}

.container__title--color-blue-2 {
  color: var(--azul2)
}

.filters-container {
  margin-left: 40px;
  margin-top: 50px;
  text-align: center;
}

.filters-container__button {
  margin-right: 10px;
}

.cards-container {
  width: fit-content;
  height: 600px;
}

.card {
  display: grid;
  grid-template-columns: [c-l-one] 260px [c-l-two] 293px [c-l-three] 35px [c-l-four];
  grid-template-rows: [r-l-one] 30px [r-l-two]120px [r-l-three] 50px [r-l-four];
  grid-template-areas:
    "image title favorite"
    "image description description"
    ". data data";
  column-gap: 15px;
  margin-left: 25px;
  margin-bottom: 35px;
  margin-right: 8px;
  margin-top: 0px;
  border: 0;
  background-color: var(--gris4);
  height: 221px;
  width: 630px;
  padding-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
}

.container-map-car {
  display: flex;
  justify-content: center;
}

.row-map-cart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 20px;
  margin-right: 20px;
}

.row-map-cart>div {
  width: 100%;
}

div.container-map-car>div>div:nth-child(1) {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card__title {
  grid-area: title;
  font-size: 24px;
  cursor: pointer;
}

.card__icon-favorite {
  grid-area: favorite;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  justify-self: end;
  align-self: end;
  cursor: pointer;
}

.card__description {
  grid-area: description;
  font-size: 16px;
  margin-top: 12px;
  cursor: pointer;
}

.mYstiledivmap {
  display: none;
}

.card__rating-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

}

.card__rating-container_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.card__rating-container_puntos {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.data-ratinn-area {
  grid-area: data;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card__icon-rating {
  height: 20px;
  width: 20px;
  /* margin-bottom: 10px;
    margin-right: 10px; */
}

.card__rating {
  font-size: 17px;
  font-weight: 700;
}

.card__rating__detail {
  cursor: pointer;
}

.card__data {
  /*   grid-area:data; */
  /*  justify-self: end;
    align-self: end; */
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.granjas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 80px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.search-container__box {
  text-align: center;
  width: 100%;
}

.search-container__image {
  width: 400px;
  height: 270px;
  margin-top: 17px;
}

.search-container__image--modify {
  margin-top: 60px;
  width: 100%;
}

.granjas-container__map {
  align-self: start;
  width: 100%;
  margin-left: 18px;
}

.mapgoogle {
  /* border: 2px solid #6c6c6c; */
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  /*  height: 650px;
  width: 785px; */
  height: 40vw;
  width: 50vw;
  background-color: gainsboro;
  border: 2px solid rgb(0 0 0 / 51%);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);

}

.sticky-top {
  z-index: 1;
  height: auto;
  padding-top: 80px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__button {
  margin-bottom: 35px;
}

/* prueba loader */
.container-loader {
  background-color: #f3f3f3;
  position: fixed;
  width: 83px;
  height: 83px;
  z-index: 9999;
  transition: all 1.5s;


}

.loader-icon,
.loader-icon::before,
.loader-icon::after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation: loader 1.5s infinite ease-in-out;
}

.loader-icon {
  color: black;
  font-size: 13px;
  position: relative;
  animation-delay: -0.16s;
}

.loader-icon::before,
.loader-icon::after {
  content: '';
  position: absolute;
  top: 0;
}

.loader-icon::before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader-icon::after {
  left: 3.5em;
}

@keyframes loader {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* mi estilo card */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-top: 0;
  margin-bottom: 20px;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-left: 0;
  padding-right: 0px;
  z-index: 0;

  a {
    color: inherit;

    &:hover {
      color: var(--azul1);
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }

  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }

  .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 1;

    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }

    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px;
    }

    .read-more {
      text-align: right;
     display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding-top: 0;
      a {
        color: var(--azul1);
        display: inline-block;
        position: relative;
        text-decoration: underline var(--azul1) 2px;
        cursor: pointer;

        &:after {
          content: url('../../../../assets/icons/navigate_next_black_24dp.svg');
          font-family: FontAwesome;
          /* margin-left: -20px; */
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }

  p {
    position: relative;
    margin: 1rem 0 0;
    padding-top: 10px;

    &:first-of-type {
      margin-top: 1.25rem;

      /*
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: var(--azul1);
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      } */
    }
  }


  @media (min-width: 520px) {
    flex-direction: row;
    max-width: 600px;

    .meta {
      flex-basis: 40%;
      height: auto;
    }

    .description {
      flex-basis: 60%;
    }

    &.alt {
      flex-direction: row-reverse;

      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }

    }
  }

  /* mi estilo */
  .card__image {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    cursor: pointer;
  }

  .description_title_fauvourite {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description_title_fauvourite--h1 {
      color: var(--azul1);
    }
  }

  .description_title_fauvourite>div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .description_nombre {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .description_container_card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .description_container_card,
  .container_card_nombre_asociacion,
  .container_card__email,
  .container_card__description1,
  .container_card__description2,
  .detais-name-piscicultor {
    display: flex;
    padding-bottom: 3px;
  }

  .estilo-p-card {
    text-align: justify;
    cursor: pointer;
  }

  .card__description-container_footer {
    display: flex;
    justify-content: flex-end;
  }

  .mas_description_info {
    height: 120px;
    cursor: pointer;

  }
}

/* estilo infomap */
.myestilo-map-info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon_info_windows {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.details_info_windo {
  padding: 0;
  top: 0;
  list-style: none;
  bottom: 0;
  margin: auto;
  transition: left 0.2s;
  ;
  color: black;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
  cursor: pointer;
}

.detais-name-propietario_info_windo,
.details-area-direccion_info_windo,
.details-area-granja_info_windo,
.details-area-nombre-granja_info_windo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  margin-bottom: 10px;
}

/* estilos buscador */
.buscadoryfiltro {
  display: flex;
  flex-direction: column;
  margin-top: 21px;

  .buscador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
  }

  .alert-mi-estilo-filtro {
    margin-bottom: 0;
    width: 79%;
    background-color: var(--azul4);
    color: black;
  }

  .alert-mi-estilo {
    margin-bottom: 0;
    width: 100%;
    background-color: var(--azul4);
    color: black;
  }
}

.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chip__checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.photo--verMapa {
  z-index: 100;
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
  cursor: pointer;
}

.buscador-container__search {
  width: 100%
}

@media screen and (min-width: 1100px) {
  .mYstiledivmap {
    margin-left: 30px;
    display: block
  }

  .container-map-car {
    margin-left: 10px;
    margin-right: 65px;
    justify-content: space-around;
  }

  .photo--verMapa {
    display: none;
  }

  .row-map-cart {
    margin-right: 0;
  }

  div.container-map-car>div>div:nth-child(1) {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 770px) {
  .buscador-container {
    flex-direction: row !important;
  }

  .buscador-container__search {
    width: auto
  }
}

@media screen and (min-width: 540px) {
  .data-container__div {
    flex-direction: row;
    width: 100%;
    gap: 0
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .container__description {
    align-self: center
  }
}

