/* .div-cart-linea{
      margin: 0 -16px;
      padding: 8px 16px;
      border: 1px solid #e6e6e6;
      border-width: 1px 0 0;
}
.cart-mi-estilo{
  margin-top: 20px;

  height: 96% !important;

  margin-left: 0px;
  margin-right: 10px;
  background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);


}
.mi-estilo-button-cart{
  text-align: center
}
.cart-titulo{
  min-height: 46px;
}
.calificaci-granja{
  padding: 16px;
}
.ubicac-granja-favori{
  height: 68px;
}

 .listview__remove_hotel_icon {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 15px;
  top: 15px;
  background: none;
  border-radius: 100%;
}
 .listview__remove_hotel_icon svg{
 margin-bottom: 8px;
}
.btnmibutton{

  background-color: var(--azul1);
}
.bui-card__image-container {
  position: relative;
  border-radius: 2px 2px 0 0;
  height: 100%;
  width: 100%;
}
.bui-card__image {
  width: 100%;
  height: 182px;
  border-radius: 2px 2px 0 0;
  margin: 0;
  object-fit: cover;
}

.bui-card__image {
  border: 0;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.card{
  display:grid;
  grid-template-columns: [c-l-one] 260px [c-l-two] 293px [c-l-three] 35px [c-l-four];
  grid-template-rows: [r-l-one] 30px [r-l-two]120px [r-l-three] 50px [r-l-four];
  grid-template-areas:
      "image title favorite"
      "image description description"
      ". data data";
  column-gap:15px;
  margin-left: 25px;
  margin-bottom: 35px;
  margin-right: 8px;
  margin-top: 0px;
  border:0;
  background-color: var(--gris4);
  height: 221px;
  width: 630px;
  padding-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.card__image{
  grid-area: image;
  width: 262px;
  height: 219px;
  border-radius: 10px 0px 0px 10px;
  cursor:pointer;
  margin-top: -9px;
}

.card__title{
  grid-area: title;
  font-size:24px;
  cursor: pointer;
}

.card__icon-favorite{
  grid-area: favorite;
  width: 24px;
  height: 24px;
  justify-self: end;
  align-self: end;
  cursor: pointer;
}

.card__description{
  grid-area: description;
  font-size: 16px;
  margin-top: 12px;
  cursor: pointer;
}

.card__rating-container{
  grid-area:data;
  align-self:end;
  cursor:pointer;
}

.card__icon-rating{
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card__rating{
  font-size: 20px;
  font-weight: 700;
}

.card__rating__detail{

}

.card__data{
  grid-area:data;
  justify-self: end;
  align-self: end;
  font-size:22px;
  font-weight: 700;
  cursor: pointer;
}
 */
.div-cart-linea {
  margin: 0 -16px;
  padding: 8px 16px;
  border: 1px solid #e6e6e6;
  border-width: 1px 0 0;
}
.mi-estilo-button-cart {
  text-align: center
}
.mi-estilo-button-cart >a {
  background-color: var(--azul1);
  width: 60%;
}
.namecard-calificacion{
display: flex;
justify-content: space-between;
}
.card__rating-container {
  display: flex;
  flex-direction: column;
    align-items: flex-end;
  cursor: pointer;
}
.card__rating-container>div{
  display: flex;
  justify-content: center;
      align-items: center;
        gap: 5px;

}
.card__rating-container>div>img{
    width: 12px;
   height: 12px;

}
.listview_remove_icon{
    position: absolute;
      width: 26px;
      height: 26px;
      right: 15px;
      top: 15px;
      text-align: center;
}
.imagen-card{
      width: 100%;
        height: 250px;
}
.imagen-card>img{
      width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
}
