<div class="row row-cols-1 row-cols-md-3 g-4"  >
  <!-- <div class="col">
    <div class="card h-100 cart-mi-estilo">
      <img
        src="../../../../assets/images/foto hotel.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body" style="padding: 16px">
        <div class="cart-titulo">
          <h5 class="card-title">Titulo de la granja</h5>
        </div>
        <div class="div-cart-linea">
          <p class="card-text">Calificación</p>
        </div>
        <div class="div-cart-linea">
          <p class="card-text">Ubicación</p>
        </div>
          <div class="d-grid gap-2 mi-estilo-button-cart">
            <a class="btn btn-primary" type="button">
              Ver detalles de la granja
            </a>
          </div>
      </div>
    </div>
  </div> -->
  <div class="col cart-colu" *ngFor="let granja of misGranjaFavoritas; let i =index">
    <div class="card h-100 cart-mi-estilo ">
      <div class="bui-card__image-container">
        <img class="bui-card__image " alt="" [src]="granja.fotos[0]">
      </div>
      <!-- <img [src]="granja.img" class="card-img-top" alt="..." /> -->
      <div class="card-body" style="padding: 16px">
        <div class="cart-titulo">
          <h5 class="card-title">{{granja.nombre}}</h5>
        </div>
        <div class="div-cart-linea ubicac-granja-favori">
          <p class="card-text">{{granja.descripcion | shorter:80}}</p>
        </div>
        <div class="div-cart-linea calificaci-granja">
          <p class="card-text">{{granja.puntuacion}}</p>
        </div>
        <div class="d-grid gap-2 mi-estilo-button-cart">
          <a class="btn btn-primary btnmibutton" type="button" (click)="showDetail(i)">
            Ver detalles de la granja
          </a>
        </div>
        <div class="listview__remove_hotel_icon">
          <img class="card__icon-favorite" src="assets/icons/heart-filled.svg" *ngIf="granja.esfavorita" (click)="changeFavorite(i)">
          <img class="card__icon-favorite" src="assets/icons/heart-outline.svg" *ngIf="!granja.esfavorita" (click)="changeFavorite(i)">
        </div>  
      </div>
    </div>
  </div>
</div>
