<div class="search mb-4 mt-5">
  <app-search (textSearch)="onSearch($event)"></app-search>
  <app-filtro [checkbox]="checkbox" [checkboxfiltro]="true" [checkboxArray]="municipios"
    (onArrayCheckboxSelec)="onFiltroChangeCheckbox($event)" [arrayCheckboxSelec]="filtroseleccionadoCheckbox">
  </app-filtro>
</div>
<app-not-found *ngIf="showNotFound" objectName="negocios"></app-not-found>
<div class="chip mb-5">
      <app-chip-con-boton-close *ngFor="let  resultado of resultFiltroPorMunicipio; let i =index" [iconoChip]="true"
        [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
        [contenidoChip]="resultado.nombre +' '+ resultado.datos.length" (onCloseClip)="deleteFilterCheckbox(i)">
      </app-chip-con-boton-close>
</div>

<div class="container">
  <div class="card" *ngFor="let negocio of negociosFiltered; let i=index;">
    <div class="card__img-box">
      <app-carrucel-img
                 *ngIf="negocio.fotos.length != 0"
                  [imagenes]="negocio.fotos"
                  [indicatorsphoto]="true"
                  [idtarge]="i"
                  [rounded]="true"
                  [scaledown]="true"
                  [efect]="true">
                </app-carrucel-img>
      <img class="sin-img" src='https://admin.moodyyc.com/img/no-image.png' *ngIf="negocio.fotos.length == 0">
    </div>
      <div class="card-body shorterTextOverflowHidden">
        <span class="card__title shorterTextAuto">{{negocio.nombre_negocio}}</span>
        <span class="card__sub-title">{{negocio.nombre_municipio}}</span>
        <span class="card__description shorterTextAuto">{{negocio.direccion}}</span>
          <div>
            <span class="link" (click)="goDetail(negocio.id_negocio)">Ver detalle</span>
          </div>
      </div>
  </div>
</div>
