<div class="search mb-4 mt-5">
  <app-search (textSearch)="onSearch($event)"></app-search>
  <app-filtro [checkbox]="checkbox" [checkboxfiltro]="true" [checkboxArray]="municipios"
    (onArrayCheckboxSelec)="onFiltroChangeCheckbox($event)" [arrayCheckboxSelec]="filtroseleccionadoCheckbox">
  </app-filtro>
</div>
<app-not-found *ngIf="showNotFound" objectName="negocios"></app-not-found>
<div class="chip mb-5">
  <app-chip-con-boton-close
  *ngFor="let nombre of filtroseleccionadoCheckbox; let i=index"
      [iconoChip]="true"
      [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
      [contenidoChip]="nombre"
      (onCloseClip)="deleteFilterCheckbox(i)"
      >
  </app-chip-con-boton-close>
</div>

<div class="container">
  <div class="card" *ngFor="let negocio of negociosFiltered; let i=index;">
    <app-carrucel-img class="card__img"
                [imagenes]="negocio.fotos"
                [indicatorsphoto]="true"
                [idtarge]="i"
                [rounded]="true"
                [cover]="true"
                [efect]="true">
              </app-carrucel-img>
    <!-- <img src="https://www.megamall.com.co/fotosalmacenes/macro_almacen-l_h-1564775241.jpg" alt="" class="card__img"> -->
    <span class="card__title">{{negocio.nombre_negocio | shorter:28}}</span>
    <span class="card__sub-title">{{negocio.nombre_municipio}}</span>
    <span class="card__description">{{negocio.direccion}}</span>
  </div>
</div>
