.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.img2item {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chip {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 764px) {
  .card {
    margin-right: 0;
  }
}

@media screen and (max-width: 730px) {
  app-search {
    width: 100%;
  }

  .search {
    flex-direction: column;
    gap: 20px;
  }
}
