<!-- <div class="card">
  <div class="item item--1">
    <img class="iconImg" [src]="icon" alt="icon">
    <span class="quantity"> {{dataNumber}} </span>
    <span class="text text--1"> {{title}}</span>
  </div>
</div> -->
<div class="stat-card">
  <div class="stat-card__content">
    <p class="text-uppercase mb-1 text-muted text-muted--edit">{{title}}</p>
    <h2>{{dataNumber}}</h2>
    <div>
    </div>
  </div>
  <div class="stat-card__icon stat-card__icon--success">
    <div class="stat-card__icon-circle">
      <img class="iconImg" [src]="icon" alt="icon">
    </div>
  </div>
</div>
