<div class="card">
    <div class="card__img-box">
        <app-carrucel-img
        *ngIf="publicacion.fotos.length != 0"
                [imagenes]="publicacion.fotos"
                [indicatorsphoto]="true"
                [idtarge]="index"
                [rounded]="false"
                [scale]=true
                [scaledown]="true"
                >
        </app-carrucel-img>
        <img class="sin-img" src='assets/images/no-image.jpg' *ngIf="publicacion.fotos.length == 0">
    </div>
    <div class="card-body">
        <h5 class="card__title card-title">${{publicacion.preciokilogramo | number:'':'es'}}/Kg</h5>
        <h5 class="card__sub-title card-title">{{publicacion.especie}}</h5>
        <p class="card__descripction card-text">Cantidad disponible: {{publicacion.cantidad}} Kg</p>
        <div>
            <span class="link" (click)="goDetail(publicacion)">Ver detalle</span>
        </div>
    </div>
</div>