<div class="card">
    <div class="card__img-box">
        <app-carrucel-img
        *ngIf="publicacion.fotos.length != 0"
                [imagenes]="publicacion.fotos"
                [indicatorsphoto]="true"
                [idtarge]="index"
                [rounded]="false"
                [scale]=false
                [scaledown]="false"
                 (eventClickImagen)="goDetail()"
                >
        </app-carrucel-img>
        <img class="sin-img" src='assets/images/no-image.jpg' *ngIf="publicacion.fotos.length == 0" (click)="goDetail()" >
    </div>
    <div  class="card-body shorterTextOverflowHidden" >
      <div class="w-100" style="text-align: start;cursor:pointer" (click)="goDetail()" >
        <h5 class="card__title card-title">${{publicacion.preciokilogramo | number:'':'es'}}/Kg</h5>
        <h5 class="card__sub-title card-title shorterTextAuto">{{publicacion.especie}}</h5>
        <p class="card__descripction card-text shorterTextAuto">Cantidad disponible: {{publicacion.cantidad}} Kg</p>
      </div>
      <div>
        <div *ngIf="editaAndEliminar">
          <i class="container__icon bi bi-pencil text-success me-3 mitextcolorpencil" (click)="updatePublicacion()"></i>
          <i class="container__icon bi bi-trash text-danger mitextcolorpencil" (click)="deletePublicacion()"></i>
        </div>
      </div>
    </div>
</div>
