<div class="card">
    <div class="card__carrusel">
        <span class="card__title">{{vehiculo?.modelo}}</span>
        <span class="card__info mb-4">{{vehiculo?.capacidad}} TON</span>
        <div class="d-flex flex-row">
            <div class="card__image-container">
                <gallery class="card__image" [items]="images"
                [thumbHeight]="70"
                [thumbWidth]="80"
                [thumbMode]="'free'"></gallery>
            </div>
            <div class="card__container">
                <span class="card__title2">Modelo</span>
                <span class="card__description">{{vehiculo?.modelo}}</span>
                <span class="card__title2">Municipio</span>
                <span class="card__description">No enviado</span>
                <span class="card__description">{{vehiculo?.municipio_propietario}}</span>
                <span class="card__title2">Capacidad</span>
                <span class="card__description">{{vehiculo?.capacidad}}TON</span>
                <span class="card__title2">Transporta Alimento</span>
                <span class="card__description">{{vehiculo?.transporte_alimento ? 'Si' : 'No'}}</span>
                <span class="link" (click)="goDetail(vehiculo.usuarios_id)">Ver detalle propietario</span>
            </div>
        </div>
    </div> 
   
</div>