<div class="card">
    <div class="card__carrusel">
        <h5>{{vehiculo?.modelo}}</h5>
        <span>{{vehiculo?.capacidad}} TON</span>
    </div>
    <div class="card__description">
        <h5>Modelo</h5>
        <span>{{vehiculo?.modelo}}</span>
        <h5>Municipio</h5>
        <span>{{vehiculo?.municipio}}</span>
        <h5>Capacidad</h5>
        <span>{{vehiculo?.capacidad}}TON</span>
        <h5>Transporta Alimento</h5>
        <span>{{vehiculo?.transporte_alimento ? 'Si' : 'No'}}</span>
    </div>
</div>