
.nav-link--mytabstilo {
  background-color: var(--gris4) !important;
  color: var(--azul1) !important;
}
.nav-link--color {
  color: var(--gris-oscuro);
}

.container-misasociaciones {
  margin-top: 10px;
}

.not-found {
  margin-top: 150px;
}
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

@media screen and (max-width: 650px) {
  .nav-tabs {
    flex-direction: column !important;
  }
}
