<div class="container-misasociaciones">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- Home tab pane -->
    <li class="nav-item" role="presentation" *ngIf="isUserRep || (!isUserRep  && !isUserMiemb)">
      <a #tabSoyRep [ngClass]="{'active nav-link--mytabstilo': activeclass1}" class="nav-link nav-link--color" id="home-tab"
        data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
        aria-selected="true" (click)="activeTabClick('representante')">Donde soy representante</a>
    </li>
    <!-- Profile-tab-pane -->
    <li class="nav-item" role="presentation" *ngIf="isUserMiemb">
      <a #tabSoyMiemb [ngClass]="{'active nav-link--mytabstilo': activeclass2}" class="nav-link nav-link--color" id="profile-tab"
        data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab"
        aria-controls="profile-tab-pane" aria-selected="false" (click)="activeTabClick('miembro')" id="tabSoyMiemb">Donde soy miembro</a>
    </li>
    <!-- Unirme_a_una_asociacion -->
    <li class="nav-item" role="presentation" *ngIf="!isUserRep && !isUserMiemb">
      <a #tabUnir [ngClass]="{'active nav-link--mytabstilo': activeclass3}" class="nav-link nav-link--color" id="Unirme_a_una_asociacion-tab"
        data-bs-toggle="tab" data-bs-target="#Unirme_a_una_asociacion" type="button" role="tab"
        aria-controls="Unirme_a_una_asociacion" aria-selected="false"
        (click)="activeTabClick('Unirme_a_una_asociacion')">Unirme a una asociación</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!-- Home tab panel -->
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0" *ngIf="isUserRep || (!isUserRep && !isUserMiemb)">
      <div class="container-card" *ngIf="!showNotFound">
        <app-card-asociacion  *ngFor="let asociacion of asociaciones" [asociacion]="asociacion"
          [delatecard]="true" [showRepLegal]="false" (onDetalle)="navigate($event,'enable','tabSoyRep')"
          (onDelete)="delete($event)">
        </app-card-asociacion>
      </div>
      <div class="not-found" *ngIf="showNotFound">
        <app-not-found message="Aún no has registrado tus asociaciones"></app-not-found>
      </div>
      <app-spinner [showText]=false *ngIf="loading1"></app-spinner>
    </div>
    <!-- Profile-tab-pane -->
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0" *ngIf="isUserMiemb">
      <div class="container-card " *ngIf="!showNotFoundAsocMiemb">
        <app-card-asociacion   *ngFor="let asociacion of asociacionesIsMiembro" [asociacion]="asociacion"
          [delatecard]="false" (onDetalle)="navigate($event,'disable','tabSoyMiemb')" (onDelete)="delete($event)">
        </app-card-asociacion>
      </div>
      <div class="not-found" *ngIf="showNotFoundAsocMiemb">
        <app-not-found message="Aún no perteneces a una asociación"></app-not-found>
      </div>
    </div>
    <!-- Unirme_a_una_asociacion -->
    <div class="tab-pane fade" id="Unirme_a_una_asociacion" role="tabpanel" aria-labelledby="Unirme_a_una_asociacion-tab" tabindex="0" *ngIf="!isUserRep && !isUserMiemb">
      <div class="buscadoryfiltro mt-4">
        <div class="buscador-container">
          <app-search class="app-search" [buscadorpersonalizado]="true" [placeholderbuscador]="'Buscar asociacion..'"
            (keyEnterPressData)="onBuscarPalabra($event)">
          </app-search>
          <div class="container-filtros">
            <app-filtro [filtro]="filtro" [checkboxfiltro]="false" (onFilterSeleccionado)="onFiltroChange($event)"
              [filtroSeleccionado]="filtroseleccionado">
            </app-filtro>
            <app-filtro [checkbox]="checkbox" [checkboxfiltro]="true" [checkboxArray]="municipios"
              (onArrayCheckboxSelec)="onFiltroChangeCheckbox($event)" [arrayCheckboxSelec]="filtroseleccionadoCheckbox">
            </app-filtro>
          </div>
        </div>
        <div class="chip mb-4">
          <app-chip-con-boton-close
          *ngIf="filtroseleccionado"
           [iconoChip]="true"
           [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
           [contenidoChip]="filtroseleccionado.nombrefiltro +' '+ asociacionesexistentes.length"
           (onCloseClip)="delateFilter()"
           >
          </app-chip-con-boton-close>
          <div class="chip__checkbox" *ngIf="filtroseleccionadoCheckbox && resultFiltroPorMunicipio">
            <app-chip-con-boton-close
            *ngFor="let  resultado of resultFiltroPorMunicipio; let i =index"
             [iconoChip]="true"
             [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
             [contenidoChip]="resultado.nombre +' '+ resultado.datos.length"
             (onCloseClip)="delateFilterCheckbox(i)">
            </app-chip-con-boton-close>
          </div>
        </div>
        <div *ngIf="asociacionesexistentes?.length == 0"
          class="alert alert-primary d-flex align-items-center alert-mi-estilo" role="alert">
          <img src="assets/icons/searchanimado.svg">
          <div>
            No se encontraron resultados
          </div>
        </div>
      </div>
      <div class="list overflow-auto d-flex flex-column">
        <div class="card" *ngFor="let asociacion of  asociacionesexistentes">
          <div class="card__user-info d-flex flex-row" (click)="goAssociationDetail(asociacion)">
              <img class="card__image" src="{{asociacion.foto ? asociacion.foto : '/assets/images/avatar-person.svg'}}">
              <div class="asociacion-nombre shorterTextOverflowHidden">
                <span class="card__title shorterTextAuto">{{asociacion.nombre}}
                </span>
                  <small class="shorterTextAuto">{{asociacion?.municipio? asociacion?.municipio: 'Sin municipio'}}</small>
              </div>
          </div>
          <button class="card__button btn-square btn--azul1 " (click)="invitarAnular(asociacion)"
            *ngIf="!asociacion?.estado_solicitud">Unirme</button>
          <button class="card__button btn-square btn--grey " (click)="invitarAnular(asociacion)"
            *ngIf="asociacion?.estado_solicitud == 'Enviada'">Anular</button>
          <div class="btn-group " *ngIf="asociacion?.estado_solicitud == 'Aceptada'">
            <button class="card__button btn-square btn--grey dropdown-toggle" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">Miembro</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li (click)="invitarAnular(asociacion)"><a class="dropdown-item"><i class="bi bi-box-arrow-left"></i> No
                  soy
                  miembro</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-basic-floating-btn [tooltip]="'Crear asociación'" [agregar]="true" (click)="create()" *ngIf="selectedTab == 'representante' && !isUserRep && !isUserMiemb && !loading1 && !loading2">
</app-basic-floating-btn>
