<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" (click)="selectedTab = 'representante'">Donde soy representante</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" (click)="selectedTab = 'miembro'">Donde soy miembro</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="row row-cols-2" >
        <app-card-asociacion class="col"
        *ngFor="let asociacion of asociaciones"
        [asociacion]="asociacion"
        [delatecard]="true"
        (onDetalle)="navigate($event,'enable')"
        (onDelete)="delete($event)">
        </app-card-asociacion>
      </div>
      <div class="search-container" *ngIf="showNotFound">
        <div class="search-container__box">
            <img class="search-container__image" src="assets/images/searching.svg">
            <h3>No se han encontrado resultados</h3>
            <p>Aun no has registrado tus asociaciones</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="row row-cols-2" >
        <app-card-asociacion class="col"
        *ngFor="let asociacion of asociacionesIsMiembro"
        [asociacion]="asociacion"
        [delatecard]="true"
        (onDetalle)="navigate($event,'disable')"
        (onDelete)="delete($event)">
        </app-card-asociacion>
      </div>
      <div class="search-container" *ngIf="showNotFoundAsocMiemb">
        <div class="search-container__box">
            <img class="search-container__image" src="assets/images/searching.svg">
            <h3>No se han encontrado resultados</h3>
            <p>Aún no perteneces a una asociación</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-basic-floating-btn [agregar]="true" (click)="create()"></app-basic-floating-btn>
