
<div class="card">
<!--     <div class="card__meta">
      <div class="card__meta-photo">
         <img class="card__meta-photo-img" src="assets/images/pdf_camara_comercio.svg">
      </div>
      <div class="card__meta-details" >
        <div class="card__meta-detais-info">
            <a [href]="asociacion?.foto_camarac" target="_blank"><img class="card__meta-detais-info-img" src="assets/icons/download-pdf-10136 1.svg"></a>
        </div>
     </div>
    </div> -->
    <div class="card__description">
      <div class="card__description-header">
        <div class="d-flex flex-direction-row">
          <img src="assets/icons/asociacion_black_24dp.svg">
          <h1 class="card__title" (click)="detalle(asociacion)">{{asociacion?.nombre | shorter:35}}</h1>
        </div>
        <i class="card__icon bi bi-trash3" (click)="eliminar(asociacion)" *ngIf="delatecard"></i>
      </div>
      <p> </p>
      <div class="card__description-container" >
        <h2>Información de la asociación</h2>
        <div class="card__description-container-infor-1">
          <div class="card__description-container-infor-1-div">
            <img  src="assets/icons/travel_explore_black_24dp.svg">
            <span >{{asociacion?.municipio}}-{{asociacion?.departamento}}</span>
          </div>
          <div class="card__description-container-infor-1-div">
            <img src="assets/icons/location_on_black_24dp.svg">
            <span >{{asociacion?.direccion ? 'Dir.' : ''}} {{asociacion?.direccion | shorter:15}}</span>
          </div>
          <div class="card__description-container-infor-1-div" >
            <img src="assets/icons/picture_as_pdf_black_24dp.svg">
            <div>
              <span *ngIf="asociacion?.foto_camarac">
                <a [href]="asociacion?.foto_camarac" target="_blank">Camara de comercio
                   <img src="assets/icons/download_for_offline_blue1_24dp.svg">
                </a>
              </span>
              <span *ngIf="!asociacion?.foto_camarac">
                <a >Camara de comercio
                   <img src="assets/icons/download_for_offline_blue1_24dp.svg">
                </a>
              </span>
            </div>
          </div>
          <div class="card__description-container-infor-1-div" *ngIf="asociacion?.foto_camarac">
                <span class="card_description--span">Renovada: {{asociacion?.fecha_renovacion_camarac}}</span>
          </div>
         <!--           <h3 >Fecha de modificación del documento</h3>
          <div class="card__description-container-infor-1-div">
              <img  src="assets/icons/edit_document_black_24dp.svg">
              <span>{{asociacion.fecha_renovacion_camarac}}</span>
          </div -->
        </div>
        <h2>Representante legal</h2>
        <div class="card__description-container-infor-2" (click)="goDetalleRepresentante(asociacion)">
          <div class="card__description-container-infor-2-div">
            <img  src="assets/icons/person_pin_black_24dp.svg">
            <a>{{asociacion?.propietario}}</a>
          </div>
        </div>
      </div>
      <div class="card__description-footer" (click)="detalle(asociacion)">
        <p class="read-more" (click)="detalle(asociacion)"><a>Ver detalles</a></p>
      </div>
    </div>
</div>
