
@import "../../../components/styles/enlaces_directos/enalces_directos";
.front-botones {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    background-color: #e4e1e1;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      color: var(--azul1) !important;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 995px) {
  .view-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .view--current {
    max-width: 400px;
    max-height: 400px;
  }
}
