
<div class="container-card" *ngIf="enlaceRapido.length > 0 ">
  <app-card-slider-enlaces-directos-inicio
  [editaAndEliminar]="true"
   [dato]="{
                titulo:enlace?.titulo,
                imagen:enlace?.url_imagen,
                urlEnlace:enlace.url_enlace
              }"
    (onUpdateCard)="editarData(enlace.id_enlace_rapido)"
    (onDeleteCard)="deleteNovedad(enlace.id_enlace_rapido,enlace?.titulo,enlace.url_imagen,i )"
    *ngFor="let enlace of enlaceRapido; let i=index">
  </app-card-slider-enlaces-directos-inicio>
</div>
<app-not-found class="app-not-found" *ngIf="showNotFound" [message]="'No hay enlaces Rapidos asignados'"></app-not-found>
<app-basic-floating-btn [tooltip]="'Crear un enlace rapido'" [agregar]="true" (click)="openFormCrear()">
</app-basic-floating-btn>
