
<div class="container-card" *ngIf="enlaceRapido.length > 0 ">
  <div class="view-content">
    <div class="views-row view--current item-{{i}}" *ngFor="let item of enlaceRapido; index as i">
      <div class="container-target-link">
      </div>
      <div class="container-title">
        <div class="front-botones">
          <div (click)="editarData(item)" *ngIf="true">
            <i class="container__icon bi bi-pencil"></i>
          </div>
        </div>
        <h4 class="container-title-h4" (click)=" navigate(item.url_enlace)">{{item.titulo}}</h4>
      </div>
      <img [src]="item.url_imagen" width="100%" height="100%" alt="Imagen{i}">
    </div>
  </div>

</div>
<app-not-found class="app-not-found" *ngIf="showNotFound" [message]="'No hay enlaces Rapidos asignados'"></app-not-found>

