<!-- resultado -->
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-4 row--mi-estilo" [ngClass]="{'mychangeitemheight':changeItem}">
  <div *ngIf="changeItem" class="mychangeitem">
    <div>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="none">
        <path stroke="#0A0A30" stroke-linecap="round" stroke-width="1.5"
          d="M12 6.864v1.333m0 7.606v1.333M17.136 12h-1.333m-7.606 0H6.864m8.768 3.632l-.943-.943M9.311 9.311l-.943-.943m0 7.264l.943-.943m5.378-5.378l.943-.943"
          class="mychangeItempath" />
      </svg>
    </div>
  </div>
  <div class="search-container" *ngIf="showNotFound">
    <div class="search-container__box">
      <img class="search-container__image" src="assets/images/layer1sinfavoritos (1).svg" />
      <h3>
        Parece que este piscicultor no cuenta con asociaciones registradas
        <span>
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
            <g style="
                            animation: pulsate 0.5s ease-in-out infinite both;
                            transform-origin: center center;
                          " stroke-width="1.5">
              <path stroke="#0A0A30"
                d="M11.515 6.269l.134.132a.5.5 0 00.702 0l.133-.132A4.44 4.44 0 0115.599 5c.578 0 1.15.112 1.684.33a4.41 4.41 0 011.429.939c.408.402.733.88.954 1.406a4.274 4.274 0 010 3.316 4.331 4.331 0 01-.954 1.405l-6.36 6.259a.5.5 0 01-.702 0l-6.36-6.259A4.298 4.298 0 014 9.333c0-1.15.464-2.252 1.29-3.064A4.439 4.439 0 018.401 5c1.168 0 2.288.456 3.114 1.269z"
                fill="var(--azul1)" />
              <path stroke="red" stroke-linecap="round" stroke-linejoin="round" d="M15.5 7.5c.802.304 1.862 1.43 2 2" />
            </g>
          </svg>
        </span>
      </h3>
    </div>
  </div>
  <div class="card" *ngFor="let piscicultorasociacion of piscicultorasociaciones; let i = index">
    <div class="card__meta">
      <div class="card__meta-photo">
      <!--   <div class="paspartu">
          <div class="paspartu-iframe">
            <iframe src="../../../../assets/images/test.pdf"  allowtransparency="true"  style="width:100%; height:100%;" frameborder="0" allowfullscreen ></iframe>
          </div>
        </div> -->
         <img class="card__meta-photo-img" src="{{foto_camaracpdf}}">
      </div>
      <div class="card__meta-details" >
        <div class="card__meta-detais-info">
            <a  *ngIf="piscicultorasociacion?.foto_camarac" [href]="piscicultorasociacion?.foto_camarac" target="_blank" download="Docmento_camara_de_comercio.pdf"><img class="card__meta-detais-info-img" src="assets/icons/download-pdf-10136 1.svg"></a>
             <h6 *ngIf="!piscicultorasociacion?.foto_camarac">Sin documento</h6>
        </div>
    </div>
    </div>
    <div class="card__description" (click)="navigate(piscicultorasociacion.nit)">
      <div class="card__description-header">
        <img  src="assets/icons/asociacion_black_24dp.svg">
        <h1 (click)="navigate(piscicultorasociacion.nit)">{{piscicultorasociacion.nombre | shorter:20}}</h1>
      </div>
      <p> </p>
      <div class="card__description-container">
        <h2>Información de la asociación</h2>
        <div class="card__description-container-infor-1">
          <div class="card__description-container-infor-1-div">
            <img  src="assets/icons/travel_explore_black_24dp.svg">
            <span >{{piscicultorasociacion.municipio}}-{{piscicultorasociacion.departamento}}</span>
          </div>
          <div class="card__description-container-infor-1-div">
            <img src="assets/icons/person_pin_circle_black_24dp.svg">
            <span >{{piscicultorasociacion.direccion ? 'Dir.' : ''}} {{piscicultorasociacion.direccion | shorter:15}}</span>
          </div>
          <div class="card__description-container-infor-1-div">
            <img src="assets/icons/litigation-negotiation.svg">
            <span >Constituida: {{piscicultorasociacion.legalconstituida ? 'Si' : 'No'}}</span>
          </div>
          <h3 >Fecha de modificación del documento</h3>
          <div class="card__description-container-infor-1-div">
              <img  src="assets/icons/edit_document_black_24dp.svg">
              <span>{{piscicultorasociacion.fecha_renovacion_camarac}}</span>
          </div>
        </div>
        <h2>Representante legal</h2>
        <div class="card__description-container-infor-2">
          <div class="card__description-container-infor-2-div">
            <img  src="assets/icons/person_pin_black_24dp.svg">
            <span >{{piscicultorasociacion.propietario}}</span>
          </div>
        </div>
      </div>
      <div class="card__description-footer">
        <p class="read-more" (click)="navigate(piscicultorasociacion.nit)"><a>Ver detalles</a></p>
      </div>
    </div>
  </div>
</div>

