.detail-container {
    display: flex;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .detail-container__data {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
  }
  
  .detail-container__image {
    width: 25px;
    height: 25px;
    font-size: 30px;
    align-self: flex-start;
  }
  
  .detail-container__image--2{
    margin-top: -7px;
    font-size: 28px;
  }

  .detail-container__title {
    font-size: 20px;
  }
  
  .detail-container__value {
    font-size: 15px;
    text-align: justify;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .container__description1 {
    display: block;
    font-size: 23px;
    margin-left: 17px;
  
  }
  
  .container__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-self: center;
    object-fit: cover;
  }
  
  .line {
    border-top: 1px solid var(--black);
    margin-top: 30px;
  }
  
  .container__info {
    display: flex;
    flex-direction: column;
  
  }
  
  .container__detalle {
    display: flex;
  
  }
  
  .container__title {
    margin-left: 17px;
  }
  
  .mycontainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .card{
    display: flex;
    flex-direction: column;
    width: 333px;
    height: 422px;
    border: 0;
    margin-right: 20px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .card__img{
    width: 100%;
    height: 333px;
    object-fit: cover;
    align-self: center;
    border-radius: 15px;
  }
  
  .card__title{
    font-size: 23px;
    font-weight: 600;
    margin-top: 5px;
  }
  
  .card__sub-title{
    font-size: 17px;
    font-weight: 500;
    margin-top: 4px;
  }
  
  .card__description{
    font-size: 14px;
    margin-top: 4px;
  }
  
  .container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }