
<div class="container container-inform">
  <h4 class="container__title">Vehículos</h4>
  <p class="container__description">En esta sección, encontrarás información sobre los vehículos registrados por los
  transportadores que transportan alimentos, lo cual puede resultar útil para contactar el transporte de alimentos para
  poder transportar los peces.</p>
</div>
<div class="search">
  <app-search (textSearch)="onSearch($event)" [activeClasetwo]="true" ></app-search>
  <app-modal-multi-filters
  [radioFilter1]="orderFilters"
   [chipFilter1]="filters"
   [checkboxOptions]="municipios"
      [checkArray]="filtroseleccionadoCheckbox"
     [deleteChipFilter1]="selectedOrderFilter"
     [deleteRadioFilter1]="selectedFilter"
    (filtersAplied)="onFiltersAplied($event)"></app-modal-multi-filters>
</div>
<div class="chip">
  <app-chip-con-boton-close *ngIf="selectedFilter" [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'" [contenidoChip]="selectedFilter.nombrefiltro + ' ('+ vehiculosFiltered.length +')'"
    (onCloseClip)="deleteFilter()">
  </app-chip-con-boton-close>
  <app-chip-con-boton-close *ngIf="selectedOrderFilter" [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'" [contenidoChip]="selectedOrderFilter.nombrefiltro"
    (onCloseClip)="deleteOrderFilter()">
  </app-chip-con-boton-close>
  <app-chip-con-boton-close
      *ngFor="let  resultado of resultFiltroPorMunicipio; let i =index"
        [iconoChip]="true"
        [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
        [contenidoChip]="resultado.nombre +' '+ resultado.datos.length"
        (onCloseClip)="deleteFilterCheckbox(i)"
    >
  </app-chip-con-boton-close>
</div>
<app-not-found *ngIf="showNotFound" objectName="vehiculos" [imgType]="'vehiculo'"></app-not-found>

<div class="container mb-4">
  <app-card-vehiculo [datos]="vehiculo" [indiceDatos]="i" *ngFor="let vehiculo of vehiculosFiltered; let i=index;" (onDetalle)="goDetail(vehiculo.id_vehiculo)"></app-card-vehiculo>
</div>
