<div class="container" *ngIf="!send">
    <div class="container-form">
        <img class="container__logo" src="assets/images/logo.svg">
        <h4 class="container__title">Recupera tu contraseña</h4>
        <p class="container__paragraph">Por favor, introduce tu dirección de correo electrónico. Recibirás un mensaje con las instrucciones para restablecer tu contraseña.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="container-form__box">
                <span class="container-form__label">Introduce tu correo electrónico: <span class="container-form__simbol">*</span></span>
                <input class="container-form__input" [ngClass]="invalid('email') ? 'invalid-input' : ''" type="text" formControlName="email" (input)="onChange()">
                <div *ngIf="invalid('email')" class="container__alert-msg danger-message">
                    <div *ngIf="email?.errors?.['required']">
                        *Campo obligatorio
                    </div>
                    <div *ngIf="email?.errors?.['email']">
                        Escribe un email correcto!
                    </div>
                    <div *ngIf="error">
                        {{errorMensaje}}
                    </div>
                </div>
                <div *ngIf="error" class="container__alert-msg danger-message">
                    <div >
                        {{errorMensaje}}
                    </div>
                </div>
            </div>

            <div class="container-box">
                <button class="container-form__button btn-rounded-blue" [ngClass]="form.invalid ? 'disabled' : ''" type="submit">
                    <div class="spinner-border spinner" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span *ngIf="!loading">Enviar</span>
                </button>
            </div>
        </form>
    </div>
    </div>

    <app-basic-message
    title='Revisa tu correo electrónico'
    message='Te hemos enviado un enlace a tu correo electrónico para que puedas restablecer la contraseña.'
    callToAction='Si no encuentas el e-mail, revisa tu correo no deseado.'
    btnName='Volver al inicio'
    *ngIf="send"
    ></app-basic-message>
