<div class="container">
    <div class="container__message-box">
        <img class="container__logo"src="assets/images/logo-white.svg">
        <p class="container__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <span class="container__autor">Lorem ipsum</span>
    </div>
    <div class="container__form-box">
        <div class="container__back-button">
            <img src="assets/icons/arrow-back-ios.svg" (click)="exiting($event)">
            <span class="container__back-button-label" (click)="exiting($event)">Regresar</span>
        </div>
        <h4 class="container__title">Registrate</h4>
        <p class="container__message-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="container-form">
                <div class="container-form__box1">
                    <span class="container-form__label">Nombre completo*</span>
                    <input class="container-form__input form-input-text-square" [ngClass]="invalid('nombreCompleto') ? 'invalid-input' : ''" type="text" placeholder="    Nombre completo" formControlName="nombreCompleto">
                    <div *ngIf="invalid('nombreCompleto')" class="danger-message">
                        <div *ngIf="nombreCompleto?.errors?.['required']">
                            No haz escrito tu nombre:(
                        </div>
                    </div>   
                    <span class="container-form__label">Fecha de nacimiento</span>
                    <div class="container-form__input-container">
                        <input class="container-form__input form-input-text-square" type="text" placeholder="    01/01/1970" ngbDatepicker #d="ngbDatepicker" formControlName="fechaNac" readonly>
                        <img class="container-form__input-img" src="assets/icons/calendar.svg"  (click)="d.open()" >
                    </div>
                    <span class="container-form__label">Celular</span>
                    <input class="container-form__input form-input-text-square" [ngClass]="invalid('celular') ? 'invalid-input' : ''" type="text" maxlength="10" placeholder="    Tu numero de celular" formControlName="celular">
                    <div *ngIf="invalid('celular')" class="danger-message">
                        <div *ngIf="celular?.errors?.['required']">
                            Escribe un numero de celular
                        </div>
                        <div *ngIf="celular?.errors?.['maxLength']">
                            Parece que tienes algunos numeros de mas:(
                        </div>
                        <div *ngIf="celular?.errors?.['pattern']">
                            Solo debes escribir numeros
                        </div>
                    </div>   
                    <span class="container-form__label">Departamento</span>
                    <!--<input class="container-form__input form-input-text-square" type="text" placeholder="    Departamento">-->
                    <div ngbDropdown class="d-inline-block">
                        <button class="container-form__input form-input-text-square" id="dropdownBasic1" ngbDropdownToggle>{{ dptoSelec.nombre }} </button>
                        <div class="container-form__input container-form__input--scroll" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button *ngFor="let departamento of departamentos" ngbDropdownItem (click)="dptoSelecc(departamento)">{{ departamento.nombre_departamento }}</button>
                        </div>
                    </div>

                    <span class="container-form__label">Municipio</span>
                    <!--<input class="container-form__input form-input-text-square" type="text" placeholder="    Municipio">-->
                    <div ngbDropdown class="d-inline-block">
                        <button class="container-form__input form-input-text-square" id="dropdownBasic1" ngbDropdownToggle>{{ municSelec.nombre }} </button>
                        <div class="container-form__input container-form__input--scroll" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button *ngFor="let municipio of municipios" ngbDropdownItem (click)="municSelecc(municipio)">{{ municipio.nombre }}</button>
                        </div>
                    </div>

                    <span class="container-form__label">Corregimiento</span>
                    <!--<input class="container-form__input form-input-text-square" type="text" placeholder="    Corregimiento">-->
                    <div ngbDropdown class="d-inline-block">
                        <button class="container-form__input form-input-text-square" id="dropdownBasic1" ngbDropdownToggle>{{ corregimientoSelec.nombre }} </button>
                        <div class="container-form__input container-form__input--scroll" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button *ngFor="let corregimiento of corregimientos" ngbDropdownItem (click)="corregSelecc(corregimiento)">{{ corregimiento.nombre }}</button>
                        </div>
                    </div>
                </div>
                
                <div class="container-form__box2">
                    <span class="container-form__label">Cedula</span>
                    <input class="container-form__input form-input-text-square" [ngClass]="invalid('cedula') ? 'invalid-input' : ''" type="text" placeholder="    Ingresa tu cedula" formControlName="cedula">
                    <div *ngIf="invalid('cedula')" class="danger-message">
                        <div *ngIf="cedula?.errors?.['required']">
                            Escribe tu cedula
                        </div>
                        <div *ngIf="cedula?.errors?.['pattern']">
                            Solo debes escribir numeros
                        </div>
                    </div>      

                    <span class="container-form__label">Correo electrónico*</span>
                    <input class="container-form__input form-input-text-square" [ngClass]="invalid('email') ? 'invalid-input' : ''" type="text" placeholder="    Ingresa tu correo electronico" formControlName="email">
                    <div *ngIf="invalid('email')" class="danger-message">
                        <div *ngIf="email?.errors?.['required']">
                            No haz escrito tu email:(
                        </div>
                        <div *ngIf="email?.errors?.['email']">
                            Escribe un email correcto!
                        </div>
                    </div>      
                    <span class="container-form__label">Crea una contraseña*</span>
                    <input class="container-form__input form-input-text-square" [ngClass]="invalid('password') ? 'invalid-input' : ''" type="password" placeholder="    Contraseña" formControlName="password">
                    <div *ngIf="invalid('password')" class="danger-message">
                        <div *ngIf="password?.errors?.['required']">
                            Escribe una contraseña
                        </div>
                    </div>
                    <span class="container-form__label">Ingresa nuevamente la contraseña*</span>
                    <input class="container-form__input form-input-text-square" [ngClass]="invalid('matchPassword') ? 'invalid-input' : ''" type="password" placeholder="    Contraseña" formControlName="matchPassword">    
                    <div *ngIf="invalid('matchPassword') || noMatchingPasswords()" class="danger-message">
                        <div *ngIf="matchPassword?.errors?.['required']">
                            Escribe nuevamente la contraseña
                        </div>
                        <div *ngIf="password?.value != matchPassword?.value">
                            Las contraseñas no coinciden
                        </div>
                    </div>

                    <span class="container-form__label">Veredas</span>
                    <div ngbDropdown class="d-inline-block">
                        <button class="container-form__input form-input-text-square" id="dropdownBasic1" ngbDropdownToggle>{{ veredaSelec.nombre }} </button>
                        <div class="container-form__input container-form__input--scroll" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button *ngFor="let vereda of veredas" ngbDropdownItem (click)="veredaSelecc(vereda)">{{ vereda.nombre }}</button>
                        </div>
                    </div>

                    <div class="container-form__terms-box">
                        <input class="container-form__checkbox" type="checkbox" formControlName="terms">
                        <span>Acepta los terminos  y  condiciones</span>
                    </div>
                    
                    <button class="container-form__button btn-square-blue" type="submit">Registrar una cuenta</button>
            
                    <p class="container-form__label2">ó</p>
                    <button class="container-form__button-white btn-square-white"><img src="assets/icons/google-icon.svg"><span class="container-form__button-text">Registrate con Google</span></button>
                </div>
            </div>
        </form>
    </div>
</div>