
.container-f {
    width: 100%;
    height: 100%;
    position: relative;
  color: var(--gris-oscuro);
  &__div{
    @extend .auto-center;
       width: 100%;;
      height: fit-content;
      display: flex !important;
      justify-content: center;
      align-items: center;
  }
}

.container-basic-message {
  width: 100%;
  height: 100%;
  position: relative;
&__div{
  @extend .auto-center;
  width: fit-content;
  height: fit-content;
}
}
.auto-center{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
}
.container-form {
  max-width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:fit-content;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 15px 5px var(--shadow-2);
}

.container__logo {
  width: 80px;
  height: 80px;
}

.container-form__box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  div {
    text-align: center;
  }
}

.container-form__alert {
  width: 100%;
  margin: 0;
}

.container__title {
  text-align: start;
  margin-top: 0.5rem;
  font-size: 24px;
  color: var(--gris3);
}

.container__message-2 {
  color: var(--gris3);
  text-align: start;

  a {
    text-decoration: none;
    color: var(--azul1);
  }
}

.container__form-box {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.container-form__box1 {
  display: flex;
  flex-direction: column;
}

.container-form__box2 {
  display: flex;
  flex-direction: column;
}

.container-form__label {
  display: block;
  color: var(--gris3);
  margin-top: 10px;
  font-weight: 500;
}

.container-form__label2 {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-form__label3 {
  display: block;
}

.container-form__button-text {
  margin-left: 8px;
}

.container-form__button-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  gap: 10px;

  div {
    width: 100%;
    display: flex;
  }
}

.container-form__button {
  padding-left: 10px;
  width: 100%;
  font-size: 12px;
}

.container-form__button-white {
  width: 100%;
  font-size: 12px;
  margin-left: 5px;
  color: var(--gris-oscuro);
  border-color: var(--gris-oscuro);
}

.container-form__checkbox {
  margin-right: 5px;
}

.container-form__input {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-top: 8px;
}

.container-form__input-container {
  position: relative;
}

.container-form__input-img {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  bottom: 7px;
}

.container-form__white-button-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-form__terms-box {
  margin-top: 10px;
  width: 100%;
}

.container__back-button {
  margin-top: 14px;
}

.container__autor {
  margin-left: 20px;
  color: var(--white)
}

.container__back-button-label {
  margin-left: 12px;
}

.container__alert-msg {
  font-size: 10px;
  width: 200px;
}

.container__alert-msg--passwd {
  font-size: 9px;
  width: 200px;
}

.container-form__passwd-box {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  max-width: 100%
}

.container-form__sub-passwd-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  margin-left: 3px;
}

.container-form__input--passwd {
  width: 100%;
}

.container-form__icon {
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 515px) {
  .container-form__button-box {
    div {
      flex-direction: column;
      gap: 10px;
    }
  }

  .container-form__passwd-box {
    flex-direction: column;
  }

  .container-form__sub-passwd-box {
    max-width: 100%;
  }
}
