    .container{
        display: flex;
        justify-content:space-between;
        margin-left: 0;
        padding-left: 0;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
    }

    .container__logo{
        width: 80px;
        height: 80px;
        margin-top: 45px;
        margin-left: 20px;
    }

    .container__message-box{
        background-image: url("https://cr00.epimg.net/radio/imagenes/2020/11/21/al_campo/1605916279_295105_1605956382_noticia_normal.jpg");
        background-size:cover;
        //box-shadow:inset 0 0 0 2000px #26A5B88C;
        width:50vw;
        height: 100vh;
        background-position: 45% 51%;
    }
    .container__message{
        width: 360px;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 25px;
        color:var(--white);
        text-align: justify;
        text-justify: inter-word;
    }

    .container-form__box-title{
        width: 400px;
    }

    .container-form__alert{
        width: 400px;
        margin-top: 10px;
    }

    .container__title{
        text-align: start;
        margin-top: 25px;
        font-size: 24px;
    }

    .container__message-2{
        text-align: start;
        margin-bottom: 19px;
        margin-right: 15px;
        margin-top: 15px;
    }
    .container__form-box{
        //background-color: yellowgreen;
        //padding: 0px 50px 0px 100px;
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-form{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .container-form__title{
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    .container-form__box1{
        display: flex;
        flex-direction: column;
    }

    .container-form__box2{
        display: flex;
        flex-direction: column;
    }
    .container-form__label{
        display: block;
        margin-top: 14px;
        font-weight: 500;
    }

    .container-form__label2{
        align-self: center;
        margin-top:0px;
        margin-bottom: 0px;
    }

    .container-form__label3{
        display: block;
    }
    .container-form__button-text{
        margin-left: 24px;
    }

    .container-form__button{
        width: 400px;
        margin-top: 16px;
        padding-left: 10px;
    }

    .container-form__button-white{
        width: 400px;
        margin-top: 0px;
    }

    .container-form__checkbox{
        margin-right: 5px;
    }

    .container-form__input{
        width: 400px;
        margin-top: 8px;
    }

    .container-form__input--scroll{
        height: 300px;
        overflow-y: scroll;
    }
    .container-form__input-container{
        position:relative;
    }

    .container-form__input-img{
        position:absolute;
        width: 25px;
        height: 25px;
        right: 10px;
        bottom: 7px;
    }

    .container-form__white-button-box{
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    .container-form__terms-box{
        margin-top: 19px;
    }

    .container__back-button{
        margin-top: 14px;
    }

    .container__autor{
        margin-left: 20px;
        color:var(--white)
    }
    .container__back-button-label{
        margin-left: 12px;
    }