<div class="container">
    <div class="container-form">
        <img class="container__logo" src="assets/images/logo.svg">
        <h4 class="container__title">Actualiza tu contraseña</h4>
        <p class="container__paragraph" *ngIf="!success">Correo electrónico:  contraseña ejemplo</p>
        <p class="container__paragraph" *ngIf="success">Tu contraseña ha sido actualizada con éxito</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="container-form__box">
                <span class="container-form__label">Nueva contraseña: <span class="container-form__simbol">*</span></span>
                <input class="container-form__input" [ngClass]="invalid('password') ? 'invalid-input' : ''" type="password" formControlName="password" (input)="onChange()">
                <div *ngIf="invalid('password')" class="container__alert-msg danger-message">
                    <div *ngIf="password?.errors?.['required']">
                        *Campo obligatorio
                    </div>
                </div>
                <div *ngIf="invalid('password')" class="container__alert-msg danger-message">
                    <div *ngIf="password?.errors?.['pattern']">
                        <p>Introduce una contraseña segura: <span [ngClass]="eigthChar(password?.value) ? 'success': ''">Al menos 8 caracteres</span> que contengan <span [ngClass]="capitalcase(password?.value) ? 'success': ''">letras mayúsculas,</span> <span [ngClass]="lowercase(password?.value) ? 'success': ''"> minúsculas</span> <span [ngClass]="number(password?.value) ? 'success': ''"> y números.</span></p>
                    </div>
                </div>
            </div>

            <div class="container-box" *ngIf="!success">
                <button class="container-form__button btn-rounded-blue" [ngClass]="form.invalid ? 'disabled' : ''" type="submit">
                    <div class="spinner-border spinner" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span *ngIf="!loading">Actualizar contraseña</span>
                </button>
            </div>
            <div class="container-box" *ngIf="success">
                <button class="container-form__button btn-rounded-blue" routerLink='/home'>
                    Volver al inicio
                </button>
            </div>
            <div class="container-box" *ngIf="success">
                <button class="container-form__button btn-rounded-blue" routerLink='/login'>
                    Ingresar
                </button>
            </div>
        </form>
    </div>
    </div>