
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gris-oscuro);
}

.container-form {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 15px 5px var(--shadow-2);
}

.container__logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.container__title {
  text-align: center;
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 20px;
  color: var(--gris3)
}

.container-form__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.container-form__box {
  display: flex;
  flex-direction: column;
  //margin-top: 36px;
}

.container-form__label {
  font-weight: 400;
  color: var(--gris3)
}

.container-form__simbol {
  color: var(--red);
}

.container-form__button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: fit-content;
  font-size: 12px;
  margin-top: 20px;
}

.container-form__input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  border: 0.5px solid var(--gris3);
  outline: none;
}

.container-form__input--textarea {
  border-radius: 20px;
}

.container__alert-msg {
  font-size: 10px;
  width: 100%;
}

.container-box {
  display: flex;
  justify-content: center;
}

.spinner {
  color: var(--white);
  width: 20px;
  height: 20px;
}

.container__link {
  text-decoration: none;
  color: var(--gris3);
  margin-top: 10px;
  font-size: 12px;
}

.container__paragraph {
  color: var(--gris3);
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.container-form__title {
  text-align: center;
}
