<!--<input type="image" src="assets/images/logo-no-name.svg" (click)="onClick()">-->
<div class="floating-btn">
    <!--<button type="button" class="btn btn-primary btn-sm" (click)="onClick()"></button>-->
    <input type="image" src="assets/images/logo-no-name.svg" (click)="onClick()">
<div id="demo" class="demo" [ngClass]="in ? 'in' : ''">
    <button class="btn1 btn-square-blue" type="button">
        <span class="glyphicon glyphicon-star"></span> Descarga la app
    </button>
</div>

</div>
