<div>
  <div class="d-flex flex-row justify-content-between mt-3">
    <h4 class="modal-title" id="modal-basic-title">{{modalMode == 'create' ? 'Nuevo vehículo' : 'Actualizar vehículo'}}
    </h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="dateOfBirth">Modelo</label>
        <div class="input-group">
          <input id="modelo" class="form-control" placeholder="Modelo" formControlName="modelo">
        </div>
        <div *ngIf="invalid('modelo')" class="container__alert-msg danger-message">
          <div *ngIf="modelo?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Capacidad(TON)</label>
        <div class="input-group">
          <input type="number" min="0" id="capacidad" class="form-control" placeholder="Capacidad"
            formControlName="capacidad"
            onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
        </div>
        <div *ngIf="invalid('capacidad')" class="container__alert-msg danger-message">
          <div *ngIf="capacidad?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="container__box mb-3">
        <span class="container__title">¿Transportas alimentos?</span>
        <div class="input-group">
          <select class="form-select" formControlName='transporte_alimento'>
            <optgroup label="Escoge una opción">
              <option value=1>Si</option>
              <option value=0>No</option>
            </optgroup>
          </select>
        </div>
        <div *ngIf="invalid('transporte_alimento')" class="container__alert-msg danger-message">
          <div *ngIf="transporteAlimento?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>
      <!-- Fotos mini -->
      <div class="mb-5 clasfotoMiniy" *ngIf="photosVehicuArray.length > 0">
        <div class="Photos-mini-container">
          <div class="Photos-mini-data">
            <div class="Photos-mini--div" *ngFor="let foto of photosVehicuArray | slice:0:3; let i =index">
              <img class="Photos-mini__img" [src]="foto" (click)="openPhotosModal()">
            </div>
            <div class="masimagenescontador" *ngIf="photosVehicuArray.length >3" (click)="openPhotosModal()">
              <img class="Photos-mini__img" *ngFor="let fotogranja of photosVehicuArray | slice:3:4; let i =index"
                [src]="fotogranja">
              <div *ngIf="photosVehicuArray.length > 4">
                <p>+ {{photosVehicuArray.length-4}} </p>
              </div>
            </div>
          </div>
          <button [disabled]="loading" type="button" class="btn btn-primary container__btn--azul1"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            (click)="openPhotosModal()">
            <div>
              <img *ngIf="photosVehicuArray.length > 0 " src="assets/icons/pngegg.svg">
              <span *ngIf="photosVehicuArray.length == 1 ">
                Ver Foto
              </span>
              <span *ngIf="photosVehicuArray.length >=2">
                Ver Fotos
              </span>
            </div>
          </button>
        </div>
        <div *ngIf="loadingphoto && modalMode != 'update'" class="container__alert-msg danger-message">
          <div>
            Por favor; espere miestras se cargan las fotos
          </div>
        </div>
      </div>
      <div class="mb-5 clasfotoMiniyBoton" *ngIf="photosVehicuArray.length <= 0">
        <button [disabled]="loading" type="button" class="btn btn-primary container__btn--azul1"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          (click)="openPhotosModal()" *ngIf="photosVehicuArray.length == 0 ">
          <div>
            <img src="assets/icons/file_upload_black_24dp.svg">
            <span>
              Subir Fotos
            </span>
          </div>
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-direction-row justify-content-center align-items-center d-flex-button-footer">
      <button [disabled]="loading" type="button" class="btn-rounded btn--blue container__btn"
        (click)="addVehiculo()" *ngIf="modalMode=='create'">
        <span *ngIf="!loading">Guardar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading">
        </div>
      </button>
      <button [disabled]="loading" type="button" class="btn-rounded btn--blue container__btn"
        (click)="updateVehiculo()" *ngIf="modalMode=='update'">
        <span *ngIf="!loading">Actualizar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading">
        </div>
      </button>
      <button  type="button"  class="btn-rounded btn--grey container__btn container__btn--azul" (click)="goBack()">
        <span>Atrás</span>
      </button>
    </div>
  </div>
</div>
