.title{
    text-align: center;
    font-size: 42px;
}

ol{
    text-align: center;
}

div{
    text-align: center;
}
app-video-embed-iframe{
  display: flex;
  justify-content: center;
  align-items: center;
}
