.container__btn {
  width: 200px;
  height: 38px;
  margin-left: 10px;
  margin-top: 0;
}

button:disabled {
  opacity: 0.3;
}

.asterisk {
  color: red;
}
.container__btn--azul {
  background-color: var(azul1);
}

.container__spinner {
  width: 20px;
  height: 20px;
  color: var(--white);
}

.justify-content-between {
  align-items: center;
}

.btn-mi-estilo {
  width: 174.13px;
}

.container__btn--azul1 {
  background-color: var(--azul1);
  font-weight: 700;
  border-color: var(--azul1);

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.container__spinner {
  width: 20px;
  height: 20px;
  color: var(--white);
}

/* estilos del mapa */
.footerheadermodal {
  padding: 10px;
}

.modal-header {
  justify-content: center;
}

.modal-body {
  width: 100%;
  height: 100%;
}

/* estilo direccion disable */
.direccion-class {
  cursor: pointer;
}

.direccion-class:hover {
  background-color: #e4f4ff;
}

.box {
  display: flex;
  justify-content: center;
}

.box__button {
  align-self: center;
}

.box__title {
  margin-left: 15px;
}

.container__box {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.image-box {
  position: relative;
}

.modal__image {
  width: 200px;
  height: 160px;
  object-fit: cover;
  display: block;
  line-height: 1.5;
  border-radius: 15px;
  position: relative;
}

.square {
  border: 1px solid white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background-color: var(--morado);
}

.square__icon {
  color: white;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  right: -3px;
  bottom: -10px;
}

.modalbody {
  height: 100%;
}

.container__btn2 {
  width: 200px;
  height: 38px;
}

.container__btn1 {
  width: 150px;
  height: 38px;
  background-color: var(--morado);
}

.container__spinner {
  width: 20px;
  height: 20px;
}


.clasfotoMiniyBoton {
  margin-bottom: 10px !important;
}


button:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

/* Estilo */
@media screen and (max-width: 600px) {
  .justify-content-between {
    flex-direction: column !important;
    gap: 10px;
  }

  .modal-footer {
    justify-content: center;
  }

  .clasfotoMiniyBoton {
    text-align: center;
  }

}

@media screen and (max-width: 500px) {
  .d-flex-button-footer {
    flex-direction: column;
    gap: 10px;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .d-flex-button {
    flex-direction: column-reverse !important;
    gap: 10px;
    align-items: center;
  }

}
