<div>
  <div class="d-flex flex-row justify-content-between">
    <h4 class="modal-title" id="modal-basic-title">{{modalMode == 'create' ? 'Nuevo Negocio' : 'Actualizar Negocio'}}</h4>
  </div>

  <div class="modal-body">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="dateOfBirth">Nombre</label>
          <div class="input-group">
            <input id="productName" class="form-control" placeholder="Nombre" formControlName="nombre_negocio">
          </div>
          <div *ngIf="invalid('nombre_negocio')" class="container__alert-msg danger-message">
            <div *ngIf="nombreNegocio?.errors?.['required']">
              Campo requerido
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="dateOfBirth">Descripción</label>
          <div class="input-group">
            <textarea class="form-control" name="textarea" rows="5" cols="50"
              formControlName="descripcion_negocio">Write something here</textarea>
          </div>
          <div *ngIf="invalid('descripcion_negocio')" class="container__alert-msg danger-message">
            <div *ngIf="descripcion?.errors?.['required']">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <span class="container__title">Departamento</span>
          <div>
            <select class="form-control" formControlName='id_departamento'>
              <optgroup label="Escoge un departamento" value="70">
                <option *ngFor="let dpto of departamentos" [ngValue]="dpto.id_departamento">{{dpto.nombre_departamento}}
                </option>
              </optgroup>
            </select>
          </div>
          <div *ngIf="invalid('id_departamento')" class="container__alert-msg danger-message">
            <div *ngIf="idDpto?.errors?.['required']">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <span class="container__title">Municipio</span>
          <div>
            <select class="form-control" formControlName='id_municipio' (change)="idmunicipioselec()">
              <optgroup label="Escoge un municipio">
                <option *ngFor="let municipio of municipios" [ngValue]="municipio.id_municipio">{{municipio.nombre}}</option>
              </optgroup>
            </select>
          </div>
          <div *ngIf="invalid('id_municipio') || faltanargumentos" class="container__alert-msg danger-message">
            <div *ngIf="idMunic?.errors?.['required'] || faltanargumentos">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth">Dirección</label>
          <div class="input-group" (click)="verMapaDireccion()">
            <input [readonly]="true" id="productName" class="form-control direccion-class"
              placeholder="Selecciona aquí la dirección del negocio" formControlName="direccion">
          </div>
          <div *ngIf="invalid('direccion') || faltadireccion" class="container__alert-msg danger-message">
            <div *ngIf="direccion?.errors?.['required'] || faltadireccion">
              Campo requerido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth">Información adicional de la ubicación</label>
          <div class="input-group">
            <textarea id="productName" class="form-control" name="textarea" rows="5" cols="50"
              placeholder="Información adicional de la ubicación seleccionada"
              formControlName="informacion_adicional_direccion">Write something here</textarea>
          </div>
          <div *ngIf="invalid('informacion_adicional_direccion')" class="container__alert-msg danger-message">
            <div *ngIf="infoAdicionalDir?.errors?.['required']">
              Campo requerido
            </div>
          </div>
        </div>
            <!-- Fotos mini -->
            <app-fotos-mini-detalle-form (onDetalle)="openPhotosModal()" *ngIf="photosNegocioArray.length > 0"
              [loadingphoto]="loadingphoto" [modalMode]="modalMode" [fotos]="photosNegocioArray">
            </app-fotos-mini-detalle-form>
            <div class="clasfotoMiniyBoton" *ngIf="photosNegocioArray.length <= 0">
              <button [disabled]="loading1" type="button" class="btn btn-primary container__btn--azul1"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                (click)="openPhotosModal()" *ngIf="photosNegocioArray.length == 0 ">
                <div>
                  <img src="assets/icons/file_upload_black_24dp.svg">
                  <span>
                    Subir Fotos
                  </span>
                </div>
              </button>
            </div>
      </form>
  </div>
    <div class="modal-footer">
      <div class="d-flex flex-direction-row justify-content-center align-items-center d-flex-button-footer">
        <button [disabled]="loading1" type="button" class="btn-rounded btn--blue container__btn"
           (click)="addNegocio()" *ngIf="modalMode=='create'">
          <span *ngIf="!loading1">Guardar</span>
          <div class="container__spinner spinner-border" role="status" *ngIf="loading1">
          </div>
        </button>
        <button [disabled]="loading1" type="button"
           (click)="updateNegocio()"*ngIf="modalMode=='update'" class="btn-rounded btn--blue container__btn">
          <span *ngIf="!loading1">Actualizar</span>
          <div class="container__spinner spinner-border" role="status" *ngIf="loading1">
          </div>
        </button>
        <button type="button" class="btn-rounded btn--grey container__btn container__btn--azul"  (click)="goBack()">
          <span>Atrás</span>
        </button>
      </div>
    </div>
</div>

