$border-radius: 100%;
$background-color: rgba(255, 255, 255, 0.77);
$icon-size: 32px;
$icon-margin: 5px;
$border-radius: 100%;

@mixin common-button-styles {
  width: fit-content;
  height: fit-content;

  .icon {
    background: $background-color;
    border-radius: $border-radius;
    width: $icon-size;
    height: $icon-size;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    svg {
      display: block;
      fill: none;
      height: 12px;
      width: 12px;
      stroke: currentcolor;
      stroke-width: 4;
      overflow: visible;
      color: black;
    }
  }
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border-top: 0px;
  border-bottom: 0px;
  margin: 0px;
  align-self: center;
  background-color: white;
  box-shadow: inset 0 0 0 0.5px black;
}

.puntosindicators {
  grid-area: imagenes;
  height: 15%;
  margin: 0px;
  overflow: hidden;

  &__container {
    width: 100px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;

    div {
      position: relative;
      left: 0px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: 100%;
    }
  }
}

.cursorPoin {
  cursor: pointer;
}

.carousel {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'imagenes'
    'imagenes'
}


.carousel-control-prev {
  grid-area: atras;
  top: 50%;
  bottom: 50%;
  transform: translateY(100%) translateY(-50px);

  .icon {
    margin-left: $icon-margin;
  }

  @include common-button-styles;
}

.carousel-control-next {
  grid-area: alante;
  top: 50%;
  bottom: 50%;
  transform: translateY(100%) translateY(-50px);

  .icon {
    margin-right: $icon-margin;
  }

  @include common-button-styles;
}

.imagenes-carrucel {
  grid-area: imagenes;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.carousel-item {
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.img1item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img1item--rounded {
  border-radius: 8px;
}

.img1item--scale {
  object-fit: scale-down;
}

.img1item--efect {
  filter: brightness(85%);
}

.img1item--cover {
  object-fit: cover !important;
}

.img1item--scaledown {
  object-fit: scale-down !important;
}

.img1item--efect:hover {
  filter: brightness(100%);
  animation: scale 1.5s infinite alternate;
}

.img2item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes scale {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.05);
  }
}
