.indicadorimagencontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.fotosindicators {
  height: 75px;
  grid-area: indicador;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

.carousel-indicators>div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
}

.carousel-indicators button {
  background-color: #333944;
}

.imgminislider {
  width: 89px;
  height: auto;
  border-radius: 20%;
}

.puntosindicators {
  grid-area: imagenes;
  height: 15%;
  margin: 0px;
  overflow: hidden;
}

.puntosindicators>div {
  width: 100px;
  height: auto;
  overflow: hidden;
}

.puntosindicators>div>div {
  display: flex;
  flex-direction: row;

  gap: 10px;
  height: 100%;
}

.puntosindicators>div>div>button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border-top: 0px;
  border-bottom: 0px;
  margin: 0px;
  align-self: center;
  background-color: white;
  box-shadow: inset 0 0 0 0.5px black;

}

.imagenmini {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imagenmini img {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.carousel-confotos {
  display: grid;
  grid-template-rows: repeat(12, 44.499975px);
  grid-template-columns: repeat(12, 98.5px);
  grid-template-areas:
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    'atras imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes alante'
    '. fotocuenta fotocuenta fotocuenta fotocuenta fotocuenta fotocuenta fotocuenta fotocuenta fotocuenta fotocuenta .'
    '. indicador indicador indicador indicador indicador indicador indicador indicador indicador indicador .'
    '. indicador indicador indicador indicador indicador indicador indicador indicador indicador indicador .';
}

.carouselsinfotos {
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-template-areas:
  'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes';
}

.carouselsinfotosimg1 {
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-template-areas:
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes'
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes '
    'imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes';
}

@media (max-width: 767px) {
  .carousel-sinfotos {
    grid-template-rows: repeat(12, 41.5395833333px) !important;
    grid-template-columns: repeat(12, 41.5395833333px) !important;
  }

}

.carousel-control-prev {
  grid-area: atras;
  width: auto;
  height: auto;
}

.carousel-control-next {
  grid-area: alante;
  width: auto;
  height: auto;
}

.mYcarousel-control-prev-icon {
background: rgba(255, 255, 255, 0.77);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;

}
.mYcarousel-control-prev-icon>svg {
display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 4;
  overflow: visible;
  color: black;
}

.mYcarousel-control-next-icon {
  background: rgba(255, 255, 255, 0.77);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;

}

.mYcarousel-control-next-icon>svg {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 4;
  overflow: visible;
  color: black;

}

.carousel-control-prev-icon {
background: rgba(255, 255, 255, 0.77);
  border-radius: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
background: rgba(255, 255, 255, 0.77);
border-radius: 100%;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


.cuentafotos {
  grid-area: fotocuenta;
  text-align: center;
}

.imagenes-carrucel {
  grid-area: imagenes;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.imagenes-carrucel>div {
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;

}

.imgitem {
  height: 100%;
  width: 100%;
  object-fit:scale-down;
 /*  border-radius: 10px; */

}
.img2item {
  height: 100%;
  width: 100%;
  object-fit: cover;
 /*  border-radius: 10px; */

}

.img1item {
  height: 100%;
  width: 100%;
  /* border-radius: 10px; */

}

.imgitem--rounded{
  border-radius: 8px;
}
.imgitem--scale
{
  object-fit: scale-down;
}
/* .carousel-item {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
} */
