.activateclass {
  max-width: 100% !important;
  width: 100% !important;
}
.blog-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 2px 12px var(--shadow-2);
  max-width: 500px;
  width: 80vw;

  a {
    color: inherit;

    &:hover {
      color: var(--azul1);
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }

  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }

  .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }

    h1 {
      margin: 0;
      font-size: 1.5rem
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px;
    }

    .read-more {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding-top: 0;
      .photo--verMapa {
          z-index: 100;
          width: 30px;
          height: 30px;
          margin-bottom: 25px;
          cursor: pointer;
        }
      .photo--verMapa2 {
          z-index: 100;
          width: 30px;
          height: 30px;
          margin-bottom: 25px;
          cursor: pointer;
        }

    }
  }

  p {
    position: relative;
  }


  @media (min-width: 520px) {
    flex-direction: row;
    /*  width: 58vw;
    max-width: 500px; */
    height: 200px;
    .meta {
      width: 40%;
      height: 100%;
    }

    .description {
      width: 60%;
      height: 100%;
    }
    &.alt {
      flex-direction: row-reverse;

      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }

    }
  }

  /* mi estilo */
  .card__image {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    cursor: pointer;
  }

  .description_title_fauvourite {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description_title_fauvourite--h1 {
      color: var(--azul1);
      height: 100%;
    }
  }

  .description_title_fauvourite>div {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    padding-right: 10px;
  }

  .description_nombre {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .estilo-p-card {
    text-align: justify;
    margin: 0;
    cursor: pointer;
  }

  .card__description-container_footer {
    display: flex;
    justify-content: flex-end;
  }

  .mas_description_info {
    height: 60px;
    padding-right: 30px;
    cursor: pointer;
  }
}
.mapaBoton{
  display: block !important;
}
.card__title {
  grid-area: title;
  font-size: 24px;
  cursor: pointer;
}

.card__icon-favorite {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  cursor: pointer;
}

.card__description {
  font-size: 16px;
  margin-top: 12px;
  cursor: pointer;
}

.card__rating-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 75px;

}

.card__rating-container_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card__rating-container_puntos {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.data-ratinn-area {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card__icon-rating {
  height: 20px;
  width: 20px;
}

.card__rating {
    font-size: 14px;
      font-weight: 600;
}

.card__rating__detail {
  cursor: pointer;
}

.card__data {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .photo--verMapa {
    display: none;
  }
}
