/* estilos nuevos */
.square {
  border: 1.5px solid white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background-color:white;
  border-color: #6c757d;
}

.square__icon {
  color:#6c757d;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  right: -3px;
  bottom: -10px;
}
.box{
  width: 100%;
  text-align: center;
}
.image-box {
  position: relative;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-container__box {
  text-align: center;
}

.search-container__image2 {
  width: 396px;
  height: 370px;
}
.container__btn2 {
  width: 200px;
  height: 38px;
background-color: var(--gris3);
  font-weight: 700;
      border-color: #6c757d;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.container__btn3 {
  font-weight: 700;
  width: 200px;
    height: 38px;
    background-color: var(--gris3);
    border-color: #6c757d;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.container__btn1 {
  width: 200px;
  height: 38px;
  background-color: var(--gris3);
  border-color: #6c757d;
  font-weight: 700;
  div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
}
.container__spinner {
  width: 20px;
  height: 20px;
}
/* estilos antiguos */
.photos-container-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
}

.photo-container-gallery {
  height: 150px;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
}

.photo-container-gallery:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.box-shadow-efect:hover {
  -webkit-transform: none;
  transform: none;
}

.box-shadow-efect {
  border: 1px solid #4a4a4b;
  box-shadow: 0px 0px 1px 7px #9e9fa3;;
  animation: infinite resplandorAnimation 1s;
}

@keyframes resplandorAnimation {

  0%,
  100% {
    box-shadow: 0px 0px 1px 7px #9e9fa3;;
  }

  50% {
    box-shadow: 0px 0px 0px #9e9fa3;

  }

}
.modalbody {
  height: 100%;
}
