.activateclass {
  max-width: 100% !important;
  width: 100% !important;
}
.blog-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  line-height: 1.4;
  border-radius: 10px;
  box-shadow: 0 2px 12px var(--shadow-2);
  overflow: hidden;
  z-index: 0;
  max-width: 500px;
  width: 80vw;

  a {
    color: inherit;

    &:hover {
      color: var(--azul1);
    }
  }

  &:hover {
    .card__meta-photo {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }

  p {
    position: relative;
    margin: 1rem 0 0;

    &:first-of-type {
      margin-top: 1.25rem;
    }
  }

  &:hover {
    .card__meta-details {
      left: 0%;
    }
  }

  .card__meta {
    position: relative;
    z-index: 0;
    height: 200px;
    width: 100%;
  }

  .card__meta-photo {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    transition: transform 0.5s;
    background-position: center;

    .card__meta-photo-img {
      width: 100%;
      height: 100%;
      border-radius: 10px 0px 0px 0px;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .card__meta-details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    list-style: none;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
    cursor: pointer;

    .card__meta-details-informacion {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
    }
  }

  .card__description {
    padding: 1rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 1;

    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.5rem
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px;
    }

    .card__description-header {
      display: flex;
      align-items: center;
      gap: 5px;

      h1 {
        color: var(--azul1);
      }
    }

    .card__description-body {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .card__description-body-informacion {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin-bottom: 8px;
      }
    }

    .card__description-footer {
      display: flex;
      justify-content: flex-end;

      .read-more {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;
      }
    }
  }

  @media (min-width: 520px) {
    flex-direction: row;
    height: 180px;

    .card__meta {
      width: 40%;
      height: 100%;
    }

    .card__description {
      width: 60%;
      height: 100%;
    }

    &.alt {
      flex-direction: row-reverse;

      .card__description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }

      .card__meta-details {
        padding-left: 25px;
      }
    }
  }
}

.photo--verMapa {
  z-index: 100;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

a:before,
span:before {
  display: inline-block;
  font: normal normal normal 13px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 15px;
  width: 15px;
  text-align: center;
  color: #444;
}

.card__phone:before {
  font-family: 'Bootstrap-icons';
  content: "\F5C1";
}

.card__email:before {
  font-family: 'Bootstrap-icons';
  content: "\F32F";
}

.card__description1:before {
  font-family: 'Bootstrap-icons';
  content: "\F64C";
}

.munici:before {
  font-family: 'Bootstrap-icons';
  content: "\F3E8";
}
@media screen and (min-width: 1100px) {
  .photo--verMapa {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .card__description {
    h1 {
      font-size: 1.35rem !important;
    }

    p {
      font-size: 0.85rem !important;
    }
  }
}
