<div class="card" (mouseover)="mouseInsideCard (piscicultor)" (mouseout)="mouseOutCard ()">
  <div class="card__meta">
    <div class="card__meta-photo" (click)="detalle (piscicultor)">
      <img class=" card__meta-photo-img"
        src="{{piscicultor?.foto ? piscicultor?.foto : '/assets/images/avatar-person-square.svg'}}">
    </div>
  </div>
  <div class="card__description">
    <div class="card__description-header shorterTextOverflowHidden w-100" (click)="detalle (piscicultor)">
      <h1 class="w-100 shorterTextAuto">{{piscicultor?.nombre | titlecase}}</h1>
    </div>
    <div style="cursor: pointer;" class="card__description-body" (click)="detalle (piscicultor)">
      <div class="card__description-body-informacion shorterTextOverflowHidden w-100">
        <span class="card__phone w-100 shorterTextAuto">{{piscicultor?.celular? piscicultor?.celular : 'Contacto sin definir'}}</span>
      </div>
      <div class="card__description-body-informacion shorterTextOverflowHidden w-100">
        <span class="card__email w-100 shorterTextAuto">{{piscicultor?.email}}</span>
      </div>
      <div class="card__description-body-informacion shorterTextOverflowHidden w-100">
        <span *ngIf="piscicultor?.direccion" class="card__description1 shorterTextAuto">{{piscicultor?.direccion ? 'Dir.' : ''}}
          {{piscicultor?.direccion}}</span>
        <span *ngIf="!piscicultor?.direccion" class="card__description1 shorterTextAuto">Dirección indefinida</span>
      </div>
    </div>
    <div class="card__description-footer">
      <p class="read-more">
        <img *ngIf="mapa" class="photo--verMapa" src="assets/icons/location24dp.svg" (click)="seeFarmsMaptwo()">
      </p>
    </div>
  </div>
</div>
