
<div class="modal-body">
  <div class="w-100 button-close">
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
  </div>
  <p class="textocolormodal">Por favor <strong class="textocolormodal"> regístrate</strong> o <strong class="textocolormodal">inicia </strong>sesión
  con tu cuenta{{message}}
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger coloraceptar" (click)="registrate()">{{btn1}}</button>
  <button type="button" class="btn btn-danger coloraceptar" (click)="ingresar() ">{{btn2}}</button>
</div>
