<nav class="navbar navbar-expand-md navbar-light bg-light" style="min-height: 41px;
    padding: 0;">
  <div class="container-fluid" style="min-height: 41px;">

    <div class="menu-icon" #botonalbondiga
    type="button"
    [ngClass]="{'menu-icon--close': OffCamba}"
     (click)="openOffcanvas()"
     *ngIf="!minWidth[0]">
      <span class="menu-icon__line"></span>
      <span class="menu-icon__line"></span>
      <span class="menu-icon__line"></span>
    </div>
    <!-- collapse desaparece cuando es <= 768px -->
    <div  class="collapse navbar-collapse navbar-collapse--pdin" id="navbarNav" *ngIf="minWidth[0]">
      <ul class="navbar-nav navbar-collapse-ul">
        <ng-container *ngTemplateOutlet="menuNavbar"></ng-container>
      </ul>
      <div *ngIf="!authenticated()" class="no-button">
        <button class="no-drag buttons-access__login" (click)="login()" >Ingresar</button>
        <button class=" no-drag ms-2 buttons-access__registration"  (click)="navegarRuta('/registro')"
         >Regístrate</button>
      </div>
    </div>
  </div>
</nav>

<div #offcanva class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
  id="offcanvasScrollingx" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-body bg-light">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light nav-offcanvas">
      <div class="pt-3">
        <ng-container *ngTemplateOutlet="menuNavbar"></ng-container>
      </div>
    </nav>
  </div>
</div>

<ng-template #menuNavbar >
  <li class="no-drag nav-item nav-item--width dropdown dropdown-toogle-list" *ngIf="minWidth[0]">
    <a class="nav-link dropdown-toggle pad-0 dropdown-toogle-list__a" id="navbarDropdown" role="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-list nav-link"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" (click)="navegarRuta('/nosotros')"
          [ngClass]="{'nav-item--color': validateRoute('/nosotros')}">¿Quiénes somos?</a></li>
      <li><a class="dropdown-item" (click)="navegarRuta('/equipo')"
          [ngClass]="{'nav-item--color': validateRoute('/equipo')}">Equipo de trabajo</a></li>
    </ul>
  </li>
  <li class="no-drag nav-item nav-item--width" (click)="navegarRuta('/geolocalizacion')"
    [ngClass]="{'nav-item--color': validateRoute('/geolocalizacion')}">
    <a class="nav-link pad-0-8">
      Geolocalización
    </a>
  </li>
  <li class="no-drag nav-item nav-item--width" (click)="navegarRuta('/panel-busqueda')"
    [ngClass]="{'nav-item--color': validateRoute('/panel-busqueda')}" *ngIf="innerWidth">
    <a class="nav-link pad-0-8">
      Consulta
    </a>
  </li>
  <li class=" no-drag nav-item nav-item--width" (click)="navegarRuta('/publicaciones')"
    [ngClass]="{'nav-item--color': validateRoute('/publicaciones')}">
    <a class="nav-link pad-0-8">
      Plaza de mercado
    </a>
  </li>
  <li class=" no-drag nav-item nav-item--width" (click)="navegarRuta('/publicaciones')"
    [ngClass]="{'nav-item--color': validateRoute('/publicaciones')}">
    <a class="nav-link pad-0-8">
      Asociaciones piscícolas
    </a>
  </li>
    <li class=" no-drag nav-item nav-item--width" (click)="navegarRuta('/nosotros')"
      [ngClass]="{'nav-item--color': validateRoute('/nosotros')}" *ngIf="!minWidth[0]">
      <a class="nav-link pad-0-8">
        ¿Quiénes somos?
      </a>
    </li>
    <li class=" no-drag nav-item nav-item--width" (click)="navegarRuta('/equipo')"
      [ngClass]="{'nav-item--color': validateRoute('/equipo')}" *ngIf="!minWidth[0]">
      <a class="nav-link pad-0-8">
        Equipo de trabajo
      </a>
    </li>
  <li class=" no-drag nav-item nav-item--width " (click)="navegarRuta('/contacto')"
    [ngClass]="{'nav-item--color': validateRoute('/contacto')}">
    <a class="nav-link pad-0-8">
      Contáctenos
    </a>
  </li>
</ng-template>
