.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar--mi-stilo {
  width: 100%;
  height: 100%;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(250, 250, 250) !important;
  outline: 0 none !important;
}

.navbar-toggler--edit {
  border: none;
  height: 100%;
}


.no-drag {
  -webkit-app-region: no-drag;
}

.nav-item--width:hover,
.dropdown-item:hover {
  background-color: #dce9e9;

  a {
    color: var(--gris-oscuro);
  }

}

.nav-item--width {
  display: flex;
  align-items: center;
  min-height: 41px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.nav-item--color {
  background-color: var(--azul3);

  a {
    color: var(--gris-oscuro);
  }

  &:hover {
    background-color: var(--azul3);
  }
}

.dropdown-toogle-list {
  min-height: initial;
  padding: 0 8px;
  border-radius: 5px;
  height: 100%;

  &__a {
    i {
      height: 25px;
      font-size: 25px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.pad-0 {
  padding: 0;
}

.pad-0-8 {
  padding: 0 8px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item:active {
  background-color: var(--azul1);
}

.buscador--container-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4e6eb;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 18px;
    height: 18px;
  }
}

.navbar-collapse-ul {
  align-items: center;
  gap: 10px;
}

.min-height {
  min-height: 41px;
}
.botton-dropdown-more{
      background: transparent;
        color: var(--gris-oscuro);
        border: none;
        padding: 0 5px;
}
.displaynone{
  display: none !important;
}
.displayflex{
  display: flex !important;
}

@media screen and (max-width: 992px) {
  .nav-item--width {
   /*  width: 100%; */
    border-radius: 5px;
  }
  .dropdown-toogle-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown-menu {
    width: 100%;
  }
}

/* style botones  registro y login */
.buttons-access {
  display: flex;
  gap: 5px;
  height: 35px;
  align-items: center;

  &__login {
    background-color: var(--white);
    color: var(--azul1);
    border-radius: 20px;
    border: 1px solid var(--azul1);
    width: 150px;
    height: 35px;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  &__registration {
    @extend .buttons-access__login;
    background-color: var(--azul1);
    color: var(--white);

  }
}

.no-button {
  display: none;
}
.dropdown-toggle::before {
  display: none;
}

.offcanvas{
  top: 95px;
}
/* boton animado */

.menu-icon {
 width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  cursor: pointer;
  .menu-icon__line {
    width: 100%;
    height: 2px;
    background-color: var(--gris-oscuro);
    transition: transform 0.2s ease-in-out;


  }

  &.menu-icon--close {
    .menu-icon__line:nth-of-type(1) {
      transform: rotate(45deg) ;
      transform-origin: center;
      position: absolute;
      top: 14px;
    }

    .menu-icon__line:nth-of-type(2) {
      opacity: 0;
    }

    .menu-icon__line:nth-of-type(3) {
      transform: rotate(-45deg) ;
      transform-origin: center;
      position: absolute;
      top: 14px;
    }
  }
}
@media screen and (max-width: 560px) {
  .no-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

.buttons-access__login,.buttons-access__registration{
  padding: 0;
    margin-left: 0 !important;
}
.showbuttonthow {
  display: flex;

}
}
@media screen and (min-width: 992px){
.navbar-collapse--pdin{
  padding: 0 !important;
}
.navbar-collapse-ul{
  align-items: center !important;
}
}
