<nav class="navbar sticky-top navbar-expand-xl navbar-light bg-light navbar--edit">
  <div class="container-fluid">
    <img *ngIf="!electronjs" class="logo1" src="assets/images/logo-no-name.svg" routerLink="/home"><!-- No Disponible en electronjs -->
    <div class="container-fluid-miestilo__1">
      <!-- Buscador -->
      <div class="logoAndSearch">
        <img *ngIf="!electronjs" class="logo2 heightAndWidth" src="assets/images/logo-no-name.svg" routerLink="/home"><!-- No Disponible en electronjs -->
        <div class="buscador--container-icon heightAndWidth" (click)="search()">
          <img src="/assets/icons/search.svg">
        </div>
      </div>
      <!-- Fin buscador -->
      <div class="menuAndNotify">
        <div class="navbar-toggler--miestilo navbar-toggler ">
          <div class="navbar-toggler--miestilo__1">
            <!-- Botones registro y login menor 1400-->
            <ng-container *ngTemplateOutlet="botonregistroylogintempl"></ng-container>
            <!-- Botones y  ventanas notificacion -->
            <div class="notify dropstart" *ngIf="authenticated() && (userService.getAuthUser().rol == 'Piscicultor' || userService.getAuthUser().rol == 'Pescador')">
              <!-- Boton notificacion modal se muestra cuando es  menor 960px -->
              <ng-container *ngTemplateOutlet="botonNotificacionModal"></ng-container>
              <!-- Boton notificacion normal mayor 960px -->
              <ng-container *ngTemplateOutlet="botonNotificacionNormal"></ng-container>
              <!-- Ventana notificacion  mayor 960px-->
              <ng-container *ngTemplateOutlet="notificacionNormal"></ng-container>
            </div>
            <!-- Dropdown, usuarios registrados  menos a 1400px-->
            <ng-container *ngTemplateOutlet="ventaUserLogin "></ng-container>
          </div>
        </div>
        <!-- Boton menu desplegable  menor  1400-->
        <button #botonalbondiga
          class="navbar-toggler navbar-toggler--button heightAndWidth"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Fin boton menu desplegable -->
      </div>
    </div>
    <!-- Disponible para superior a 1400px  y menor 1400px-->
    <div #toggleButton class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="electronjs" class="nav-item">
          <a class="nav-link " id="navbarDropdown" (click)="closeMenu()" role="button" routerLink="/home">
            Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-list nav-link"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/nosotros">¿Quiénes somos?</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/equipo">Equipo de trabajo</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/contacto">Contáctanos</a></li>
          </ul>
        </li>
        <li class="nav-item" routerLink="/geolocalizacion">
          <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Geolocalización
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown" (click)="closeMenu()" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" routerLink="/panel-busqueda">
            Consulta
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown" (click)="closeMenu()" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" routerLink="/publicaciones">
            Plaza de mercado
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Novedades y Actualidad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/novedades/articulos">Artículos</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/novedades/articulos-colombia">Artículos
                Colombianos</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/novedades/revistas">Revistas</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/novedades/noticias">Noticias</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Eventos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/eventos/cursos">Cursos</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/eventos/capacitaciones">Capacitaciones</a>
            </li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/eventos/congresos">Congresos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Normatividad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/normatividad/leyes">Leyes</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/normatividad/decretos">Decretos</a></li>
            <li><a class="dropdown-item" (click)="closeMenu()" routerLink="/normatividad/resoluciones">Resoluciones</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Panel de notificación, login y registro y seach superior a 1400px -->
      <ng-container *ngTemplateOutlet="ventaUserLoginDos"></ng-container>
    </div>
  </div>
</nav>

<!-- Modal notificación -->
<ng-container *ngTemplateOutlet="modalnotificacion"></ng-container>
<ng-template #modalnotificacion>
  <div #miModalNotificacion class="modal fade modalNotificacio" id="ModalNotificacion" tabindex="-1"
    aria-labelledby="ModalNotificacionLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="invitaciones.length > 0 || invitacionesFromUsers.length > 0"
            id="ModalNotificacionLabel">Notificaciones</h5>
          <button #closebuttonModalNotificacion type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="notification-ui_dd-content">
            <!-- Solicitud de asociaciones -->
            <p class="notify__sub-title">
              <span *ngIf="invitaciones.length > 0">Solicitudes de asociaciones</span>
            </p>
            <div [ngClass]="{notifyStyloContainerClass: notifyStyloContainer}"
              class="notification-list notification-list--unread" *ngFor="let invitacion of invitaciones; let i=index">
              <div class="notification-list_img">
                <img
                  [src]="invitacion?.foto_representante_legal ? invitacion?.foto_representante_legal : 'assets/images/avatar-person.svg'"
                  alt="user">
              </div>
              <div class="notification-list_detail">
                <p><b>{{invitacion?.representante_legal}} </b>te han
                  invitado a indicar que
                  eres miembro de <b>{{invitacion.asociacion}}</b></p>
                <p class="notify__sub-description">
                  <small>{{timeToNow(invitacion?.fecha_solicitud)}} · ¿Te gustaria ser
                    miembro?
                  </small>
                </p>
                <div class="d-flex flex-row mt-2 buttonDelateAndOk" *ngIf="!invitacion.message">
                  <button class="notify-button btn-square btn--blue"
                    (click)="confirmarInvitacion(invitacion)">Confirmar</button>
                  <button class="notify-button btn-square btn--grey"
                    (click)="eliminarInvitacion(invitacion)">Eliminar</button>
                </div>
                <span class="notify__message notify__message-miestilo"
                  *ngIf="invitacion.message">{{invitacion.message}}</span>
                  <span class="danger-message" *ngIf="invitacion.error">{{invitacion.error}}</span>
              </div>
              <div class="dropdown" *ngIf="!invitacion.message">
                <div #notifyModalDropdown class="notification-list_feature-img img"
                  (mouseover)="notifyStyloContainer=true" (mouseout)="notifyStyloContainer=false" id="dropdownMenu2"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="assets/icons/circle 1.svg">
                </div>
                <ul class="dropdown-menu dropdown-menu-notify" aria-labelledby="dropdownMenu2">
                  <li class="dropdown-item--container dropdown-item-modal-notify">
                    <button class="notify-button btn-square btn--blue notify-button-modal "
                      (click)="confirmarInvitacion(invitacion)">Confirmar</button>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="dropdown-item--container ">
                    <button class="notify-button btn-square btn--grey notify-button-modal"
                      (click)="eliminarInvitacion(invitacion)">Eliminar</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Solicitud de usuarios -->
            <p class="notify__sub-title">
              <span *ngIf="invitacionesFromUsers.length > 0">Solicitudes de
                usuarios</span>
            </p>
            <div [ngClass]="{notifyStyloContainerClass: notifyStyloContainer}"
              class="notification-list notification-list--unread"
              *ngFor="let invitacion of invitacionesFromUsers; let i=index">
              <div class="notification-list_img">
                <img [src]="invitacion?.foto ? invitacion?.foto : 'assets/images/avatar-person.svg'" alt="user2">
              </div>
              <div class="notification-list_detail">
                <p><b>{{invitacion?.nombre_quien_envia}} </b>ha
                  indicado que es miembro de la
                  asociación <b>{{invitacion.asociacion}}</b></p>
                <p class="notify__sub-description">
                  <small>{{timeToNow(invitacion?.fecha_solicitud)}} · ¿Es miembro de
                    esta asociación?
                  </small>
                </p>
                <div class="d-flex flex-row mt-2 buttonDelateAndOk" *ngIf="!invitacion.message">
                  <button class="notify-button btn-square btn--blue"
                    (click)="confirmarInvitacion(invitacion)">Confirmar</button>
                  <button class="notify-button btn-square btn--grey"
                    (click)="eliminarInvitacion(invitacion)">Eliminar</button>
                </div>
                <span class="notify__message notify__message-miestilo"
                  *ngIf="invitacion.message">{{invitacion.message}}</span>
                  <span class="danger-message" *ngIf="invitacion.error">{{invitacion.error}}</span>
              </div>
              <div class="dropdown" *ngIf="!invitacion.message">
                <div #notifyModalDropdown class="notification-list_feature-img img"
                  (mouseover)="notifyStyloContainer=true" (mouseout)="notifyStyloContainer=false" id="dropdownMenu2"
                  data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                  <img src="assets/icons/circle 1.svg">
                </div>
                <ul class="dropdown-menu dropdown-menu-notify" aria-labelledby="dropdownMenu2">
                  <li class="dropdown-item--container dropdown-item-modal-notify">
                    <button class="notify-button btn-square btn--blue notify-button-modal"
                      (click)="confirmarInvitacion(invitacion)">Confirmar</button>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="dropdown-item--container  ">
                    <button class="notify-button btn-square btn--grey notify-button-modal"
                      (click)="eliminarInvitacion(invitacion)">Eliminar</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Sin resultados encontrados -->
            <div class="search-container search-container-modal"
              *ngIf="invitaciones.length < 1 && invitacionesFromUsers.length < 1">
              <div class="search-container__box">
                <img class="search-container__image search-container__image-modal"
                  src="assets/images/inbox_cleanup.svg">
                <h3 class="search-container__title">No se han encontrado resultados</h3>
                <p class="search-container__description">No tienes notificaciones </p>
              </div>
            </div>
            <p *ngFor="let test of tests"><span>{{test}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Ventana notificaciones normal -->
<ng-template #notificacionNormal>
    <ul #notifies
     aria-labelledby="dropdownMenuButton1"
     class="notify__menu  dropdown-menu p-3 overflow-auto"
      [ngClass]="{'notify__menu--max-heigth' : notifiesHeigth > 356 }" >
      <li class="notify__title"><span
          *ngIf="invitaciones.length > 0 || invitacionesFromUsers.length > 0">Notificaciones</span></li>
      <li class="notify__sub-title"><span *ngIf="invitaciones.length > 0">Solicitudes de asociaciones</span>
      </li>
      <li class="notify__menu-item" *ngFor="let invitacion of invitaciones; let i=index">
        <div class="dropdown-item d-flex flex-row align-items-start">
          <img class="notify__avatar"
            [src]="invitacion?.foto_representante_legal ? invitacion?.foto_representante_legal : 'assets/images/avatar-person.svg'">
          <div class="d-flex flex-column ">
            <span class="notify__description notify__description-miestilo"><span
                class="notify__label">{{invitacion?.representante_legal}}</span>
              te ha invitado a ser miembro de <span class="notify__label">{{invitacion.asociacion}}</span></span>
            <span class="notify__sub-description">
              {{timeToNow(invitacion?.fecha_solicitud)}} · ¿Te gustaria ser miembro?
            </span>
            <div class="d-flex flex-row mt-2" *ngIf="!invitacion.message">
              <button class="notify-button btn-square btn--blue"
                (click)="confirmarInvitacion(invitacion)">Confirmar</button>
              <button class="notify-button btn-square btn--grey" (click)="eliminarInvitacion(invitacion)">Eliminar</button>
            </div>
            <span class="notify__message" *ngIf="invitacion.message">{{invitacion.message}}</span>
            <span class="danger-message" *ngIf="invitacion.error">{{invitacion.error}}</span>
          </div>
        </div>
        <hr class="dropdown-divider" *ngIf="i < invitaciones.length - 1">
      </li>
      <li class="notify__sub-title"><span *ngIf="invitacionesFromUsers.length > 0">Solicitudes de
          usuarios</span>
      </li>
      <li class="notify__menu-item" *ngFor="let invitacion of invitacionesFromUsers; let i=index">
        <div class="dropdown-item d-flex flex-row align-items-start">
          <img class="notify__avatar" [src]="invitacion?.foto ? invitacion?.foto : 'assets/images/avatar-person.svg'"
            alt="user2">
          <div class="d-flex flex-column ">
            <span class="notify__description notify__description-miestilo"><span
                class="notify__label">{{invitacion?.nombre_quien_envia}}</span>
              ha indicado que es miembro de la asociación <span
                class="notify__label">{{invitacion.asociacion}}</span></span>
            <span class="notify__sub-description">
              {{timeToNow(invitacion?.fecha_solicitud)}} · ¿Es miembro de esta asociación?
            </span>
            <div class="d-flex flex-row mt-2" *ngIf="!invitacion.message">
              <button class="notify-button btn-square btn--blue"
                (click)="confirmarInvitacion(invitacion)">Confirmar</button>
              <button class="notify-button btn-square btn--grey" (click)="eliminarInvitacion(invitacion)">Eliminar</button>
            </div>
            <span class="notify__message" *ngIf="invitacion.message">{{invitacion.message}}</span>
            <span class="danger-message" *ngIf="invitacion.error">{{invitacion.error}}</span>
          </div>
        </div>
        <hr class="dropdown-divider" *ngIf="i < invitacionesFromUsers.length - 1">
      </li>
      <div class="search-container" *ngIf="invitaciones.length < 1 && invitacionesFromUsers.length < 1">
        <div class="search-container__box">
          <img class="search-container__image" src="assets/images/inbox_cleanup.svg">
          <h3 class="search-container__title">No se han encontrado resultados</h3>
          <p class="search-container__description">No tienes notificaciones </p>
        </div>
      </div>
      <li *ngFor="let test of tests"><span>{{test}}</span></li>
    </ul>
</ng-template>
<!-- Boton notificacion -->
<ng-template #botonNotificacionNormal>
              <div #dropdownNotificacion class="notify__box position-relative notify-dropdown-icon" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" (click)="notificatiosOpened = true">
                <div class="notify__icon--container heightAndWidth" placement="bottom" ngbTooltip="Notificaciones">
                  <i class="notify__icon bi bi-bell"></i>
                </div>
                <span class="position-absolute top-4px start-100 translate-middle badge rounded-pill bg-danger"
                  *ngIf="!notificatiosOpened && ( invitaciones?.length! > 0 || invitacionesFromUsers.length! > 0)">
                  {{invitaciones.length + invitacionesFromUsers.length}}
                  <span class="visually-hidden">tienes notificaciones</span>
                </span>
              </div>
</ng-template>
<!-- Boton notificacion modal -->
<ng-template #botonNotificacionModal>
          <div class="notify__box position-relative notify-modal-icon " data-bs-toggle="modal" data-bs-target="#ModalNotificacion"
            data-bs-auto-close="outside" (click)="notificatiosOpened = true">
            <div class="notify__icon--container heightAndWidth">
              <i class="notify__icon bi bi-bell"></i>
            </div>
            <span class="position-absolute top-4px  start-100 translate-middle badge rounded-pill bg-danger"
              *ngIf="!notificatiosOpened && ( invitaciones?.length! > 0 || invitacionesFromUsers.length! > 0)">
              {{invitaciones.length + invitacionesFromUsers.length}}
              <span class="visually-hidden">tienes notificaciones</span>
            </span>
          </div>
</ng-template>
<!-- ventana obciones usurio registrados  menor 1400-->
<ng-template #ventaUserLogin >
<div class="dropdown" *ngIf="authenticated()">
  <div id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    <img class="container__img container__img--button heightAndWidth"
      [src]="authUserPhoto() ? authUserPhoto() : 'assets/images/avatar-person.svg'">
  </div>
  <ul class="dropdown-menu dropdown-menu-login" aria-labelledby="dropdownMenu2">
    <div class="usuarioFotoYnombre" routerLink="/dashboard">
      <div>
        <img class="container__img container__img--button heightAndWidth "
          [src]="authUserPhoto() ? authUserPhoto() : 'assets/images/avatar-person.svg'">
        <span>{{authUserTipo_usuario()}}</span>
        <button class="container__button btn btn-secondary" type="button" >
          {{authUserNomApell()}}
        </button>
      </div>
    </div>
    <li class="dropdown-item--container" routerLink="/dashboard">
      <img class="dropdown-item--icon" src="assets/icons/cuenta.svg">
      <button class="dropdown-item dropdown-item-miestilo" type="button">Perfil</button>
    </li>
    <li class="dropdown-item--container" routerLink="/dashboard/mis-favoritos">
      <img class="dropdown-item--icon" src="assets/icons/favoritos-targe.svg">
      <button class="dropdown-item  dropdown-item-miestilo" type="button">Mis favoritos</button>
    </li>
    <li class="dropdown-item--container" (click)="updatePassword()" *ngIf="authWith()=='email'">
      <img class="dropdown-item--icon" src="assets/icons/change-password.svg">
      <button class="dropdown-item dropdown-item-miestilo" type="button">Cambiar
        contraseña</button>
    </li>
    <li class="dropdown-item--container" (click)="logout()">
      <img class="dropdown-item--icon" src="assets/icons/Logout.svg">
      <button class="dropdown-item dropdown-item-miestilo" type="button">Cerrar sesión</button>
    </li>
  </ul>
</div>
</ng-template>
<!-- ventana obciones usurio registrados  mayor 1400-->
<ng-template #ventaUserLoginDos >
<div class="searchAndRegsitroAndLogin">

  <ng-container *ngTemplateOutlet="botonregistroylogintemplDos"></ng-container>
  <!-- Notificaciones patalla superior a  1400px-->
  <div class="notifyAndUserOption">
    <div class="notify dropstart" *ngIf="authenticated() && (userService.getAuthUser().rol == 'Piscicultor' || userService.getAuthUser().rol == 'Pescador')">
      <!-- Boton notificacion normal -->
      <ng-container *ngTemplateOutlet="botonNotificacionNormal"></ng-container>
      <!-- Ventana notificacion normal-->
      <ng-container *ngTemplateOutlet="notificacionNormal"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="ventaUserLogin"></ng-container>
  </div>
</div>
</ng-template>
<!-- Botones registro y login menor 1400 -->
<ng-template #botonregistroylogintempl>
<div class="dropdown" *ngIf="!authenticated()">
  <div id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    <img class="container__img container__img--button heightAndWidth" src="assets/images/loginyregistro.svg">
  </div>
  <ul class="dropdown-menu dropdown-menu-login" aria-labelledby="dropdownMenu2">
    <li class="dropdown-item--container" (click)="login()">
      <img class="dropdown-item--icon" src="assets/icons/ingresar.svg">
      <button class="dropdown-item dropdown-item-miestilo" type="button">Ingresar</button>
    </li>
    <li class="dropdown-item--container" routerLink="/registro">
      <img class="dropdown-item--icon" src="assets/icons/registro.svg">
      <button class="dropdown-item  dropdown-item-miestilo" type="button">Regístrate</button>
    </li>
  </ul>
</div>
</ng-template>
<!-- Botones registro y login mayor1400 -->
<ng-template #botonregistroylogintemplDos>
<div class="botonRegistroAndLogin">
  <button class="btn-outline-blue btn-mi-boton" (click)="login()" *ngIf="!authenticated()">Ingresar</button>
  <button class="btn-rounded-blue ms-2 btn-mi-boton" (click)="closeMenu()" routerLink="/registro"
    *ngIf="!authenticated()">Regístrate</button>
</div>
</ng-template>
