.boton-registro{

}
.logo{
    width: 65px;
    height:65px;
    margin-right: 15px;
    cursor:pointer;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.container__button{
    background: #F8F9FA;
    color: var(--gris-oscuro);
    border: none;
    outline: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.notify__box{
    width: 32px;
    height: 20px;
    margin-right: 32px;
}

.notify__icon{
    font-size: 20px;
    cursor: pointer;
}

.notify__menu{

}

.notify__menu--height1{
    height: 208px;
}

.notify__menu--height2{
    height: 408px;
}

.notify__menu--height3{
    height: 608px;
}

.notify__menu--height4{
    height: 808px;
}

.notify__menu--height5{
    height: 1008px;
}

.notify__menu--height6{
    height: 1208px;
}

.notify__menu--height7{
    height: 1408px;
}


.notify__menu-item--height7{

}

.notify__avatar{
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-left: 12px;
    margin-right: 10px;
    border-radius: 8px;
}

.notify__description{
    font-size: 16px;
}

.notify__label{
    font-size: 16px;
    font-weight: 600;
}

.notify-button{
    margin-right: 6px;
    z-index: 10000;
}

.notify__sub-description{
    color:var(--azul1)
}

.notify__message{
    color:var(--gris9);
    font-size: 14px;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width:400px;
    height: 100px;
    margin-top: 15px;
}

.search-container__title{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.search-container__description{
    font-size: 14px;
}

.notify__title{
    font-size: 20px;
    font-weight: 600;
}

.notify__sub-title{
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 7px;
}