.main {
  height: calc(100% - 100px);
  margin-top: 100px;
  width: 100vw;
  overflow-y: auto;
  position: fixed;
  user-select: none;
}
.mainx {
  height: 100%;
/*   margin-top: 100px; */
  width: 100vw;
  overflow-y: auto;
  position: fixed;
/*   height: -webkit-fill-available;
    width: 100%;
    overflow-y: auto;
    position: fixed; */
}

.main--web-app {

  user-select: none;
}

