.main {
    height: calc(100% - 32px);
    margin-top: 32px;
    width: 100vw;
    overflow-y: auto;
    position:fixed;
    user-select: none;
}
.main--web-app{
  margin-top: 0 !important;
  user-select:auto
}
