.map {
  padding: 0px;
  border-radius: 0.3rem;
  overflow: hidden;
}
.map>div {
display: flex;
}
.myestilo-map-info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-btn-close {
  position: absolute;
  width: 28px;
  height: 28px;
  right: -17.5px;
  top: -17.5px;
  text-align: center;
  z-index: 1;
  border-radius: 80%;
  opacity: 1;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}
.my-btn-close-color-fondo {
  background-color: black;
}
.my-btn-close-color-fondo:hover {
  opacity: 1;
}
.myestilomodalmapvarios{
      justify-content: flex-end;
    width: 100%;
      margin-right: 10px;
      margin-left: 10px;
}
.myestilomodalmap{
  width: 100%;
}
.targefavoritainmap{
width: 500px;
height: 550px;
padding: 10px;
overflow-y: auto;
}
/* estilos targeta mapa varios elementos */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0px;
  z-index: 0;
  a {
    color: inherit;

    &:hover {
      color: var(--azul1);
    }
  }

  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }

  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }
  .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 1;

    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }

    h1 {
      line-height: 1;
      margin: 0;
      font-size: 16px;;
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px;
    }

    .read-more {
      text-align: right;

      a {
        color: var(--azul1);
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:after {
          content: url('../../../../assets/icons/navigate_next_black_24dp.svg');
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
.description:hover {
  background-color: #e4f4ff;
}
  p {
    position: relative;
    margin: 1rem 0 0;
    padding-top: 10px;

    &:first-of-type {
      margin-top: 1.25rem;


      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: var(--azul1);
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 600px;

    .meta {
      flex-basis: 40%;
      height: auto;
    }

    .description {
      flex-basis: 60%;
    }

    &.alt {
      flex-direction: row-reverse;

      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }

      .details {
        padding-left: 25px;
      }
    }
  }

  /* mi estilo */
  .description>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .estilo-p-card {
    height: 90px;
    text-align: justify;
    cursor: pointer;
  }
  .card__image {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    cursor: pointer;
  }

  .card__rating-container {
    display: flex;
    justify-content: space-evenly;
  }

/*   div.card__rating-container>div {
    display: flex;
    align-items: end;
    flex-direction: column;
    cursor: pointer;
  }

  div.card__rating-container>div>div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  div.card__rating-container>div>span {
    font-size: 13px;
    color: #666;
  }

  div.card__rating-container>div>div>img {
    width: 20px;
    height: 20px;
  } */
.card__rating-container_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.card__rating-container_puntos {
  display: flex;
  align-items: center;
  gap: 5px;

  .card__rating {
    font-size: 20px;
    font-weight: 700;
  }
}
}

  .details_info_windo {
      padding: 0;
      top: 0;
      list-style: none;
      bottom: 0;
      margin: auto;
      transition: left 0.2s;;
      color:black;
      padding: 10px;
      width: 100%;
      font-size: 0.9rem;
      cursor: pointer;
    }
    .detais-name-propietario,
    .details-area-direccion,
    .details-area-granja,
    .details-area-nombre-granja {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-gap: 5px;
      gap: 5px;
      margin-bottom: 10px;
    }
div.my_estilo_cols {
  gap: 5px;
  margin-top: 20px;
}

 @media (max-width: 1201px) {
   /* cuando el contenido es <1200px */
   .targefavoritainmap {
     /* oculta el boton ver mapa */
     display: none !important;
   }
 }
@media (max-width: 575px) {
  .myestilomodalmap {
    margin: 0px !important;
    /* ajusta el boton de pantalla completa del mapa */
  }
}
.cargandomapa{
  width: 100%;
  height: 550px;
  background-color: #a2a2a2;
}

