

<!-- resultado -->
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-4 my_estilo_cols" [ngClass]="{'mychangeitemheight':changeItem}">
  <div *ngIf="changeItem" class="mychangeitem">
    <div>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="none">
        <path stroke="#0A0A30" stroke-linecap="round" stroke-width="1.5"
          d="M12 6.864v1.333m0 7.606v1.333M17.136 12h-1.333m-7.606 0H6.864m8.768 3.632l-.943-.943M9.311 9.311l-.943-.943m0 7.264l.943-.943m5.378-5.378l.943-.943"
          class="mychangeItempath" />
      </svg>
    </div>
  </div>
  <div class="search-container" *ngIf="showNotFound">
          <div class="search-container__box">
            <img class="search-container__image" src="assets/images/layer1sinfavoritos (1).svg" />
            <h3>
              Parece  que este piscicultor  no cuenta con granjas registradas
              <span>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                  <g style="
                            animation: pulsate 0.5s ease-in-out infinite both;
                            transform-origin: center center;
                          " stroke-width="1.5">
                    <path stroke="#0A0A30"
                      d="M11.515 6.269l.134.132a.5.5 0 00.702 0l.133-.132A4.44 4.44 0 0115.599 5c.578 0 1.15.112 1.684.33a4.41 4.41 0 011.429.939c.408.402.733.88.954 1.406a4.274 4.274 0 010 3.316 4.331 4.331 0 01-.954 1.405l-6.36 6.259a.5.5 0 01-.702 0l-6.36-6.259A4.298 4.298 0 014 9.333c0-1.15.464-2.252 1.29-3.064A4.439 4.439 0 018.401 5c1.168 0 2.288.456 3.114 1.269z"
                      fill="var(--azul1)" />
                    <path stroke="red" stroke-linecap="round" stroke-linejoin="round" d="M15.5 7.5c.802.304 1.862 1.43 2 2" />
                  </g>
                </svg>
              </span>
            </h3>
          </div>
  </div>
  <!-- card seccion -->
  <!-- <div class="blog-card" *ngFor="let item of list">
    <div class="meta">
      <div class="photo">
        <img class="card__image"
          src="{{  'https://admin.moodyyc.com/img/no-image.png'}}">
      </div>
      <div class="details">
        <div class="detais-name-propietario">
          <div> <img src="../../../../assets/icons/person_white_24dp.svg"></div>
          <div>Nombre propietario</div>
        </div>
        <div class="details-area-nombre-granja">
          <div><img src="../../../../assets/icons/set_meal_white_24dp.svg"></div>
          <div (click)="navigate()"> nombre de la granja</div>
        </div>
        <div class="dimensionmas1200">
          <div><img src="../../../../assets/icons/location_on_white_24dp.svg"></div>
          <div (click)="navigate()"> direccion de la granja </div>
        </div>
        <div class="details-area-granja">
          <div><img src="../../../../assets/icons/areaterreno_white.svg"></div>
          <div (click)="navigate()">are de la granja en m²</div>
        </div>
      </div>
    </div>
    <div class="description">
      <div>
        <h1 (click)="navigate()">nombre granja</h1>
      </div>
      <p class="estilo-p-card" (click)="navigate()"> descripcion de la granja</p>
      <div class="card__rating-container">
        <div>
          <div (click)="showResenas()">
            <span class="card__rating">58</span>
            <img class="card__icon-rating" src="assets/icons/star-filled.svg">
          </div>
          <span class="card__rating__detail" (click)="showResenas()"> 5
            reseñas</span>
        </div>
        <p class="read-more" (click)="navigate()"><a>Ver detalles</a></p>
      </div>
    </div>
  </div> -->
  <div class="blog-card" *ngFor="let granja of piscicultorgranjas; let i = index">
    <div class="meta">
      <div class="photo">
        <img class="card__image" src="https://admin.moodyyc.com/img/no-image.png">
       <!--  <img class="card__image"
          src="{{ granja.fotos[0] ? granja.fotos[0] : 'https://admin.moodyyc.com/img/no-image.png'}}"
          > -->
      </div>
      <div class="details">
        <div class="detais-name-propietario">
          <div> <img src="../../../../assets/icons/person_white_24dp.svg"></div>
          <div>{{granja.propietario.nombres | titlecase}} {{granja.propietario.apellidos | titlecase}}</div>
        </div>
        <div class="details-area-nombre-granja">
          <div><img src="../../../../assets/icons/set_meal_white_24dp.svg"></div>
          <div (click)="navigate(i)"> {{granja.nombre | titlecase}}</div>
        </div>
        <div class="dimensionmas1200">
          <div><img src="../../../../assets/icons/location_on_white_24dp.svg"></div>
          <div (click)="navigate(i)"> {{granja.direccion}} </div>
        </div>
        <div class="details-area-granja">
          <div><img src="../../../../assets/icons/areaterreno_white.svg"></div>
          <div (click)="navigate(i)">{{granja.area}} m²</div>
        </div>
      </div>
    </div>
    <div class="description">
      <div>
        <h1 (click)="navigate(i)">{{granja.nombre | shorter:15}}</h1>
        <img class="card__icon-favorite" src="assets/icons/heart-filled.svg" *ngIf="granja?.esfavorita"
          (click)="changeFavorite(i)">
        <img class="card__icon-favorite" src="assets/icons/heart-outline.svg" *ngIf="!granja?.esfavorita"
          (click)="changeFavorite(i)">
      </div>
      <p class="estilo-p-card" (click)="navigate(i)"> {{granja.descripcion | shorter:100}}</p>
<!--       <div class="card__rating-container">
        <p class="read-more" (click)="navigate(i)"><a>Ver detalles</a></p>
      </div> -->
      <div class="card__description-container_footer">
        <p class="read-more" (click)="navigate(i)"><a>Ver detalles</a></p>
      </div>
    </div>
  </div>
</div>
