<!-- <div class="d-flex flex-column">
    <span class="link" *ngFor="let date of dates;let primero = first" (click)="navigateTo(date)">
    {{getMonthName(date.month()) + ' de ' + date.year()}}
    </span>
</div> -->
<!-- otro -->




<!--  -->
<div class="container">
  <div class="container-month-picker">
    <div class="container_control_bar_month">
      <div id="carouselExampleIndicators" class="carousel  carousel-dark slide myClassCarousel w-100 h-100" data-bs-ride="carousel"
        data-bs-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let date of dates;let primero = first" [ngClass]="{active: primero}">
            <h6 class="title"> {{getMonthName(date.month()) + ' de ' + date.year()}}</h6>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" (click)="Prev()">
          <div class="control_bar_leght" aria-hidden="true"></div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" (click)="Next()">
          <div class="control_bar_right" aria-hidden="true"></div>
        </button>
      </div>
    </div>
    <div class="container_data_month">
      <div class="data_month_title">
        <div class="imagen-fish">
          <img src="assets/icons/fishx.svg">
        </div>
        <div class="container-title">
          <h6 class="title">Total consumido</h6>
          <h6 class="title title_dos">0 kg/mes</h6>
        </div>
        <div class="imagen-fish">
          <img src="assets/icons/fishx.svg">
        </div>
      </div>
      <div class="data_month">

      </div>
      <img src="assets/icons/edit-lapiz.svg" class="data_month_edit" >
    </div>
  </div>
</div>
