.container {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 40px;
}
.container-quienes {
  margin-bottom: 0px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    margin-bottom: 16px;
  }
}
.container-mision {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 32px;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 200px;
  }
}
.container-vision {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 32px;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 200px;
  }
}
.container__title {
  margin-bottom: 20px;
  font-size: 40px;
  color: var(--azul1);
}

.container__description {
  margin: 16px;
  text-align: justify;
  color: var(--gris-oscuro);
}

.container__image {
  width: 80vw;
  max-width: 400px;
}

.container__image-ginelect {
  width: 80vw;
  max-width: 500px;
}
.container__list {
  text-align: start;
}
@media screen and (max-width: 1000px) {
  .container-mision,.container-vision{
    align-items: center;
    flex-direction: column;
    div{
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media screen and (max-width: 340px) {
  .container__title {
    font-size: 30px;
  }
}
