
<div class="container-f">
  <div class="container-f-div">
    <div class="container-quienes">
      <div>
        <h4 class="container__title">¿Quiénes somos?</h4>
        <p class="container__description">Somos un equipo conformado por emprendedores y profesionales que trabajan día a día
          para promover la productividad y competitividad de la cadena piscícola del Departamento de Sucre. Dicho equipo ha
          sido conformado en el marco de la Convocatoria del Fondo de CTeI del SGR para el fortalecimiento de capacidades de
          investigación y desarrollo regionales e iniciativas de CTeI y transferencia de tecnología y conocimiento orientadas
          a atender problemáticas derivadas del COVID-19 (Convocatoria No. 10. Plan Bienal de Convocatorias, agosto de
          2020).<br><br>El proyecto que gesta el equipo de trabajo fue titulado “desarrollo de una plataforma de transferencia
          tecnológica enmarcada en los efectos negativos de la productividad y competitividad de la cadena piscícola,
          derivados de la emergencia sanitaria causada por el covid-19”, el cual es ejecutado por la Universidad de Sucre
          (proyecto BPIN 2020000100761, ACUERDO No. 07 DEL 07/07/2021 SGR). El proyecto es desarrollado por el grupo de
          investigación e innovación en electrónica (GINELECT) adscrito al Departamento de Ingeniería Electrónica de la
          Universidad de Sucre, en alianza con los grupos de investigación Gestión de la Producción y la Calidad y GINTEING,
          de la Universidad de Sucre y la Corporación Universitaria Antonio José de Sucre respectivamente.</p>
      </div>
      <img class="container__image-ginelect" src="assets/images/logo-Ginelect.svg">
    </div>
    <div class="container-mision">
        <div>
          <h3 class="container__title">Misión</h3>
          <p class="container__description">Implementar una plataforma tecnológica orientada a la promoción de la productividad
            y competitividad del sector piscícola, a través de la interacción social ágil y oportuna usando medios electrónicos
            (tecnología WEB y MÓVIL). Dicha plataforma se define como un sistema de comunicación digital que facilita la
            interacción directa entre productores, proveedores, comercializadores, asesores, consumidores y transportadores
            asociados a la cadena piscícola. </p>
        </div>
        <img class="container__image" src="assets/images/vision-Dory.svg">
    </div>
    <div class="container-vision">
        <div>
          <h3 class="container__title">Visión</h3>
          <p class="container__description">DORY, será la Plataforma tecnológica más destacada por su confiabilidad y servicios,
            representados mediante la interacción entre actores del sector piscícola del Departamento de Sucre. Adicionalmente,
            contará con un equipo integrado y comprometido con la actualización continua que garantice la transferencia
            tecnológica y de conocimiento, dando como resultado el incremento de la productividad y competitividad de la cadena
            Piscícola.</p>
        </div>
        <img class="container__image-2" src="assets/images/mision-Dory.svg">
    </div>
  </div>
</div>
<app-footer></app-footer>
