<div class="container">
    <div class="row">
        <div class="col">
            <img class="container__image" src="assets/images/fishing2.svg">
        </div>
        <div class="col align-self-center">
            <h4 class="container__title">¿Quiénes somos?</h4>
            <p class="container__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqmollit anim id est laborum</p>
            <!-- <ul class="container__list">
                <li>
                    Neque porro quisquam est
                </li>
                <li>
                    Neque porro quisquam est
                </li>
                <li>
                    Neque porro quisquam est
                </li>
                <li>
                    Neque porro quisquam est
                </li>
            </ul>     -->        
        </div>
    </div>
</div>


<div class="container">
    <h3 class="container__title">Misión</h3>
    <p class="container__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqmollit anim id est laborum</p>
    <img class="container__image" src="assets/images/fishing3.svg">        
</div>

<div class="container">
    <h3 class="container__title">Visión</h3>
    <p class="container__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqmollit anim id est laborum</p>
    <img class="container__image" src="assets/images/investing-guy.svg">
</div>