.container-f {
  text-align: center;
  margin-bottom: 0px;
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;

  .container-f-div {
    margin: 50px 20px;
    background-color: white;
    width: 100vw;
    max-width: 1000px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 1px 15px 5px var(--shadow-2);

  }
}

.container-quienes {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-bottom: 40px;
  }
}

.container-mision {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 40px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

.container-vision {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 80px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

.container__title {
  font-size: 46px;
  font-weight: 800;
  text-align: center;
  margin: 16px 16px;
  color: var(--azul1);
  font-family: JosefinSans-Regular;
}
.container__description {
  margin: 0px 16px 16px 16px;
  text-align: justify;
  font-family: OpenSans-Regular;
  color: var(--gris-oscuro);
}

.container__image {
  width: 50%;
  max-width: 200px;
  margin: 16px 16px 16px 16px;
}

.container__image-2 {
  width: 50%;
  max-width: 200px;
  margin: 10% 16px 16px 16px;
}

.container__image-ginelect {
  width: 80vw;
  max-width: 500px;
}

.container__list {
  text-align: start;
}
.presaltoLinea{
  white-space:pre-wrap;
}
@media screen and (max-width: 1000px) {

  .container-mision,
  .container-vision {
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    div {
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
    .container__image-2 {
      margin: 16px 16px 16px 16px;
    }
}
@media screen and (max-width: 385px) {
 .container-f-div{
  padding: 10px !important;
 }
}
@media screen and (max-width: 340px) {
  .container__title {
    font-size: 30px;
  }
}
