<a  class="floating-btn scroll-to-top" (click)="openChat()" *ngIf="isHidden">
  <div class=" flecha">
    <svg class="svgpath" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#26a5b8"
      class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
      <path
        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
    </svg>
  </div>
  <span class="translate-middle badge rounded-pill rounded-pill--border"
    [ngClass]="{'floating-btn__badge1' : totalUnreads < 10, 'floating-btn__badge2' : totalUnreads > 9, 'floating-btn__badge3' : totalUnreads > 99}"
    *ngIf="totalUnreads">
    {{totalUnreads > 99 ? '99+' : totalUnreads}}
  </span>
</a>

  <!-- <div  class="notify__box position-relative" *ngIf="!botton1">
    <div class="notify__icon-container">
      <i class="notify__icon bi bi-bell"></i>
    </div>
    <span class="position-absolute top-3px start-100 translate-middle badge rounded-pill bg-danger"
      *ngIf="totalUnreads?.length! > 0">
      {{totalUnreads > 99 ? '99+' : totalUnreads}}
    </span>
  </div> -->
