.floating-btn {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  z-index: 1000;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: #26a5b8;
}
.floating-btn .flecha {
  fill: #26a5b8;
}
.floating-btn .flecha {
  fill: #26a5b8;
}

.flecha {
  display: inline-block;
  position: relative;
}

.svgpath {
  position: absolute;
  right: 1px;
  left: 1.43px;
  width: 15.27px;
  height: 18px;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.rounded-pill--border {
  border: 1px solid white;
}
.floating-btn__badge1 {
  position: absolute;
  top: 1px;
  right: -17px;
  background-color: var(--azul1);
}

.floating-btn__badge2 {
  position: absolute;
  top: 1px;
  right: -27px;
  background-color: var(--azul1);
}

.floating-btn__badge3 {
  position: absolute;
  top: 1px;
  right: -41px;
  background-color: var(--azul1);
}
/* boton notificacion */
.notify__icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notify__icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.top-3px {
  top: 3.5px
}
