.detail-container {
  display: flex;
  margin-left: 0px;
  margin-top: 30px;
}

.detail-container__data {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}
.detail-container__data--legal{
cursor: pointer;
}
.detail-container__image {
  width: 25px;
  height: 25px;
  font-size: 30px;
}

.detail-container__title {
  font-size: 20px;
  font-weight: 550;
}
.detail-container__title--legal:hover{
  color: var(--azul1);
}
.detail-container__value {
  font-size: 15px;
  text-align: justify;
}
.detail-container__value-legal:hover{
  color: var(--azul1);
}
.asociacion-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.asociacion-container__description1 {
  display: block;
  font-size: 23px;
  margin-left: 17px;

}

.asociacion-container__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-self: center;
  object-fit: cover;
}

.line {
  border-top: 1px solid var(--black);
  margin-top: 15px;
}

.asociacion-container__info {
  display: flex;
  flex-direction: column;

}

.asociacion-container__detalle {
  display: flex;
  gap: 5px;
}

.asociacion-container__title {
  margin-left: 17px;
}

.mycontainer {
  display: flex;
  flex-direction: column;
}

.mynavtabs {
  padding-top: 10px;
  margin-left: 15px;
    margin-right: 15px;
}

.container_mytarget {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F9FA;
  margin-bottom: 20px;
  margin-left: 15px;
    margin-right: 15px;
  /* box-shadow: 4px 4px 4px rgb(0 0 0 / 10%); */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: max(0px, min(8px, -999900% - 39996px + 999900vw))/8px;
}

.mytarget {
  overflow: scroll;
  width: 100%;
  height: 500px;
}

.nav-item {
  cursor: pointer;
}

.mycontainer_info {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* estilos anucio sin asociaciones y sin granjas */
.row--mi-estilo {
  width: 100%;
    padding: 15px;
    margin-right: 0;
    margin-left: 0;
}

.search-container__box {
  text-align: center;
}

.search-container__image {
  width: 1024px;
  height: 370px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mychangeitem {
  display: flex;
  justify-content: center;
  align-items: center
}

.mychangeitemheight {
  height: 90%;
}

.container--flex-center {
  justify-content: center;
}

.search-container--flex {
  align-items: center;
  justify-content: center;
}
        .detail-container__meta {
          position: relative;
          z-index: 0;
          height: 200px;
        }


        .detail-container__meta-img {
        width: 50%;
        height: 100%;
          border-radius: 10px 0px 0px 10px;
          filter: blur(0.6px);
          cursor: pointer;
        }

        .detail-container__meta-details {
          position: absolute;
          display: flex;
          justify-content: center;
          text-align: center;
          top: 0;
          bottom: 0;
          left: 0%;
          margin: auto;
          padding: 0;
          list-style: none;
          transition: left 0.2s;
          color: #fff;
          width: 50%;
          font-size: 0.9rem;
          cursor: pointer;

          .detail-container__meta-info{
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .detail-container__meta-info-img {
            width: 50%;
            height: 50%;
          }
        }
.detail-container__title--font{
  font-size: 16px;
}
.asociacion-container__title{
  font-size: 20px;
    font-weight: 350;
}
.mynav-link {
  background-color: var(--gris4) !important;
  color: var(--azul1) !important;
}

.nav-link--color {
  color: var(--gris-oscuro);
}
.dropdown-menu{
  cursor: pointer;
}
@media screen and (max-width: 775px) {
  .asociacion-container {
    justify-content: center;
    flex-direction: column-reverse;
    grid-gap: 10px;
    gap: 10px;
    margin-top: 20px !important;
  }

  .asociacion-container__image{
    width: 100px;
    height: 100px;
  }

  .mycontainer_info {
    padding-top: 0;
  }

}

@media screen and (max-width: 768px) {
  .mynavtabs {
    .nav-item {
      width: 100%;
    }
  }
}
