<div class="container mycontainer">
  <div class="mycontainer_info">
    <div class="asociacion-container">
      <div class="asociacion-container__info">
        <div class="asociacion-container__detalle">
          <span>
            <h4 class="detail-container__title">Asociación: </h4>
          </span>
          <span>
            <h4 class="asociacion-container__title">{{asociacion?.nombre}}</h4>
          </span>
          <!-- <img class="detail-container__image" src="assets/icons/asociacion_black_24dp.svg">
          <h3 class="asociacion-container__title">Asociación - {{asociacion?.nombre}} </h3> -->
        </div>
       <div class="asociacion-container__detalle">
        <span>
          <h4 class="detail-container__title">Municipio: </h4>
        </span>
        <span>
          <h4 class="asociacion-container__title">{{asociacion?.municipio}}, {{asociacion?.departamento}}</h4>
        </span>
<!--           <img class="detail-container__image" src="assets/icons/travel_explore_black_24dp.svg">
          <span class="asociacion-container__description1">
            {{asociacion?.municipio}}-{{asociacion?.departamento}}</span> -->
        </div>
      </div>
      <img class="asociacion-container__image"
        src="{{asociacion?.foto ? asociacion.foto : '/assets/images/avatar-person.svg'}}">
    </div>
    <div *ngIf="userService.isAuthenticated() && (tipoUsuario == 'Pescador' || tipoUsuario == 'Piscicultor')">
      <button class="btn-square btn--blue mt-3" (click)="invitarAnular(asociacion)" *ngIf="!asociacion?.estado_solicitud">Indicar que soy miembro</button>
      <button class="btn-square btn--grey mt-3" (click)="invitarAnular(asociacion)" *ngIf="asociacion?.estado_solicitud == 'Enviada'">Cancelar solicitud</button>
      <div class="btn-group mt-3" *ngIf="asociacion?.estado_solicitud == 'Aceptada'">
        <button class="card__button btn-square btn--grey dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Miembro</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li (click)="invitarAnular(asociacion)"><a class="dropdown-item"><i class="bi bi-box-arrow-left"></i> No soy miembro</a></li>
        </ul>
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/tipoAsociacion.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Tipo de asociación</h4>
        <span class="detail-container__value">{{asociacion?.tipo_asociacion}}
        </span>
      </div>
    </div>
    <div class="detail-container mt-4" >
      <img class="detail-container__image" src="assets/icons/person_pin_black_24dp.svg">
      <div class="detail-container__data detail-container__data--legal" (click)="goDetalleRepresentante()">
        <h4 class="detail-container__title detail-container__title--legal">Representante legal</h4>
        <span class="detail-container__value detail-container__value-legal">{{asociacion?.propietario}}</span>
      </div>
    </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/litigation-negotiation.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Constituida legalmente</h4>
        <span *ngIf="asociacion?.legalconstituida == 1" class="detail-container__value">
          Si </span>
        <span *ngIf="asociacion?.legalconstituida == 2" class="detail-container__value">
          No </span>
      </div>
    </div>
    <div class="detail-container mt-4" *ngIf="asociacion?.foto_camarac">
      <img class="detail-container__image" src="assets/icons/article_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Documento cámara de comercio</h4>
        <div class="detail-container__meta">
          <img class="detail-container__meta-img" src="assets/images/pdf_camara_comercio.svg">
          <div class="detail-container__meta-details">
          <div class="detail-container__meta-info">
          <a [href]="asociacion?.foto_camarac" target="_blank"><img class="detail-container__meta-info-img"
            src="assets/icons/download-pdf-10136 1.svg"></a>
         </div>
      </div>
        </div >
        <h6 class="detail-container__title detail-container__title--font">Fecha de renovación</h6>
        <div class="detail-container__value" >
          {{asociacion?.fecha_renovacion_camarac.slice(0, asociacion?.fecha_renovacion_camarac.indexOf('T')) | date:'dd/MM/yyyy'}}
         </div>
      </div>
    </div>
    <div class="detail-container mt-4" *ngIf="!asociacion?.foto_camarac">
      <img class="detail-container__image" src="assets/icons/article_black_24dp.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Documento cámara de comercio</h4>
        <h6 class="detail-container__value">No se han cargado documentos</h6>
      </div>
    </div>
        <div class="detail-container mt-4">
          <img class="detail-container__image"src="assets/icons/location_on_black_24dp.svg">
          <div class="detail-container__data">
            <h4 class="detail-container__title">Dirección</h4>
            <span *ngIf="asociacion?.direccion" class="detail-container__value">
              {{asociacion?.direccion ? 'Dir.' : ''}} {{asociacion?.direccion}}</span>
          </div>
        </div>
        <div class="detail-container mt-4" *ngIf="asociacion?.informacion_adicional_direccion" >
          <img class="detail-container__image" src="assets/icons/add_location_black_24dp.svg">
          <div class="detail-container__data">
            <h4 class="detail-container__title">Información adicional de la dirección</h4>
            <span class="detail-container__value">
              {{asociacion?.informacion_adicional_direccion}}</span>
          </div>
        </div>
    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/pescador.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Pescadores que pertenecen a la asociación </h4>
        <span class="detail-container__value"
          *ngIf="pescadorasociaciones?.length>1">{{pescadorasociaciones?.length}} pescadores en
          total</span>
        <span class="detail-container__value"
          *ngIf="pescadorasociaciones?.length==1">{{pescadorasociaciones?.length}} pescador en
          total</span>
        <span class="detail-container__value" *ngIf="pescadorasociaciones?.length<=0">No cuenta con pescadores asociados</span>
      </div>
    </div>

    <div class="detail-container mt-4">
      <img class="detail-container__image" src="assets/icons/piscicultor.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Piscicultores que pertenecen a la asociación </h4>
        <span class="detail-container__value" *ngIf="piscicultorasociaciones?.length>1">{{piscicultorasociaciones?.length}}
          piscicultores en total</span>
        <span class="detail-container__value" *ngIf="piscicultorasociaciones?.length==1">{{piscicultorasociaciones?.length}}
          piscicultores en total</span>
        <span class="detail-container__value" *ngIf="piscicultorasociaciones?.length<=0">No cuenta con piscicultores asociados</span>
      </div>
    </div>

    <div class="detail-container mt-4">
      <img class="detail-container__image"src="assets/icons/venus-solid.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Mujeres en la asociación</h4>
        <span *ngIf="asociacion?.direccion" class="detail-container__value">
          {{numeroMujeres}}</span>
      </div>
    </div>

    <div class="detail-container mt-4">
      <img class="detail-container__image"src="assets/icons/mars-solid.svg">
      <div class="detail-container__data">
        <h4 class="detail-container__title">Hombres en la asociación</h4>
        <span *ngIf="asociacion?.direccion" class="detail-container__value">
          {{numeroHombres}}</span>
      </div>
    </div>
  </div>

  <!-- granjas y asociaciones -->
  <div class="mynavtabs"  *ngIf="piscicultorasociaciones?.length>0 || pescadorasociaciones?.length>0">
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="activeTabClick(1)" *ngIf="piscicultorasociaciones?.length>0">
        <a class="nav-link nav-link--color" [ngClass]="{'active mynav-link': activatelistpiscicultores}" aria-current="page">
          <span>
            <img class="detail-container__image" src="assets/icons/piscicultor.svg">
          </span> Piscicultores
        </a>
      </li>
      <li class="nav-item" (click)="activeTabClick(2)" *ngIf="pescadorasociaciones?.length>0">
        <a class="nav-link nav-link--color" [ngClass]="{'active mynav-link': activatelistpescadores}">
          <span>
            <img class="detail-container__image" src="assets/icons/pescador.svg">
          </span> Pescadores</a>
      </li>
    </ul>
  </div>
  <div class="container_mytarget" *ngIf="piscicultorasociaciones?.length>0 || pescadorasociaciones?.length>0">
    <div class="mytarget" *ngIf="activatelistpiscicultores">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-xl-2 g-4 row--mi-estilo"
        [ngClass]="{'mychangeitemheight':piscicultorchangeItem,'search-container--flex':piscicultorshowNotFound,'container--flex-center':piscicultorasociaciones?.length==1}">
        <div *ngIf="piscicultorchangeItem" class="mychangeitem">
          <div>
            <img src="assets/icons/changeiconanimado.svg">
          </div>
        </div>
                  <app-card-piscicultor *ngFor="let piscicultor of piscicultorasociaciones; let i =index "
                  [piscicultor]="piscicultor "
                   (onDetalle)="gopiscicultorDetail($event)">
                  </app-card-piscicultor>
      </div>
    </div>
    <div class="mytarget" *ngIf="activatelistpescadores">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-xl-2 g-4  row--mi-estilo"
        [ngClass]="{'mychangeitemheight':pescadorchangeItem,'search-container--flex':pescadorshowNotFound, 'container--flex-center':pescadorasociaciones?.length==1 }">
        <div *ngIf="pescadorchangeItem" class="mychangeitem">
          <div>
            <img src="assets/icons/changeiconanimado.svg">
          </div>
        </div>
          <app-card-pescador *ngFor="let pescador of pescadorasociaciones; let i =index "
            [pescador]="pescador"
              (onDetalle)="gopescadorDetail($event)">
           </app-card-pescador>
      </div>
    </div>
  </div>
</div>

