<div class="blog-card" [ngClass]="{activateclass: myclass}"
(mouseover)="mouseInsideCard (pescador)"
(mouseout)="mouseOutCard ()">
  <div class="card__meta">
    <div  class="card__meta-photo">
      <img class=" card__meta-photo-img" src="{{pescador?.foto ? pescador?.foto : '/assets/images/avatar-person-square.svg'}}"
       (click)="detalle (pescador)">
    </div>
  </div>
  <div class="card__description" >
    <div class="card__description-header shorterTextOverflowHidden w-100" (click)="detalle (pescador)">
      <h1 class="w-100 shorterTextAuto">{{pescador?.nombre | titlecase}}</h1>
    </div>
    <div  style="cursor: pointer;" class="card__description-body" (click)="detalle (pescador)">
      <div class="card__description-body-informacion shorterTextOverflowHidden w-100">
        <span class="card__phone w-100 shorterTextAuto">{{pescador?.celular? pescador?.celular : 'Contacto sin definir'}}</span>
      </div>
      <div class="card__description-body-informacion shorterTextOverflowHidden w-100">
        <span class="card__email w-100 shorterTextAuto">{{pescador?.email}}</span>
      </div>
      <div class="card__description-body-informacion shorterTextOverflowHidden w-100">
        <span class="munici shorterTextAuto">{{pescador?.municipio}}-{{pescador?.departamento}}</span>
      </div>
      <div class="card__description-body-informacion shorterTextOverflowHidden w-100">
        <span *ngIf="pescador?.direccion" class="card__description1 shorterTextAuto">{{pescador?.direccion ? 'Dir.' : ''}}
          {{pescador?.direccion | shorter:10}}</span>
        <span *ngIf="!pescador?.direccion" class="card__description1 shorterTextAuto">Dirección indefinida</span>
      </div>
    </div>
    <div class="card__description-footer">
      <p class="read-more"  >
        <img *ngIf="mapa"class="photo--verMapa" src="assets/icons/location24dp.svg" (click)="seeFarmsMaptwo()">
      </p>
    </div>
  </div>
</div>
