<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <app-search class="app-search" (textSearch)="onSearch($event)"></app-search>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation" *ngIf="datos.tipo_asociacion == 1 || datos.tipo_asociacion == 3">
      <button class="nav-link nav-link--color"
        [ngClass]="{'active nav-link--mytabstilo':activeclass1}"
      id="home-tab"
       data-bs-toggle="tab"
       data-bs-target="#home-tab-pane"
        type="button"
        role="tab"
        aria-controls="home-tab-pane"
        aria-selected="true"
        (click)="activeTabClick(1)">Piscicultores</button>
    </li>
    <li class="nav-item" role="presentation"  *ngIf="datos.tipo_asociacion == 2  || datos.tipo_asociacion == 3">
      <button class="nav-link nav-link--color"
        [ngClass]="{'active nav-link--mytabstilo':activeclass2 }"
       id="profile-tab"
        data-bs-toggle="tab"
         data-bs-target="#profile-tab-pane"
         type="button"
        role="tab"
         aria-controls="profile-tab-pane"
         aria-selected="false"
        (click)="activeTabClick(2)">Pescadores</button>
    </li>
  </ul>
  <div class="tab-content  list" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active':datos.tipo_asociacion == 1 || datos.tipo_asociacion == 3}"
      id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <app-not-found *ngIf="showNotFound2 || showError2" message="Parece que no cuentas con mienbros"></app-not-found>
        <div class="d-flex flex-column" *ngIf="!showNotFound2 && !showError2 && piscicultoresFiltered.length > 0">
          <div class="card" *ngFor="let piscicultor of piscicultoresFiltered">
            <div class="card__user-info d-flex flex-row">
              <img (click)="navigateDetalle(piscicultor)" class="card__image"
                src="{{piscicultor?.foto ? piscicultor?.foto : '/assets/images/avatar-person.svg'}}">
              <div class="container-nombre shorterTextOverflowHidden">
                <span class="card__title  shorterTextAuto" (click)="datosContacto(piscicultor, 'Piscicultor')"> {{piscicultor?.nombre}}
                </span>
                <small class="shorterTextAuto" (click)="navigateDetalle(piscicultor)">{{piscicultor?.municipio? piscicultor?.municipio: 'Sin municipio'}}</small>
              </div>
            </div>
            <button class="card__button" (click)="anularInvitacion(piscicultor)"><i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </div>
      <div class="tab-pane fade"
       [ngClass]="{'show active':datos.tipo_asociacion == 2 }"
       id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <app-not-found *ngIf="showNotFound1 || showError1" message="Parece que no cuentas con mienbros"></app-not-found>
        <div class="d-flex flex-column" *ngIf="!showNotFound1 && !showError1 && pescadoresFiltered.length > 0">
          <div class="card" *ngFor="let pescador of pescadoresFiltered">
            <div class="card__user-info d-flex flex-row">
              <img (click)="navigateDetalle(pescador)" class="card__image"
                src="{{pescador?.foto ? pescador?.foto : '/assets/images/avatar-person.svg'}}">
              <div class="container-nombre shorterTextOverflowHidden">
                <span class="card__title shorterTextAuto"  (click)="datosContacto(pescador, 'Pescador')">{{pescador?.nombre}}
                </span>
                <small class="shorterTextAuto" (click)="navigateDetalle(pescador)">{{pescador?.municipio? pescador?.municipio: 'Sin municipio'}}</small>
              </div>
            </div>
            <button class="card__button" (click)="anularInvitacion(pescador)"><i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="dismiss()">Cerrar</button>
</div>
