<div class="navbar sticky-top navbar-light bg-light" id="titlebar">
    <div id="drag-region">
      <div id="window-title">
        <div class="icono"  (click)="navegarRuta('/home')">
          <img  class="window-title-icon tooltip-trigger"  src="assets/icons/DoryIcon.svg" alt="DoryIcon">
            <div class="tooltip-one">
              Inicio
            </div>
        </div>
        <!-- <span>Dory</span> -->
        <app-floatin-btns-alante-atras
          style=" -webkit-app-region: no-drag;padding-left: 25px;" *ngIf="!ocultarHtml">
        </app-floatin-btns-alante-atras >
          <app-navbar-electronjs
          style="width: 100%;
           height: 100%;max-width: 100%; display: flex;"(onNotify)="notifyActive($event)">
           </app-navbar-electronjs>
      </div>
      <div id="window-controls">
        <div class="button" id="min-button" (click)="buttonMin()">
          <svg class="icon" draggable="false" width="14" height="14" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M3 11H21V13H3V11Z" fill="#332f2c" />
          </svg>
        </div>
        <div class="button" id="max-button" (click)="buttonMax()">
          <svg  class="icon" draggable="false" width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.26367 2.02601V2.80523H13.1584H21.0531V10.5974V18.3896H21.8426H22.6321V9.81822V1.24679H13.9479H5.26367V2.02601Z"
              fill="#332f2c" />
            <path
              d="M1.1582 13.4544V22.4414H10.2635H19.3687V13.4544V4.46738H10.2635H1.1582V13.4544ZM17.695 11.1375C17.7056 15.4596 17.7056 19.3661 17.6845 20.5401V20.883H10.2108H2.73715V13.5063V6.12972H10.2108H17.6845L17.695 11.1375Z"
              fill="#332f2c" />
          </svg>
        </div>
        <div class="button" id="close-button" (click)="buttonClose()">
          <svg class="icon" draggable="false" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24"
            width="20px" fill="#332f2c">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
