/* Estilos title bar */
#titlebar {
  display: block;
  position: fixed;
  height: 50px;
  width: 100%;
  background: white;
  padding: 4px;
  border-bottom: 1px solid #b0adad;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
/* Estilo nuevp estra */
#drag-region {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* fin */
#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 40px);
 /*  position: absolute;
  top: 0;
  right: 0; */
  height: 100%;
}
#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#min-button {
  grid-column: 1;
}
#max-button,
#restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}
#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls .button {
  user-select: none;
}
#window-controls .button:hover {
  background: rgba(99, 98, 98, 0.1);
}
#window-controls .button:active {
  background: rgba(255, 255, 255, 0.2);
}
#close-button:hover {
  background: #E81123 !important;
}
#close-button:hover .icon {
  fill: white;
}
#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  fill: white;
}
#window-title {
  display: flex;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  height: 100%;
  width: 100%;
}
.window-title-icon {
  width: 100%;
  height: 100%;
}
/* tootil */
.tooltip-one {
  padding: 0.25rem 0.5rem;
  background: #fff;
  position: absolute;
  width: max-content;
  height: max-content;
  max-width: 300px;
  border-radius: 0.25rem;
  text-align: center;
  filter: drop-shadow(0 3px 5px #ccc);
  line-height: 1.5;
  display: none;
  top: calc(100% + 5px);
  color: #fff;
  background-color: #000;
  z-index: 1080;
  font-size: 0.875rem;
  left: 10px;

}

.tooltip-one:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 50%;
  left: calc(50% - 0.59rem);
  width: 18px;
  height: 18px;
  background-color: #000;
  transform: rotate(45deg);
}
.tooltip-trigger:hover+.tooltip-one {
  display: block;
}
.icono{
  width: 35px;
  height: 35px;
  -webkit-app-region: no-drag;
}
