
<div class="container">
    <h4 class="container__title">Piscicultores en el departamento de Sucre</h4>
    <p class="container__description">En esta sección, podrás explorar un mapa interactivo que muestra los diferentes municipios del departamento de Sucre, lo
que te permitirá seleccionar el que sea de tu interés. Una vez seleccionado, se mostrará un listado de los
piscicultores disponibles en esa zona. Además, podrás ubicarlos en el mapa para tener una referencia precisa de su
ubicación.</p>
<p class="container__description">
    Para seleccionar un piscicultor del listado, simplemente haz clic en cualquier parte de la tarjeta correspondiente. Al
    hacerlo, accederás inmediatamente a una sección adicional que te brindará una visión más detallada. En esta sección,
    encontrarás información completa como los datos personales del piscicultor, su ubicación, número de celular, correo
    electrónico, dirección, las asociaciones a las que está registrado y las granjas que posee.
  </p>
        <div class="container__map_cards">
          <div class="cards">
            <app-card-item-data [dataNumber]="poblacion | number:'':'es'" [icon]="'assets/icons/group-circle-solid.svg'"
              [title]="'Población'">
            </app-card-item-data>
            <app-card-item-data [dataNumber]="piscicultores | number:'':'es'" [icon]="'assets/icons/fish.svg'"
              [title]="'Piscicultores'">
            </app-card-item-data>
          </div>
            <div class="container_box">
              <app-map-sucre class="mapaMunicipios" (munClick)="munClick($event)" (munOver)="munOver($event)"
                [munData]="municSeleccionado" labelTooltip="Piscicultores"></app-map-sucre>
            </div>
        </div>

</div>
<app-footer></app-footer>
