<div class="stats">
    <div class="data-container">
        <div class="stats-container">
            <img class="stats-container__icon" src="assets/icons/build.svg">
            <div class="stats-container__info">
                <h3 class="stats-container__title container__title--color-blue">Departamento</h3>
                <span class="stats-container__description">Sucre</span>
            </div>
        </div>

        <div class="stats-container">
            <img class="stats-container__icon" src="assets/icons/group-circle-solid.svg">
            <div class="stats-container__info">
                <h3 class="stats-container__title container__title--color-morado">Población</h3>
                <span class="stats-container__description">{{poblacion | number:'':'es'}}</span>
            </div>
        </div>

        <div class="stats-container">
            <img class="stats-container__icon" src="assets/icons/fish.svg">
            <div class="stats-container__info">
                <h3 class="stats-container__title container__title--color-blue-2">Piscicultores</h3>
                <span class="stats-container__description">{{piscicultores| number:'':'es'}}</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h4 class="container__title">Piscicultores en Sucre</h4>
    <p class="container__description">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    <div class="container_box">
        <app-map-sucre (munClick)="munClick($event)" (munOver)="munOver($event)" [munData]="municSeleccionado" labelTooltip="Piscicultores"></app-map-sucre>
    </div>
</div>
<app-footer></app-footer>
