    <!-- header contenido gallery -->
    <div class="modal-header" (click)="shadoweffectindice=-1 && valorindicecarrucel=-1 && imgselecmodal=-1"
      *ngIf="!showconteslaider">
      <div class="box">
        <h4 class="modal-title" id="modal-basic-title">{{granja?.nombre}}</h4>
      </div>
      <!-- <button (click)=" goDown1()"></button> -->
      <button type="button" *ngIf="!showconteslaider" class="btn-close" aria-label="Close"
        (click)="dismiss()"></button>
    </div>
    <!-- header slider -->
    <div class="modal-header" *ngIf="showconteslaider">
      <div class="box">
        <h4 class="modal-title" id="modal-basic-title">{{granja?.nombre}}</h4>
      </div>
      <button type="button" *ngIf="showconteslaider" (click)="closeslider()" class="btn-close"
        aria-label="Close"></button>
    </div>
    <!-- gallery contenido -->
    <div class="modal-body" *ngIf="!showconteslaider">
      <div class="photos-container-div" (click)="shadoweffectindice=-1 && valorindicecarrucel=-1 && imgselecmodal=-1"
        style="position: relative;">
        <div *ngFor="let fotogranja of fotosgranja;let i=index"  #myItemLists>
          <img
            src="{{ fotogranja ? fotogranja : 'https://admin.moodyyc.com/img/no-image.png'}}"
            class="photo-container-gallery" alt="image"
            [ngClass]="{'box-shadow-efect':  shadoweffectindice==i ||   valorindicecarrucel==i || imgselecmodal==i}"
            (click)="imgSelecionadaModal(i,fotogranja)">
        </div>
      </div>
    </div>
    <!-- slaider contenido -->
    <div class="modal-body modalbody" *ngIf="showconteslaider">
      <app-carrucel-img
        [imagenes]="fotosgranja"
        [imgselecmodal]="imgselecmodal"
        (valueResponseIndiceActualSlider)="selcCarruselImg($event)"
        (eventClickOnPreviousOrNew)="eventClickOnPreviousOrNewSlider()"
        (eventValueResponseClickFotoMiniSlider)="eventValueResponseClickFotoMiniSlider($event)"
         [valorrows]="valorrows"
        [valorcolumns]='valorcolumns'
        [indicatorsphoto]="indicatorsphotos"
       >
      </app-carrucel-img>
    </div>


