<div class="search mt-5">
    <app-search [placeholderbuscador]="'Buscar asociacion..'"
    (textSearch)="onBuscarPalabra($event)">
    </app-search>
    <app-modal-multi-filters
     [radioFilter1]="filtro"
     [checkboxOptions]="municipios"
      [checkArray]="filtroseleccionadoCheckbox"
     [deleteRadioFilter1]="filtroseleccionado"
     (filtersAplied)="onFiltersAplied($event)"></app-modal-multi-filters>
</div>
<app-not-found *ngIf="showNotFound" objectName="asociaciones"></app-not-found>
<div class="chip mb-4">
    <app-chip-con-boton-close
    *ngIf="filtroseleccionado"
    [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
    [contenidoChip]="filtroseleccionado.nombrefiltro +' '+ asociacionesFiltered.length"
    (onCloseClip)="delateFilter()"
    >
    </app-chip-con-boton-close>
    <app-chip-con-boton-close
    *ngFor="let  resultado of resultFiltroPorMunicipio; let i =index"
        [iconoChip]="true"
        [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
        [contenidoChip]="resultado.nombre +' '+ resultado.datos.length"
        (onCloseClip)="delateFilterCheckbox(i)"
        >
    </app-chip-con-boton-close>
</div>
<div *ngIf="!showNotFound" class="list overflow-auto d-flex flex-column">
<div class="card" *ngFor="let asociacion of  asociacionesFiltered">
    <div class="card__user-info d-flex flex-row" (click)="goAssociationDetail(asociacion)">
        <img class="card__image" src="{{asociacion.foto ? asociacion.foto : '/assets/images/avatar-person.svg'}}">
          <div class="container-nombre  shorterTextOverflowHidden">
            <span class="card__title shorterTextAuto">{{asociacion?.nombre}}
            </span>
            <small class="shorterTextAuto" >{{asociacion?.municipio? asociacion?.municipio: 'Sin municipio'}}</small>
          </div>
        </div>
        <div *ngIf="authRol == 'Piscicultor' || authRol == 'Pescador'">
            <button class="card__button btn-square btn--azul1" (click)="invitarAnular(asociacion)"
            *ngIf="!asociacion?.estado_solicitud">Unirme</button>
            <button class="card__button btn-square btn--grey" (click)="invitarAnular(asociacion)"
            *ngIf="asociacion?.estado_solicitud == 'Enviada'">Anular</button>
            <div class="btn-group" *ngIf="asociacion?.estado_solicitud == 'Aceptada'">
            <button class="card__button btn-square btn--grey dropdown-toggle" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">Miembro</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li (click)="invitarAnular(asociacion)"><a class="dropdown-item"><i class="bi bi-box-arrow-left"></i> No
                    soy
                    miembro</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
