<div class="container container-inform">
  <h4 class="container__titlex">Asociaciones</h4>
  <p class="container__description">En esta sección, encontrarás información sobre todas las asociaciones que pueden ser de
  dos tipos, piscicultores, pescadores y mixtas en los distintos municipios del departamento de Sucre, lo cual puede resultar útil
  para la gestión y coordinación de proyectos relacionados con el sector piscícola.</p>
</div>
<div class="search">
    <app-search  [activeClasetwo]="true"[placeholderbuscador]="'Buscar asociacion..'"
    (textSearch)="onBuscarPalabra($event)" class="app-search">
    </app-search>
    <app-modal-multi-filters
     [radioFilter1]="filtro"
     [checkboxOptions]="municipios"
      [checkArray]="filtroseleccionadoCheckbox"
     [deleteRadioFilter1]="filtroseleccionado"
     (filtersAplied)="onFiltersAplied($event)"></app-modal-multi-filters>
</div>
<app-not-found *ngIf="showNotFound" objectName="asociaciones" class="app-not-found"></app-not-found>
<div class="chip">
    <app-chip-con-boton-close
    *ngIf="filtroseleccionado"
    [iconoChip]="true"
    [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
    [contenidoChip]="filtroseleccionado.nombrefiltro +' '+ asociacionesFiltered.length"
    (onCloseClip)="delateFilter()"
    >
    </app-chip-con-boton-close>
    <app-chip-con-boton-close
    *ngFor="let  resultado of resultFiltroPorMunicipio; let i =index"
        [iconoChip]="true"
        [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
        [contenidoChip]="resultado.nombre +' '+ resultado.datos.length"
        (onCloseClip)="delateFilterCheckbox(i)"
        >
    </app-chip-con-boton-close>
</div>
  <div class="container-card mb-4" *ngIf="!showNotFound && cardAsocia">
    <app-card-asociacion *ngFor="let asociacion of  asociacionesFiltered" [asociacion]="asociacion" [delatecard]="false"
      (onDetalle)="goAssociationDetail(asociacion)" (onDetalleRepresentante)="goDetalleRepresentante($event)">
    </app-card-asociacion>
  </div>
<div class="container-card-list mb-4" *ngIf="!showNotFound && !cardAsocia">
    <div class="list overflow-auto d-flex flex-column">
      <div class="card" *ngFor="let asociacion of  asociacionesFiltered">
        <div class="card__user-info d-flex flex-row" (click)="goAssociationDetail(asociacion)">
          <img class="card__image" src="{{asociacion.foto ? asociacion.foto : '/assets/images/avatar-person.svg'}}">
          <div class="asociacion-nombre shorterTextOverflowHidden">
            <span class="card__title shorterTextAuto">{{asociacion.nombre}}
            </span>
            <small class="shorterTextAuto">{{asociacion?.municipio? asociacion?.municipio: 'Sin municipio'}}</small>
          </div>
        </div>
        <button class="card__button btn-square btn--azul1 " (click)="invitarAnular(asociacion)"
          *ngIf="!asociacion?.estado_solicitud">Unirme</button>
        <button class="card__button btn-square btn--grey " (click)="invitarAnular(asociacion)"
          *ngIf="asociacion?.estado_solicitud == 'Enviada'">Anular</button>
        <div class="btn-group " *ngIf="asociacion?.estado_solicitud == 'Aceptada'">
          <button class="card__button btn-square btn--grey dropdown-toggle" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">Miembro</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li (click)="invitarAnular(asociacion)"><a class="dropdown-item"><i class="bi bi-box-arrow-left"></i> No
                soy
                miembro</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
