<div class="mt-5">
  <div class="search">
    <app-search class="app-search" (textSearch)="onSearch($event)"></app-search>
    <app-modal-multi-filters [radioFilter1]="filtro" [chipFilter1]="orderFilter" [checkboxOptions]="municipios" (filtersAplied)="onFiltersAplied($event)"></app-modal-multi-filters>
  </div>
</div>
<app-not-found class="app-not-found" *ngIf="showNotFound" objectName="productos"></app-not-found>
<div class="chip-container">
  <app-chip-con-boton-close class="chip-container__element"
  *ngIf="filtroseleccionado"
  [iconoChip]="true"
  [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
  [contenidoChip]="filtroseleccionado.nombrefiltro"
  (onCloseClip)="delateFilter()"
  >
  </app-chip-con-boton-close>
  <app-chip-con-boton-close class="chip-container__element"
  *ngIf="selectedPriceFilter"
  [iconoChip]="true"
  [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
  [contenidoChip]="selectedPriceFilter.nombrefiltro"
  (onCloseClip)="deletePriceFilter()"
  >
  </app-chip-con-boton-close>
  <app-chip-con-boton-close class="chip-container__element"
  *ngFor="let nombre of filtroseleccionadoCheckbox; let i =index"
      [iconoChip]="true"
      [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
      [contenidoChip]="nombre"
      (onCloseClip)="delateFilterCheckbox(i)"
      >
  </app-chip-con-boton-close>
</div>
<div class="container">
  <div class="card" *ngFor="let producto of productosFiltered; let i = index">
    <div class="card__img-box">
      <app-carrucel-img
      *ngIf="producto.fotos.length != 0"
                [imagenes]="producto.fotos"
                [indicatorsphoto]="true"
                [idtarge]="i"
                [rounded]="false"
                [scale]=true
                [scaledown]="true"
                >
      </app-carrucel-img>
        <img class="sin-img" src='https://admin.moodyyc.com/img/no-image.png' *ngIf="producto.fotos.length == 0">
    </div>
    <div class="card-body">
      <h5 class="card__title card-title">${{producto.precio | number:'':'es'}}</h5>
      <h5 class="card__sub-title card-title">{{producto.nombreProducto}}</h5>
      <p class="card__descripction card-text">{{producto.descripcion | shorter:20 }} </p>
        <div>
          <span class="link" (click)="goDetail(producto)">Ver detalle</span>
        </div>
    </div>
  </div>

</div>