<div class="mt-5">
  <div class="search">
    <app-search (textSearch)="onSearch($event)"></app-search>
    <app-modal-multi-filters [radioFilter1]="filtro" [chipFilter1]="orderFilter" [checkboxOptions]="municipios" (filtersAplied)="onFiltersAplied($event)"></app-modal-multi-filters>
  </div>
</div>
<app-not-found class="app-not-found" *ngIf="showNotFound" objectName="productos"></app-not-found>
<!-- <div class="d-flex flex-row justify-content-center">
  <app-filtro
  class="search__filter"
  [filtro]="filtro"
  [checkboxfiltro]="false"
  (onFilterSeleccionado)="onFiltroChange($event)"
  [filtroSeleccionado]="filtroseleccionado">
  </app-filtro>
  <app-filtro
  class="search__filter"
  [filtro]="orderFilter"
  [checkboxfiltro]="false"
  (onFilterSeleccionado)="onPriceFilterChange($event)"
  [filtroSeleccionado]="selectedPriceFilter">
  </app-filtro>
  <app-filtro [checkbox]="checkbox" [checkboxfiltro]="true" [checkboxArray]="municipios"
  (onArrayCheckboxSelec)="onFiltroChangeCheckbox($event)" [arrayCheckboxSelec]="filtroseleccionadoCheckbox">
  </app-filtro>
</div>
 --><div class="chip-container">
  <app-chip-con-boton-close class="chip-container__element"
  *ngIf="filtroseleccionado"
  [iconoChip]="true"
  [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
  [contenidoChip]="filtroseleccionado.nombrefiltro"
  (onCloseClip)="delateFilter()"
  >
  </app-chip-con-boton-close>
  <app-chip-con-boton-close class="chip-container__element"
  *ngIf="selectedPriceFilter"
  [iconoChip]="true"
  [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
  [contenidoChip]="selectedPriceFilter.nombrefiltro"
  (onCloseClip)="deletePriceFilter()"
  >
  </app-chip-con-boton-close>
  <app-chip-con-boton-close class="chip-container__element"
  *ngFor="let nombre of filtroseleccionadoCheckbox; let i =index"
      [iconoChip]="true"
      [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
      [contenidoChip]="nombre"
      (onCloseClip)="delateFilterCheckbox(i)"
      >
  </app-chip-con-boton-close>
</div>
<div class="container">
  <div class="card" *ngFor="let producto of productosFiltered; let i = index">
    <div class="card__img-box">
      <!-- <img class="card__img card-img-top" src="{{producto.foto ? producto.foto : 'http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg'}}" alt="Card image cap"> -->
      <app-carrucel-img class="card__img"
                [imagenes]="producto.fotos"
                [indicatorsphoto]="true"
                [idtarge]="i"
                [rounded]="false"
                [scale]=true
                >
      </app-carrucel-img>
    </div>
    <div class="card-body">
      <h5 class="card__title card-title">${{producto.precio | number:'':'es'}}</h5>
      <h5 class="card__sub-title card-title">{{producto.nombreProducto}}</h5>
      <p class="card__descripction card-text">{{producto.descripcion | shorter:200 }} </p>
      <span class="link" (click)="goDetail(producto)">Ver detalle</span>
    </div>
  </div>
 <!--  <div class="card" *ngFor="let producto of productos">
    <img [src]="producto.imagen" alt="" class="card__img">
    <span class="card__title">$125.000</span>
    <span class="card__sub-title">Concentrado de solla nutricion animal</span>
    <span class="card__descripction">Solla Mojarra 38 es un producto con un nivel de proteína por encima del 38% y con niveles de grasa cercanos al 4%, que garantizan un Pre-levante ideal de sus alevinos en las primeras fases de crecimiento, obteniendo así la mejor relación costo beneficio. | shorter:200</span>
  </div> -->
</div>
