<div class="cardContainer inactive">
  <div #Mycard class="card_info">
    <div class="side front">
      <div class="front-botones">
        <div (click)="editCard()" *ngIf="editaAndEliminar">
          <i class="container__icon bi bi-pencil"></i>
        </div>
        <div (click)="deleteCard()" *ngIf="editaAndEliminar">
          <i class="container__icon bi bi-trash"></i>
        </div>
      </div>
      <div class="img" (click)="clisFotoSlide()" >
        <img class="img1" [src]="dato.imagen ? dato.imagen: 'assets/images/no-image-photography.svg'" alt="Foto">
      </div>
      <div class="info info-front">
        <h5 *ngIf="dato.titulo">{{dato.titulo | titlecase}}</h5>
        <div *ngFor="let item of dato.subTitle">
          <p *ngIf="item?.titulo && item?.detail">{{item?.titulo | titlecase}} <span>{{item?.detail}}</span></p>
        </div>
        <p *ngIf="dato.subTitleNormal">{{dato.subTitleNormal | titlecase}}</p>
      </div>
    </div>
  </div>
</div>

