
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 70px;
  row-gap: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh
}

