.container-row{
    display: flex;
    justify-content: stretch;
}

.container_img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.button{
    width: 200px;
    align-self: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.container__icon{
    cursor: pointer;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width:1024px;
    height: 370px;
}

.modal__image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
}

.modal__box{
    display: flex;
    flex-direction: column;
}

.container__table{
    width: 1200px;
}

.container__input{
    width: 100%;
}

.container__link{
    margin-right: 10px;
}
.container__spinner{
    width: 20px;
    height: 20px;
}

.container__btn{
    width: 100px;
}
/* mi  estilo */
.search{
  display: flex;
width: 700px;
}
 .map  {
      padding: 0px;
      }
.alertclass{
        padding: 0px ;
        margin-bottom: 0px;
      }
  .footerheadermodal{
    padding: 10px;
  }
@keyframes n-info-tri {
                0%,
                to {
                  transform: rotate(0deg);
                  transform-origin: center
                }

                10%,
                90% {
                  transform: rotate(2deg)
                }

                20%,
                40%,
                60% {
                  transform: rotate(-6deg)
                }

                30%,
                50%,
                70% {
                  transform: rotate(6deg)
                }

                80% {
                  transform: rotate(-2deg)
                }
              }

              .prefix__n-info-tri {
                animation: n-info-tri .8s cubic-bezier(.455, .03, .515, .955) both infinite
              }

/* fin mi estilo */
