<div class="container">
    <div class="container__table">
        <table class="table mt-40">
            <thead class="table-light">
            <tr>
                <th>Nombre de la granja</th>
                <th>Descripción</th>
                <th>Área(m2)</th>
                <th>Numero de trabajadores</th>
                <th>Producción estimada (kg/mes)</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let granja of granjas |  paginate: { itemsPerPage: 3, currentPage: p }; let i=index">
                <td>{{granja.nombre}}</td>
                <td>{{granja.descripcion | shorter:50}}</td>
                <td>{{granja.area}}</td>
                <td>{{granja.numero_trabajadores}}</td>
                <td>{{granja.produccion_estimada_mes}}</td>
                <td>
                    <div class="container-row">
                        <i class="container__icon1 bi bi-pencil text-success me-2"  (click)="editarGranja(granja,'enable')" ngbTooltip="Actualizar"></i>
                        <i class="container__icon2 bi bi-trash text-danger me-2" (click)="deleteGranja(granja.id_granja)" ngbTooltip="Eliminar"></i>
                        <i class="container__icon3 bi bi-geo-alt-fill text-danger me-2" (click)="verMap(granja.id_granja)"  ngbTooltip="Mi ubicación"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination-controls *ngIf="!showNotFound" class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
    <button class="btn-outline-blue button" (click)="createNewGranja()">Agregar nueva granja</button>
</div>
    <div class="search-container" *ngIf="showNotFound">
      <div class="search-container__box">
          <img class="search-container__image" src="assets/images/searching.svg">
          <h3>No se han encontrado resultados</h3>
          <p>Aun no has registrado tus granjas</p>
      </div>
    </div>
      <!-- modal 2 mapa -->
    <ng-template  #map   let-modal>
      <div class="modal-header footerheadermodal">
          <!-- header modal -->
          <div class="search" >
            <input  class="container__input2" placeholder="Buscar en Google Map"   (keyup)="onKey($event)" (keyup.enter)="buscar()"
              [(ngModel)]="buscarx" >
              <img src="assets/icons/loadingseart.svg" *ngIf="loadingseart">
            <i class="bi bi-search img-search" (click)="buscar()" placement="bottom" ngbTooltip="Búsqueda" *ngIf="!loadingseart" ></i>
              <div class="d-flex" style="height: 34px;color: rgb(158, 158, 167);">
              <div class="vr">
              </div>
             </div>
               <i class="bi bi-x img-x" (click)="borrarBusqueda()"  placement="bottom" ngbTooltip="Borrar búsqueda"*ngIf="borrarseart"></i>
          </div>
          <!-- button close- modal -->
          <button type="button" class="btn-close button_close" aria-label="Close" (click)="closeMap()" placement="bottom" ngbTooltip="Salir"></button>
      </div>
      <div class="modal-body  map"  *ngIf="apiLoaded | async">
          <!-- fuera de sucre -click fuera-->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf=" fueraDirecion" role="alert">
            <div class="p-2 bd-highlight">
          <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight">
              No puedes escoger una ubicación fuera del departamento de Sucre
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

          </div>
          <!-- no ha guardado la ubicacion alerta -->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf="guarlatlog" role="alert">
            <div class="p-2 bd-highlight">
          <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight">
              No se ha podido guardar su ubicacion, por intente nuevamente
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <!-- no se encontraron datos -->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf="noexistendatos" role="alert">
            <div class="p-2 bd-highlight">
            <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight">
            Google Maps no puede encontrar <strong>{{valorbuscarx}}</strong>
            Asegúrese de que su búsqueda esté escrita correctamente. Intente agregar una ciudad, estado o código postal.
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <!-- escoger mi ubicación -->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf="escogerdireccion" role="alert">
            <div class="p-2 bd-highlight">
             <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight">
              Por favor escoge tu  <strong> dirección</strong>
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <google-map width="1200px" height="550px" class="modal-dialog-centered" [options]="options"
            (mapClick)="addMarker($event)">
            <map-marker [position]="markerPosition" [options]="markerOptions" title="Title"></map-marker>
            <map-polyline [path]="vertices" [options]="optionPoli">
            </map-polyline>
          </google-map>
      </div>
    </ng-template>


