
<div class="container">
  <div class="container-card" *ngIf="!showNotFound">
    <app-card-granja-simple [datos]="granja" [indiceDatos]="i" [editaAndEliminar]="true"
      (onDetalle)="editarGranja(granja,'enable')" (onUpdateDatos)="editarGranja(granja,'enable')"
      (onDeleteDatos)="deleteGranja(granja)"
      *ngFor="let granja of granjas ; let i=index">
    </app-card-granja-simple>
  </div>
  <app-spinner [showText]="false" *ngIf="loading"></app-spinner>
  <div class="center" *ngIf="showNotFound">
    <app-not-found message="Aun no has registrado granjas"></app-not-found>
  </div>
  <div class="center" *ngIf="showError">
    <app-not-found [genericError]="showError"></app-not-found>
  </div>
  <app-basic-floating-btn [tooltip]="'Crear granja'" [agregar]="true" (click)="createNewGranja()">
  </app-basic-floating-btn>
</div>

