.line{
    border-top:  1px solid var(--black);
    margin-top:30px;
}

.proprietary-container{
    
}

.proprietary-container__info{

}

.proprietary-container__title{

}

.proprietary-container__description1{

}

.proprietary-container__description2{

}

.proprietary-container__image{

}
.detail-container{
    display: flex;
    margin-left: 31px;
    margin-top:30px;
    margin-bottom: 30px;
}

.detail-container__data{
    display:flex;
    flex-direction: column;
    margin-left:17px;
}

.detail-container__image{
    width:25px;
    height:25px;
}
.detail-container__title{
    font-size: 20px;
}

.detail-container__value{
    font-size:15px;
}