.header-container{

}

.header-container__title{
}

.header-container__rating{
    font-size:20px;
    font-weight: 600;
    margin-left: 7px;
}

.header-container__icon{
    position: relative;
    top: -4px;
    width:16px;
    height: 16px;
}

.header-container__description{
    font-size:20px;
}

.buttons-container1{
    grid-area: button2;
    justify-self:start;
    height: 43px;
}

.buttons-container2{
    grid-area: button2;
    justify-self:end;
    height: 43px;
}
.buttons-container__image{
    width:20px;
    height: 20px;
    margin-right: 8px;
    margin-bottom: 7px;
}

.buttons-container__description{
    font-size:22px;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}

.photo-container{
    display: grid;
    grid-template-columns: 549px 270px 270px;
    grid-template-areas: ". button1 button2"
    "photo1 photo2 photo3"
    "photo1 photo4 photo5"
    "button button button";
    grid-column-gap: 10px;
    grid-column-gap: 10px;
    column-gap: 18px;
    row-gap: 7px;
    margin-top: 48px;
}

.photo-container__photo1{
    grid-area: photo1;
    width: 546px;
    height: 386px;
    border-radius: 10px 0px 0px 10px;
}

.photo-container__photo2{
    grid-area: photo2;
    width: 269px;
    height: 190px;
}

.photo-container__photo3{
    grid-area:photo3;
    width: 269px;
    height: 190px;
    border-radius: 0px 5px 5px 0px;
}

.photo-container__photo4{
    grid-area:photo4;
    width: 269px;
    height: 190px;  
}

.photo-container__photo5{
    grid-area:photo5;
    width: 269px;
    height: 190px;  
    border-radius: 0px 5px 5px 0px;
}

.photo-container__button{
    grid-area:button;
    justify-self:center;
    margin-top: 37px;
    font-size: 21px;
    width: fit-content;
    padding: 6px 56px;
}

.line{
    border-top:  1px solid var(--black);
    margin-top:30px;
}

.proprietary-container{
    display:flex;
    justify-content:space-between;
    margin-top: 111px;
}

.proprietary-container__info{

}

.proprietary-container__title{

}

.proprietary-container__description1{
    display: block;
    font-size: 23px;
}

.proprietary-container__description2{
    display: block;
    font-size: 23px;
}

.proprietary-container__image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-self: center;
}
.detail-container{
    display: flex;
    margin-left: 0px;
    margin-top:30px;
    margin-bottom: 30px;
}

.detail-container__data{
    display:flex;
    flex-direction: column;
    margin-left:17px;
}

.detail-container__image{
    width:25px;
    height:25px;
}
.detail-container__title{
    font-size: 20px;
}

.detail-container__value{
    font-size:15px;
}

.container{
    margin: 0 auto;
    margin-top: 100px;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width:1024px;
    height: 370px;
}

.search-container__image2{
    width:423px;
    height: 370px;
}
