.header-container{

}

.header-container__title{
}

.header-container__resenas{
  cursor: pointer;
  text-decoration: underline;
}

.header-container__rating{
    font-size:20px;
    font-weight: 600;
    margin-left: 7px;
}

.header-container__icon{
    position: relative;
    top: -4px;
    width:16px;
    height: 16px;
}

.header-container__description{
    font-size:20px;
}

.buttons-container1{

    grid-area: button1;

    height: 43px;

    margin-left: 55px;
}
.buttons-container2{

    grid-area: button2;

    height: 43px;
        margin-left: 20px;


}

.buttons-container__image{
    width:20px;
    height: 20px;
    margin-right: 8px;
    margin-bottom: 7px;
    cursor: pointer;
}

.buttons-container__description{
    font-size:22px;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}


.sin-img-div{
display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
    grid-template-areas:
      ". . . .   "
      ".  photo photo ."
      ".  photo0 photo0 ."

}
.sin-img-div >img{
  grid-area: photo;
    border-radius: 10px;
    height: 100%;
    width: 100%
}
.photo-container {
  /* display: grid;
  grid-template-columns: repeat(12, 98.2508333333px);
  grid-template-rows: repeat(11, 46.1272727273px) 65.5px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". . . . . . . . button1 button1  button2 button2"
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    ". div div div div div div div div div . ."
    "button button button button button button button button button button button button"; */
    display: grid;
      grid-template-rows: repeat(12, 46.1272727273px) 65.5px;
      grid-template-columns: repeat(12, 98.2508333333px);
      grid-column-gap: 0px;
        grid-row-gap: 0px;
      grid-template-areas:
        'header-container header-container header-container header-container header-container header-container header-container header-container . . . .'
        'header-container header-container header-container header-container header-container header-container header-container header-container button1 button1 button2 button2'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        '. div div div div div div div div div . .'
        'button button button button button button button button button button button button';
}

.photo-container-padre {
  width: 821px;
  height: 470px;
  grid-area: div;
  padding-left: 86px;
}
.photo-container1-div{
display: grid;
grid-template-rows: repeat(12, 30.1283333333px);
  grid-template-columns: repeat(12, 59.3783333333px);
  grid-template-areas:
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1 photo1';
  grid-column-gap: 9.86px;
  grid-row-gap: 9.86px;

}

.photo-container2-div{
display: grid;

  grid-template-rows: repeat(12, 30.1283333333px);
  grid-template-columns: repeat(12, 59.3783333333px);

  grid-template-areas:
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2';
  grid-column-gap: 9.86px;
  grid-row-gap: 9.86px;

}
.photo-container3-div{
display: grid;
  grid-template-rows: repeat(12, 30.1283333333px);
  grid-template-columns: repeat(12, 59.3783333333px);
  grid-template-areas:
    'photo1 photo1 photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo1 photo1 photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo2 photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo2 photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo2 photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo2 photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo2 photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3'
    'photo2 photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3';
  grid-column-gap: 9.86px;
  grid-row-gap: 9.86px;
}
.photo-container4-div{
  display: grid;
    grid-template-rows: repeat(12, 30.1283333333px);
    grid-template-columns: repeat(12, 59.3783333333px);
    grid-template-areas:
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4'
      'photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4'
      'photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4'
      'photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4'
      'photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4'
      'photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4';
    grid-column-gap: 9.86px;
    grid-row-gap: 9.86px;

}
.photo-container5-div {
  display: grid;
    grid-template-rows: repeat(12, 30.1283333333px);
    grid-template-columns: repeat(12, 59.3783333333px);
    grid-template-areas:
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo1 photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo2'
      'photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5'
      'photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5'
      'photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5'
      'photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5'
      'photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5'
      'photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5';
    grid-column-gap: 9.86px;
    grid-row-gap: 9.86px;
}
.photo-container6-div {
  display: grid;
    grid-template-rows: repeat(12, 30.1283333333px);
    grid-template-columns: repeat(12, 59.3783333333px);
    grid-template-areas:
      'photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3'
      'photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3'
      'photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3'
      'photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3'
      'photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3'
      'photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3'
      'photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5 photo6 photo6 photo6 photo6'
      'photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5 photo6 photo6 photo6 photo6'
      'photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5 photo6 photo6 photo6 photo6'
      'photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5 photo6 photo6 photo6 photo6'
      'photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5 photo6 photo6 photo6 photo6'
      'photo4 photo4 photo4 photo4 photo5 photo5 photo5 photo5 photo6 photo6 photo6 photo6';
    grid-column-gap: 9.86px;
    grid-row-gap: 9.86px;
}
.photo-container7-div {
  display: grid;
    grid-template-rows: repeat(12, 30.1283333333px);
    grid-template-columns: repeat(12, 59.3783333333px);
    grid-template-areas:
      'photo1 photo1 photo1 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo1 photo1 photo1 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo1 photo1 photo1 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo1 photo1 photo1 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo2 photo2 photo2 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo2 photo2 photo2 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo2 photo2 photo2 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo2 photo2 photo2 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7'
      'photo3 photo3 photo3 photo4 photo4 photo4 photo5 photo5 photo5 photo6 photo6 photo6'
      'photo3 photo3 photo3 photo4 photo4 photo4 photo5 photo5 photo5 photo6 photo6 photo6'
      'photo3 photo3 photo3 photo4 photo4 photo4 photo5 photo5 photo5 photo6 photo6 photo6'
      'photo3 photo3 photo3 photo4 photo4 photo4 photo5 photo5 photo5 photo6 photo6 photo6';
    grid-column-gap: 9.86px;
    grid-row-gap: 9.86px;
}


#photo-container__photo1{
    grid-area: photo1;
    object-fit: cover;

}

#photo-container__photo2{
    grid-area: photo2;
    object-fit: cover;
}

#photo-container__photo3{
    grid-area:photo3;
    object-fit: cover;
}

#photo-container__photo4{
    grid-area:photo4;
    object-fit: cover;
}
#photo-container__photo5{
    grid-area:photo5;
    object-fit: cover;
}
#photo-container__photo6{
    grid-area:photo6;
    object-fit: cover;
}
#photo-container__photo7{
    grid-area:photo7;
    object-fit: cover;
}
/* .masimagenescontador-div{
  grid-area: photo6;
  display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    color: #fff;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.40);
} */
.masimagenescontador{
  grid-area: photo6;
      color: #fff;
        font-size: 1.50em;
        background-color: rgba(0, 0, 0, 0.40);

}

.photo-container-img{
background-color: #ccc;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
  box-shadow: 0 0 5px 0 #ccc;
  cursor: pointer;
  border-radius: 10px;
  height: 100%;
  width: 100%
}
.box-shadow-efecthover:hover {
  border: 0.5px solid rgb(64, 64, 244);
  box-shadow: 0px 0px 1px 7px #68E1FD;
  animation: infinite resplandorAnimation 1s;
}

@keyframes resplandorAnimation {

  0%,
  100% {
    box-shadow: 0px 0px 1px 5px #68E1FD;
  }

  50% {
    box-shadow: 0px 0px 0px #68E1FD;

  }

}
.photo-container__button{
    grid-area:button;
    justify-self:center;
    margin-top: 20px;
    font-size: 21px;
    width: fit-content;
    padding: 6px 56px;
}

.line{
    border-top:  1px solid var(--black);
    margin-top:30px;
}

.proprietary-container{
    display:flex;
    justify-content:space-between;
    margin-top: 10px;
}

.proprietary-container__info{

}

.proprietary-container__title{

}

.proprietary-container__description1{
    display: block;
    font-size: 23px;
}

.proprietary-container__description2{
    display: block;
    font-size: 23px;
}

.proprietary-container__image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-self: center;
    object-fit: cover;
}
.detail-container{
    display: flex;
    margin-left: 0px;
    margin-top:30px;
    margin-bottom: 10px;
}

.detail-container__data{
    display:flex;
    flex-direction: column;
    margin-left:17px;
}

.detail-container__image{
    width:25px;
    height:25px;
}
.detail-container__title{
    font-size: 20px;
}

.detail-container__value{
    font-size:15px;
}

.container{
    //margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width:1024px;
    height: 370px;
}

.search-container__image2{
    width:423px;
    height: 370px;
}

.container__box{
 align-self: center;
}



div.container__box>div>div.header-container{
grid-area: header-container;
    display: flex;
      justify-content: flex-start;
}
div.container__box>div>div.header-container>div{
display: flex;
  flex-direction: column;
}
div.container__box>div>div.header-container>div>div{
margin-top: 10px;
}
.photos-container-div{
display: flex;
 justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
}
.photo-container-gallery{
    height: 150px;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
}
.photo-container-gallery:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
 .box-shadow-efect:hover {
  -webkit-transform: none;
    transform: none;
}
.box-shadow-efect {
  border: 1px solid rgb(64, 64, 244);
  box-shadow: 0px 0px 1px 7px #68E1FD;
  animation: infinite resplandorAnimation 1s;
}
@keyframes resplandorAnimation {

  0%,
  100% {
    box-shadow: 0px 0px 1px 7px #68E1FD;
  }

  50% {
    box-shadow: 0px 0px 0px #68E1FD;

  }

}
.imgs-modal{
background-color: #ccc;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
  box-shadow: 0 0 5px 0 #ccc;
  cursor: pointer;
  border-radius: 10px;
  height: 100%;
  width: 100%
}

.carousel-contenedor-img{

  border-radius: 8px;
  width: 80%;
  height: inherit;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.carousel-contenedor-img>img{
      max-width: 100%;
        max-height: 100%;
        object-fit: contain;
}

.card{
  margin-bottom: 20px;
  border:none;
}

.card__image{
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.card__box{
  display: flex;
  flex-direction: column;
}

.card__title{
  font-weight: 600;
}

.card__row{
  display: flex;
}

.card__paragh{
  margin-top: 15px;
}

.resenas{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.resenas__title{

}

.resenas__title{

}

.resenas__rating{
  font-size: 40px;
  font-weight: 600;
}

.resenas__button{
  width: 251px;
  align-self: center;
}

.qualify-modal{
  width: 50vw;
}

.qualify-modal__container{
  display: flex;
  flex-direction: column;
}

.qualify-modal__button{
  width: 12.25vw;
  align-self: center;
}

.qualify-modal__input{
  border: 1px solid #8692a6;
  border-radius: 8px;
  width: 100%;
  height: 100px;
  align-self: center;
  margin-bottom: 20px;
}

.qualify-modal__stars{
  align-self: center;
}

.qualify-modal__stars{
  align-self: center;
  margin-bottom: 15px
}

.qualify__spinner{
  width: 20px;
  height: 20px;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
  width: 608px;
  height: 295px;
}

.modalbody{
  height: 100%;
}
