<app-notification-bar></app-notification-bar>
<app-search-bar></app-search-bar>
<app-navbar></app-navbar>
<div class="container" *ngIf="!showNotFound && !showError && !showGallery">
<div class="container__box">
  <div class="photo-container">
   <div class="header-container">
        <h3 class="header-container__title">{{granja?.nombre}}</h3>
        <div>
          <img class="header-container__icon" src="assets/icons/star-filled.svg">
          <span class="header-container__rating">{{granja?.puntuacion ? (granja.puntuacion | number:'1.1-1') : 'S/C'}}</span>
           <span class="header-container__description">
              <span class="header-container__resenas"
             (click)="showResenas(granja.id_granja)">({{granja?.count_resenas}} reseñas)
           </span> {{granja?.nombre_municipio}}, Sucre, Colombia</span>
        </div>
   </div>
    <div class="buttons-container1">
        <img class="buttons-container__image" src="assets/icons/share.svg">
        <a class="buttons-container__description" href="#">Compartir</a>
    </div>
    <div class="buttons-container2">
      <img class="buttons-container__image" src="assets/icons/heart-filled.svg" *ngIf="granja?.favorita" (click)="changeFavorite()">
      <img class="buttons-container__image" src="assets/icons/heart-outline.svg" *ngIf="!granja?.favorita" (click)="changeFavorite()">
        <a class="buttons-container__description" href="#">Guardar</a>
    </div>

<!-- <div class="photo-container-padre photo-container7-div"  *ngIf="fotosgranja?.length >=1">
  <img class="photo-container-img" id="photo-container__photo1" src="{{granja?.fotos[0] ?granja?.fotos[0]  : 'https://admin.moodyyc.com/img/no-image.png'}}"
     (click)="fotoSele(0,photosGallery)"  >
  <img class="photo-container-img" id="photo-container__photo2" src="{{granja?.fotos[1] ?granja?.fotos[1]  : 'https://admin.moodyyc.com/img/no-image.png'}}"
     (click)="fotoSele(1,photosGallery)"  >
  <img class="photo-container-img" id="photo-container__photo3" src="{{granja?.fotos[2] ?granja?.fotos[2]  : 'https://admin.moodyyc.com/img/no-image.png'}}"
     (click)="fotoSele(2,photosGallery)"  >
  <img class="photo-container-img" id="photo-container__photo4" src="{{granja?.fotos[3] ?granja?.fotos[3]  : 'https://admin.moodyyc.com/img/no-image.png'}}"
     (click)="fotoSele(3,photosGallery)"  >
  <img class="photo-container-img" id="photo-container__photo5" src="{{granja?.fotos[4] ?granja?.fotos[4]  : 'https://admin.moodyyc.com/img/no-image.png'}}"
     (click)="fotoSele(4,photosGallery)"  >
  <img class="photo-container-img" id="photo-container__photo6" src="{{granja?.fotos[5] ?granja?.fotos[5]  : 'https://admin.moodyyc.com/img/no-image.png'}}"
     (click)="fotoSele(5,photosGallery)"  >
  <img class="photo-container-img" id="photo-container__photo7" src="{{granja?.fotos[6] ?granja?.fotos[6]  : 'https://admin.moodyyc.com/img/no-image.png'}}"
     (click)="fotoSele(6,photosGallery)"  >

  <img class="photo-container-img" id="photo-container__photo{{i+1}}" src="{{ fotogranja ? fotogranja : 'https://admin.moodyyc.com/img/no-image.png'}}"
    *ngFor="let fotogranja of fotosgranja | slice:0:7; let i =index" (click)="fotoSele(i,photosGallery)"  >
</div> -->
<div class="photo-container-padre" [ngClass]="{
  'photo-container1-div': fotosgranja?.length ==1,
  'photo-container2-div': fotosgranja?.length ==2,
  'photo-container3-div': fotosgranja?.length ==3,
  'photo-container4-div': fotosgranja?.length ==4,
  'photo-container5-div': fotosgranja?.length ==5,
  'photo-container6-div': fotosgranja?.length ==6,
  'photo-container7-div': fotosgranja?.length >=7
                 }">

  <img  class="photo-container-img box-shadow-efecthover" id="photo-container__photo{{i+1}}"
    src="{{ fotogranja ? fotogranja : 'https://admin.moodyyc.com/img/no-image.png'}}"
    *ngFor="let fotogranja of fotosgranja | slice:0:7; let i =index"
    (click)="fotoSele(i)">

    <div class="photo-container-padre sin-img-div"  *ngIf="singranjas">
    <img src="../../../../assets/images/sinimagen.svg">
    </div>

  <button class="masimagenescontador" (click)="OpenGalleryModalOptionOne()" *ngIf="fotosgranja?.length >=7 "
      (click)=" shadoweffectindice=-1 && valorindicecarrucel=-1 && imgselecmodal=-1"><span style=" border-bottom: 1px solid #fff;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);">+ {{fotosgranja?.length-7}} fotos</span>
  </button>
</div>
<button class="photo-container__button btn-square-blue" (click)="OpenGalleryModalOptionTwo()" *ngIf="fotosgranja?.length >1 && fotosgranja?.length<7" >Ver fotos</button>
<button class="photo-container__button btn-square-blue" (click)="OpenGalleryModalOptionTwo()" *ngIf="fotosgranja?.length ==1 " >Ver la foto</button>
<button class="photo-container__button btn-square-blue" (click)="OpenGalleryModalOptionTwo()" *ngIf="fotosgranja?.length >=7 ">Ver todas las fotos</button>

  </div>


</div>

<div class="proprietary-container" >
    <div class="proprietary-container__info">
        <h3 class="proprietary-container__title">Propietario - {{granja?.propietarios[0]?.nombre_completo}} </h3>
        <span class="proprietary-container__description1">N° Celular  {{granja?.propietarios[0]?.celular}} </span>
        <span class="proprietary-container__description2">{{granja?.propietarios[0]?.direccion}} </span>
    </div>
    <img class="proprietary-container__image" [src]="granja?.propietarios[0]?.foto">
</div>

<div class="line">

</div>

    <div class="detail-container mt-4">
        <img class="detail-container__image" src="assets/images/layers.svg">
        <div class="detail-container__data">
            <h4 class="detail-container__title">area (M²)</h4>
            <span class="detail-container__value">{{granja?.area}}</span>
        </div>
    </div>

    <div class="detail-container">
        <img class="detail-container__image" src="assets/images/fish.svg">
        <div class="detail-container__data">
            <h4 class="detail-container__title">Especies cultivadas</h4>
            <span class="detail-container__value" *ngFor="let especie of granja?.especies">{{especie.nombre}}</span>
        </div>
    </div>

    <div class="detail-container">
        <img class="detail-container__image" src="assets/images/worker.svg">
        <div class="detail-container__data">
            <h4 class="detail-container__title">Trabajadores</h4>
            <span class="detail-container__value">{{granja?.numero_trabajadores}} trabajadores en total.</span>
        </div>
    </div>

    <div class="detail-container">
        <img class="detail-container__image" src="assets/images/weigth.svg">
        <div class="detail-container__data">
            <h4 class="detail-container__title">Producción estimada al mes (kg)</h4>
            <span class="detail-container__value">{{granja?.produccion_estimada_mes}} kg</span>
        </div>
    </div>

    <div class="detail-container">
        <img class="detail-container__image" src="assets/images/wave.svg">
        <div class="detail-container__data">
            <h4 class="detail-container__title">Tipo de infraestructura</h4>
            <span class="detail-container__value" *ngFor="let infraestructura of granja?.infraestructuras">{{infraestructura.nombre}}</span>
        </div>
    </div>

    <div class="resenas">
      <h4 class="resenas__title">Puntuaciones y reseñas</h4>
      <span class="resenas__rating">{{granja.puntuacion !== null && granja.puntuacion !== undefined ? (granja.puntuacion | number:'1.1-1') : 'Sin calificación'}}</span>
      <app-stars class="mb-4" [selectedStar]="granja?.puntuacion"></app-stars>
      <div class="card" *ngFor="let resena of resenas; let i = index">
          <div class="card__row" *ngIf="i < 3">
              <img src="{{ resena.foto_usuario ? resena.foto_usuario : 'assets/images/avatar-person.svg' }}" alt="" class="card__image">
              <div class="card__box">
                  <span class="card__title">{{resena.nombre_usuario}}</span>
                  <div class="span card__date">{{resena.fecha}}</div>
              </div>
          </div>
          <p class="card__paragh" *ngIf="i < 3">{{resena.descripcion}}</p>
          <a class="link" *ngIf="i == 2" (click)="showResenas(granja.id_granja)">Ver todas las reseñas</a>
      </div>
      <button class="resenas__button btn-rounded-blue" (click)="openQualifyModal(qualifyModal)">Calificar</button>
    </div>
</div>

<div class="search-container" *ngIf="showNotFound">
  <div class="search-container__box">
      <img class="search-container__image" src="assets/images/searching.svg">
      <h3>No se han encontrado resultados</h3>
      <p>No encontramos la granja solicitada</p>
  </div>
</div>

<div class="search-container" *ngIf="showError">
    <div class="search-container__box">
        <img class="search-container__image2" src="assets/images/problem_solving.svg">
        <h3>{{errorMessage}}</h3>
        <p>No pudimos recuperar la granja solicitada :(</p>
    </div>
</div>
<ng-template #qualifyModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!success">Danos tu opinion sobre esta granja!😀</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="success">Gracias por darnos tu opinión👍</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="qualify-modal__container" *ngIf="!success">
      <app-stars class="qualify-modal__stars" (rating)="onRating($event)"></app-stars>
      <textarea class="qualify-modal__input form-input-text-square" placeholder="Describe tu experiencia(opcional)" [(ngModel)]="descResena"></textarea>
      <button class="qualify-modal__button btn-rounded-blue" (click)="publicarResena()">
        <span *ngIf="!loading">Publicar</span>
        <div class="qualify__spinner spinner-border" role="status" *ngIf="loading">
        </div>
      </button>
    </div>
    <div class="search-container" *ngIf="success">
      <div class="search-container__box">
          <img class="search-container__image" src="assets/images/searching.svg">
          <h3>Gracias por tu opinión</h3>
          <p>...</p>
      </div>
  </div>
  </div>
</ng-template>

<!-- <app-granja-gallery *ngIf="showGallery" [photos]="granja?.fotos"></app-granja-gallery> -->
<app-footer></app-footer>
<app-floating-btn-auto-up></app-floating-btn-auto-up>
