<div  [ngClass]="{basic_container: activateStyle}">
  <gallery
  class="galleryclass"
  [ngClass]="{galleryclassactive: activateStyle}"
   [counter]="contador"
  [attr.fluid]  ="fullScreen"
  [loadingStrategy]="'lazy'"
  [imageSize]="imageSiz"
    id="{{id}}"
  [items]="items "
  [thumbHeight]="70"
  [thumbWidth]="80"
  [thumbMode]="'free'"
    [dots]="puntos"
    [dotsSize]="20"
  [autoPlay]="autoPlay.autoPlay"
  [playerInterval]="autoPlay.time"
  [thumb]="imgMini"
  [nav]="nave"
  (indexChange)="indexFoto($event)"
  (thumbClick)="clickImgMiniatura($event)"
  (itemsChange)="itemsChange($event)">
  </gallery>
</div>
