<div class="basic-container">
  <gallery
  class="gallery--class"
   [counter]="contador"
  [attr.fluid]  ="fullScreen"
  [loadingStrategy]="'lazy'"
  [imageSize]="imageSiz"
    id="{{id}}"
  [items]="items "
  [thumbHeight]="70"
  [thumbWidth]="80"
  [thumbMode]="'free'"
    [dots]="puntos"
  [autoPlay]="autoPlay.autoPlay"
  [playerInterval]="autoPlay.time"
  [thumb]="imgMini"
  [nav]="nave"
  (indexChange)="indexFoto($event)"
  (thumbClick)="clickImgMiniatura($event)"
  (itemsChange)="itemsChange($event)">
  </gallery>
</div>
