<div class="container">

  <div class="basic-container" (mouseover)="stopGalerry()" (mouseout)=" playGalery()">
    <gallery class="gallery--class" [counter]="false" [attr.fluid]="false" [loadingStrategy]="'lazy'"
      [imageSize]="'cover'" id="homegallery" [itemTemplate]="itemTemplate" [thumbHeight]="70" [thumbWidth]="80"
      [thumbMode]="'free'" [dots]="true" [autoPlay]="true" [playerInterval]="3000
       " [thumb]="false" [nav]="true" (itemClick)="clisFotoSlide($event)">
    </gallery>
  </div>

  <div class="container container-information">
    <div class="row align-items-center row--miestilo">
      <div class="col-6 text-start text-start--miestilo">
        <div>
          <h3 class="mb-3">Información en tiempo real del sector piscícola en <span>Sucre.</span></h3>
          <p class="mb-4">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            ...</p>
          <button class="btn-square-blue" routerLink="/nosotros"> Más Información</button>
        </div>
      </div>
      <div class="col-6 text-end">
        <img class="text-end-img" src="assets/images/fishing1.svg">
      </div>
    </div>
  </div>
  <div class="container-statics">
    <div class="container-statics-div">
      <ng-container *ngTemplateOutlet="miniCard"></ng-container>
    </div>
  </div>
  <div class="container-card ">
    <div class="view-content">
      <div class="views-row view--current item-{{i}}" *ngFor="let item of enlaceRapido; index as i">
        <div class="container-target-link" >
        </div>
        <div class="container-title" (click)="clisEnlaceDirect(item)">
          <div class="front-botones">
          </div>
          <h4 class="container-title-h4" >{{item.titulo}}</h4>
        </div>
        <img [src]="item.url_imagen" width="100%" height="100%" alt="Imagen{i}">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<ng-template #miniCard>
  <div class="container-statics__card" *ngFor="let item of datosCounter; index as i">
    <img class="container-statics__icon" [src]="item.img">
    <div class="container-statics__data">
      <h4 class="container-statics__value">{{item.cantidad}}</h4>
      <p class="container-statics__value-description">{{item.title}}</p>
    </div>
  </div>
</ng-template>
<!-- Add custom template to image items -->
<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
  <span *ngIf="type === 'image' && index === currIndex && data?.title" class="item-text animate__bounceIn item-title-gallery">
    {{data?.title}}
  </span>
</ng-template>
