<div class="container container-information">
    <div class="row align-items-center">
        <div class="col-6 text-start">
            <div>
                <h3 class="mb-3">Información en tiempo real del sector piscícola en <span>Sucre.</span></h3>
                <p class="mb-4">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit ...</p>
                <button class="btn-square-blue" routerLink="/nosotros"> Más Información</button>
            </div>
        </div>
        <div class="col-6 text-end">
            <img src="assets/images/fishing1.svg" width="300" height="300">            
        </div>
    </div>
</div>


<div class="container-statics">
        <div class="container-statics__card">
            <img class="container-statics__icon" src="assets/icons/person-circle.svg">
            <div class="container-statics__data">
                <h4 class="container-statics__value">500+</h4>
                <p class="container-statics__value-description">Productores</p>
            </div>
        </div>

        <div class="container-statics__card">
            <img class="container-statics__icon" src="assets/icons/chart-circle.svg">
            <div class="container-statics__data">
                <h4 class="container-statics__value">30+</h4>
                <p class="container-statics__value-description">Graficos para análisis</p>
            </div>
        </div>

        <div class="container-statics__card">
            <img class="container-statics__icon" src="assets/icons/group-circle.svg">
            <div class="container-statics__data">
                <h4 class="container-statics__value">10.000+</h4>
                <p class="container-statics__value-description">Usuarios</p>
            </div>
        </div>
</div>

<!--<div class="container container-statics">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="assets/icons/person-circle.svg" width="50" height="50">
                </div>
                <div class="col statics_col">
                    <h4>500+</h4>
                    <p>Productores</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="assets/icons/chart-circle.svg" width="50" height="50">
                </div>
                <div class="col statics_col">
                    <h4>30+</h4>
                    <p>Graficos para análisis</p>
                </div>
            </div>            
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="assets/icons/group-circle.svg" width="50" height="50">
                </div>
                <div class="col statics_col">
                    <h4>10.000+</h4>
                    <p>Usuarios</p>
                </div>
            </div>            
        </div>
    </div>    
</div>-->









