.container__btn {
  width: 200px;
  height: 38px;
  margin-left: 10px;
  margin-top: 0;
}

.container__btn--azul {
  background-color: var(--azul1);
}
.container__btn--azul1 {
  background-color: var(--azul1);
  font-weight: 700;
  border-color: var(--azul1);
  div{
        display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
  }
}

.container__spinner {
  width: 20px;
  height: 20px;
  color: var(--white);
}

.download-cam {
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-show {
  margin-right: 10px;
}

.btn-add {
  margin-right: 15px;
}
/* estilos del mapa */
.footerheadermodal {
      padding: 10px;
    }
.modal-header {
  justify-content: center;
}
.search {
  display: flex;
  align-items: center;
  background-color: var(--white);
  background-origin: padding-box;
  border-radius: 133px;
  width: 100%;
  height: 45px;
  border: 0.5px solid var(--gris4);
  -webkit-box-shadow: -1px 3px 8px 3px rgba(0, 0, 0, 0.14);
  box-shadow: -1px 3px 8px 3px rgba(0, 0, 0, 0.14);
}
.container__input2 {
  background-size: 20px;
    background-color: var(--white);
    background-origin: padding-box;
    margin-left: 10px;
    border-top-left-radius: 133px;
    border-bottom-left-radius: 133px;
    width: 100%;
    height: 45px;
    border-left: 25px solid var(--white);
    border-right: 1px solid #dddde2;
    border-bottom: 0px solid var(--white);
    border-top: 0px solid var(--white);
    outline: none;
}
.img-search {
  font-size: 1.5em;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(158, 158, 167);
  cursor: pointer
}
.img-x {
  font-size: 2em;
  margin-right: 1px;
  color: rgb(158, 158, 167);
  padding-left: 1px;
  cursor: pointer
}
.button_close {
  margin-left: 10px;
  margin-right: 10px;
}
 .map {
   padding: 0px;
 }
 .modal-body {
   width: 100%;
   height: 100%;
 }
 .alertclass {
   padding: 0px;
   margin-bottom: 0px;
 }
 /* estilo direccion disable */
 .direccion-class {
   cursor: pointer;
 }

 .direccion-class:hover {
   background-color: #e4f4ff;
 }
 /* stilo modal foto */
.modal-body {
  width: 100%;
  height: 100%;
}

.modal-header {
  justify-content: center;
}
.box {
  display: flex;
  justify-content: center;
}
.box__button {
  align-self: center;
}
.box__title {
  margin-left: 15px;
}
.container__box {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-container__box {
  text-align: center;
}
.search-container__image2 {
  width: 396px;
  height: 370px;
}
.image-box {
  position: relative;
}
.modal__image {
  width: 200px;
  height: 160px;
  object-fit: cover;
  display: block;
  line-height: 1.5;
  border-radius: 15px;
  position: relative;
}
.square {
  border: 1px solid white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background-color: var(--morado);
}

.square__icon {
  color: white;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  right: -3px;
  bottom: -10px;
}
.modalbody {
  height: 100%;
}
.container__btn2 {
  width: 200px;
  height: 38px;
}
.container__btn1 {
  width: 150px;
  height: 38px;
  background-color: var(--morado);
}
.container__spinner {
  width: 20px;
  height: 20px;
}
.Photos-mini {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;

  .Photos-mini--div {
    width: 80px;
    height: 100%;

    .Photos-mini__img {
      border-radius: 10%;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .masimagenescontador {
    position: relative;
    color: #fff;
    font-size: 1.50em;
    width: 80px;
    height: 100%;

    .Photos-mini__img {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      border-radius: 10%;

    }

    div {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: left 0.2s;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 10px;
      width: 100%;
      font-size: 0.9rem;
      border-radius: 10%;
      text-align: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        margin: 0;
      }
    }
  }
}
.button_close:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}
@media (max-width: 575px) {
  .myestilomodalmap {
    margin: 0px !important;
    /* ajusta el boton de pantalla completa del mapa */
  }
}
@media screen and (max-width: 550px) {
  .Photos-mini--div {
    display: none;
  }
  .masimagenescontador{
    display: none;
  }
  .clasfotoMiniyBoton{
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 480px) {
.container__btn{
  width: 100px;
}
}
