<div style="margin: 20px 0;">
  <div class="d-flex flex-row justify-content-between">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="formState=='enable'">{{modalMode == 'create' ? 'Nueva granja'
      : 'Actualizar Granja'}}</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off">
      <div class="mb-3" *ngIf="modalMode == 'update' && UserTipo == 'Administrador' ">
        <label for="dateOfBirth">Propietario</label>
        <div class="input-group">
          <input [disabled]="true"  id="productName" class="form-control" placeholder="Nombre" [value]="granja?.propietario">
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Nombre</label>
        <div class="input-group">
          <input id="productName" class="form-control" placeholder="Nombre" formControlName="nombre_granja">
        </div>
        <div *ngIf="invalid('nombre_granja')" class="container__alert-msg danger-message">
          <div *ngIf="nombreGranja?.errors?.['required'] || nombreGranja?.errors?.['whiteSpace']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="dateOfBirth">Descripción</label>
        <div class="input-group">
          <textarea class="form-control" name="textarea" rows="5" cols="50"
            formControlName="descripcion" placeholder="Descripción de la granja">Write something here</textarea>
        </div>
        <div *ngIf="invalid('descripcion')" class="container__alert-msg danger-message">
          <div *ngIf="descripcion?.errors?.['required'] || descripcion?.errors?.['whiteSpace']">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Área(m2)</label>
        <div class="input-group">
          <input id="productName" type="number" min="0" class="form-control" placeholder="Área de la granja"
            formControlName="area" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
        </div>
        <div *ngIf="invalid('area')" class="container__alert-msg danger-message">
          <div *ngIf="area?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="dateOfBirth">Numero de trabajadores</label>
        <div class="input-group">
          <input id="productName" type="number" min="0" class="form-control"
            placeholder="Personas que trabajan en la granja" formControlName="numero_trabajadores" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
        </div>
        <div *ngIf="invalid('numero_trabajadores')" class="container__alert-msg danger-message">
          <div *ngIf="numeroTrabajadores?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="dateOfBirth">Produccion estimada (kg/mes)</label>
        <div class="input-group">
          <input id="productName" type="number" min="0" class="form-control" placeholder="Cuanto produce la granja al mes"
            formControlName="produccion_estimada_mes" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
        </div>
        <div *ngIf="invalid('produccion_estimada_mes')" class="container__alert-msg danger-message">
          <div *ngIf="prodEstimadaMes?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <span class="container__title">Departamento</span>
        <div>
          <select class="form-control" formControlName='id_departamento'>
            <optgroup label="Escoge un departamento" value="70">
              <option *ngFor="let dpto of departamentos" [ngValue]="dpto?.id_departamento">{{dpto?.nombre_departamento}}
              </option>
            </optgroup>
          </select>
        </div>
        <div *ngIf="invalid('id_departamento')" class="container__alert-msg danger-message">
          <div *ngIf="idDpto?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <span class="container__title">Municipio</span>
        <div>
          <select class="form-control" formControlName='id_municipio' (change)="idmunicipioselec()">
            <optgroup label="Escoge un municipio">
              <option *ngFor="let municipio of municipios" [ngValue]="municipio.id_municipio">{{municipio.nombre}}
              </option>
            </optgroup>
          </select>
        </div>
        <div *ngIf="invalid('id_municipio') || faltanargumentos" class="container__alert-msg danger-message">
          <div *ngIf="idMunic?.errors?.['required'] || faltanargumentos">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="dateOfBirth">Corregimiento o vereda</label>
        <div class="input-group">
          <input id="productName" class="form-control" placeholder="Corregimiento donde se ubica la granja"
            formControlName="corregimiento_vereda">
        </div>
      </div>

      <div class="mb-3">
        <label for="dateOfBirth">Dirección</label>
        <div class="input-group" (click)="verMapaDireccion()">
          <input [readonly]="true" id="productName" class="form-control direccion-class"
            placeholder="Selecciona aquí la dirreción de la granja en el mapa" formControlName="direccion">
        </div>
        <div *ngIf="invalid('direccion') || faltadireccion" class="container__alert-msg danger-message">
          <div *ngIf="direccion?.errors?.['required'] || faltadireccion">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Información adicional de la ubicación</label>
        <div class="input-group">
          <textarea class="form-control" name="textarea" rows="5" cols="50"
            placeholder="Información adicional de la ubicación seleccionada"
            formControlName="informacion_adicional_direccion">Write something here</textarea>
        </div>
        <div *ngIf="invalid('informacion_adicional_direccion')" class="container__alert-msg danger-message">
          <div *ngIf="informacionAdicionalDireccion?.errors?.['required'] || informacionAdicionalDireccion?.errors?.['whiteSpace']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3" >
        <label class="mb-2" for="dateOfBirth">Tipos de infraestructura:</label>
        <div *ngFor="let data of infraestructurasData; let i=index">
          <label>
            <input type="checkbox" [value]="data.id_infraestructura"
              (change)="onCheckboxChange($event,'arrayTiposInfraestructuras')"
              [checked]="isChecked('arrayTiposInfraestructuras', data.id_infraestructura)" [disabled]="cargandodata" />
            {{data.nombre}}
          </label>
        </div>
        <div *ngIf="invalid('arrayTiposInfraestructuras')" class="container__alert-msg danger-message">
          <div *ngIf=" infraestructuras?.errors?.['required']">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="mb-3" >
        <label class="mb-2" for="dateOfBirth">Especies cultivadas:</label>
        <div  class="row row-cols-1 row-cols-sm-3 row-cols-lg-4" >
          <div *ngFor="let data of especiesData; let i=index">
            <label>
              <input type="checkbox" [value]="data.id_especie" (change)="onCheckboxChange($event,'arrayEspecies')"
                [checked]="isChecked('arrayEspecies', data.id_especie)" [disabled]="cargandodata" />
              {{data.nombre}}
            </label>
          </div>
        </div>
          <div *ngIf="invalid('arrayEspecies')" class="container__alert-msg danger-message">
            <div *ngIf="especies?.errors?.['required']">
              Campo requerido
            </div>
          </div>
      </div>
      <!-- Fotos mini -->
      <app-fotos-mini-detalle-form (onDetalle)="openPhotosModal()" *ngIf="photosGranjaArray.length > 0"
        [loadingphoto]="loadingphoto" [modalMode]="modalMode"[fotos]="photosGranjaArray">
      </app-fotos-mini-detalle-form>
      <div class="clasfotoMiniyBoton" *ngIf="photosGranjaArray.length <= 0">
        <div type="button" class="btn btn-primary container__btn--azul1"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          (click)="openPhotosModal()" *ngIf="photosGranjaArray.length == 0 ">
          <div>
            <img src="assets/icons/file_upload_black_24dp.svg">
            <span>
              Subir Fotos
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-direction-row justify-content-center align-items-center d-flex-button-footer">
      <button [disabled]="loading1 || !form.valid" type="button" class="btn-rounded btn--blue container__btn"
       (click)="addGranja()" *ngIf="modalMode=='create'">
        <span *ngIf="!loading1">Guardar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading1">
        </div>
      </button>
      <button [disabled]="loading1 || !form.valid" type="button" class="btn-rounded btn--blue container__btn"
        (click)="updateGranja()" *ngIf="modalMode=='update'">
        <span *ngIf="!loading1">Actualizar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading1">
        </div>
      </button>
      <button type="button" class="btn-rounded btn--grey container__btn container__btn--azul" (click)="goBack()">
        <span>Atrás</span>
      </button>
    </div>
  </div>
</div>
