.container-button-color-close {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.alert-container {
  width: 100%;
  background: var(--high-blue);
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  gap: 20px;
  align-items: center;
}

.alert-container__message {
  margin-left: 10px;
  align-self: center;
  text-align: left;
  overflow-wrap: break-word;
  width: 100%;
}

.alert-container__link {
  color: var(--morado);
  text-decoration: none;
}

.alert-container__close-button {
  width: 15px;
  height: 15px;
  align-self: center;
  margin-right: 10px;
  cursor: pointer;
}
