.container__btn {
  width: 200px;
  height: 38px;
  margin-left: 10px;
  margin-top: 0;
}

.container__btn--azul {
  background-color: var(azul1);
}

.container__spinner {
  width: 20px;
  height: 20px;
  color: var(--white);
}

.justify-content-between {
  align-items: center;
}

.btn-mi-estilo {
  width: 174.13px;
}

.container__btn--azul1 {
  background-color: var(--azul1);
  font-weight: 700;
  border-color: var(--azul1);

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

/* nuevos estilos */
.photoAnduploadPhoto {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .photoAnduploadPhoto-container {
    border: 1px solid #dcdbdb;
    border-radius: 5px;
    .imagen {
      width: 100%;
      height: 100vh;
      max-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      .imagen-container {
        width: fit-content;
        height: 100%;
        padding: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
    }

    .input-imagen {
      padding: 10px;
    }
  }
}
 button:focus {
   border-color: none !important;
   box-shadow: none !important;
   outline: 0 none !important;
 }
@media screen and (max-width: 600px) {
  .justify-content-between {
    flex-direction: column !important;
    gap: 10px;
  }

  .modal-footer {
    justify-content: center;
  }

  .clasfotoMiniyBoton {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .d-flex-button-footer {
    flex-direction: column;
    gap: 10px;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .d-flex-button {
    flex-direction: column-reverse !important;
    gap: 10px;
    align-items: center;
  }

}
