<input #fileInputCreate type="file" name="resume" accept="image/*" (change)='fileChangeCreate($event)' hidden>
<div>
  <div class="d-flex flex-row justify-content-between mt-3">
    <h4 class="modal-title" id="modal-basic-title">Misión y visión
    </h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off">
      <ng-container *ngTemplateOutlet="inputData;context:{title:'Entidad',forControl:entidad,invali:'entidad'}">
      </ng-container>
          <ng-container
            *ngTemplateOutlet="photoAndupload;context:{title:'Foto entidad',ngif:fotoEntidad,img:fotoEntidad,boton:'entidad'}">
          </ng-container>
      <div class="container-mis-vis">
        <div class="container-mis-vis__item">
          <!-- foto entidad -->
          <ng-container *ngTemplateOutlet="inputData;context:{title:'Misión',forControl:mision,invali:'mision'}">
          </ng-container>
            <ng-container
              *ngTemplateOutlet="photoAndupload;context:{title:'Foto misión',ngif:fotoMision,img:fotoMision,boton:'mision'}">
            </ng-container>
        </div>
        <div  class="container-mis-vis__item">
          <ng-container
            *ngTemplateOutlet="inputData;context:{title:'Visión',forControl:vision,invali:'vision'}">
          </ng-container>
          <ng-container
          *ngTemplateOutlet="photoAndupload;context:{title:'Foto visión',ngif:fotoVision,img:fotoVision,boton:'vision'}">
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer mb-3">
    <div class="d-flex flex-direction-row justify-content-center align-items-center d-flex-button-footer">
      <button [disabled]="loading" type="button"  class="btn-rounded btn--blue container__btn"
        *ngIf="modalMode=='visualize'" (click)="editarData()">
        <span *ngIf="!loading">Editar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading">
        </div>
      </button>
      <button [disabled]="loading || !form.valid" type="button" class="btn-rounded btn--blue container__btn"
        (click)="updateData()" *ngIf="modalMode=='update'">
        <span *ngIf="!loading">Actualizar</span>
        <div class="container__spinner spinner-border" role="status" *ngIf="loading">
        </div>
      </button>
      <button [disabled]="loading" type="button"class="btn-rounded btn--grey container__btn container__btn--azul"
        *ngIf="modalMode=='update'" (click)="cancelarEditarData()">
        <span>Cancelar</span>
      </button>
    </div>
  </div>
</div>

<ng-template #inputData let-title="title" let-forControl=forControl let-invali="invali">
<div class="mb-3">
  <label for="dateOfBirth">{{title}}</label>
  <div class="input-group">
    <textarea id="productName" class="form-control" name="textarea" rows="5" cols="50" [placeholder]="title"
     [formControl]=forControl></textarea>
  </div>
  <div *ngIf="invalid(invali)" class="container__alert-msg danger-message">
    <div *ngIf="forControl?.errors?.['required'] || forControl?.errors?.['whiteSpace']">
      Campo requerido
    </div>
  </div>
</div>
</ng-template>
<ng-template #photoAndupload let-title="title" let-ngif="ngif" let-img="img" let-boton="boton">
<div class="photoAnduploadPhoto mb-3">
  <label for="dateOfBirth">{{title}}</label>
  <div class="photoAnduploadPhoto-container">
    <div class="mb-3 imagen" *ngIf="ngif">
      <div class="imagen-container">
        <img [src]="img ? img : 'assets/images/no-image-photography.svg'" alt="">
      </div>
    </div>
    <div class="input-imagen">
      <div>
        <button [disabled]="modalMode == 'visualize'" type="button" class="btn btn-primary container__btn--azul1"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          (click)="openAddFileDialogCreate(boton)">
          <div>
            <img src="assets/icons/file_upload_black_24dp.svg">
            <span>
              Subir Fotos
            </span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
</ng-template>

