<app-search [buscadorpersonalizado]="false" (textSearch)="textChange($event)" (keyEnterPress)="onSearch($event)"></app-search>

<div *ngIf="eventsFiltered.length > 0 " class="container-card">
  <app-card-evento [dato]="{
        titulo:evento?.nombre,
        subTitle: [
        {titulo:'Modalidad: ',detail:evento?.modalidad},
        {titulo:'Fecha: ',detail:FechaPipe(evento)},
        {titulo:'Hora: ',detail:evento?.hora},
        {titulo:'Costo: ',detail:numberPipe(evento)}
        ],
        descripcion:evento?.resumen,
        imagen:evento?.imagen,
        arrayEnlaces:[evento.url],
        dirigidoa:evento.dirigidoa,
        organizador:evento.organizador
      }"
    *ngFor="let evento of eventsFiltered; let i=index">
  </app-card-evento>
</div>
    <app-not-found *ngIf="showNotFound" message="No encontramos eventos relacionadas con la busqueda"></app-not-found>
<div class="container mt-5">
    <div class="spinner-border spinner" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<app-footer></app-footer>
