<app-search [placeholderbuscador]="'Buscar...'" (textSearch)="onBuscarPalabra($event)" [activeClasetwo]="true"></app-search>
<div *ngIf="eventsFiltered.length > 0 && eventos.length > 0 " class="container-card">
  <div class="card" *ngFor="let evento of eventos">
    <a class="card__link" href="{{evento?.url}}" target="_blank">
      <div class="container-card__imagen">
       <img class="card__image"  [src]="evento?.imagen ? evento?.imagen: 'assets/images/no-image-photography.svg'" >
      </div>
      <div class="container-data shorterTextOverflowHidden">
        <h6 class="card__title w-100 shorterTextAuto">{{evento?.nombre}}</h6>
        <h5 class="card__sub-title">Resumen</h5>
        <p class="card__description w-100 shorterTextAuto">{{evento.resumen}}</p>
      </div>
      <div class="card__icon-box">
        <div>
          <img class="card__icon" src="assets/icons/laptop.svg">
          <h5 class="card__sub-title">{{evento?.modalidad}}</h5>
        </div>
        <div>
          <img class="card__icon" src="assets/icons/dollar.svg">
          <h5 class="card__sub-title">{{numberPipe(evento?.costo)}}</h5>
        </div>
      </div>
      <div class="line"></div>
      <div class="card__icon-box2">
        <img class="card__icon" src="assets/icons/date.svg">
        <h5 class="card__sub-title">{{FechaPipe(evento?.fecha)}}</h5>
      </div>
    </a>
  </div>
</div>
    <app-not-found *ngIf="showNotFound" message="No encontramos eventos relacionadas con la busqueda"></app-not-found>
<div class="container mt-5">
    <div class="spinner-border spinner" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<app-footer></app-footer>
