<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{title}}</h4>
    <div type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></div>
</div>
<div class="modal-body">
    <div class="card__rating-container" *ngIf="!showNotFound && !showErrorFound">
        <app-stars [selectedStar]="puntuacion"  size="medium" ></app-stars>
    </div>
    <div class="container overflow-auto" *ngIf="!showNotFound && !showErrorFound">
        <div class="card" *ngFor="let resena of resenas">
            <div class="card__row">
                <img src="{{ resena.foto_usuario ? resena.foto_usuario : 'assets/images/avatar-person.svg' }}" alt="" class="card__image">
                <div class="card__box">
                    <span class="card__title">{{resena.nombre_usuario}}</span>
                    <div class="span card__date"> {{resena?.fecha?.slice(0, resena?.fecha?.indexOf('T')) | date:'dd/MM/yyyy'}}</div>
                </div>
            </div>
            <app-stars [selectedStar]="resena?.calificacion" size="small"></app-stars>
            <p class="card__paragh">{{resena.descripcion}}</p>
        </div>
    </div>
    <app-not-found *ngIf="showNotFound" message="Aún no sean han registrado reseñas"></app-not-found>
    <app-not-found *ngIf="showErrorFound" [errorData]="true" message="Se ha presentado un error. Intenta nuevamente"></app-not-found>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-button-close" (click)="decline()">{{btnCancelText}}</button>
    <!-- <button type="button" class="btn btn-danger" (click)="accept()">{{btnOkText}}</button> -->
</div>
