
.card__rating-container{
    margin-bottom: 35px;
}

.card__icon-rating{
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.card__rating{
    font-size: 20px;
    font-weight: 700;
}

.card__rating__detail{

}

.container{
    display: flex;
    flex-direction: column;
    height: 450px;
}

.card{
    margin-bottom: 20px;
    border:none;
}

.card__image{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.card__box{
    display: flex;
    flex-direction: column;
}

.card__title{
    font-weight: 600;
}

.card__row{
    display: flex;
}

.card__paragh{
    text-align: justify;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box {
  text-align: center;
  width: 100%;
}

.search-container__image {
  width: 400px;
  height: 270px;
  margin-top: 17px;
}

.search-container__image--modify {
  margin-top: 60px;
  width: 100%;
}
