.terms-title{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 0.9rem;
}
.modal-title{
    text-align: center;
}
.list__item{
    text-align: justify;
    margin-bottom: 20px;
}
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}
.modal-content span{
    color: white;
    font-size: 0px;
}
.modal-content .modal-heder{
    justify-content: space-between;
}
.btn-close-modal{
  border: 1px solid gray;
}
.btn-close-modal:hover{
  background-color: var(--azul1);
  color: white;
}
    button:focus {
      border-color: none !important;
      box-shadow: none !important;
      outline: 0 none !important;
    }
