<div class="container">
  <div class="container__search">
    <div class="container__search--botones" *ngIf="BotonAtrasAlante">
      <div class="arrow-item" (click)="goBack()">
        <img src="assets/icons/atrasarrow.svg">
      </div>
      <div class="arrow-item" (click)="getForward()">
        <img src="assets/icons/alantearrow.svg">
      </div>
    </div>
    <input class="container__input form-input-text-square" type="text" placeholder="Buscar...">
  </div>
   <div class="container__box">
    <a class="container__link">Manual de usuario</a>
    <a class="container__link">Mapa de sitio</a>
   </div>
</div>
