<div class="container-f">
    <div class="container-form">
      <div class="container-form-title">
        <h4 class="container__title">Inicia sesión</h4>
        <img class="container__logo" src="assets/images/logo-no-name.svg">
      </div>
        <form [formGroup]="form">
            <div class="container-form__box">
                <span class="container-form__label">Correo electrónico: <span class="container-form__simbol">*</span></span>
                <input class="container-form__input" [ngClass]="invalid('email') ? 'invalid-input' : ''" type="text" formControlName="email" (input)="onChange()">
                <div *ngIf="invalid('email')" class="container__alert-msg danger-message">
                    <div *ngIf="email?.errors?.['required']">
                        *Campo obligatorio
                    </div>
                    <div *ngIf="email?.errors?.['email']">
                        Escribe un email correcto!
                    </div>
                </div>
            </div>

            <div class="container-form__box">
                <span class="container-form__label">Contraseña: <span class="container-form__simbol">*</span></span>
                <div class="input-glyphicon">
                    <i class="glyphicon bi bi-eye-slash" (click)="visiblePass = !visiblePass" *ngIf="!visiblePass"></i>
                    <i class="glyphicon bi bi-eye" (click)="visiblePass = !visiblePass" *ngIf="visiblePass"></i>
                    <input class="container-form__input" [ngClass]="invalid('password') ? 'invalid-input' : ''" [type]="visiblePass  ? 'text' : 'password'" formControlName="password" (input)="onChange()">
                </div>

                <div *ngIf="invalid('password')" class="container__alert-msg danger-message">
                    <div *ngIf="password?.errors?.['required']">
                        *Campo obligatorio
                    </div>
                </div>
                <div *ngIf="error" class="container__alert-msg danger-message">
                    {{error}}
                </div>
            </div>

            <div class="container-form__box">
                <div>
                    <input class="container-form__checkbox" type="checkbox" (click)="recordarmeOnChange()" [checked]="recordarme">
                    <span class="container-form__label">Recordarme</span>
                </div>
            </div>

            <div class="container-box">
                <button class="container-form__button btn-rounded-blue" [ngClass]="form.invalid ? 'disabled' : ''" type="submit" (click)="onSubmit()">
                    <div class="spinner-border spinner" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span *ngIf="!loading">Iniciar sesión</span>
                </button>
                <button class="container-form__button-white btn-rounded btn--white" (click)="loginWithGoogle()"><img class="container-form__icon" src="assets/icons/google-icon-grey.svg"><span class="container-form__button-text">Iniciar con Google</span></button>
            </div>

        </form>
        <div  class="container-form-title-2">
          <p style="cursor: pointer;" class="container__link mt-3" routerLink="forgot-password">¿Haz olvidado tu contraseña?</p>
          <p class="container__link" >¿No tienes una cuenta? <a routerLink="/registro">Regístrate</a> </p>
        </div>
    </div>
    </div>
