$minifoto-size: 50px;
$minifoto-radius: 0.4rem;

.clasfotoMiniy {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px !important;
}

.minifotos-section {
  position: relative;

  &__container {
    display: flex;
    height: $minifoto-size;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    &>* {
      /* estilos para todos los hijos directos de .minifotos-container , no seleciona los nietos*/
      width: $minifoto-size;
      height: 100%;
      position: relative;
      box-shadow: 0 15px 30px rgb(0 0 0 / 50%);
      border-radius: $minifoto-radius
    }
  }

}


.minifoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.2px solid #000000a3;
  border-radius: $minifoto-radius;
  cursor: pointer;
}

.more-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  border-radius: $minifoto-radius;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);

  span {
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  &:after {
    content: " ";
    width: 0%;
    height: 100%;
    border-radius: $minifoto-radius;
    background: #26a5b891;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  &:hover {
    background-color: initial;

    span {
      animation: scaleUp 0.3s ease-in-out;
    }

    &:after {
      right: auto;
      left: 0;
      width: 100%;
    }
  }

  cursor: pointer;
}





.tooltip {
  width: max-content;
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.more-btn-container:hover .tooltip {
  top: -37px;
  left: -10px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.more-btn-container:hover,
.more-btn-container:hover .tooltip,
.more-btn-container .tooltip::before {
  background: linear-gradient(320deg, #26a5b8, #26a5b8);
  color: #ffffff;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 625px) {
  .clasfotoMiniy {
      justify-content: center;
      align-items: center
  }

}
