.clasfotoMiniy {
  margin-bottom: 10px !important;
}
.Photos-mini-ajuste2{
  display: none !important;
}
.Photos-mini-container {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;

  .Photos-mini-data {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    .Photos-mini--div {
      width: 50px;
      height: 100%;
      .Photos-mini__img {
        border-radius: 10%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .masimagenescontador {
      position: relative;
      color: #fff;
      font-size: 1.50em;
      width: 50px;
      height: 100%;

      .Photos-mini__img {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        border-radius: 10%;
      }

      div {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: left 0.2s;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 10px;
        width: 100%;
        font-size: 0.9rem;
        border-radius: 10%;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
        }
      }
    }
  }
}
.container__btn--azul1 {
  background-color: var(--azul1);
  font-weight: 700;
  border-color: var(--azul1);

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
@media screen and (max-width: 625px) {
.Photos-mini-ajuste1{
display:none !important;
}
    .Photos-mini-ajuste2 {
      display: flex !important;
    }
    .Photos-mini-container {
      flex-direction: column;
    }
}
@media screen and (max-width: 600px) {

}
