<div class="clasfotoMiniy">
<div class="clasfotoMiniy">
  <div class="minifotos-section">
    <div class="minifotos-section__container">
      <ng-container *ngTemplateOutlet="fotosMini;context:{fotosLength: showMore ? 4 : fotos.length}"></ng-container>
    </div>
  </div>
  <div *ngIf="loadingphoto && modalMode != 'update'"  class="container__alert-msg danger-message">
    <div>Por favor; espere miestras se cargan las fotos</div>
  </div>
</div>
<ng-template #fotosMini  let-fotosLength="fotosLength" >
  <div class="more-btn-container " *ngFor="let foto of fotos | slice:0:fotosLength; let i =index; let isLast=last" (click)="openPhotosModal()">
<span class="tooltip" *ngIf="fotos.length > 0">Ver {{fotos.length == 1 ? 'foto' : 'fotos'}}</span>
    <span style="width: 100%;height: 100%;display: block;">
      <img [src]="foto"  class="minifoto">
      <div class="more-btn" *ngIf="isLast">
        <span>+</span>
      </div>
    </span>
  </div>
</ng-template>
