.title{
    text-align: center;
    font-size: 42px;
}

.subtitle{
    text-align: center;
    font-size: 39px;
}

.paragraph{
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}

.image{   
    //text-align: center;
    width: 18em;
    height: 18em;
}

div{   
    text-align: center;   
}