
<div class="container">
  <div class="container-card" *ngIf="!showNotFound">
      <app-card-negocio
       [datos]="negocio"
       [indiceDatos]="i"
       [editaAndEliminar]="true"
       *ngFor="let negocio of negocios; let i=index;"
        (onDetalle)="editarNegocio(negocio)"
        (onUpdateDatos)="editarNegocio(negocio)"
        (onDeleteDatos)="deleteNegocio(negocio)">
      </app-card-negocio>
  </div>
  <app-spinner [showText]="false" *ngIf="loading"></app-spinner>
  <div class="center" *ngIf="showNotFound">
    <app-not-found message="Aun no has registrado tus negocios"></app-not-found>
  </div>
  <div class="center" *ngIf="showError">
    <app-not-found [genericError]="showError"></app-not-found>
  </div>
  <app-basic-floating-btn [tooltip]="'Crear negocio'" [agregar]="true" (click)="createNewNegocio()">
  </app-basic-floating-btn>
</div>

