
<div class="container">
    <h4 class="container__title">Pescadores en el departamento de Sucre</h4>
    <p class="container__description">
  En esta sección, podrás explorar un mapa interactivo que muestra los diferentes municipios del departamento de Sucre, lo que te
  permitirá seleccionar el que sea de tu interés. Una vez seleccionado, se mostrará un listado de los
  pescadores disponibles en esa zona. Además, podrás ubicarlos en el mapa para tener una referencia precisa de su
  ubicación.</p>

  <p class="container__description">
  Para seleccionar un pescador del listado, simplemente haz clic en cualquier parte de su tarjeta correspondiente.
  Una vez seleccionado, accederás inmediatamente a una sección adicional que brindará una visión más detallada del
  pescador. En esta sección, encontrarás información completa como la ubicación, número de teléfono, correo electrónico,
  dirección, cantidad de asociaciones a las que pertenece y las asociaciones específicas en las que el pescador está
  registrado.</p>

      <div class="container__map_cards">
        <div class="cards">
          <app-card-item-data [dataNumber]="poblacion | number:'':'es'" [icon]="'assets/icons/group-circle-solid.svg'"
            [title]="'Población'">
          </app-card-item-data>
          <app-card-item-data [dataNumber]="pescadores | number:'':'es'" [icon]="'assets/icons/fish.svg'" [title]="'Pescadores'">
          </app-card-item-data>
        </div>
        <div class="container_box">
          <app-map-sucre class="mapaMunicipios" (munClick)="munClick($event)" (munOver)="munOver($event)"
            [munData]="municSeleccionado" labelTooltip="Pescadores"></app-map-sucre>
        </div>
      </div>

</div>
<app-footer></app-footer>
