.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.stats-container {
  display: flex;
  justify-content: center;
}

.stats-container__icon {
  width: 40px;
  height: 40px;
}

.stats-container__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: start;
}

.stats-container__title {
  font-size: 20px;
}

.stats-container__title--color-blue {
  color: var(--azul1)
}

.stats-container__title--color-morado {
  color: var(--morado)
}

.stats-container__title--color-blue-2 {
  color: var(--azul2)
}

.container {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__title {
  font-size: 30px;
}

.container__description {
  margin-top: 20px;
  font-size: 20px;
}

.container__box {
  position: relative;
}

@media screen and (min-width: 550px) {
  .container__title {
    font-size: 40px;
  }

  .data-container {
    margin-top: 100px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }

  .stats {
    display: block;
  }
}
