<div class="search-container" *ngIf="!errorData">
    <div class="search-container__box">
      <img class="search-container__image" src="assets/images/searching.svg">
      <h5>No se han encontrado resultados</h5>
      <p *ngIf="!message">No se encontraron {{objectName}} con esta busqueda</p>
      <p *ngIf="message">{{message}}</p>
    </div>
</div>
<div class="search-container" *ngIf="errorData">
    <div class="search-container__box">
      <img class="search-container__image" src="assets/images/searching.svg">
      <h5>{{messageError}}</h5>
      <p *ngIf="message">{{message}}</p>
    </div>
</div>
