.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
  
.search-container__box {
    text-align: center;
}

.search-container__image {
    width: 300px;
    height: 232px;
}