.filters-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 20px;

  button {
    width: 133px;
  }
}

.urlActiva {
  background-color: var(--azul4) !important;
}

.btn-outline-black {
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  color: rgba(0, 0, 0, 0.55) !important;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 2px 2px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.btn-outline-black:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

@media screen and (max-width: 480px) {
  /*  .filters-container {
    flex-direction: column;
    align-items: center;
  } */
}
