.container-row{
    display: flex;
    justify-content: stretch;
}

.container_img{
    width:  160px;
    height: 130px;
    object-fit: cover;
}

.button{
    width: 200px;
    align-self: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.container__icon{
    cursor: pointer;
    color:var(--azul1)
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width: 400px;
    height: 270px;
    margin-top: 100px;
  }

.modal__image{
    width: 160px;
    height: 130px;
    object-fit: cover;
    display: block;
}

.modal__box{
    display: flex;
    flex-direction: column;
}

.container__btn{
    width: 100px;
    height: 38px;
}

.container__spinner{
    width: 20px;
    height: 20px;
}
.container-table-pagination {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
