<div class="container">
    <app-not-found *ngIf="showNotFound" message="Aun no has registrado tus vehículos"></app-not-found>
  <div class="container-table-pagination" *ngIf="!showNotFound">
    <table class="table mt-40">
        <thead class="table-light">
          <tr>
            <th>Modelo del vehículo</th>
            <th>Capacidad(TON)</th>
            <th>Transporta alimentos(Si/No)</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos |  paginate: { itemsPerPage: 3, currentPage: p };  let i=index">
            <td>{{vehiculo.modelo| shorter:25}}</td>
            <td>{{vehiculo.capacidad}}</td>
            <td>{{vehiculo.transporte_alimento == 1 ? 'Si' : 'No'}}</td>
            <td>
                <div class="container-row">
                    <i class="container__icon bi bi-pencil me-3" (click)=" updateVehiculo(vehiculo)"></i>
                    <i class="container__icon bi bi-trash" (click)="deleteVehiculo(vehiculo.id_vehiculo)"></i>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="!showNotFound" class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
  </div>
  <button class="btn-outline-blue button" (click)="addVehiculo()">Agrega un nuevo vehículo</button>
</div>
