
<div class="container">
  <div class="container-card" *ngIf="!showNotFound">
    <app-card-vehiculo
       *ngFor="let vehiculo of vehiculos; let i=index;"
       [datos]="vehiculo"
       [indiceDatos]="i"
       [editaAndEliminar]="true"
       (onDetalle)="updateVehiculo(vehiculo)"
       (onUpdateDatos)="updateVehiculo(vehiculo)"
       (onDeleteDatos)="deleteVehiculo(vehiculo)">
    </app-card-vehiculo>
  </div>
  <app-spinner [showText]="false" *ngIf="loading"></app-spinner>
  <div class="center" *ngIf="showNotFound">
    <app-not-found message="Aun no has registrado tus vehículos" [imgType]="'vehiculo'"></app-not-found>
  </div>
  <div class="center" *ngIf="showError">
    <app-not-found [genericError]="showError"></app-not-found>
  </div>
  <app-basic-floating-btn [tooltip]="'Crear vehículo'" [agregar]="true" (click)="addVehiculo()">
  </app-basic-floating-btn>
</div>
