.map {
  padding: 0px;
  border-radius: 0.3rem;
  overflow: hidden;
}

.map>div {
  display: flex;
}

.myestilo-map-info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-btn-close {
  position: absolute;
  width: 28px;
  height: 28px;
  right: -17.5px;
  top: -17.5px;
  text-align: center;
  z-index: 1;
  border-radius: 80%;
  opacity: 1;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.my-btn-close-color-fondo {
  background-color: black;
}

.my-btn-close-color-fondo:hover {
  opacity: 1;
}

.myestilomodalmap {
  width: 100%;
}

.details_info_windo {
  padding: 0;
  top: 0;
  list-style: none;
  bottom: 0;
  margin: auto;
  transition: left 0.2s;
  color: black;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
  cursor: pointer;
}

.detais-name-info-Windo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  margin-bottom: 10px;
}

div.my_estilo_cols {
  gap: 5px;
  margin-top: 20px;
}


.cargandomapa {
  width: 100%;
  height: 550px;
  background-color: #a2a2a2;
}
@media (max-width: 575px) {
  .myestilomodalmap {
    margin: 0px !important;
    /* ajusta el boton de pantalla completa del mapa */
  }
}
