<!-- Modal 2 Mapa sin buscador -->
<div *ngIf="!mapaSeach">
  <div class="modal-header" *ngIf="modalheader">
    <h4 class="modal-title textocolormodal" id="modal-title">ok</h4>
    <div type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></div>
  </div>
  <div *ngIf="!modalheader" type="button" class="btn-close my-btn-close my-btn-close-color-fondo"
    aria-describedby="modal-title" (click)="dismiss()"></div>
  <div class="modal-body map cargandomapa" [ngClass]="{cargandomapaerror: !mapaOpen}">
    <div *ngIf="mapaOpen">
      <google-map #miGoogleMap width="1200px" height="450px" [options]="options" (tilesloaded)="mapainiciado()"
        class="modal-dialog-centered myestilomodalmap" [ngClass]="{myestilomodalmap2:loadDataMapa}">
        <map-marker
         #marker="mapMarker"
        [position]="markerPosition"
         [options]="markerOptions"
          [icon]=" iconMarkerGoogleMap"
          (mapClick)="share() ">
        </map-marker>
        <map-info-window [position]="markerPosition">
          <div class="myestilo-map-info-window">
            <div class="details_info_windo">
              <div class="detais-name-info-Windo " *ngFor="let item of atributos.mapInfoWindowData">
                <div> <img [src]="item.icon"></div>
                <div *ngIf="item.dataNombre">{{item.dataNombre }}</div>
                <div *ngIf="!item.dataNombre">{{item.sinDataNombre }}</div>
              </div>
            </div>
          </div>
        </map-info-window>
      </google-map>
    </div>
  </div>
</div>

    <!-- Modal 2 Mapa con buscador -->
    <div *ngIf="mapaSeach">
        <div class="modal-header footerheadermodal">
          <!-- header modal -->
          <div class="input-wrapper">
            <div class="bi bi-search"></div>
            <input type="text"  placeholder="Buscar y seleccionar la dirección en el mapa" (keyup)="onKey($event)" (keyup.enter)="buscar()"
              [(ngModel)]="buscarx" [disabled]="!loadDataMapa" />
            <i class="img-x" (click)="borrarBusqueda()" *ngIf="borrarseart && !loadingseart"></i>
            <img style="width: 26px; height: 26px;" src="assets/icons/loadingseart.svg" *ngIf="loadingseart">
          </div>
          <!-- button close- modal -->
          <button type="button" class="btn-close button_close" aria-label="Close" (click)="closeMap()" ></button>
        </div>
        <div class="modal-body  map cargandomapa" [ngClass]="{cargandomapaerror: !mapaOpen}">
          <!-- fuera de sucre -click fuera-->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf=" fueraDirecion" role="alert">
            <div class="p-2 bd-highlight">
              <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight" *ngIf="limiteMapa.id_departamento !== 'Todos'">
              Ubicación fuera del departamento de Sucre
            </div>
            <div class="p-2 bd-highlight" *ngIf="limiteMapa.id_departamento == 'Todos'">
              Ubicación fuera de Colombia
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

          </div>
          <!-- no ha guardado la ubicacion alerta -->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf="guarlatlog" role="alert">
            <div class="p-2 bd-highlight">
              <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight">
              No se ha podido guardar su ubicación, por intente nuevamente
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <!-- no se encontraron datos -->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf="noexistendatos" role="alert">
            <div class="p-2 bd-highlight">
              <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight">
              Google Maps no puede encontrar <strong>{{valorbuscarx}}</strong>
              Asegúrese de que su búsqueda esté escrita correctamente
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <!-- escoger mi ubicación -->
          <div class="alert alert-danger d-flex bd-highlight  alertclass" *ngIf="escogerdireccion" role="alert">
            <div class="p-2 bd-highlight">
              <img src="assets/icons/alertanimada.svg">
            </div>
            <div class="p-2 bd-highlight">
              Por favor escoge tu <strong> dirección</strong>
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div *ngIf="mapaOpen">
            <google-map width="1200px" height="450px" class="modal-dialog-centered myestilomodalmap" [ngClass]="{myestilomodalmap2:loadDataMapa}" [options]="options"
              (mapClick)="addMarker($event)" (tilesloaded)="mapainiciado()">
              <map-marker [position]="markerPosition" [options]="markerOptions" title="Title"></map-marker>
              <map-polyline [path]="vertices" [options]="optionPoli" *ngIf="limiteMapa.id_departamento !== 'Todos'">
              </map-polyline>
            </google-map>
          </div>
        </div>
    </div>
