/* You can add global styles to this file, and also import other style files */


:root{
    --morado:#6685B4;
    --azul1:#26A5B8;
    --azul2:#A7CFCF;
    --azul3:#dbf3f3;
    --gris:#C3C4BE;
    --gris2:#C8BAA0;
    --gris3:#9E9FA3;
    --gris4:#F3F3F4;
    --gris5:#c2c2c7;
    --gris-oscuro:#4A4A4B;
    --white:#FFFFFF;
    --black:#000000;
    --high-blue:#0D0C22;
    --red-danger:#D93025;
    --rosa:#F7CACC;
    --green:#1b8d06;
    --light: #ececece5;
    --yellow: #FFD200;
    --red: #FF0F00;
    --grey:#ABACAE;
}

/*Fonts*/
@font-face {   
    font-family: 'OpenSans-Regular';    //This is what we are going to call
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {   
    font-family: 'JosefinSans-Regular';    //This is what we are going to call
    src: url('./assets/fonts/JosefinSans-Regular.ttf');
}

.mt-40{
    margin-top: 40px;
}

.p-small{
    font-size: 12px;
}

.btn-outline-blue{
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid var(--azul1);
    color:var(--azul1);
    width: 150px;
    height: 40px; 
}

.btn-outline-black{
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid var(--black);
    color:var(--black);
    width: 150px;
    height: 40px; 
}

.btn-square{
    border-radius: 7px;
    width: 200px;
    height: 45px; 
}

.btn-rounded{
    border-radius: 20px;
    width: 150px;
    height: 40px; 
}

.btn--morado{
    background-color: var(--morado);
    border: 1px solid var(--morado);
    color:var(--white);
    font-weight: 700;
}

.btn--white{
    background-color: var(--white);
    border: 0.5px solid var(--black);
    color:var(--black);
    font-weight: 700;
}

.btn-rounded-blue{
    background-color: var(--azul1);
    border-radius: 20px;
    border: 1px solid var(--azul1);
    color:var(--white);
    width: 150px;
    height: 40px; 
    font-weight: 500;
}

.btn-square-blue{
    background-color: var(--azul1);
    border-radius: 20px;
    border: 1px solid var(--azul1);
    color:var(--white);
    font-weight: 700;
    width: 200px;
    height: 45px; 
}

.btn-rounded-white{
    background-color: var(--white);
    border-radius: 7px;
    border: 1px solid var(--black);
    color:var(--black);
    font-weight: 700;
    width: 200px;
    height: 45px;
}

.btn-square-white{
    background-color: var(--white);
    border-radius: 7px;
    border: 1px solid var(--white);
    color:var(--black);
    font-weight: 700;
    width: 200px;
    height: 45px;
    -webkit-box-shadow: 2px 3px 14px -8px #000000; 
    box-shadow: 2px 3px 14px -8px #000000;
}

.form-input-text-square{
    border: 1px solid #8692A6;
    border-radius: 8px;
    width: 360px;
    height: 40px;
}

.invalid-input{
    border:1px solid var(--red-danger);
}

.danger-message{
    color:var(--red-danger)
}

.success{
    color:var(--green);
    font-weight: 500; 
}

.link { 
    background:none; 
    border:none;
    color:var(--azul1) 
}

.spinner{
    color:var(--morado);
}

.disabled{
    background-color: var(--gris-oscuro);
    border: none
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* @import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css'; */
//@import '~ngx-sharebuttons/themes/default';
