<div class="data-container">
  <div class="data-container__div">
    <div class="container2">
      <img class="container__icon" src="assets/icons/build.svg">
      <div class="container__info">
        <h3 class="container__title container__title--color-blue">Municipio</h3>
        <span class="container__description">{{municipio}}</span>
      </div>
    </div>

    <div class="container2">
      <img class="container__icon" src="assets/icons/group-circle-solid.svg">
      <div class="container__info">
        <h3 class="container__title container__title--color-morado">Población</h3>
        <span class="container__description">{{poblacion | number:'':'es'}}</span>
      </div>
    </div>

    <div class="container2">
      <img class="container__icon" src="assets/icons/asociacion_azul2_24dp.svg">
      <div class="container__info">
        <h3 class="container__title container__title--color-blue-2">Asociaciones</h3>
        <span class="container__description">{{asociaciones.length}}</span>
      </div>
    </div>
  </div>
</div>
<div class="container container--myestilo">
  <div class="buscadoryfiltro" *ngIf="!showNotFound">
    <div class="buscador-container" *ngIf="!showNotFound">
      <app-search
      class="buscador-container__search"
         [buscadorpersonalizado]="true"
         [placeholderbuscador]="'Buscar asociacion..'"
         (keyEnterPressData)=" onBuscarPalabra($event)"
        >
      </app-search>
          <app-filtro
          [filtro]="filtro"
          [checkboxfiltro]="false"
          [filtroSeleccionado]="filtroseleccionado"
          (onFilterSeleccionado)="onFiltroChange($event)">
          </app-filtro>
      </div>
          <div class="chip">
            <app-chip-con-boton-close
              *ngIf="filtroseleccionado"
              [iconoChip]="true"
              [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
              [contenidoChip]="filtroseleccionado.nombrefiltro"
              (onCloseClip)="delateFilter()"
              >
            </app-chip-con-boton-close>
          </div>
      <div *ngIf="asociaciones.length <= 0" class="alert alert-primary d-flex align-items-center alert-mi-estilo"
      role="alert">
      <img src="assets/icons/searchanimado.svg">
      <div>
        No se encontraron resultados
      </div>
    </div>
  </div>
  <div class="container__app-not-found" *ngIf="showNotFound">
    <app-not-found objectName="asociaciones"></app-not-found>
    <button class="btn-rounded btn--blue" (click)="goBack()">Volver al mapa</button>
  </div>
  <div class="row row-cols-sm-1 row-cols-lg-2 g-4" *ngIf="asociaciones.length > 0 && !showNotFound">
      <app-card-asociacion  *ngFor="let asociacion of  asociaciones" [asociacion]="asociacion" [delatecard]="false"
        (onDetalle)="goAsociacionDetail($event)" (onDetalleRepresentante)="goDetalleRepresentante($event)">
      </app-card-asociacion>
  </div>
</div>
<!--<app-footer></app-footer>-->
