
.container__title--color-morado{
    color:var(--morado)
}

.container__title--color-blue{
    color:var(--azul1)
}

.container__title--color-blue-2{
    color:var(--azul2)
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width:1024px;
    height: 628px;
}
.container--myestilo{
  padding-bottom: 20px;
}
.buscadoryfiltro {
  display: flex;
  flex-direction: column;

  .buscador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .alert-mi-estilo-filtro {
    margin-bottom: 0;
    width: 79%;
    background-color: var(--azul4);
    color: black;
  }

  .alert-mi-estilo {
    margin-bottom: 0;
    width: 100%;
    background-color: var(--azul4);
    color: black;
  }
}

.chip {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .chip__checkbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
}
