.data-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 21px;
}

.data-container__div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container2 {
  display: flex;
  justify-content: center;
  width: max-content;
  margin-left: 0;
  margin-right: 0;
}

.container__icon {
  width: 40px;
  height: 40px;
}

.container__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.container__title {
  font-size: 20px;
}

.container__description {
  align-self: flex-start;
}

.container__title--color-morado {
  color: var(--morado)
}

.container__title--color-blue {
  color: var(--azul1)
}

.container__title--color-blue-2 {
  color: var(--azul2)
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.search-container__image {
  width: 400px;
  height: 270px;
  margin-top: 17px;
}

.search-container__image--modify {
  margin-top: 60px;
  width: 100%;
}

.search-container__box {
  text-align: center;
  width: 100%;
}
.container--myestilo{
  padding-bottom: 20px;
}
.buscadoryfiltro {
  display: flex;
  flex-direction: column;

  .buscador-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 10px;
    }

  .alert-mi-estilo-filtro {
    margin-bottom: 0;
    width: 79%;
    background-color: var(--azul4);
    color: black;
  }

  .alert-mi-estilo {
    margin-bottom: 0;
    width: 100%;
    background-color: var(--azul4);
    color: black;
  }
}

.chip {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .chip__checkbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
}
.buscador-container__search {
  width: 100%
}
@media screen and (min-width: 770px) {
  .buscador-container {
    flex-direction: row !important;
  }

  .buscador-container__search {
    width: auto
  }
}

@media screen and (min-width: 630px) {
  .data-container__div {
    flex-direction: row;
    width: 100%;
    gap: 0
  }

  .container2 {
    margin-left: auto;
    margin-right: auto;
  }
  .container__description{
    align-self: center
  }
}
