.data-container{
    display:flex;
    margin-top: 77px;
    justify-content: center;
}
.container{
    display:flex;
    justify-content: center;
}

.container__icon{
    width:40px;
    height:40px;
}

.container__info{
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.container__title{
    font-size: 20px;
}

.container__description{
    align-self: center;   
}

.container__title--color-morado{
    color:var(--morado)
}

.container__title--color-blue{
    color:var(--azul1)
}

.container__title--color-blue-2{
    color:var(--azul2)
}

.filters-container{
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 58px;
    text-align: center;
}

.filters-container__button{
    margin-right: 10px;
}

.cards-container{
    width: 750px;
    height: 600px;
    border: none;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-bottom: 1px solid #DFDFDF;
}

.card__box{
    padding: 15px;
}

.card__box-image{
    padding: 10px;
    position: relative;
}

.card__image{
    //width: 332px;
    //height: 275px;
    width: 100%;
    height: 100%;
}

.card__icon{
    position: absolute;
    right: 25px;
    width: 23px;
    height: 23px;
    bottom: 27px;
}

.card__title{
    font-size: 23px;
    margin-bottom: 3px;
}

.card__description{
    display: block;
    font-size: 14px;
}

.card__title2{
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 20px;
}

.card__link{
    color:#6685B4;
    margin-top: 20px;
    font-size: 17px;
}


.asociaciones-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 0px;
    border:none;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search-container__box{
    text-align: center;
}

.search-container__image{
    width:1024px;
    height: 628px;
}

.granjas-container__map{
    align-self: start;
    width:100%;
    margin-left:18px;
}