<div class="container container--myestilo">
  <div class="buscadoryfiltro" *ngIf="!showNotFound">
    <div class="buscador-container" *ngIf="!showNotFound">
      <app-search
         [buscadorpersonalizado]="true"
         [placeholderbuscador]="'Buscar asociacion..'"
         (keyEnterPressData)=" onBuscarPalabra($event)"
        >
      </app-search>
          <app-filtro
          [filtro]="filtro"
          [checkboxfiltro]="false"
          [filtroSeleccionado]="filtroseleccionado"
          (onFilterSeleccionado)="onFiltroChange($event)">
          </app-filtro>
      </div>
          <div class="chip">
            <app-chip-con-boton-close
              *ngIf="filtroseleccionado"
              [iconoChip]="true"
              [imgIconoChip]="'assets/icons/filter_alt_black_24dp.svg'"
              [contenidoChip]="filtroseleccionado.nombrefiltro"
              (onCloseClip)="delateFilter()"
              >
            </app-chip-con-boton-close>
          </div>
      <div *ngIf="asociaciones.length <= 0" class="alert alert-primary d-flex align-items-center alert-mi-estilo"
      role="alert">
      <img src="assets/icons/searchanimado.svg">
      <div>
        No se encontraron resultados
      </div>
    </div>
  </div>
  <div class="search-container" *ngIf="showNotFound">
    <div class="search-container__box">
      <img class="search-container__image" src="assets/images/searching.svg">
      <h3>Sin resultados encontrado</h3>
      <p>No se encontraron asociaciones en este municipio </p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4" *ngIf="asociaciones.length > 0 && !showNotFound">
      <app-card-asociacion  *ngFor="let asociacion of  asociaciones" [asociacion]="asociacion" [delatecard]="false"
        (onDetalle)="goAsociacionDetail($event)" (onDetalleRepresentante)="goDetalleRepresentante($event)">
      </app-card-asociacion>
  </div>
</div>
<!--<app-footer></app-footer>-->
