<div class="container">
  <h3 class="title">{{datosConocenos?.titulo}}</h3>
  <span class="paragraph presaltoLinea">{{datosConocenos?.descripcion}}</span>
  <div class="container__box">
    <app-spinner [showText]="false" *ngIf="loading"></app-spinner>
    <div class="card" *ngFor="let member of equipoTrabajo">
      <div class="container-card__imagen">
        <img (click)="openModal(content,member)" class="card__image animate__bounceIn" [src]="member.imagen"
          [alt]="member.nombres">
      </div>
      <div class="container-button-detalle">
        <h4 class="card__title1" (click)="openModal(content,member)">{{member?.nombres +' '+ member?.apellidos | titlecase}}</h4>
      </div>
    </div>
  </div>
  <app-not-found class="app-not-found" *ngIf="showNotFound"
    [message]="'No hay equipo de trabajo asignado'"></app-not-found>
  <app-not-found [genericError]="showError" *ngIf="showError"></app-not-found>
</div>
<app-footer></app-footer>
<ng-template #content let-modal>
  <div class="modal-body modal-body-user">
    <button type="button" class="btn-close btn-close-user" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
    <div class="container-data-user">
      <figure class="container__figure">
        <img class="container__figure-img animate__bounceIn" [src]="member?.imagen" [alt]="member?.nombres">
      </figure>
      <div class="container__data-info">
        <h4 class="container__data-info-t1">{{member?.nombres +' '+ member?.apellidos | titlecase}}</h4>
        <h5 class="container__data-info-t2">{{locationData(member)}}
        </h5>
        <h5 class="container__data-info-t2">{{member?.cargo}}</h5>
        <div class="container__data-paragraph">
          <p class="container__data-paragraph-p presaltoLinea">{{member?.descripcion}}</p>
          <h4 class="container__data-info-t1">Enlaces de interés</h4>
          <div>
            <a style="margin-right: 5px;" [href]="urlcvlac" target="_blank" *ngIf="urlcvlac">
              <img class="card__icon" src="assets/images/cvlac-logo.png">
            </a>
            <a [href]="urlLinkedin" target="_blank" *ngIf="urlLinkedin">
              <img class="card__icon" src="assets/icons/linkedin.svg">
            </a>
            <a  [href]="urlDefecto" target="_blank" *ngIf="urlDefecto">
              <img class="card__icon" src="assets/icons/url.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


