<app-navbar></app-navbar>
<div class="container">
    <h3 class="title">Conoce Nuestro Equipo</h3>
    <span class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum nulla ac tincid. Sed volutpat semper elit.</span>
    <div class="container__box">
        <div class="card" *ngFor="let member of team">
            <img class="card__image" [src]="member.photo">
            <span class="card__title1">{{member.name}}</span>
            <span class="card__title2">{{member.position}}</span>
            <span class="card__paragraph">{{member.activities}}</span>
            <div>
                <a [href]="member.cvlac" target="_blank">
                    <img class="card__icon" src="assets/images/cvlac-logo.png" *ngIf="member.cvlac">
                </a>
                <a [href]="member.linkedIn" target="_blank">
                    <img class="card__icon" src="assets/icons/linkedin.svg" *ngIf="member.linkedIn">
                </a>
            </div>
        </div>  
    </div>
</div>
<app-footer></app-footer>