.container{
    margin-top: 100px;
}

.container__title{
    text-align: center;
    font-size:30px;
}

.container__description{
    text-align: center;
    margin-top: 20px;
}

.container__image{
    width: 1024px;
    height: 537px;
    margin-top: 30px;
}