<div class="stats">
    <div class="data-container">
        <div class="stats-container">
            <img class="stats-container__icon" src="assets/icons/build.svg">
            <div class="stats-container__info">
                <h3 class="stats-container__title container__title--color-blue">Departamento</h3>
                <span class="stats-container__description">Sucre</span>    
            </div>
        </div>
        
        <div class="stats-container">
            <img class="stats-container__icon" src="assets/icons/group-circle-solid.svg">
            <div class="stats-container__info">
                <h3 class="stats-container__title container__title--color-morado">Población</h3>
                <span class="stats-container__description">{{poblacion | number:'':'es'}}</span>    
            </div>
        </div>
        
        <div class="stats-container">
            <img class="stats-container__icon" src="assets/icons/fish.svg">
            <div class="stats-container__info">
                <h3 class="stats-container__title container__title--color-blue-2"># granjas</h3>
                <span class="stats-container__description">{{granjas | number:'':'es'}}</span>    
            </div>
        </div>    
    </div>
</div>

<div class="container">
    <h4 class="container__title">Granjas productoras en Sucre</h4>
    <p class="container__description">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>    
    <div class="container_box">
        <img class="container__image" src="assets/images/sucre-map.svg">
        <img class="container__red-point-san-onofre" src="assets/images/red-point.svg" *ngIf="sanOnofreActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70713)" routerLink="/granjas/municipio/70713">
        <img class="container__red-point-tolu" src="assets/images/red-point.svg" *ngIf="toluActive"[ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70820)" routerLink="/granjas/municipio/70820">
        <img class="container__red-point-tolu-viejo" src="assets/images/red-point.svg" *ngIf="toluViejoActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70823)" routerLink="/granjas/municipio/70823">
        <img class="container__red-point-covenas" src="assets/images/red-point.svg" *ngIf="covenasActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70221)" routerLink="/granjas/municipio/70221">
        <img class="container__red-point-coloso" src="assets/images/red-point.svg" *ngIf="colosoActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70204)" routerLink="/granjas/municipio/70204">
        <img class="container__red-point-chalan" src="assets/images/red-point.svg" *ngIf="chalanActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70230)" routerLink="/granjas/municipio/70230">
        <img class="container__red-point-ovejas" src="assets/images/red-point.svg" *ngIf="ovejasActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70508)" routerLink="/granjas/municipio/70508">
        <img class="container__red-point-palmito" src="assets/images/red-point.svg" *ngIf="palmitoActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70523)" routerLink="/granjas/municipio/70523">
        <img class="container__red-point-sincelejo" src="assets/images/red-point.svg" *ngIf="sincelejoActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70001)" routerLink="/granjas/municipio/70001">
        <img class="container__red-point-morroa" src="assets/images/red-point.svg" *ngIf="morroaActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70473)" routerLink="/granjas/municipio/70473">
        <img class="container__red-point-los-palmitos" src="assets/images/red-point.svg" *ngIf="losPalmitosActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70418)" routerLink="/granjas/municipio/70418">
        <img class="container__red-point-san-pedro" src="assets/images/red-point.svg" *ngIf="sanPedroActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70717)" routerLink="/granjas/municipio/70717">
        <img class="container__red-point-sampues" src="assets/images/red-point.svg" *ngIf="sampuesActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70670)" routerLink="/granjas/municipio/70670">
        <img class="container__red-point-corozal" src="assets/images/red-point.svg" *ngIf="corozalActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70215)" routerLink="/granjas/municipio/70215">
        <img class="container__red-point-san-juan-de-betulia" src="assets/images/red-point.svg" *ngIf="sanJuanDeBetuliaActive" [ngbTooltip]="tipContent" [openDelay]="0" [closeDelay]="0" (mouseenter)="changeSelected(70702)" routerLink="/granjas/municipio/70702">
        <img class="container__red-point-since" src="assets/images/red-point.svg" *ngIf="sinceActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70742)" routerLink="/granjas/municipio/70742">
        <img class="container__red-point-buenavista" src="assets/images/red-point.svg" *ngIf="buenaVistaActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70110)" routerLink="/granjas/municipio/70110">
        <img class="container__red-point-el-roble" src="assets/images/red-point.svg" *ngIf="elRobleActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70233)" routerLink="/granjas/municipio/70233">
        <img class="container__red-point-galeras" src="assets/images/red-point.svg" *ngIf="galerasActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70235)" routerLink="/granjas/municipio/70235">
        <img class="container__red-point-san-benito-abad" src="assets/images/red-point.svg" *ngIf="sanBenitoAbadActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70678)" routerLink="/granjas/municipio/70678">
        <img class="container__red-point-la-union" src="assets/images/red-point.svg" *ngIf="laUnionActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70400)" routerLink="/granjas/municipio/70400">
        <img class="container__red-point-caimito" src="assets/images/red-point.svg" *ngIf="caimitoActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70124)" routerLink="/granjas/municipio/70124">
        <img class="container__red-point-sucre" src="assets/images/red-point.svg" *ngIf="sucreActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70771)" routerLink="/granjas/municipio/70771">
        <img class="container__red-point-san-marcos" src="assets/images/red-point.svg" *ngIf="sanMarcosActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70708)" routerLink="/granjas/municipio/70708">
        <img class="container__red-point-majagual" src="assets/images/red-point.svg" *ngIf="majagualActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70429)" routerLink="/granjas/municipio/70429">
        <img class="container__red-point-guaranda" src="assets/images/red-point.svg" *ngIf="guarandaActive" [ngbTooltip]="tipContent" [openDelay]="300" [closeDelay]="0" (mouseenter)="changeSelected(70265)" routerLink="/granjas/municipio/70265">
    </div>
</div>

<ng-template #tipContent>
    <div class="tip-content">
        <h5 class="tip-content__title">{{municSeleccionado.municipio}}</h5>
        <span class="tip-content__description">Población {{municSeleccionado.poblacion | number:'':'es'}}</span><br>
        <span class="tip-content__description"># Granjas {{municSeleccionado.granjas}}</span>
    </div>
</ng-template>