<div class="container">
    <h4 class="container__title">Granjas productoras en Sucre</h4>
    <p class="container__description">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    <img class="container__image" src="assets/images/sucre-map.svg">
    <img class="container__red-point-san-onofre" src="assets/images/red-point.svg" *ngIf="sanOnofreActive" ngbTooltip="San Onofre" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-tolu" src="assets/images/red-point.svg" *ngIf="toluActive" ngbTooltip="Tolú" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-tolu-viejo" src="assets/images/red-point.svg" *ngIf="toluViejoActive" ngbTooltip="Tolú Viejo" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-covenas" src="assets/images/red-point.svg" *ngIf="covenasActive" ngbTooltip="Coveñas" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-coloso" src="assets/images/red-point.svg" *ngIf="colosoActive" ngbTooltip="Colosó" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-chalan" src="assets/images/red-point.svg" *ngIf="chalanActive" ngbTooltip="Chalán" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-ovejas" src="assets/images/red-point.svg" *ngIf="ovejasActive" ngbTooltip="Ovejas" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-palmito" src="assets/images/red-point.svg" *ngIf="palmitoActive" ngbTooltip="Palmito" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-sincelejo" src="assets/images/red-point.svg" *ngIf="sincelejoActive" ngbTooltip="Sincelejo" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-morroa" src="assets/images/red-point.svg" *ngIf="morroaActive" ngbTooltip="Morroa" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-los-palmitos" src="assets/images/red-point.svg" *ngIf="losPalmitosActive" ngbTooltip="Los Palmitos" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-san-pedro" src="assets/images/red-point.svg" *ngIf="sanPedroActive" ngbTooltip="San Pedro" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-sampues" src="assets/images/red-point.svg" *ngIf="sampuesActive" ngbTooltip="Sampues" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-corozal" src="assets/images/red-point.svg" *ngIf="corozalActive" ngbTooltip="Corozal" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-san-juan-de-betulia" src="assets/images/red-point.svg" *ngIf="sanJuanDeBetuliaActive" ngbTooltip="San Juan de Betulia" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-since" src="assets/images/red-point.svg" *ngIf="sinceActive" ngbTooltip="Sincé" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-buenavista" src="assets/images/red-point.svg" *ngIf="buenaVistaActive" ngbTooltip="Buenavista" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-el-roble" src="assets/images/red-point.svg" *ngIf="elRobleActive" ngbTooltip="El Roble" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-galeras" src="assets/images/red-point.svg" *ngIf="galerasActive" ngbTooltip="Galeras" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-san-benito-abad" src="assets/images/red-point.svg" *ngIf="sanBenitoAbadActive" ngbTooltip="San Benito Abad" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-la-union" src="assets/images/red-point.svg" *ngIf="laUnionActive" ngbTooltip="La Unión" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-caimito" src="assets/images/red-point.svg" *ngIf="caimitoActive" ngbTooltip="Caimito" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-sucre" src="assets/images/red-point.svg" *ngIf="sucreActive" ngbTooltip="Sucre" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-san-marcos" src="assets/images/red-point.svg" *ngIf="sanMarcosActive" ngbTooltip="San Marcos" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-majagual" src="assets/images/red-point.svg" *ngIf="majagualActive" ngbTooltip="Majagual" [openDelay]="300" [closeDelay]="500">
    <img class="container__red-point-guaranda" src="assets/images/red-point.svg" *ngIf="guarandaActive" ngbTooltip="Guaranda" [openDelay]="300" [closeDelay]="500">
</div>