.container{
    margin-top: 30px;
    text-align: center;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.container__title{
    font-size:30px;
}

.container__description{
    margin-top: 20px;
}

.container__image{
    margin-top: 30px;
    margin-bottom: 100px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    /*position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;*/
}

.container__red-point-san-onofre{
    position: relative;
    right: 170px;
    top: -271px;
}

.container__red-point-tolu{
    position: relative;
    right: 230px;
    top: -135px;
}

.container__red-point-tolu-viejo{
    position: relative;
    right: 237px;
    top: -139px;
}

.container__red-point-covenas{
    position: relative;
    right: 376px;
    top: -108px;
    width: 30px;
    height: 30px;
}

.container__red-point-coloso{
    position: relative;
    right: 265px;
    top: -155px;
}

.container__red-point-chalan{
    position: relative;
    right: 300px;
    top: -200px;
}

.container__red-point-ovejas{
    position: relative;
    right: 260px;
    top: -170px;
}

.container__red-point-palmito{
    position: relative;
    right: 498px;
    top: -70px;
}

.container__red-point-sincelejo{
    position: relative;
    right: 486px;
    top: -63px;
}
.container__red-point-morroa{
    position: relative;
    right: 480px;
    top: -100px;
}

.container__red-point-los-palmitos{
    position: relative;
    right: 480px;
    top: -130px;
}

.container__red-point-san-pedro{
    position: relative;
    right: 450px;
    top: -100px;
}

.container__red-point-sampues{
    position: relative;
    right: -190px;
    top: -530px;
}

.container__red-point-corozal{
    position: relative;
    right: -227px;
    top: -512px;
}

.container__red-point-san-juan-de-betulia{
    position: relative;
    right: -188px;
    top: -568px;
}

.container__red-point-since{
    position: relative;
    right: -217px;
    top: -559px;
}

.container__red-point-buenavista{
    position: relative;
    right: -208px;
    top: -582px;
}

.container__red-point-el-roble{
    position: relative;
    right: -79px;
    top: -455px;
}

.container__red-point-galeras{
    position: relative;
    right: -104px;
    top: -492px;
}

.container__red-point-san-benito-abad{
    position: relative;
    right: -66px;
    top: -365px;
}

.container__red-point-la-union{
    position: relative;
    right: 123px;
    top: -346px;
}

.container__red-point-caimito{
    position: relative;
    right: 101px;
    top: -343px;
}

.container__red-point-sucre{
    position: relative;
    right: -60px;
    top: -367px;
}

.container__red-point-san-marcos{
    position: relative;
    right: 192px;
    top: -243px;
}

.container__red-point-majagual{
    position: relative;
    right: 38px;
    top: -243px;
}

.container__red-point-guaranda{
    position: relative;
    right: 98px;
    top: -135px;
}