
<div class="container ">
    <h4 class="container__title">Granjas piscicultoras en el departamento de Sucre</h4>
<p class="container__description">
  En esta sección, podrás explorar un mapa interactivo con los diversos municipios del departamento de Sucre, lo que te
  permitirá seleccionar aquel que sea de tu interés. Una vez seleccionado, se desplegará un listado de las distintas
  granjas previamente creadas por piscicultores en esa área. Además, podrás visualizar la ubicación exacta de cada granja
  en el mapa para una referencia precisa. Simplemente haciendo clic en cualquier parte de la tarjeta de una granja del
  listado, accederás de inmediato a una sección adicional que te brindará una visión más detallada.
</p>
    <p class="container__description">
      En esta sección adicional, encontrarás información completa, incluyendo el nombre del propietario, número de teléfono,
      dirección, tipo de infraestructura utilizada en la cría de peces, variedades de peces cultivados, imágenes relevantes y
      otros detalles adicionales. Además, tendrás la opción de compartir la información de la granja a través de distintas
      plataformas como WhatsApp, Gmail y otros medios, así como marcarla como favorita para acceder rápidamente en el futuro.
      Por último, si estás registrado e iniciaste sesión en Dory, tendrás la posibilidad de calificar y dejar reseñas sobre la
      granja. En caso contrario, podrás visualizar únicamente los comentarios y calificaciones proporcionados por otros
      usuarios.
    </p>
    <div class="container__map_cards">
      <div class="cards">
        <app-card-item-data
         [dataNumber]="poblacion | number:'':'es'"
        [icon]="'assets/icons/group-circle-solid.svg'"
        [title]="'Población'">
      </app-card-item-data>
        <app-card-item-data
         [dataNumber]="granjas | number:'':'es'"
        [icon]="'assets/icons/fish.svg'"
        [title]="'Granjas'">
      </app-card-item-data>
      </div>
      <div class="container_box " >
          <app-map-sucre  class="mapaMunicipios" (munClick)="munClick($event)" (munOver)="munOver($event)" [munData]="municSeleccionado" labelTooltip="Granjas"></app-map-sucre>
      </div>
    </div>
  </div>
<app-footer></app-footer>

