
<div class="container">
    <h4 class="container__title">Asociaciones piscicultoras o pescadoras en el departamento de Sucre</h4>
    <p class="container__description">En esta sección, podrás explorar un mapa interactivo con los diversos municipios del departamento de Sucre, lo que te
    permitirá seleccionar el que sea de tu interés. Una vez seleccionado, se mostrará un listado de las diferentes
    asociaciones disponibles en esa zona. </p>
    <p class="container__description">
    Para elegir una asociación del listado, simplemente haz clic en cualquier parte de su tarjeta
    correspondiente. Al hacerlo, accederás de inmediato a una sección adicional que proporcionará una visión más detallada de la asociación
    seleccionada. Obtendrás información completa, como el tipo de asociación, el representante legal, el estatus legal de la
    asociación (si está constituida legalmente), su documento de registro en la cámara de comercio, la dirección y los
    pescadores que forman parte de esa asociación.</p>
        <div class="container__map_cards">
          <div class="cards">
            <app-card-item-data [dataNumber]="poblacion | number:'':'es'" [icon]="'assets/icons/group-circle-solid.svg'"
              [title]="'Población'">
            </app-card-item-data>
            <app-card-item-data [dataNumber]="asociaciones | number:'':'es'" [icon]="'assets/icons/icono-asociacio.svg'"
              [title]="'Asociaciones'">
            </app-card-item-data>
          </div>
            <div class="container_box">
              <app-map-sucre class="mapaMunicipios" (munClick)="munClick($event)" (munOver)="munOver($event)"
                [munData]="municSeleccionado" labelTooltip="Asociaciones"></app-map-sucre>
            </div>
        </div>

</div>
<app-footer></app-footer>
