html, body {
    height: 100%;
    margin: 0;
    padding: 5px;
}

.container{
    display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gris-oscuro);
}

.container-form{
    max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      margin: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 12px;
      background-color: #f8f8f8;
      box-shadow: 0 1px 15px 5px var(--shadow-2);
}
.container__logo{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.container__title{
    text-align: center;
    margin-top: 17px;
    font-size: 20px;
    color:var(--gris3)
}

.container__desc{
    font-size:12px;
    color: var(--gris3);
    margin-top:7px;
}

.container__paragraph{
    text-align: justify;
    color:var(--gris3);
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 22px;
}
.container-form__box{
    display: flex;
    flex-direction: column;
}

.container-form__button{
    padding: 5px 25px;
    width: calc(100% + 10px);
    height: fit-content;
    font-size: 12px;
}

.spinner-border{
    width: 1.4rem;
    height: 1.4rem;
}

.error{
    align-self: center;
}
