.footer{
    margin-top: 100px;
}

.container-footer{
    display:flex;
    justify-content: space-evenly;
    padding: 20px;
}
.container-footer-top{
    display:flex;
    justify-content: space-evenly;
    background-color: var(--azul1);
    color:var(--white);
    padding: 20px;;
}
.container-footer__icon{
    width: 120x;
    height: 120px;
}

.container-footer__box{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.container-footer__box--top{
    justify-content: start;
}

.container-footer__box-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-footer_contact-box{

}
.container-footer__title{
    font-size: 20px;
    margin-bottom: 10px;
    color:var(--gris-oscuro)
}

.container-footer__title--white{
    color:var(--white)
}

.container-footer__title--bold{
    font-weight: 600;
}

.container-footer_link{
    text-decoration: none;
    color:var(--gris-oscuro);
    font-size: 14px;
}

.container-footer-top_link{
    text-decoration: none;
    color:var(--white);
    font-size: 14px;
    font-weight:400;
}

.container-footer__subtitle{
    font-size:15px;
    font-weight: 500;
    color:var(--gris-oscuro)
}

.container-footer__description{
    font-size:15px;
    font-weight: 400;
    color:var(--gris-oscuro)
}

.line{
    border-top:  1px solid var(--black);
    margin-top:30px;
}

.social-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: var(--azul1);
    color:var(--white)
}

.social-container__copy{
    font-size: 16px;
    font-weight: 500;
}

.social-container__box{
    display: flex;
    justify-content:space-evenly;
    width: 200px;
}
.social-container__icon{
    width: 20px;
    height: 20px;
}

.play-icon{
    color:var(--azul1);
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.myClassElectron{
  padding-left: 70px;
}
