<footer class="footer">
    <div class="container-footer-top">
      <div class="container-footer__box titulo">
        <div class="container-footer__title container-footer__title--bold container-footer__title--white">
          Enlaces de interés
        </div>
      </div>
      <div class="container-footer__box parrafo1">
        <ul>
          <li> <a class="container-footer-top_link" href="https://minciencias.gov.co/" target="_blank">MinCiencias</a></li>
          <li> <a class="container-footer-top_link" href="https://www.minambiente.gov.co/" target="_blank">MinAmbiente</a> </li>
          <li> <a class="container-footer-top_link" href="https://www.minagricultura.gov.co/paginas/default.aspx" target="_blank">MinAgricultura</a> </li>
          <li> <a class="container-footer-top_link" href="https://mintic.gov.co/portal/inicio/" target="_blank">MinTics</a> </li>
        </ul>
        <!--<h2 class="container-footer__title">Entes nacionales</h2>-->
      </div>
      <div class="container-footer__box parrafo2">
        <!--<h2 class="container-footer__title">Entes nacionales</h2>-->
        <!--<a class="container-footer-top_link" href="https://www.mincit.gov.co/" target="_blank">MinComercio</a>-->
        <ul>
          <li> <a class="container-footer-top_link" href="https://www.sgr.gov.co/" target="_blank">Sistema General de Regalías</a></li>
          <li> <a class="container-footer-top_link" href="https://www.adr.gov.co/" target="_blank">Agencia de Desarrollo Rural</a> </li>
          <li> <a class="container-footer-top_link" href="https://www.dnp.gov.co/" target="_blank">Departamento Nacional de Planeación</a> </li>
          <li> <a class="container-footer-top_link" href="https://www.aunap.gov.co" target="_blank">Autoridad Nacional de Acuicultura y Pesca</a> </li>
        </ul>
      </div>
      <div class="container-footer__box parrafo3">
        <!--<h2 class="container-footer__title">Entes departamentales</h2>-->
        <!--<a class="container-footer-top_link" href="https://unisucre.edu.co/ingenieria/images/documentos/Ingenieria-Electronica.pdf" target="_blank">Programa de Electrónica</a>-->
        <ul>
          <li> <a class="container-footer-top_link" href="http://www.sucre.gov.co/" target="_blank">Gobernación de Sucre</a></li>
          <li> <a class="container-footer-top_link" href="https://www.unisucre.edu.co/" target="_blank">Universidad de Sucre</a> </li>
          <li> <a class="container-footer-top_link" href="https://www.unisucre.edu.co/ingenieria/" target="_blank">Facultad de Ingeniería</a> </li>
          <li> <a class="container-footer-top_link" href="https://www.corposucre.edu.co/" target="_blank">Corposucre</a> </li>
        </ul>
      </div>
    </div>

    <div class="container-footer">
      <div class="container-footer__box titulo">
          <img class="container-footer__icon" src="assets/images/logo-no-name.svg" alt="">
      </div>
      <div class="container-footer__box container-footer__box--top parrafo1">
        <h2 class="container-footer__title">Grupo de Investigación</h2>
        <ul>
          <li>
            <a class="container-footer_link" href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000015135" target="_blank">GINELECT</a>
          </li>
          <li>
            <a class="container-footer_link" href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000017578" target="_blank">GINTEING</a>
          </li>
          <li>
            <a class="container-footer_link" href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000008782" target="_blank">Gestión de la Producción y la Calidad Organizacional</a>
          </li>
          <li>
            <a class="container-footer_link" href="https://minciencias.gov.co/convocatorias/plan-bienal-convocatorias-fctei/convocatoria-del-fondo-ctei-del-sgr-para-el-0" target="_blank">Plan Bienal OCAD FCIeI</a>
          </li>
        </ul>
      </div>
      <div class="container-footer__box parrafo2">
        <h2 class="container-footer__title">Contacto</h2>
          <div class="container-footer__box">
            <a class="container-footer_link" href="http://www.sucre.gov.co/" target="_blank">Universidad de Sucre</a>
            <span class="container-footer__subtitle">Dirección: <span class="container-footer__description">Cra 28 # 5-267 <br>Barrio Puerta Roja - Sincelejo (Sucre)</span></span>
            <span class="container-footer__subtitle">Email: <span class="container-footer__description" href="">ginelect@unisucre.edu.co</span></span>
            <span class="container-footer__subtitle">Línea Gratuita: <span class="container-footer__description" href="">01-8000-945268</span></span>
            <span class="container-footer__subtitle">Horario de atención: <span class="container-footer__description">08:00 am - 12:00 pm y 02:00 pm - 06:00 pm</span></span>
          </div>
      </div>
      <div class="container-footer__box parrafo3">
        <h2 class="container-footer__title">Enlaces de interés</h2>
          <div class="container-footer__box">
            <a class="container-footer_link" (click)="navigate('/manual')">Manual de usuario</a>
            <a class="container-footer_link" (click)="navigate('/home')">Mapa de sitio</a>
            <div class="d-flex flex-row mt-2"><img src="assets/icons/google-play-brands.svg" alt="" class="play-icon "><a class="container-footer_link mt-1"  (click)="navigate('/download-resource-dory/movil')">Descarga la App móvil</a></div>
            <div class="d-flex flex-row mt-2"><img src="assets/images/logo-no-name.svg" alt="" class="play-icon "><a class="container-footer_link mt-1"(click)="navigate('/download-resource-dory/desktop')"  >Descarga Dory Desktop</a></div>
          </div>
      </div>
    </div>
    <div class="social-container">
      <span class="social-container__copy">©2021 Dory</span>
      <div class="social-container__box">
        <img src="assets/images/facebook-white.svg" alt="" class="social-container__icon">
        <img src="assets/images/twitter-white.svg" alt="" class="social-container__icon">
        <img src="assets/images/instagram-white.svg" alt="" class="social-container__icon">
      </div>
    </div>
  </footer>
