.container{
    background-color: var(--gris2);
    width: 100%;
    height: 120px;
    max-width: 100%;
    position: relative;
}

.container__input{
    background: url("/assets/icons/search.svg") no-repeat left center;
    background-size: 20px;
    background-color: var(--white);
    padding-left:30px;
    background-origin: padding-box;
    margin-left: 10px;
    border-radius: 133px;
    width: 512px;
    height: 64px;
    position: absolute;
    left: 25vw;
    bottom: -30px;
    border:0.5px solid var(--gris4);
    border-left: 30px solid var(--white);
    -webkit-box-shadow: 1px 9px 9px 1px #F3F3F4; 
    box-shadow: 1px 9px 9px 1px #F3F3F4;
    outline: none;
}