<div class="buscador-container" *ngIf="!buscadorpersonalizado">
  <div class="buscador-containe__div-search">
    <div class="buscador-containe__search">
      <input class="buscador-containe__search-input"  [ngClass]="{stylo_heght:activeClasetwo}" placeholder="Buscar..." [(ngModel)]="text" (ngModelChange)="onChange()"
        (keyup.enter)="onEnterPress()">
    </div>
  </div>
</div>
<div *ngIf="buscadorpersonalizado" class="buscador-container">
  <div class="buscador-containe__div-search">
    <div class="buscador-containe__search" [ngClass]="{Myclase: activeClase,stylo_heght:activeClasetwo}">
      <!-- buscador -->
      <input class="buscador-containe__search-input" placeholder={{placeholderbuscador}} (keyup)="search()" #txtBuscar>
    </div>
  </div>

</div>
