.container{
    background-color: var(--white);
    width: 100%;
    height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__input{
    background: url("/assets/icons/search.svg") no-repeat left center;
    background-size: 20px;
    background-color: var(--white);
    padding-left:30px;
    background-origin: padding-box;
    margin-left: 10px;
    border-radius: 133px;
    width: 512px;
    height: 64px;
    border:0.5px solid var(--gris4);
    border-left: 30px solid var(--white);
    -webkit-box-shadow: -1px 3px 8px 3px rgba(0,0,0,0.14); 
    box-shadow: -1px 3px 8px 3px rgba(0,0,0,0.14);
    outline: none;
}