<div class="container" *ngIf="!buscadorpersonalizado">
  <input class="container__input" placeholder="Buscar..." [(ngModel)]="text" (ngModelChange)="onChange()"
    (keyup.enter)="onEnterPress()">
</div>
<div *ngIf="buscadorpersonalizado" class="buscador-container">
  <div class="buscador-containe__div-search">
    <div class="buscador-containe__search" [ngClass]="{Myclase: activeClase}">
      <!-- buscador -->
      <input class="buscador-containe__search-input" placeholder={{placeholderbuscador}} (keyup)="search()" #txtBuscar>
    </div>
  </div>

</div>
