.card__fields {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.card__label-small {
  font-size: 12px;
}
.ajuste1{
  flex-wrap: wrap;
}
@import "../../../components/styles/detalles-componentes/detalles-general.scss"
