.container-f {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--gris-oscuro);

  &__div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: fit-content;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 15px 5px var(--shadow-2);
}

.container__logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.container__title {
  text-align: start;
  margin-top: 17px;
  font-size: 24px;
  color: var(--gris3)
}

.container-form__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.container-form__box {
  display: flex;
  flex-direction: column;
}

.container-form__label {
  font-weight: 400;
  color: #737171;
}

.container-form__simbol {
  color: var(--red);
}

.container-form__button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  margin-top: 20px;
}

.container-form__input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 0.5px solid var(--gris3);
  outline: none;
}

.container-form__input--textarea {
  border-radius: 5px;
}

.container__alert-msg {
  font-size: 10px;
}

.container-box {
  display: flex;
  justify-content: center;
}

.spinner {
  color: var(--white);
  width: 20px;
  height: 20px;
}

/* Quitar las flechas de aumentar numero en input type number */
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: rgb(177, 177, 177);

}

textarea::placeholder {
  color: rgb(177, 177, 177);

}

@media screen and (max-width: 410px) {
  .container-form__input {
    width: 100%;
  }

  .container__title {
    font-size: 20px;
  }
}
