<div class="modal-header">
  <h5 class="modal-title">{{titleModal}}</h5>
  <div type="button" class="btn-close" (click)="decline()"></div>
</div>
<div class="modal-body">
<div class="row row row-cols-1 row-cols-md-2 ">
  <div *ngFor="let item of arrayCheckbox">
    <label>
      <input type="checkbox"  [value] ="item.nombre" (change)="onCheckboxChange($event)"
        [checked]="isChecked(item.nombre)" />
        {{item.nombre}}
    </label>
  </div>
</div>
</div>
<div class="modal-footer" *ngIf="checkArray.length >0">
  <button type="button" class="btn btn-light btn--mybtn" (click)="dismiss('filtroacepta')">Aplicar Filtro</button>
</div>
